[2016-09-23 07:14] Dynalon commented on #1602
That worked. It is very confusing, since the docs are outdated (see my issue #1598 on that)

[2016-09-23 07:14] #1602 closed

[2016-09-26 08:29] iqmeta commented on #1597
looks like https://github.com/OnsenUI/OnsenUI/issues/1584

[2016-09-26 12:21] leventkaragol opened #1603 "Initial Value Issue on ons-input with type="date""
**Environment**
Onsen 2.0
Angular 1.5.7
Android 6.0

**Encountered problem**

I could not set initial value an ons-input with date type anywise. For example;

`<ons-input type="date" placeholder="Test" ng-model="dateValue"></ons-input>`

or even

`<ons-input type="date" placeholder="Test" value="2016-06-01"></ons-input>`

(Controller has following code; `$scope.dateValue=new Date()`)

Is there any

[2016-09-26 17:24] Meloncon commented on #1599
I'm having the same problem, however I get it with the Meteor ToDo app out-of-the-box with no modifications. It doesn't seem to matter if I'm running rc17 or the final 2.0.0 version.

[2016-09-26 20:56] frankdiox commented on #1599
@erikanthonywall @Meloncon Thanks for reporting! We will check this as soon as we can, but right now we are traveling to London for Angular Connect event.

[2016-09-26 23:06] J261 opened #1604 "When initialize ons-modal angularjs"
angular.min.js:118TypeError: Cannot read property 'setAnimationOptions' of undefined
    at Class.init (http://localhost/?/app/onsen/js/angular-onsenui.min.js:2:19054)
    at new Class (http://localhost/?/app/onsen/js/angular-onsenui.min.js:2:191)
    at Object.pre (http://localhost/?/app/onsen/js/angular-onsenui.min.js:6:11662)
    at http://localhost/?/app/onsen/js/angular.min.js:16:71
    at la

[2016-09-27 07:46] ThomasLochbrunner opened #1605 "Splitter collapse="portrait" not working correctly"
__Environment__
Onsen 2.0
Angular 1.5.2
Firefox 49.0
Chrome 53.0.2785.116

__Encountered problem__
If the Splitter Side Component is configured to collapse only in portrait mode (`collapse="portrait"`) and the app is opened/started in landscape mode, then the splitter side component is not shown and can not be opened until you switch to portrait mode.

__How to reproduce__
See codepen:
https://cod

[2016-09-27 11:40] asial-matagawa commented on #1584
@anatoo @argelius @frankdiox
I have identified the cause of this issue.
It consists of two factors:

1. Custom Elements v0 implementation in Chrome 52 does not call `disconnectedCallback` in `_compile` of Onsen UI component, but [document-register-element](https://github.com/WebReflection/document-register-element) does.
2. Our implementation of `disconnectedCallback` in `ons-tab.js` does not cons

[2016-09-28 06:41] argelius commented on #1603
@leventkaragol We will take a look at this.

@asial-matagawa Can you take a look at this issue?

[2016-09-28 06:51] argelius commented on #1604
@J261 Can you provide information how  to reproduce this?

[2016-09-28 06:55] argelius commented on #1601
@rgins16 Thanks for reporting! We will take a look at this issue.

[2016-09-28 07:19] asial-matagawa commented on #1603
@argelius
I'm fixing another issue now, but I will fix this issue as soon as possible.

[2016-09-28 07:43] J261 commented on #1604
just putting `<ons-modal id="modal_wait"></ons-progress-circular></ons-modal>` on body

[2016-09-28 21:08] erikcw opened #1606 "Onsen2 - iOS 10 being Styled like Android"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 final
Angular 1.5.8
iOS 10

__Encountered problem__

I noticed after upgrading from Onsen2-rc-17 to Onsen2-final that `material` modifiers were being added to my `o

[2016-09-28 21:33] erikcw commented on #1606
Looks like `device.platform` was being overwritten elsewhere in my code base.  Closing issue.

[2016-09-28 21:33] #1606 closed

[2016-09-29 02:49] copleykj commented on #1590
Is there any ETA on this? Looking to release an app very soon at which point this becomes top priority. Either that or I'm gonna have to modify the theme by hand :)

[2016-09-29 12:30] nodefish commented on #1584
Thanks for finding this, I've had a similar issue with init firing many times but I didn't manage to isolate it, and assumed it was a coding error from my side. This fix will be a big deal for my app. 👍

[2016-09-29 13:43] gotenxds opened #1607 "Ons-range not working on angular 2 ?"
Hi, I recently upgraded my app to onesn-angular 1.0.0.rc-1 ( from 0.1.0-beta.9)
and to  onsen 2.0.0 (from 2.0.0-rc.17)

And now I get an error when changing moving an ons-range in my app.

I tried this in a clean page with no js interaction so the html looks like so:

`<ons-range></ons-range>`

And I still get the following error:

![image](https://cloud.githubusercontent.com/assets/3519520/189563

[2016-09-29 14:19] gotenxds commented on #1607
Hi, did a bit of digging, apperantly this happens only when I use chrome debug on IOS mode, I looked up in your code and I found this section:

`
		// Issue #160: on iOS 7, some input elements (e.g. date datetime month) throw a vague TypeError on setSelectionRange. These elements don't have an integer value for the selectionStart and selectionEnd properties, but unfortunately that can't be used fo

[2016-09-29 16:07] rgins16 opened #1608 "iOS tabbar 3 different bugs"
__Environment__
Onsen 2
Angular 1.5.9
latest version of iOS
Jade as rendering engine
NodeJS catches the route and renders the page

__Encountered problem__
I have an ons-tabbar (with three tabs) in my web app. On each page, I have a single button. Upon loading the page with the ons-tabbar (via a navigator), I have a callback which sets up event listeners for each button on each page. The event lis

[2016-09-29 16:57] rgins16 commented on #1608
I have come up with a temporary fix for Bug 1

It is a hack, and not a viable long term solution, at least in my opinion.

steps for tmp fix:
1. set id of the tab bar in the jade file
2. set all three tabs as 'active'
3. in the callback of the navigator I have written this code:
`document.getElementById('idoftabbar').setActiveTab(0);`

So I guess by setting all tabs as active, the javascript/angul

[2016-09-30 01:53] ctc opened #1609 "ons-dialog angular variable is not rendered at first call"
Environment
Onsen 2
Angular 1.5.5
Newest Version of Chrome

Sample:
https://codepen.io/anon/pen/BLdAvV?&editors=101
Sample is based at: https://onsen.io/tutorial/?framework=angular1&category=Reference&module=dialog

Click at "From template"

First call: {{variable}} is not filled with value
2nd call: {{variable}} is replaced with "value"

[2016-10-04 12:07] kaiyes commented on #1599
I have the same issue. Instead of opening another issue, I will just follow this one. No matter what, this issue persists.  We might have to stop using onsen for the current project since we are on a deadline.

[2016-10-04 14:58] frankdiox commented on #1599
I just came back to Tokyo and will try to reproduce this tomorrow!

[2016-10-04 15:03] frankdiox commented on #1599
In any case, this is likely to be related to the CustomElements polyfill update. We didn't change too much since  rc.16 or rc.17 except that so you can probably use that version for now. [The changelog is here](https://github.com/OnsenUI/OnsenUI/blob/master/CHANGELOG.md).

[2016-10-04 16:11] robort commented on #1599
The same issue was met in Meteor React ToDo App with **2.0.0-rc.17**, and will disappear after my downgrading to **2.0.0-rc.16**. Hope the info helps.

    "meteor": "1.4.1.1",
    "onsenui": "2.0.0-rc.16",
    "react": "^15.3.0",
    "react-onsenui": "^0.7.5"

[2016-10-05 04:55] kaiyes commented on #1599
Okay I solved the issue by downgrading to `2.0.0-rc.16`

[2016-10-05 09:01] frankdiox commented on #1599
The app in the repo is already using `rc.17` and actually that release only modifies type definitions, so `rc.17` works. I got the error only with `2.0.0` right when I do `import ons from 'onsenui'`.

Looks like Blaze is running something under the hood and it breaks. There is a related question here without Onsen UI: https://stackoverflow.com/questions/39391076/html-raw-is-undefined-in-meteorblaz

[2016-10-06 04:27] frankdiox commented on #1599
@erikanthonywall @Meloncon @robort @kaiyes Looks like this issue is related to Blaze (yes, it runs somehow under React). Maybe there is something in the new polyfill that Blaze doesn't like, but it is not an issue in Onsen UI core library. If you want to use Blaze then `rc.17` is compatible.

If you don't need Blaze because you use React for example, then simply run this:

[code]
That fixes this i

[2016-10-06 04:27] #1599 closed

[2016-10-06 10:06] anatoo opened #1613 "<ons-lazy-repeat> is broken on some cases."
## Environment
OnsenUI v2.0.0 + Angular2 binding

## How to reproduce

Work:
[code]

Not work:
[code]

I'm fixing this issue now.

[2016-10-06 11:04] #1613 closed

[2016-10-06 11:27] anatoo opened #1615 "OnsenModule fail on AoT compilation."
## Environment

Onsen 2.0.0 + Angular 2 binding rc.1 + Angular 2

## Details

https://twitter.com/ovrmrw/status/783955211232514048

[2016-10-07 00:10] J261 commented on #1604
using AngularJS v1.5.8

[2016-10-07 10:07] HugoGiraudel opened #1616 "ons.confirm design issue on Android"
__Environment__
Onsen 2

__Encountered problem__
The buttons on the dialog opened by `ons.confirm` look broken on Android.

<img width="571" alt="screen shot 2016-10-07 at 11 53 52" src="https://cloud.githubusercontent.com/assets/1889710/19186410/6f5dc554-8c86-11e6-8717-47699b9eba47.png">

__How to reproduce__
1. Go to https://onsen.io/v2/docs/js/ons.notification.html.
2. Click on “Android view”.

[2016-10-07 11:31] anatoo commented on #1615
I investigated and this is webpack issue: https://github.com/webpack/webpack/issues/2945.

I putted this line in `angular2-onsenui.ts` and it works on AoT compilation.

[2016-10-07 11:44] J261 commented on #1604
the error occurs when and onsen.js files in the head of the document. if you put it on the body bottom the error not occur.

[2016-10-08 06:38] frankdiox commented on #1616
@HugoGiraudel Thanks for reporting. This was already fixed in https://github.com/OnsenUI/OnsenUI/pull/1596
It will be released in `2.0.1`, probably next week.

[2016-10-08 06:38] #1616 closed

[2016-10-11 18:04] rgins16 commented on #1608
Has anyone been able to look into this issue yet?

[2016-10-11 18:39] rgins16 opened #1617 "iOS specific tabbar bug. Inline tabbars ruin the formatting of the page."
This bug report is a clarification of bug report #1608. After experimenting some more, I have been able to narrow down the problem.

__Environment__
Onsen 2
Angular 1.5.9
iPhone 5C
iOS latest version
browsers: Safari, Chrome: latest versions

__Encountered problem__
Please see this [codepen](https://codepen.io/anon/pen/ORQbvA) on an iOS device.
Having a tabbar take up only part of the screen works

[2016-10-11 21:32] gotenxds opened #1618 "ons-splitter has not methods or properties in angular2"
ons-splitter and ons-splitter-center/side does not have the properties or methods described in the docs
such as
left,right
or toggle().

[2016-10-12 02:17] frankdiox commented on #1618
@gotenxds I guess you are trying to call methods from the directive instead of the native element. Can you [have a look at this](https://onsen.io/v2/docs/guide/angular2/#calling-components-during-initialization) and try again?

[2016-10-12 03:21] frandiox opened #1619 "Angular2 directives methods and docs."
@anatoo @asial-matagawa @argelius

A couple of things about Angular2 bindings:
- We have an `element` getter that returns `this._elementRef.nativeElement`. However, when using `@ViewChild` we must use `nativeElement` syntax directly. I know both cases are different but it feels a bit confusing for me. It's just my opinion but if it's possible, can't we make a `nativeElement` getter for the first c

[2016-10-12 14:37] #1617 closed

[2016-10-12 14:38] #1608 closed

[2016-10-13 02:47] anatoo commented on #1619
@fran What you're saying is reasonable. Let me think about it for a while.

[2016-10-13 04:47] pinpikokun opened #1620 "Event leak in the resetToPage()."
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Encountered problem__
Event leak in the resetToPage function

__How to reproduce__
http://plnkr.co/edit/XF6BbSpLOI81cQIAkSXR?p=preview
**Please check the console log.**

$destroy() does

[2016-10-13 20:04] dobby opened #1621 "Tabbar displays wrong tab content when calling setstate in inactive tab"
__Environment__
Onsen 2
React
__Encountered problem__
Tabbar displays inactive tab content when calling setstate in the inactive tab contents page.

__How to reproduce__
Create a tabbar with two tabs, set the first tab as active. In the content of the second tab you perform a ajax request in the componentDidMount of a setInterval. When the ajax completes (or setinterval) you perform a setstate tha

[2016-10-13 20:55] #1621 closed

[2016-10-13 20:56] dobby commented on #1621
Ok, think a found a solution. Wrapping the content in a <Page> tag solves the problem.

[2016-10-13 23:07] SharkChips opened #1622 "ons-navigator nested inside ons-navigator does not expose methods/proporties"
__Environment__
Onsen 2.0.0
Vanilla JS
iOS 10.0.2 (or any other safari)
__Encountered problem__
I first nested an `ons-navigator` inside an `ons-page` inside another `ons-navigator`. After calling `outerNavi.pushPage("innerNaviPage.html");`, the inner navi cannot be manipulated. For instance, calling  `innerNavi.topPage` or `innerNavi.pushPage("otherPage");` does not work. This is broken in Safari

[2016-10-13 23:12] munsterlander commented on #1622
Just curious, why would you nest navigators instead of just using one to push pages too?  It just feels to me like the app navigation stack is incorrect, but hey, whatever works for your app.  So, what error is generated in the console?

[2016-10-13 23:40] SharkChips commented on #1622
@munsterlander come to think of it I don't really know. Probably technical debt or some workaround or something.
Despite the reason, this issue should definately be addressed, as it is a regression beginning with v2.0.0

[2016-10-13 23:44] munsterlander commented on #1622
@SharkChips Interesting that it started in 2.0.

[2016-10-13 23:52] SharkChips commented on #1622
@munsterlander Yes, It works without issue on v2.0.0-rc.17 but is broken on v2.0.0. Looking at the changelog, it may have broken starting with v2.0.0-rc.18, as many changes to `ons-navigator` occurred during that version.

Would you mind testing it out with rc18? I do not have a mac with me at the moment

[2016-10-14 00:07] munsterlander commented on #1622
@SharkChips Interesting as I just tried it with RC.17 with the updated code I posted and it will not work as anticipated on Chrome or Mac.

[2016-10-14 00:09] SharkChips commented on #1622
@munsterlander Weird indeed....perhaps @anatoo or @argelius may be able to provide some insight?

[2016-10-14 00:24] munsterlander commented on #1622
@SharkChips I updated the codepen again to try to track down what is going on, what is very weird is that the page count increases but you lose the animation after you push to nav1.  If you reset everything and then just push to nav2, you get the animation and the count increases.  I wonder what stops that from happening.  Very weird indeed.

[2016-10-14 02:42] bdedardel opened #1623 "blank page at init with ons-splitter + ons-navigator"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

**Environment**
Onsen 2.0.1
Angular 1.5.8

**Encountered problem**

Hi,

I have some errors at init, and I was waiting for v2.0 to see if it still happens.
In v2.0.1, it is:
- a blank page

[2016-10-14 05:33] argelius commented on #1619
@anatoo Maybe we can map the element methods to component methods like we do in Angular 1.

[2016-10-14 06:06] #1609 closed

[2016-10-14 06:06] argelius commented on #1609
@ctc Thanks for reporting!

This has been fixed now and will be released with the next version. In the meanwhile you can just do something like `$scope.$evalAsync()` after creating the dialog to refresh the view.

[2016-10-14 06:18] anatoo commented on #1615
This is not webpack issue. It was my misunderstanding. I'm still investigating what cause this problem.

[2016-10-14 06:54] argelius commented on #1623
@bdedardel I am unable to reproduce this error (blank page). Can you create a Codepen example where it fails?

The error message is due to the content of the template being compiled by Angular. We will try to fix this error message.

[2016-10-14 07:25] argelius commented on #1622
@SharkChips @munsterlander I think this works as expected. As @munsterlander mentioned IDs are unique so there should only be one element for every ID.

If you inspect the DOM, pushing to nav2 will actually push a page to the navigator that is at the bottom of the page stack since it's the first element with the `nav2` ID. That's the reason why you can't see it.

I will close this now but feel fre

[2016-10-14 07:25] #1622 closed

[2016-10-14 12:16] vjoomens commented on #1588
@argelius I just updated my project to use onsen ui 2.0.1, but it's still not working with RC18 or higher.
![2016-10-14_1416](https://cloud.githubusercontent.com/assets/4560105/19387176/cd7c2da0-9218-11e6-8d30-562923cf5098.png)

[2016-10-14 16:47] pinpikokun opened #1627 "contenteditable can not be edited in the iOS browser."
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
iOS

__How to reproduce__
contenteditable can not be edited in the iOS browser.
However, it seems can be avoided by stopPropagation the touchstart of onsen-ui.

Please acce

[2016-10-14 16:56] pinpikokun commented on #1627
Operation check the terminal
- iphone iOS9,10
- ipad iOS9,10
- safari, Chrome

[2016-10-14 18:38] corneyl opened #1628 "Toolbar transparent modifier does not work on Android"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2.0.1
React 15.3.2
React-Onsenui 1.0.1

__Encountered problem__
When the modifier `modifier="transparent"` is added to a Toolbar, the Material design look does not ha

[2016-10-15 15:18] Z6P0 commented on #1605
I have the same bug when I use a media query, for example `collapse="(max-width: 400px)"`

[2016-10-15 21:59] bdedardel commented on #1623
Hi,

I've just committed an example in my github repo:

[bdedardel/cordova-test/tree/master/onsenui/bug1623](https://github.com/bdedardel/cordova-test/tree/master/onsenui/bug1623)

You should get these logs:

[code]

Regards,
Benjamin

[2016-10-16 06:47] bdedardel opened #1629 "onsenui + jquery: different dom behaviour with ons-page and ons-tabbar"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2.0.1
Angular 1.5.8
Linux / Firefox

Hi,

I've prepared some examples with some issues I 've encountered.
This one has blocked my current development and I don't know

[2016-10-16 06:55] bdedardel commented on #1623
Note: I've tested my solution on Linux / Firefox (my dev env).
I use chromium to debug my cordova app once it works fine on my pc.

[2016-10-16 22:33] bdedardel opened #1630 "form hidden by toolbar"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2.0.1
Angular 1.5.8
Linux / Firefox

__Encountered problem__

- if ons-toolbar is inside form, form is hidden by toolbar

[code]

- if ons-toolbar is over form, form

[2016-10-17 02:39] frankdiox commented on #1630
@bdedardel Hey, thanks for reporting! Internally `ons-toolbar` is moved around to fix scolling issues. Basically, the final structure is like this:

[code]

The toolbar must be separated from the content. Closing this now since there's nothing to fix :)

[2016-10-17 02:39] #1630 closed

[2016-10-17 02:39] argelius commented on #1629
Thanks for reporting @bdedardel ! I will take a look at this now.

[2016-10-17 08:00] frankdiox commented on #1628
@corneyl Thanks for reporting. `material` modifier was overwriting `transparent` modifier, we just fixed that. However, I don't think `transparent` modifier is what you are looking for. It sets the background to transparent but it also removes the box-shadow. And the toolbar-buttons are white by default you you wouldn't see anything. I think this modifier is only useful if you want to have an imag

[2016-10-17 08:00] #1628 closed

[2016-10-17 08:43] corneyl commented on #1628
Thanks for the explanation and the fix!
I indeed got it working with some custom css, though it still might be an idea to add a modifier for a toolbar with white background.

[2016-10-17 09:02] argelius commented on #1629
@bdedardel I think this is related to this: https://github.com/OnsenUI/OnsenUI/issues/1584

This has been fixed in this PR: https://github.com/OnsenUI/OnsenUI/pull/1634

Hopefully we can merge and release this pretty soon.

[2016-10-17 09:02] #1629 closed

[2016-10-17 10:02] argelius commented on #1627
@asial-matagawa Can you take a look at this Safari issue when you have time?

[2016-10-17 10:02] argelius commented on #1620
Thanks @pinpikokun ! We will take a look at this issue.

[2016-10-17 10:48] rancor1223 opened #1636 "ion icons are misaligned in Android toolbar"
__Environment__
Onsen 2.0.1
Android

__Encountered problem__
_ion icons_ are misaligned in the toolbar (and maybe elsewhere?) when using Android.

[code]

Problem is the `vertical-align: -25%;`, which is supposed to center it vertically. It does so on iOS, but it misaligns it on Android.

__How to reproduce__
I [wasn't able to reproduce this in a CodePen](https://codepen.io/anon/pen/NRLBKa) as it

[2016-10-17 11:24] pinpikokun opened #1637 "ons-toolbar come to follow in the ons-pull-hook in the iOS of safari"
**Environment**
iOS 9, 10
safari

**Encountered problem**
ons-toolbar come to follow in the ons-pull-hook in the iOS of safari

**How to reproduce**
Please access the iPhone safari to the following url.
The list pull Then toolber will to follow.

**preview**
[link](https://pinpikokun.github.io/index2.html)

**source**
[link](https://github.com/pinpikokun/pinpikokun.github.io/blob/master/index2.htm

[2016-10-17 11:56] Wieltje opened #1638 "notification prompt "Capturing backbutton-handler is failure.""
__Environment__
Onsen 2.01
Cordova
Android 6

__Encountered problem__
I'm using ons.notification.prompt with cancelable = true, Pressing the back button leads to "Capturing backbutton-handler is failure." instead of closing the prompt.

[2016-10-17 22:52] asial-matagawa commented on #1627
@argelius
I will not be busy in this week, so I will check this issue as soon as possible.

[2016-10-18 02:55] argelius commented on #1627
@asial-matagawa Thanks!

[2016-10-18 03:53] argelius commented on #1637
@pinpikokun Thanks for reporting! We will take a look at this

@asial-matagawa Can you take a look at this iOS issue?

[2016-10-18 07:54] argelius commented on #1638
@Wieltje I've made a fix for this and it will be released with the next version.

In the meantime you can use this CSS to fix it:

[code]

[2016-10-18 07:54] #1638 closed

[2016-10-18 07:56] argelius commented on #1636
@rancor1223 Thanks for reporting!

I will take a look at this issue.

[2016-10-18 09:13] Wieltje commented on #1638
Thanks for your quick response and fix! It seems however that the approach is different than when cancelling by clicking the background, as when using the workaround, selection markers that are applied on the notification.prompt don't disappear when cancelling the prompt with the back button. Is this something you recognize?
![image](https://cloud.githubusercontent.com/assets/22632746/19471274/c3c

[2016-10-18 09:49] argelius commented on #1638
@Wieltje Thanks for the quick response. I will investigate this as well.

[2016-10-18 10:06] argelius commented on #1638
@Wieltje Actually this doesn't happen when I tried it. I was using an Android 6.0.1 device, what version are you using?

[2016-10-18 10:18] argelius commented on #1618
I will close this for now. Please feel free to open this again if this is still an issue.

[2016-10-18 10:18] #1618 closed

[2016-10-18 10:22] Wieltje opened #1641 "General icon alignment and sizing problems"
Note: related to [#1636](https://github.com/OnsenUI/OnsenUI/issues/1636) but since this seems to be broader I made a new issue.

**Environment**
Onsen 2.01
Android 6

**Encountered problem**
Vertical alignment and sizing of the different icons is not the same (correct me if I'm wrong, but I would expect them to be the same). Can anybody have a look at this or explain me how this is meant to be use

[2016-10-18 10:46] argelius commented on #1641
You can reset the alignment with:

[code]

I don't think we can remove this rule because it would cause icons to display incorrectly in a lot of apps.

About the size of the icons in the toolbar buttons, I think we can adjust them to be consistent regardless of the icon pack used. You can use `size` attribute to change it manually.

[2016-10-18 11:40] Wieltje commented on #1641
Thanks. I thought that one of the reasons for using ons-icon was consistency between the different icon sets but apparently at least the vertical alignment is just meant to be inconsistent by historic means?

[2016-10-18 12:34] FruityXXL commented on #1593
I've exactly the same probem!

Onsen 2.0.0
Onsen 2.0.1
Pure JS

Is there a bugfix in sight? Thanks!

[2016-10-18 15:54] Wieltje commented on #1638
I'm also using 6.0.1.
I've tried to isolate and reproduce the issue and so far it seems that there's no problem when the prompt is called from my ons-navigator mainpage but does when called from another page.
I'll have another look at it later.

[2016-10-19 03:04] #1636 closed

[2016-10-19 03:34] #1620 closed

[2016-10-19 06:15] argelius commented on #1593
@jakwarrior @FruityXXL I will take a look at this issue. Sorry for the delay.

[2016-10-19 09:20] anatoo commented on #1615
Fixed https://github.com/OnsenUI/OnsenUI/pull/1626.

[2016-10-19 09:20] #1615 closed

[2016-10-19 09:37] Wieltje commented on #1638
I managed to isolate the problem to [this code](https://codepen.io/anon/pen/NREKmb?).

As long as the page does not overflow, the problem exists. After filling the div so that the page overflows, problem is gone. Same behavior on android 5.01 and 6.01

@argelius Would you mind to try this out to reproduce?

[2016-10-19 09:41] #1594 closed

[2016-10-19 09:59] argelius commented on #1584
This has been fixed now.

[2016-10-19 09:59] #1584 closed

[2016-10-19 10:03] nodefish commented on #1584
Awesome! Which build has this fix?

[2016-10-19 10:07] argelius commented on #1584
@nodefish We are aiming to release on Friday this week. You can build from source manually if you want to use it right now.

[2016-10-19 10:07] nodefish commented on #1584
Thanks 👍

[2016-10-19 13:13] iqmeta commented on #1584
Perfect. Thanks a lot... 👍

[2016-10-20 06:59] argelius commented on #1623
@bdedardel I can still not reproduce this. I tried with both Chrome and Firefox.

Can you create a minimal example that reproduces this?

[2016-10-20 10:09] Wieltje opened #1644 "Notification prompt tenacious selection markers"
**Environment**
Onsen 2.01 + fix from issue #1638
Cordova
Android 5.01 + 6.01

**Encountered problem**
I'm using ons.notification.prompt with cancelable = true. When I select text in the prompt textinput and then cancel the notification by pressing the backbutton, the selection markers maintain in view:

![](https://cloud.githubusercontent.com/assets/22632746/19471274/c3ca7912-9522-11e6-9995-9e2e1

[2016-10-20 21:36] bdedardel commented on #1623
@argelius Hi, I've already created an example in:

https://github.com/bdedardel/cordova-test/tree/master/onsenui/bug1623

In js/main.js, if you comment :

[code]

you should have a blank page.

[2016-10-21 03:46] argelius commented on #1644
Thank you, @Wieltje!

I will try to reproduce this but haven't been successful yet.

[2016-10-21 04:03] argelius commented on #1607
@gotenxds I will close this since it seems like it's only an issue in the Chrome DevTools.

Also, I am unable to reproduce it in Chrome myself.

[2016-10-21 04:03] #1607 closed

[2016-10-21 06:22] #1605 closed

[2016-10-21 06:22] argelius commented on #1605
This has been fixed now.

[2016-10-21 06:26] argelius commented on #1604
Closing this now. Not enough information to proceed.

Please feel to open it again if you can provide steps to reproduce.

[2016-10-21 06:26] #1604 closed

[2016-10-21 06:28] argelius commented on #1623
@bdedardel Is it possible to create a minimal example that reproduces this? This example contains a lot of code that I don't think is related to the issue.

[2016-10-21 06:35] #238 closed

[2016-10-21 06:35] #264 closed

[2016-10-21 06:35] #279 closed

[2016-10-21 06:36] #282 closed

[2016-10-21 06:36] #317 closed

[2016-10-21 06:36] #337 closed

[2016-10-21 06:36] #345 closed

[2016-10-21 06:37] #370 closed

[2016-10-21 06:38] #372 closed

[2016-10-21 06:38] #392 closed

[2016-10-21 06:39] #243 closed

[2016-10-21 06:39] #405 closed

[2016-10-21 06:39] #418 closed

[2016-10-21 06:40] #419 closed

[2016-10-21 06:40] #426 closed

[2016-10-21 06:41] #485 closed

[2016-10-21 11:56] asial-matagawa commented on #1597
It was reproduced also in macOS Safari 9.1.3.
I will fix this issue as soon as possible.

[2016-10-21 17:07] Hirbod commented on #243
nice @argelius - closed without any Information?

[2016-10-22 09:46] bdedardel commented on #1623
@argelius Hi, I've updated my example in:

https://github.com/bdedardel/cordova-test/tree/master/onsenui/bug1623

In js/main.js, if you comment :

[code]
blank page still appear for me with Linux Ubuntu / firefox

[2016-10-22 16:54] copleykj opened #1645 "Uncaught DOMException: Failed to execute 'createElement' on 'Document': The result must not have attributes(…)"
After the most recent Chrome update I'm getting this issue. This seems to be an issue with Custom Elements, but thought you guys should be aware so that as it gets patched you can update things. The error comes from this line [here](https://github.com/OnsenUI/OnsenUI/blob/353a3e13185978a634595d64cf2136a6c5216f60/core/vendor/document-register-element.max.js#L1013).

__Environment__
Onsen 2
React 15

[2016-10-23 04:27] asial-matagawa commented on #1645
@copleykj
Thank you for reporting!

We have already known the issue and we fixed it in Onsen UI 2.0.1.
If you use Onsen UI 2.0.0, could you try to replace 2.0.0 with 2.0.1?
We would appreciate if you could send the result on 2.0.1.

[2016-10-24 06:03] asial-matagawa commented on #1627
@pinpikokun
The problem has been fixed.
For more details, please check the PR #1646.

[2016-10-24 06:53] #1627 closed

[2016-10-25 00:09] frosdqy opened #1649 "ons-navigator pushPage(): page.data and page.name are not available on page init event"
__Environment__
Onsen 2.0.2
Chrome 54

__Encountered problem__
Using the pushPage() method of ons-navigator, page.data and page.name are not available on page init event.

__How to reproduce__
Try with this tutorial:
https://tutorial.onsen.io/?framework=vanilla&category=Reference&module=navigator
Click the 'Push Page' button.
Title is not showing on Page 2.
Error in console: Uncaught TypeError: Ca

[2016-10-25 07:06] #1649 closed

[2016-10-25 07:08] frankdiox commented on #1649
@frosdqy Thanks for reporting. It's been fixed already and will be available for 2.0.3.

If you want to use 2.0.2 I think you can just wrap your `init` code in a timeout:

[code]

[2016-10-25 07:09] #1645 closed

[2016-10-25 10:47] nodefish opened #1651 "ons-toolbar no longer gets hoisted"
**Environment**
Onsen 2.0.2
Chrome, iOS 9.2

**Encountered problem**

I was previously using an older build (RC.12) and was benefiting from `ons-toolbar` hoisting, meaning that if I insert a `ons-toolbar` inside a `ons-page`, the `ons-toolbar` was automatically moved to the first position compared to its siblings. This has changed in 2.0.2.

Page content (in my case, I'm generating this content dy

[2016-10-26 04:12] argelius commented on #1651
@nodefish The toolbar is still supposed to be hoisted so I don't really know what is going on here. Maybe it's because how riot is rendering the HTML.

You can try rendering the toolbar with the `.page__background` and `.page__content` instead of letting Onsen do it. Onsen will only create those elements if they don't already exist.

[2016-10-26 05:59] frankdiox commented on #1651
@nodefish @argelius Actually this behavior changed somewhere during RC. Some versions ago everything was wrapped inside `page__content` and the toolbar was hoisted. That was kind of absurd because the toolbar was moved twice when it could just remain on its original position. That's basically the change, the toolbar and other elements like `ons-fab`, `ons-modal`, etc. don't move from the original

[2016-10-26 07:55] milanjaros opened #1653 "ons-input select bug"
**Environment**
Onsen 2.0.0
React Onsen 1.0.0
Firefox 49.0.2

**Encountered problem**
It is not possible to select text in the input box in the latest Firefox.

Firefox 47 was okay. Possible cause: "-webkit-user-select" on input.

**How to reproduce**
1. Visit https://onsen.io/v2/docs/react/Input.html in Firefox 49.
2. Type "Text" into form input (e.g. User name).
3. Select text using mouse. (BUG)

[2016-10-26 10:17] vjoomens opened #1654 "ons-tab defaults to ion-cloud icon after pushPage()"
**Environment**
Onsen 2.0.3
Angular 1.5.8
Safari, iOS

**Encountered problem**
When using an ons-tabbar and ons-tab elements in a template which opens after a navigator pushPage, all icons default to ion-cloud.

**How to reproduce**
Please check enclosed example
[Archief.zip](https://github.com/OnsenUI/OnsenUI/files/552971/Archief.zip)

I've added a pen: https://codepen.io/vjoomens/details/JRVbZR/

[2016-10-26 10:23] nodefish commented on #1651
This solution works, combined with making riot push the tag contents directly into the ons-page and thus excluding the wrapper. I have to admit I kind of liked the hoisting (reminds me a bit of how React Native treats statusbars nested at depth>0), but this works just fine. :)

Is it safe in the long run to generate `div.page__background` and `div.page__content` or can I expect this to break at so

[2016-10-26 10:37] argelius commented on #1651
@nodefish The DOM structure of the page will not change so you can safely render the elements like this.

We will investigate why the hoisting broke in this case. We changed how it works to make it more efficient but it looks like the change broke something in your case.

[2016-10-26 11:34] nodefish commented on #1651
@argelius Understood. Based on the answer @frankdiox, this seems like it may be an intentional design decision.

[2016-10-26 15:04] rgins16 opened #1655 "Error opening Popover"
__Environment__
Onsen 2 v2.0.3
Angular 1.5.8
Chrome latest version

__Encountered problem__

I am receiving this error in the terminal when trying to open a popover

![image](https://cloud.githubusercontent.com/assets/16677164/19731582/e0b9c98e-9b6b-11e6-9c83-071b77e3d428.png)

__How to reproduce__
![image](https://cloud.githubusercontent.com/assets/16677164/19731618/046c69ae-9b6c-11e6-81e9-92d022

[2016-10-27 09:31] vjoomens opened #1657 "ons-switch not working on iOS and Safari"
**Environment**
Onsen 2.0.3
Angular 1.5.8
iOS, Safari (sierra)

**Encountered problem**
The ons-switch element is not working on Safari or iOS.

**How to reproduce**
https://codepen.io/vjoomens/details/JRVbZR/

[2016-10-28 03:40] argelius commented on #1655
@rgins16 The popover needs a `target` attribute for the `show(target)` method.

I have improved the error message to make it more clear.

[2016-10-28 03:40] #1655 closed

[2016-10-28 09:38] anatoo opened #1661 "Try to use yarn and drop npm-shrinkwrap."
`npm-shrinkwrap` is hard to use. We should try to use yarn(https://github.com/yarnpkg/yarn) instead of `npm-shrinkwrap`. yarn can make lock file automatically.

[2016-10-28 09:40] argelius commented on #1661
Let's do this. Shrinkwrap makes it very hard to keep packages up-to-date

[2016-10-28 12:18] milkisevil opened #1663 "ons-switch not emitting changes"
**Environment**
Onsen 2.0.3
angular2-onsenui: 1.0.0-rc.1
Angular 2.0.0

ALSO Code Example on: https://onsen.io/v2/docs/angular2/ons-switch.html

**Encountered problem**
`ons-switch` doesn't emit changes.

**How to reproduce**
1. Go to https://onsen.io/v2/docs/angular2/ons-switch.html
2. Click the switch
3. Notice how the checkbox state isn't updated

💡  Please also consider writing unit tests to t

[2016-10-29 21:14] bdedardel commented on #1623
@argelius Hi, I made some new tests on initialization.
see: https://github.com/bdedardel/cordova-test/tree/master/onsenui/bug1623

No blank pages with chromium, but still some errors in logs.
Here are the results for firefox, without being able to analyse them without you!

Firefox - angular-onsenui before onsenui in head
--------------------------------------

### index.html

[code]

### result

[2016-11-01 03:41] argelius commented on #1663
@milkisevil Thanks for reporting. This has been fixed.

I have also added tests and we will add more tests for the Angular 2 bindings.

[2016-11-01 03:41] #1663 closed

[2016-11-01 03:44] argelius commented on #1657
@vjoomens Thanks for reporting!

@asial-matagawa Can you please investigate this issue?

[2016-11-01 09:23] argelius commented on #1654
@vjoomens I have verified this issue, it looks like it only happens in Safari.

@anatoo Can you take a look at this issue when you have time?

[2016-11-01 10:05] #1593 closed

[2016-11-01 10:05] argelius commented on #1593
Sorry for the delay. This issue has been resolved now.

[2016-11-01 10:06] #1118 closed

[2016-11-01 10:07] #985 closed

[2016-11-01 10:07] #983 closed

[2016-11-01 10:07] #940 closed

[2016-11-01 10:07] #917 closed

[2016-11-01 10:08] #911 closed

[2016-11-01 10:08] #1548 closed

[2016-11-01 10:08] #1545 closed

[2016-11-01 10:08] #1527 closed

[2016-11-01 10:09] #1502 closed

[2016-11-01 10:09] #1519 closed

[2016-11-01 10:10] #1489 closed

[2016-11-01 10:10] #1524 closed

[2016-11-01 10:11] #1484 closed

[2016-11-01 10:11] #1480 closed

[2016-11-01 10:11] #1474 closed

[2016-11-01 10:12] #1467 closed

[2016-11-02 07:54] anatoo commented on #1654
@vjoomens @argelius Ok, I'm going to fix this problem.

[2016-11-02 08:02] asial-matagawa commented on #1657
@argelius
Now I am preparing a better testing environment for iOS WebView / macOS Safari.
After that, I will investigate this issue. Thank you.

[2016-11-03 20:08] claudioc opened #1672 "Receiving a lot of errors for `stopAll`"
__Environment__
Onsen 2.0.3
iOS 10.x.x
WKWebView

__Encountered problem__
Using Track.js, I am seeing a lot of `undefined is not an object (evaluating 'n.stopAll')` apparently in iOS 10.x. The "undefined" in this case seems to be `this.animator`.

The application is running inside a WKWebView

Is this something known?

__How to reproduce__
I don't know, at the moment

[2016-11-04 07:57] #1661 closed

[2016-11-04 07:59] asial-matagawa commented on #1672
@claudioc
Thank you for reporting!
I will investigate this issue.

[2016-11-04 13:32] claudioc commented on #1672
Amazing, guys. Thanks for the quick fix :D

Looking forward to the deployment

[2016-11-04 14:27] anatoo commented on #1672
@claudioc Sorry, I just mistook issue number. That commit(66eeb48) fix #1654 not this issue.

[2016-11-04 16:37] toramanlis opened #1677 "Onsen with Angular1 ons-splitter-side event attributes don't work"
__Environment__
Onsen 2.0.3
Angular 1.5.8
Firefox, Chrome and probably other browsers

__Encountered problem__

When you add one of the `ons-<event-name>` attributes to the `ons-splitter-side`, it doesn't run the code in it. Nothing happens and causes no errors.

__How to reproduce__
https://codepen.io/toramanlis/pen/NbWBZY

[2016-11-07 06:41] #1654 closed

[2016-11-07 08:35] d3orn opened #1679 "<ons-lazy-repeat> ng-click"
__Environment__
Onsen 2.0.3
Angular 1.5.8

__Encountered problem__
How can I make a ons-lazy-repeat item clickable in Onsen 2 with Angular 1 and ng-click?

[2016-11-07 08:38] #1679 closed

[2016-11-07 13:13] jakwarrior commented on #1593
There is still an issue. The tab is not duplicated but the method setActiveTab(i) doesn't work. I updated my example with Onsen 2.0.4 : [codepen](https://codepen.io/anon/pen/gwwxPm)
In this example, it's "Tab 1" which is displayed instead of "Tab 2".

[2016-11-07 14:11] Wieltje opened #1680 "ons-back-button onClick still pops page"
__Environment__
Onsen 2.01
Android 6.01

__Encountered problem__
I'm trying to override the onClick handler of ons-back-button. According to [documentation](https://onsen.io/v2/docs/js/ons-back-button.html), no page should be popped in navigator when overriding the button. This does not work as documented: the given onclick function is called properly, but afterwards there's still a page being pop

[2016-11-07 14:58] frankdiox commented on #1680
@Wieltje It's a property, not an attribute:

[code]

@argelius What do you think about considering `onclick` attribute as well?

[2016-11-07 15:45] Wieltje commented on #1680
Thank you! I didn't knew about any significant difference between <ons-back-button onclick=x()> and document.querySelector('ons-back-button').onClick = x;

Would be nice if both methods would lead to the same result I think.

[2016-11-08 04:31] argelius commented on #1680
I don't think we should encourage adding event handlers as attributes.

[2016-11-08 04:31] #1680 closed

[2016-11-08 04:32] argelius commented on #1653
Thanks for reporting @milanjaros !

[2016-11-08 06:34] botezatpv opened #1681 "Why there are no button groups in second version of OnsenUi - React?"
__React__
Onsen 2 beta
__Encountered problem__
Why there are no button groups in react? How can they be implemented and do I have to w8 them?

[2016-11-08 08:05] #1677 closed

[2016-11-08 08:06] frankdiox commented on #1677
@toramanlis Thanks for reporting!

[2016-11-09 04:11] argelius commented on #1681
@botezatpv Hi!

There is a "segment" component. You can find it on this page:
http://components.onsen.io/

We are not planning to make it into a Web Component at this time so I will close this issue.

[2016-11-09 04:11] #1681 closed

[2016-11-09 08:17] robcaldecott opened #1684 "Support for a React <select> component"
I am using Onsen and React and I love it. But I desperately need a <select> component. Are there any plans to add one? Or does anyone know of one that I can use?

[2016-11-09 08:19] argelius commented on #1684
@robcaldecott We don't have it at this time but we are planning to add it.

Maybe you can use this one: https://github.com/JedWatson/react-select

[2016-11-09 08:23] robcaldecott commented on #1684
Thanks for such a prompt reply. I would be fine with a native select, I just need to style it to look more like an input. Perhaps I can achieve this with some Onsen CSS. I'll experiment but it's good to know you have plans for this.

[2016-11-09 08:25] anatoo commented on #1598
Documentation, tutorials and kitchen sink is updated now.

[2016-11-09 08:25] #1598 closed

[2016-11-09 08:28] argelius commented on #1684
@robcaldecott Yes, we would probably style a native select since the user would get nice behavior on iOS and Android devices.

[2016-11-09 14:25] markhats commented on #1681
Seems like a good candidate for a web component (with also Material version). Any reason for it not being considered?

[2016-11-09 14:47] paulg446 opened #1686 "Carousel not working with knockoutjs"
ons-carousel works with knockoutjs (albeit not well) with onsen v 2.0.2, but not at all with v 2.0.3 and 2.0.4 (the latest release).  With v2.0.2, on instantiating a knockout model with an observableArray, binding elements of the array to new ons-carousel-items works, but adding a new element to the array (using the example, click the "Carousel" label in the toolbar) results in a new ons-carousel-

[2016-11-10 01:05] frankdiox commented on #1686
@paulg446 The item is added but the styles are not correct. Simply call carousel's `refresh()` method after adding an element to fix that. For example: `document.querySelector('ons-carousel').refresh();`.

[2016-11-10 01:05] #1686 closed

[2016-11-10 11:10] paulg446 commented on #1686
@frankdiox thanks, that works. I assumed that ons-carousel would work in the same way as ons-list (with regard to dynamically generated items), but you know what they say about assumptions. By the way, great work you're all doing with Onsen!

[2016-11-11 16:53] davidmathlogic commented on #1672
I'm trying to run the Onsen UI v2 JS Navigation template on the Monaca Cloud IDE with no modifications. I'm running the app in the Monaca Debugger on Android 4.4.2.

When I press the "Push Page" button, the phone logs the error "Uncaught TypeError: Cannot call method 'stopAll' of undefined," citing onsenui.min.js:11.

In case it's related, on initialization I also get the following error: "Uncaugh

[2016-11-12 17:12] andreujuanc opened #1690 "Using onsen components without navigation"
Hello,

I would like to use onsen UI on my new app. I love the way it changes style depending on the platform it is on.

But one of my issues is for example the tabbar. It ask for a page. and if removed, throws an exception.

My question is, can I use onsen ui without it's navigation thingy?

Thanks

[2016-11-12 17:53] andreujuanc opened #1691 "ons-template in dynamic content"
Creating dynamic ons-template does not work.

I don't want to have my index.html full of templates, nor want to have onsen UI loading html files for me.

Any workaround?

[2016-11-12 18:16] andreujuanc commented on #1690
NVM, ditching onsen.

[2016-11-12 18:17] #1690 closed

[2016-11-12 18:17] andreujuanc commented on #1691
NVM, ditching onsen.

[2016-11-12 18:17] #1691 closed

[2016-11-13 04:13] munsterlander commented on #1691
@andreujuanc Just curious, what would you want?  How else would you expect a web application to function?

[2016-11-13 07:08] ghprod opened #1692 "Vue OnsenUi: Navigator topPage always return wrong page"
__Environment__
"onsenui": "^2.0.4",
"vue": "^1.0.21",

__Encountered problem__
When try to access `document.querySelector('#myNavigator').topPage.data`, its always return previous page, not current page

__How to reproduce__
## Some Inner Page Component Vue

[code]

[2016-11-13 13:21] FREEZX commented on #998
This is ridiculous. At least style or somehow mask the native mobile browser dropdown box.

[2016-11-13 22:44] JulianKingman opened #1693 "Close carousel on overlay click"
__Environment__
Onsen 2.0.1
React 15.3.2
iOS/Web/Android

__Encountered problem__
When I click the overlay, I would expect it to close, or at least to have an option to close it, as the modal does.

[2016-11-13 22:46] munsterlander commented on #1693
What do you mean by overlay?  Are you doing a modal over the carousel or a dialog with the carousel?  Can you post a codepen with what is occuring?

[2016-11-13 22:48] JulianKingman commented on #1693
Ah yes, my bad, the carousel is inside a modal, so I just need to pass the right prop in there.

[2016-11-13 22:48] #1693 closed

[2016-11-14 07:21] co3k commented on #1099
This element is looks good to me. Is it possible to consider again?

[2016-11-14 07:57] billouboq commented on #998
@rockneverdies55 @FREEZX Do you know what Open source means? You are free to contribute and improve Onsen UI. If you want this component so bad then do it and make a pull request. I'm pretty sure OnsenUI members will be pleased to review it.

[2016-11-14 08:40] FREEZX commented on #998
@billouboq Challenge accepted!

[2016-11-14 10:49] josekenya opened #1694 "popPage does not work"
Whenever i use popPage() with {refresh:true} option i get an error.
In my case i am injecting item dynamically to the dom.
I have a page to add items from where i save the items on localstorage then display them on the previous page.It is on this page that i apply the popPage().
On first attempt it work fine,however with subsequent popPage()  it gives the error.

What am i doing wrong.Here is the

[2016-11-14 15:11] expertsa commented on #1694
Just rewriting your exemple for more visibility

[code]

[2016-11-14 15:26] munsterlander commented on #1694
@josekenya I am confused as to what is not working.  Here is a working example with dynamic data.  https://codepen.io/anon/pen/KNMVJm  If you push the page and then use the back button, you will see the time does not change.  If you push the page again and then pop the page, you will see the data is refreshed.

[2016-11-14 17:37] josekenya commented on #1694
@munsterlander @expertsa
Let me list everything concisely.

**HTML Pages**
**index.html**
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-ev

[2016-11-14 18:26] FREEZX commented on #998
Here's my shot, simple masking of an actual select component
https://github.com/FREEZX/OnsenUI
Can we get the issue reopened as it's still an issue?

[2016-11-14 20:16] munsterlander commented on #1694
Hmm, well I would assume you have a pathing issue based on the 404 obviously.  Onsen, to my knowledge, doesn't make calls to external files after it is loaded.  My base recommendation for users new to Onsen is to develop your app like a single page web site (template tag files are really just includes, utilize AJAX processes, etc.)

I would assume based on your code that after popping, you are goi

[2016-11-15 02:15] ctc opened #1696 "tabbar variable not defined"
__Environment__
Onsen 2
Angular 1.5.2

__Encountered problem__
tabbar variable is not defined

__How to reproduce__
see http://codepen.io/anon/pen/qqNVgj
Look at javascript console: ReferenceError: tab is not defined

[2016-11-15 02:27] ctc commented on #1696
found the answer:
http://stackoverflow.com/questions/26851516/how-to-open-page-with-ons-tabbar-and-display-specific-tab
"when the controller is executed there won't be any tabbar object, but it will be created immediately after."

Do not ise ng-init - use ons-init:
<ons-tabbar var="tabbar" ons-init="initTabbar()">

[2016-11-15 02:27] #1696 closed

[2016-11-15 09:09] nodefish opened #1697 "Event handling is centralized"
The docs for `ons-tabbar` events are a bit misleading: https://onsen.io/v2/docs/js/ons-tabbar.html#event-prechange.

Someone who reads these docs will assume that `prechange` is an event that occurs in a specific `ons-tabbar` and would do something like `my_tabbar.addEventListener('prechange', function(){...})`. In fact, this will work when you only have 1 tabbar.

But the event listener actually

[2016-11-15 09:37] claudioc commented on #1672
In my case the problem is triggered by using the `ripple` effect on buttons. Removed the effect, removed the problem

[2016-11-15 09:50] peterchibunna commented on #1290
On Android the fab button loses its 'click' event handler when position is fixed.
But when position is absolute, the fab scrolls together with the page and list items.

[2016-11-15 11:08] harshvardhan12 opened #1698 "monaca create helloworld"
Hi,
when i give the command monaca create helloworld
i am getting the error Error in getting project templates list: EAI_AGAIN
pls help me in this regard

[2016-11-15 11:22] asial-matagawa commented on #1698
@harshvardhan12
Thank you for reporting!

Maybe it was a temporary problem on Monaca.
It works fine now:
![2016-11-15 20 21 44](https://cloud.githubusercontent.com/assets/19771915/20303949/287e0428-ab71-11e6-8525-957a5b5cd5df.png)

Could you try again?

[2016-11-15 11:48] harshvardhan12 commented on #1698
hi thanks for your reply
i am getting this error Error in getting project templates list: ECONNRESET
i have given the proxy setting  and also npm config set registry http://registry.npmjs.org/
but still not able to create

[2016-11-15 12:22] paulg446 opened #1699 "dynamic popover in iOS causes display bug"
**Environment**
Onsen 2.0.4
ios 9.3 (mobile safari, mobile chrome, packaged cordova app)

**Encountered problem**
On creating a popover from a template (ie, using ons.createPopover()) the page temporarily resizes in an awkward way. It seems that when the popover is initially appended to the dom, it causes the page to re-scale temporarily. When the popover is eventually positioned correctly, the pa

[2016-11-15 12:45] josekenya commented on #1694
Not really am simply pushing a new page then pop it.

[2016-11-15 13:20] josekenya commented on #1694
@munsterlander I have found a work around on it.I have tried what you suggested and it woks.Thanks alot.

[2016-11-15 13:20] #1694 closed

[2016-11-15 16:27] donskifarrell opened #1700 "Angular2 project is failing tests with Karma/PhantomJS and use of `util.findChild`"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__

[code]

__Encountered problem__
We are running our tests using Karma and PhantomJS, which fail with the below error:

[code]

The bit of guilty code is found in the [Utils

[2016-11-17 02:52] frankdiox commented on #1697
@nodefish Do you mean you'd like to have something like `'init:pageID'` event names? Is there any limitation with the current approach?

I think adding a listener to every element could be troublesome (especially speaking about pages in a navigator). It's simpler to just set the listener in the navigator itself or the document and then filter by ID or something else.

Same for the other events, if

[2016-11-17 08:30] outerman opened #1705 "Uncaught SyntaxError when onShow() was called"
I'm using react-onsenui, my render() is like this:
[code]
 but every onShow(), i got error like this:
[code]
is there something wrong with my code?

__Environment__

[code]

__Encountered problem__

[2016-11-17 08:30] nodefish commented on #1697
@frankdiox

* for `ons-page`: in theory, what I'm saying is the event name could still be `init` but the listener would be definable on the `ons-page` itself - key word being `definable`. And then if you want to centralize all pages' `init` events on the `navigator` which I agree is a good practice, then you would define the handler on `navigator` and the events would bubble up from `ons-page`. Ho

[2016-11-18 04:58] argelius commented on #1705
@outerman Does it cause any problems? I've seen this before and I think it's a bug in Chromium rather than a bug in Onsen UI.

[2016-11-18 05:20] asial-matagawa commented on #1698
@harshvardhan12
Could you check whether your `monaca` is up-to-date or not?
The latest version is 2.1.6.
Older version may cause errors like that.

[2016-11-22 04:48] argelius commented on #1705
I will close this for now since I think it's a Chromium bug.

[2016-11-22 04:48] #1705 closed

[2016-11-22 04:51] argelius commented on #1700
@donskifarrell Hi!

I think this is an issue in PhantomJS: https://github.com/ariya/phantomjs/issues/11958

It looks like it's not possible to access the `children` property for SVG elements in PhantomJS. Maybe you can try adding the shim suggested in the issue.

[2016-11-22 04:52] argelius commented on #1698
I will close this issue. Please open an issue in https://github.com/monaca/monaca-cli if you are still having trouble.

[2016-11-22 04:52] #1698 closed

[2016-11-22 04:55] argelius commented on #1692
@ghprod Hi! Thanks for reporting.

I am not really sure why this is happening. This is the code for `pages` which is used by `topPage` and the code for `topPage` itself. Looking at this code I can not see how `topPage` could return anything other than the last page in the stack.

[code]

[code]

Is it possible for you to create a simple example that reproduces this?

[2016-11-22 04:57] argelius commented on #1684
We are planning on adding an `<ons-select>` element to the core so I will close this issue.

[2016-11-22 04:57] #1684 closed

[2016-11-22 05:00] ghprod commented on #1692
Hi @argelius

Right now i'm using like this to get page data

[code]

Soon i'll try to setup some codepen

[2016-11-22 05:00] argelius commented on #1692
@ghprod Thank for the prompt reply!

A Codepen example would be really appreciated :+1:

[2016-11-22 06:01] ghprod commented on #1692
@argelius hi, which path i should to reference latest onsen ui 2.0.4 for codepen?

Thanks

[2016-11-22 06:09] argelius commented on #1692
@ghprod Please use unpkg: https://unpkg.com/onsenui@2.0.4

You can get CSS files there as well:
https://unpkg.com/onsenui@2.0.4/css/

[2016-11-22 06:11] ghprod commented on #1692
Or maybe you have codepen template with vue onsen?

[2016-11-22 06:30] munsterlander commented on #1692
Fork this one:  https://codepen.io/munsterlander/pen/rWWvNN

[2016-11-24 09:01] argelius opened #1711 "`class` attribute not working for `<ons-button>` in Angular 2"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__

[code]

__Encountered problem__

When using the `class` attribute the `button` class is removed from the element.

__How to reproduce__

Create an `<ons-button>` with a cl

[2016-11-24 09:48] nodefish commented on #1699
I've experienced this too. Currently I've managed to alleviate it by doing `document.body.appendChild(popoverElement);` before calling `show()`.

[2016-11-24 10:36] paulg446 commented on #1699
@nodefish thanks the tip - I'll try that

[2016-11-25 08:51] expertsa opened #1713 "Uncaught Error: maxDistance must be greater then zero."
Hi,

I'm using **onsen UI 2.0.1** and **angular 1** binding with it.

When I start my app (mostly when it's the first time) I have this error message and my menu doesn't open. If I close my app and open it again, it works. I don't know why.

[code]
Comming from this :

[code]

This is my index.html entry file :

[code]

and this is my app/routes/menu/menu.html file :

[code]

[2016-11-25 09:51] frankdiox commented on #1713
@expertsa I made a small example. Can you check if [this work](https://codepen.io/frankdiox/pen/xRrQPY?&editors=101) with Onsen UI 2.0.4? If it doesn't, which device and OS version are you using?

[2016-11-25 14:38] expertsa commented on #1713
Didn't know about ons-splitter, will try on monday.
About the OS, tried on iOS 10 and android 4.4 with crosswalk 51.

[2016-11-27 22:17] keijiodagawa opened #1715 "The ons-page set on ons-tabbar is called twice in the init event."
__Environment__

[code]

__Encountered problem__
The ons-page set on ons-tabbar is called twice in the init event.
I want to work the init event of ons-page set on ons-tabbar only once.

__How to reproduce__

https://codepen.io/keiji/pen/MbvPvx

[code]

[2016-11-28 19:50] Z6P0 opened #1717 "Second splitter menu does not work"
__Environment__

[code]

__Encountered problem__

I have 2 splitter menus on left and right sides.
One is collapsed and swipeable, the other is not.
But the swipe does not work properly: the content is not grayed out, and the menu does not collapse if I tap outside.

__How to reproduce__

https://codepen.io/anon/pen/eBGgvJ

[2016-11-28 19:51] Z6P0 commented on #1717
Forum discussion here: https://community.onsen.io/topic/1036/splitter-menus-bug/

[2016-11-29 03:54] munsterlander commented on #1717
I am not certain if this is doing something that Onsen was not designed for and thats why we had issues or there is just a bug.  Either way, having 2 splitter menus definitely causes some bugs.

[2016-11-29 03:54] keijiodagawa opened #1718 "ng-show is called twice."
__Environment__

[code]

__Encountered problem__

ng-show is called twice.
I want to work ng-show only once.

__How to reproduce__

https://codepen.io/keiji/pen/MbEOVK

[2016-11-29 09:39] asial-matagawa opened #1719 "Double curly brace notation is not working in `ons-list-item`"
Reported by @keijiodagawa.

__Environment__

[code]

__Encountered problem__
In some situation, double curly brace notation is not working in `ons-list-item`.
It might be a problem of execution order of Angular and Onsen UI.

This problem occurs only on Chrome.
It works fine on macOS Safari and iOS Safari.

__How to reproduce__

[code]

CodePen:
https://codepen.io/anon/pen/ZBXxwp/?editors=1010

No

[2016-11-29 12:02] donskifarrell commented on #1700
Thanks for the issue link.

The last [comment](https://github.com/ariya/phantomjs/issues/11958#issuecomment-244125097) in that issue suggests using `childNodes` instead of `children`.
Can the OnsenUI library follow that advice as well to avoid others running into this issue?

[2016-11-29 12:11] asial-matagawa commented on #1700
@donskifarrell
We can follow the advice if it is easy to implement.
But it may require a certain amount of time due to our schedule.
Anyway, thank you for suggestion!

[2016-11-29 16:43] asial-matagawa commented on #1717
@Z6P0 @munsterlander
At least the content should be grayed out, so I consider this as a bug.
We will deal with this problem as soon as possible.

Thank you for reporting!

[2016-11-29 19:35] asalgueiro opened #1721 "IE Error with ons-splitter"
Hi,
I having problems with Onsen UI 2 and Angular JS in Internet Explorer 11 (with Windows Phone 8 emulation) or Windows Phone 8 device.

[Core]
    Onsen UI 2.0.4

[Framework]
    Angular 1.5.8

[Framework binding]
    angular-onsenui 2.0.4

[Additional libraries]
    None

[Platform]
    Mobile - Windows 10 Mobile
    Desktop - Windows 10

[Browser]
    Desktop - Internet Explorer 11
[code]

[2016-11-29 20:20] angelcasellas commented on #1593
Hi @argelius. In a page when I use tabbar, sometimes in the pageinit event I do not still have the template loaded and so I can't put content into the page__content div that onsen generate automatically. How can I manage to make sure that the div has already been loaded instead of using pageinit event?

Thanks in advance!

[2016-11-29 21:43] munsterlander commented on #1593
@jakwarrior When I view your codepen, it shows it is still using 2.0.0.  If it was updated to 2.0.4, that may resolve your issue.

@angelcasellas I use the `show ` event.  That way you know it has been loaded.

[2016-11-30 03:38] frankdiox commented on #1719
@asial-matagawa I cannot actually reproduce the behavior in my Chrome 54.0.2840.100. In any case, can you try with `<ons-list-item><div class="center">{{content}}</div></ons-list-item>`? That's the way it should be used although I'm not completely sure if it affects.

[2016-11-30 03:51] asial-matagawa commented on #1719
@frankdiox

This problem can be reproduced on Android Chrome, too.
If you have time, could you try with it?

[code]
I have tried with the code above and it works.

But [the official reference](https://onsen.io/v2/docs/js/ons-list-item.html) has a code like:
[code]

So I think this behavior is what should be investigated and fixed.

[2016-11-30 03:53] frankdiox commented on #1718
@keijiodagawa `ng-show` has nothing to do with Onsen UI. It works the same way using only AngularJS: https://codepen.io/frankdiox/pen/eBedzv

Did you mean `ons-show`?

[2016-11-30 03:53] #1718 closed

[2016-11-30 04:06] frankdiox commented on #1719
@asial-matagawa Onsen UI core creates `<div class="center">` automatically if the user doesn't provide it, like in the toolbar. I guess there's a conflict with AngularJS in that situation. I think we should promote writing this divs like we do in the toolbar to avoid DOM manipulation. We already have this information in the [overview guide](https://onsen.io/v2/docs/guide/js/#lists) and also in `on

[2016-11-30 04:47] frankdiox commented on #1715
@keijiodagawa I can reproduce it in 2.0.4 but looks like it's already fixed in 2.0.5 (master branch right now). We will try to release soon.

[2016-11-30 04:47] #1715 closed

[2016-11-30 07:08] jitu-git opened #1722 "iOS app keyboard bug when focussing on a select drop-down"
So I have a Cordova 6.2.9 app running on iOS 8.4.1 using both Onsen 2.0.0

I have a form on the app with text input fields and select drop downs. In the video you see I am focussed on a text field, and when try to touch a select box, the drop-down appears, but then the focus moves back to the text field, even randomly to other text fields sometimes.

I don't have any event listeners hooked up to a

[2016-11-30 08:01] asial-matagawa commented on #1719
@frankdiox
Thank you! I understand.
I will close this issue for now and focus on the documents instead of the implementation.

[2016-11-30 08:01] #1719 closed

[2016-11-30 08:11] asial-matagawa commented on #1719
@keijiodagawa
It was not an issue.
The following code does not follow the correct usage of Onsen UI 2.
[code]

Since Onsen UI 2, we have to write code like:
[code]

[2016-11-30 08:13] frankdiox commented on #1719
@keijiodagawa @asial-matagawa It's just like `ons-toolbar`. This is also possible:

[code]

[2016-11-30 23:31] keijiodagawa commented on #1719
@frankdiox @asial-matagawa

Thank you very much!! I understand.
Unfortunately there were no explanations below on the Japanese site.

Component that represents each item in the list. Must be put inside the <ons-list> component. The list item is composed of three parts that are represented with the left, center and right classes. These classes can be used to ensure that the content of the list item

[2016-12-01 03:27] anatoo commented on #1711
This is not bug and correct behavior. Because Angular 2 set `my-class` value to `class` attribute **after** creating `<ons-button>` element and add "button" to `classList` property.

We must change spec of "class" attribute behavior to fix this problem.

[2016-12-01 17:34] vasilyzakharov commented on #1316
Is there any update on this enhancement? Thank you in advance

[2016-12-02 03:22] wahid opened #1725 "Can't use Angular2 template features with Tabbar"
[code]

__Encountered problem__

When having a tabbar in Angular2 it seems you can't use any angular template features. In the example below neither the name variable or the other html gets displayed.

__How to reproduce__

[code]

[code]

[2016-12-02 04:04] anatoo commented on #1725
@wahid Thanks for reporting. I will investigate this problem.

[2016-12-02 09:04] asial-matagawa opened #1726 "Errors on `OnsNavigator#popPage` with `refresh: true`"
@anatoo
Reported in https://teratail.com/questions/57063.

__Environment__

[code]

__Encountered problem__
If we set `refresh: true` option to `OnsNavigator#popPage`, the app crashes with error logs like:
![2016-12-02 17 54 52](https://cloud.githubusercontent.com/assets/19771915/20827959/79d4ede2-b8b8-11e6-840d-66a328190ebd.png)

__How to reproduce__
[code]

Here is a Plunker which reproduces thi

[2016-12-02 09:42] frankdiox commented on #1619
@anatoo @asial-matagawa Related to this issue, there are other problems in [docs like `pushPage`](https://onsen.io/v2/docs/angular2/ons-navigator.html#method-pushPage). It says `page`, `options.page` or `options.pageHTML` are `string` and say to use `ons-template`. This is directly taken from the core library so I think it should be overwritten by Angular2 docs.

[2016-12-02 09:47] asial-matagawa commented on #1619
@frankdiox
Thank you for reporting. I have added an entry to our TODO list.

[2016-12-02 18:25] wahid commented on #1725
I have a sidebar in my app and everything works fine in there. When I click on a button that is attached to angular2 in the sidebar the tab shows the {{ name }}. So it seems it only loads the data in the tab until a angular2 event has happened?

[2016-12-03 12:48] asial-matagawa commented on #1306
@CoverID
This problem solved in #1646. I will close this issue.

[2016-12-03 12:48] #1306 closed

[2016-12-03 19:52] asial-matagawa opened #1727 "ons-tabbar/index.js: Cannot read property 'newAnimator' of undefined"
__Environment__

[code]

__Encountered problem__

ons-tabbar.setActiveTab does not work when we set a tab page in `ngAfterViewInit`.

![snapcrab_noname_2016-12-4_4-43-37_no-00](https://cloud.githubusercontent.com/assets/19771915/20861846/73f0f346-b9dd-11e6-83e5-e1bdce668a71.png)

Note:
- It worked fine on `2.0.1`. So `2.0.2` and later causes this problem.
- If we replace angular2-onsenui `1.0.0-rc

[2016-12-03 20:04] asial-matagawa opened #1728 "ons-tabbar.ts: target.element must be an instance of Element."
__Environment__

[code]

__Encountered problem__
PageLoader call in `ons-tabbar.ts` (OnsTab Directive) does not work properly.

![snapcrab_noname_2016-12-4_4-56-26_no-00](https://cloud.githubusercontent.com/assets/19771915/20861871/0a55b20e-b9de-11e6-8f2b-bef024c4d740.png)

Note:
- angular2-onsenui 1.0.0-rc.3 causes this problem. The previous versions work fine.

__How to reproduce__
[code]

Here

[2016-12-05 02:48] zeroliu commented on #226
What's the equivalent for React?

[2016-12-05 03:08] frankdiox commented on #1728
@asial-matagawa Could you try with master branch? I made a refactor of `pageLoader` that hasn't been released yet #1671

[2016-12-05 03:10] asial-matagawa commented on #1728
@frankdiox
I will try it soon. Thank you for information!

[2016-12-05 03:13] frankdiox commented on #1728
@asial-matagawa I made the refactor 4 weeks ago and it included changes to the core and also angular2 bindings. looks like `angular2-onsenui@1.0.0-rc.3` was released 3 weeks ago but the core is still the same. I think this must be the problem. #1727 could also be related.

[2016-12-05 06:29] argelius opened #1730 "Components are not initialized when using `page` attribute in Angular 2"
@anatoo

When using the `<ons-navigator>` with the `page` attribute the component is not initialized, template is not updated for data binding and the lifecycle methods are not executed.

This repo reproduces the bug:
https://github.com/argelius/angular2.2.0/

[2016-12-05 06:30] anatoo commented on #1730
@argelius Thanks! I will fix this problem.

[2016-12-05 07:38] asial-matagawa opened #1731 "Consider adding peerDependency `onsenui` into `bindings/angular2/package.json`."
@anatoo
angular2-onsenui 1.0.0-rc.3 depends on Onsen UI 2.0.5 and later, so there should be `"onsenui": "^2.0.5",` in `peerDependencies` of `bindings/angular2/package.json`.

What do you think?
Should I create a PR?

[2016-12-05 07:50] frankdiox commented on #1697
@nodefish Sorry for the late reply. I'll try to answer here:

`ons-page` is a template (just a string) until it is actually created, so there is no way to set a handler before that. The only possibility would be to pass a "controller" or "initializer"  function to things like `pushPage` or setting an attribute in the template that points to a global function (`<ons-page init="window.fn">`. I don't

[2016-12-05 07:54] anatoo commented on #1731
I agree with you. I'll update `peerDependencies`.

[2016-12-05 07:58] asial-matagawa commented on #1731
@anatoo Thank you!

[2016-12-05 10:33] nodefish commented on #1697
It's been a while since this post and I've since come to realize that what confused me was the simple fact that one usually would explicitly specify when events fire (e.g. `onclick='whatever'`), whereas Onsen UI elements would implicitly fire events. This is normal since Onsen UI is a library of premade components, but somehow it eluded me that things would emit events without me specifying them (

[2016-12-05 10:33] #1697 closed

[2016-12-05 11:25] Sunil2197 opened #1733 "OnsDialog not rendering angular controller data"
[Core]
    Onsen UI 2.0.4

[Framework]
    Angular 1.5.9

[Framework binding]
    angular-onsenui 2.0.4

[Additional libraries]
    jQuery 3.1.1

[Platform]
    Desktop - Windows 10

[Browser]
    Mobile - Android WebView

__Encountered problem__

onsDialog not rendering controller data Or I mean passing data from controller to onsDialog here
code snippet

[code]

[code]

angular is not interpreti

[2016-12-05 15:31] asial-matagawa commented on #1053
Now we have the implementation of the Fran's proposal in Onsen UI 2.0.4.
Closing this.

[2016-12-05 15:31] #1053 closed

[2016-12-05 15:38] asial-matagawa commented on #639
Now we are no longer supporting Windows Phone 8.1 and older devices.
Closing this.

[2016-12-05 15:38] #639 closed

[2016-12-05 15:38] asial-matagawa commented on #638
Now we are no longer supporting Windows Phone 8.1 and older devices.
Closing this.

[2016-12-05 15:38] #638 closed

[2016-12-05 15:38] asial-matagawa commented on #640
Now we are no longer supporting Windows Phone 8.1 and older devices.
Closing this.

[2016-12-05 15:38] #640 closed

[2016-12-05 16:51] asial-matagawa commented on #597
`onsScope` directive is already implemented. Closing this.

[2016-12-05 16:51] #597 closed

[2016-12-05 17:29] asial-matagawa commented on #954
This question seems to be already solved in http://stackoverflow.com/questions/33065668/onsenui-multiple-templates-in-one-file-templates-showing-at-the-bottom .
(`ons-template` should have `ons-page` as a child. `ons-toolbar` cannot be located in `ons-template` directly.)

Closing this.

[2016-12-05 17:29] #954 closed

[2016-12-05 18:02] asial-matagawa commented on #925
@danfador
Sorry but Onsen UI 2 no longer supports Android 4.1.2 because we are now supporting only Android 4.4+ (and Android 4.0 + Crosswalk WebView).
Thank you for your understanding.

Closing this.

[2016-12-05 18:02] #925 closed

[2016-12-05 18:15] asial-matagawa commented on #914
This problem seems to have been fixed by the Andi's commit above.

Closing this.

[2016-12-05 18:15] #914 closed

[2016-12-06 00:04] keijiodagawa opened #1734 ""Background-image" does not work in "ons-list" "ons-list-item" on slide menu."
__Environment__

[code]

__Encountered problem__
"Background-image" does not work in "ons-list" "ons-list-item" on slide menu.

__How to reproduce__

[code]

[2016-12-06 01:28] keijiodagawa commented on #1734
".list" ". List__item: not (: last-child)" was fixed, "background-image" worked.

[code]

[2016-12-06 02:09] asial-matagawa commented on #1734
This issue seems to be solved by oneself. Closing this.

[2016-12-06 02:09] #1734 closed

[2016-12-06 02:32] asial-matagawa commented on #507
This issue can be closed since this conversation seems to have been done already. Closing this.

[2016-12-06 02:32] #507 closed

[2016-12-06 02:51] asial-matagawa commented on #1047
This problem seems to have been fixed by #1163 and #1291.

Closing this.

[2016-12-06 02:51] #1047 closed

[2016-12-06 03:46] asial-matagawa commented on #1121
As http://stackoverflow.com/a/34280311/4468962 says, toolbar buttons are usually removed or hidden rather than disabled, so I am sorry but we are not planning to implement this. Closing this.

[2016-12-06 03:46] #1121 closed

[2016-12-06 04:09] asial-matagawa commented on #449
This issue seems to have been solved in #967. Closing this.

[2016-12-06 04:09] #449 closed

[2016-12-06 05:45] asial-matagawa commented on #474
This issue seems to be related to [Monaca](https://monaca.io/) instead of Onsen UI.
If you have any suggestion about Monaca, you could ask Monaca team via https://monaca.io/service/ .

Closing this.

[2016-12-06 05:45] #474 closed

[2016-12-06 05:53] asial-matagawa commented on #1722
This issue seems to be duplicated to #1592.
I will take a look at the issue soon, so please let me close this. Thank you.

[2016-12-06 05:53] #1722 closed

[2016-12-06 06:03] asial-matagawa commented on #1036
This issue was superseded by #1479.

Closing this.

[2016-12-06 06:03] #1036 closed

[2016-12-06 06:43] asial-matagawa commented on #1210
This issue seems to be duplicated with #1299 (but this issue has more code than #1299). Closing this.

[2016-12-06 06:43] #1210 closed

[2016-12-06 06:44] asial-matagawa commented on #1299
For Onsen UI team:
- If you want to some code for reproducing this bug, see #1210.

[2016-12-06 06:59] asial-matagawa commented on #1038
Now we have a working VanillaJS example for `ons-splitter`.
https://onsen.io/v2/docs/js/ons-splitter.html

Closing this.

[2016-12-06 06:59] #1038 closed

[2016-12-06 07:13] asial-matagawa commented on #812
`moving the template tags outside of the <ons-navigator> tag` means something like:
[code]
not something like:
[code]

Anyway, this issue seems to have been already solved, so I will close this.

[2016-12-06 07:13] #812 closed

[2016-12-06 07:22] asial-matagawa commented on #1120
This problem has already been fixed. Closing this.

[2016-12-06 07:22] #1120 closed

[2016-12-06 07:35] asial-matagawa commented on #180
This issue was superseded by #633. Closing this.

[2016-12-06 07:35] #180 closed

[2016-12-06 07:45] asial-matagawa commented on #836
This issue was superseded by #922. Closing this.

[2016-12-06 07:45] #836 closed

[2016-12-06 07:46] asial-matagawa commented on #922
For Onsen UI team:
- If you want more information about this issue, see #836.

[2016-12-06 08:48] asial-matagawa commented on #1149
This issue is duplicated with #1052, so I will merge the two issues into #1052.
(Also, I think this is a bug)

Closing this.

[2016-12-06 08:48] #1149 closed

[2016-12-06 08:49] asial-matagawa commented on #1052
For Onsen UI team:
- If you want more information about this issue, see #1149. There is more example codes.

[2016-12-06 09:08] asial-matagawa commented on #594
The discussion seems to be done. Closing this.

[2016-12-06 09:08] #594 closed

[2016-12-06 09:10] asial-matagawa commented on #593
This issue seems to have been solved.  Closing this.

[2016-12-06 09:10] #593 closed

[2016-12-06 09:22] asial-matagawa commented on #623
The discussion seems to be done. Closing this.

[2016-12-06 09:23] asial-matagawa commented on #623
Sorry, this is a feature request. I wlil reopen this.

[2016-12-06 10:15] asial-matagawa commented on #1155
Now we are working on creating Vue.js 2 binding, so this discussion seems to become outdated.

Closing this.

[2016-12-06 10:15] #1155 closed

[2016-12-06 12:45] nasu38yen opened #1736 "Cannot get toolbar height in page's show event on Android4.4"
`
<ons-page ng-controller="HogeCntroller " ons-show="onShow()">
    <ons-toolbar id="hoge-toolbar">
`
app.controller('HogeCntroller'
 $scope.onShow = function () {
        var toolbar = document.getElementById('hoge-toolbar');
        var h1 = toolbar.clientHeight;

Android 5.0 or heigher,  h1 = 56
but  Android 4.4, h1 = 0

[2016-12-07 00:53] nasu38yen commented on #1736
I'm sorry. It was a misunderstanding.

[2016-12-07 00:53] #1736 closed

[2016-12-07 05:21] asial-matagawa commented on #1728
@frankdiox
I tried with the latest revision dc9f004a007c94977c8717d70c5fdd02e2a5fbf8 and then this problem disappeared.
(Instead, #1727 occured. It seems that #1727 has nothing to do with this issue)

Let's release Onsen UI 2.0.5 and angular2-onsenui 1.0.0-rc.4.

[2016-12-07 08:28] asial-matagawa opened #1737 "ons-switch.ts: Cannot read property 'addEventListener' of undefined"
__Environment__

[code]

__Encountered problem__
If we use angular2-onsenui 1.0.0-rc.1 with Onsen UI 2.0.4, templates which have `<ons-switch>` always throw an error like:
![2016-12-07 17 25 56](https://cloud.githubusercontent.com/assets/19771915/20960141/402450c2-bca2-11e6-9038-5b4ded1ed63d.png)

angular2-onsenui 1.0.0-rc.1 with Onsen UI 2.0.3 and older works fine.
Also, angular2-onsenui 1.0.0-rc

[2016-12-07 08:30] asial-matagawa commented on #1737
This is simply information for users and the problem has already been fixed, so I will close this.

[2016-12-07 08:30] #1737 closed

[2016-12-07 09:18] magickasoft opened #1738 "Navigation issue / Back button on Android / Onsen+React.js"
__Environment__

[code]

__Encountered problem__
Experiencing a similar problem that was decribed and solved in #78 but now it seems to be back. Android Back button minimizes an application instead of navigating to a level above.

I've made two blank projects: Ionic and Onsen, set up routing and transitions between scenes. Then I compared how they work built and installed on a device in terms of B

[2016-12-07 09:30] asial-matagawa commented on #1738
@magickasoft
Thank you for reporting!
We have #591 as a similar issue(but too old).

We are focusing on quality improvement rather than other tasks, so we will investigate this soon.

[2016-12-08 02:16] asial-matagawa commented on #1731
This suggestion has been commited in #1731. Closing this.

[2016-12-08 02:16] #1731 closed

[2016-12-08 03:33] asial-matagawa commented on #1726
I have made additional tests on more environments (= more core versions).

__Environment__

[code]

Unlike #1728, this seems to be not an issue of core, but one of angular2-onsenui because even though I rollback core the problem still occurs.

[2016-12-08 03:37] asial-matagawa commented on #1726
I have tried to rollback Angular verrsion from 2.2.4 to 2.1.2, but the problem remains.
Angular version seems to have nothing todo with this problem.

[2016-12-08 07:44] gogodigimo opened #1740 "non-button ng-clicks work on Android, but not iOS"
[Core]
    Onsen UI 2.0.4

[Framework]
    Angular 1.5.5

[Framework binding]
    angular-onsenui 2.0.4

[Additional libraries]
    jQuery 1.9.1
    fastclick.js

[Platform]
    Mobile - iOS 10.1.1

[Browser]
    Mobile - iOS UIWebView

__Encountered problem__ & __How to reproduce__
I have created an app using Onsen that works perfectly well on Android, but on iOS I have been experiencing issues t

[2016-12-08 07:52] asial-matagawa commented on #1740
Hi, @gogodigimo!

Thank you for reporting, but we need some code to reproduce the problem and fix it.
We would appreciate if you paste some part of the code you have.

[2016-12-08 07:57] gogodigimo commented on #1740
Thanks for the quick response, @asial-matagawa .
Here is a good example of what I am experiencing:

[code]

In the above code, the button with ID signinlink works great on both iOS and Android, however the button with ID btnSearch is only calling the SearchFromJumpStart() on Android, not iOS.

[2016-12-08 07:59] gogodigimo commented on #1740
I have found in iOS that if I double tap the image with ID "btnSearch" in the code above, it works. It just doesn't work with a single tap as it does in Android.

[2016-12-08 08:04] asial-matagawa commented on #1740
@gogodigimo
Thank you!
I will investigate this problem by using your code.

[2016-12-08 08:07] gogodigimo commented on #1740
Thanks very much, @asial-matagawa
What is also interesting is that if I wrap the btnSearch image in a button container it works exactly as it should in iOS:
[code]

[2016-12-08 08:55] gogodigimo commented on #1740
I believe I have tracked this down to Angular, not Onsen.
I eventually stumbled upon this helpful chain and was able to get my functions firing using the ng-mobile-click attribute:
http://stackoverflow.com/questions/25032237/ng-click-on-firing-on-mobile-or-tablet-devices

Thanks for your efforts, @asial-matagawa .

[2016-12-08 08:55] #1740 closed

[2016-12-08 09:00] asial-matagawa commented on #1740
@gogodigimo
I am glad to hear that you have found a solution.
I investigated this problem a bit, so I will paste a memo:

[2016-12-08 09:02] gogodigimo commented on #1740
Very cool. Thanks for the idea, @asial-matagawa . I will try it out :)

[2016-12-08 12:40] badbod99 commented on #1479
There isn't really a good javascript datepicker that works nicely with OnsenUI.  Most come with front end frameworks like Bootstrap and Angular Material, which are alternatives to OnsenUI.  Due to those, most standalone ones are no longer in development or supported.

[2016-12-08 22:40] HatemJerbi commented on #1603
same problem with react

[2016-12-09 01:25] frankdiox commented on #1479
@badbod99 Can Crosswalk + native datepicker be an option for you?

[2016-12-09 02:28] asial-matagawa opened #1743 "`alert` runs twice on Onsen UI + <input type="file">"
Reported by @keijiodagawa in 2016/11/07.

__Environment__

[code]

__Encountered problem__
- If we click the span element in the following code on iOS 9.2.1 Safari, `alert` runs twice.
    - This does not occur on iPhone 5s Simulator + iOS 9.2 Safari.
- If we remove `document.getElementById('input_file').click();`, it works fine.
- If we remove Onsen UI from the HTML, it works fine.
    - So I thi

[2016-12-09 02:50] anatoo commented on #1743
@asial-matagawa Thanks! I will investigate this problem.

[2016-12-09 02:53] asial-matagawa commented on #1743
@anatoo
It is not an urgent task to solve this problem since the original issue reported by @keijiodagawa has already been solved. Thank you for checking.

[2016-12-09 07:08] koheiokazaki opened #1745 "problem when animation: lift of navigation is used."
__Environment__

[code]

__Encountered problem__

It is a problem when animation: lift of navigation is used. After using lift, when you return to the previous screen, the whole previous screen will rise.

sorry it is difficult for me to explain. please see this screen shot.

![slack_for_ios_upload_720](https://cloud.githubusercontent.com/assets/8564296/21040643/9c199eb8-be29-11e6-9a55-20d8532984b

[2016-12-09 07:29] asial-matagawa commented on #1745
@koheiokazaki
Thank you for reporting!

If you are using Angular 2.2.4, Framework binding must not be `angular-onsenui`, but `angular2-onsenui`.
Could you tell us `angular2-onsenui` version which you are using?
It is written in `package.json`.

[ja]
`package.json` に `angular2-onsenui` のバージョンが書かれているはずです。よろしければ確認していただけないでしょうか？

[2016-12-09 11:16] asial-matagawa commented on #1728
This issue will be solved in the next version of Onsen UI (=2.0.5) and angular2-onsenui (=1.0.0-rc.4).

Closing this.

[2016-12-09 11:16] #1728 closed

[2016-12-09 14:07] badbod99 commented on #1479
@frankdiox - Doesn't really help for browser based experience.  Mobile device isn't really and issue as it pulls up the native device date picker.  Issue in on in-browser experience.  Native datepicker on Chrome and others is pretty poor and not all browsers support it.

[2016-12-09 18:35] asial-matagawa commented on #1657
@vjoomens
I have investigated this issue.

Result of the investigation:
- This issue is caused by both of `ons-sliding-menu` element defined in `angular-onsenui` and `ng-model` attribute.
    - `ons-sliding-menu` element is there for backward compatibility reasons.
    - The new component for the menu is [`ons-splitter`](https://onsen.io/v2/docs/angular1/ons-splitter.html) element.
    - If you us

[2016-12-10 08:26] asial-matagawa commented on #1745
This issue is similar to #780, so it can be a problem of the Onsen UI core.

[2016-12-10 11:21] koheiokazaki commented on #1745
Thanks for review!

I use
"angular2-onsenui": "^1.0.0-rc.1",

[2016-12-10 15:28] asial-matagawa commented on #1745
Thank you! We will investigate this issue as soon as possible.

[2016-12-13 03:43] Rall3n opened #1747 "Unhandled Promise Rejection on pagePush."
__Environment__

[code]

__Encountered problem__

As soon as I want to push this certain 'page2.html' onto the page stack, I get an ***Possible Unhandled Promise Rejection: [object DOMException]*** error, and after that I always get an ***Possible Unhandled Promise Rejection: pushPage is already running.*** Only happens with this page/code.

Code I use to push this certain page:
[code]

Stack look

[2016-12-13 16:33] asial-matagawa opened #1749 "Provide a way to set custom click event listeners for onsBackButton directive"
Reported by @puku0x in http://qiita.com/puku0x/items/5104e78a7794a94ee004 (Thank you @puku0x !).
Also, I have reproduced the problem in my environment.

__Environment__

[code]

__Encountered problem__
Style of a back button can be broken in a particular situation.

![snapcrab_noname_2016-12-14_1-31-9_no-00](https://cloud.githubusercontent.com/assets/19771915/21148886/0bdbabf8-c19d-11e6-9384-71c6a

[2016-12-14 15:09] koheiokazaki opened #1751 "Using Facebook Login"
__Environment__

[code]
__Encountered problem__

Hi all.

I don't know what to discuss about here...

I want to use FaceBook Login.

In the debugger, although the error of domain setting appears, it moves.
But, build to set up a domain and check its operation, the button does not react.

How do I implement Facebook login?

This is my code.

[code]

[2016-12-14 16:14] danbeck opened #1752 "Carousel: index is no respected at first draw inside Tabbar"
[code]

__Encountered problem__

When a Carousel contained inside a tabbar is drawn for the first, the first CarouselItem element is shown, even if the index was not 0. https://codepen.io/anon/pen/vypwJo?&editors=101
The expected behavior is that the second CarouselItem is shown, because this.state.index=1.

When a Carousel is used outside a Tabbar, the behavior is as expected. Here the second Car

[2016-12-15 03:08] asial-matagawa commented on #1751
Hi, @koheiokazaki!

For issues about Onsen UI + third party libraries, we encourage you to use https://community.onsen.io/ .
You can login to the forum with your GitHub account.

This GitHub repository basically supports issues from Onsen UI core/bindings.
Thank you for your understanding.

[2016-12-15 03:08] #1751 closed

[2016-12-15 09:16] koheiokazaki commented on #1751
Hi, @asial-matagawa

Sorry and Thanks!

[2016-12-15 12:50] nodefish opened #1754 "ons-dialog event propagation causes usability issues"
[code]

__Encountered problem__

This is most likely related to #422.

If you have a `textarea` inside an `ons-dialog`, due to this event propagation issue (scroll & touch events seem to propagate), it makes it very hard to edit the text inside the `textarea` as tapping on the text is unresponsive. Additionally, the scroll event propagates to the background.

This issue occurs on Desktop Firefox b

[2016-12-15 13:27] #1711 closed

[2016-12-15 22:11] kylewelsby commented on #453
How is this not fixed?

[2016-12-16 00:10] munsterlander commented on #453
This bug may not have been updated, but in 2.0 this is obviously fixed.  I do not know about 1.0 though.

[2016-12-17 02:44] Rall3n commented on #1747
Fixed it! Was a random semicolon that had been hidden in my code.

[2016-12-17 02:44] #1747 closed

[2016-12-21 16:17] corneyl opened #1758 "React: Dialogs are created outside of the root context"
Because [OnsenIO/react-onsenui](/OnsenUI/react-onsenui) is closing down, here a repost of the issue.

__Environment__
+-- onsenui@2.0.4
+-- react@15.4.0
`-- react-onsenui@1.0.3

It would be nice in my opinion to create all `Dialog`s (and `AlertDialog`s etc.) within the `Navigator` or root context.

The problem now is that when one uses a root tag which provides a certain context in React, the `Dia

[2016-12-22 07:16] erwinyu888 commented on #485
Still not solved

[2016-12-22 07:18] asial-matagawa commented on #485
@erwinyu888
Oh, really?
If so, could you fill this? We need some information for reproducing the problem.

[code]

[2016-12-26 16:21] bdedardel commented on #1629
Resolution confirmed with onsenui 2.0.5.
It was my mistake by imbricating *ons-template* inside *ons-template*!

[code]

instead of:

[code]

[2016-12-26 16:30] asial-matagawa commented on #1629
@bdedardel
Thank you for reporting.
I think Onsen UI should report an error in such situations, so I would like to implement something like it in the future.

[2016-12-28 09:25] #1730 closed

[2016-12-28 10:08] aahmyu opened #1761 "problem with intel xdk"
Hello im trying to use intel xdk wiht onsen ui 2 latest version but the problem is i cant use the debugger from intel xdk because im getting an error which is:
Remote debugging has been terminated with reason: websocket_closed. Please reattach to the new target.

so i tried to figure out why im getting this problem and started commenting stuff in my index html and found out the culprit which is <s

[2016-12-28 15:33] rahul100885 commented on #380
Is it vertical scrolling still have an issue?

[2017-01-03 04:21] sukima commented on #1262
Just spent a week vacation writing an [Ember.js addon](https://github.com/sukima/ember-onsenui) addon and ran into this very issue with `<ons-input>`.

The problem I ran into was that some attributes (`content-left` and `type`) are attributes that change how the `init()`/`_compile()` methods behave. This is all well and good in HTML where the syntax is `<ons-input type="text" content-leff></ons-in

[2017-01-03 09:22] airamrguez opened #1763 "Can't drag the slider of a range component when it is inside of a carousel item."
__Environment__

[code]

__Encountered problem__

Can't drag the slider of a range component when it is inside of a carousel item.

__How to reproduce__
https://codepen.io/airamrguez/pen/apbNxz

[2017-01-03 09:23] frankdiox commented on #1262
@sukima Thanks for spending some time with this! I don't have too much time now but perhaps [this could be helpful](https://codepen.io/frankdiox/pen/oBNxXK?editors=0010).

We made `ons-input` before having bindings so I agree on the API not being the best for this purpose.

Anyway, if I'm not wrong the `_compile` function it's run after being attached to the DOM because of `contentReady` function.

[2017-01-03 09:23] #1262 closed

[2017-01-03 11:51] sukima commented on #1262
@frankdiox Thanks. Got it working. The trick was to make sure I set the `type` attribute *after* it was created and **before** it got rendered. Thanks to Ember providing good component life hooks I was able to pull this off (`willInsertElement` vs. `didInsertElement`). Phew!

[2017-01-03 14:28] sukima commented on #1262
@frankdiox Sorry I just dived into this further. **This is not working** Why? `setImediate` delays the constructor for one call execution which means it happens prior to `setAttribute`. Sorry but most people working with web components will have a difficult time inserting a hook between the constructor and the `setImediate`. (https://github.com/OnsenUI/OnsenUI/blob/master/core/src/ons/content-read

[2017-01-04 15:54] asalgueiro opened #1764 "Angular JS: Tutorial Splitter fails"
__Environment__ Google Chrome

[Core]
    Onsen UI 2.0.5

[Framework]
    Angular 1.5.9

[Framework binding]
    angular-onsenui 2.0.4

[Additional libraries]
    None

[Platform]
    Desktop and Mobile

__Encountered problem__
The Splitter tutorial with Angular JS don't change the page on menu click.
The same behavior creating and blank example in my PC.

__How to reproduce__
Go to: https://tutor

[2017-01-05 05:11] taku845 opened #1766 "Animation's option "fade" doesn't work on Monaca debugger"
__Environment__

[code]

__Encountered problem__
When I set fade option in pushPage method, I got this error. 'fail to get ".page_content" element.'

__How to reproduce__

[2017-01-05 07:03] koheiokazaki opened #1767 "How to avoid "popPage is already running""
[Core]
    Onsen UI 2.0.4

[Framework]
    Angular 2.2.4

[Framework binding]
    angular-onsenui 2.0.4

[Additional libraries]
    None

[Platform]
    Mobile - Android 7.1
    Mobile - iOS 10.1.1

[Browser]
    Mobile - Android WebView
    Mobile - Android Chrome 54.0.2840.85
    Mobile - iOS UIWebView
    Mobile - iOS Safari

__Encountered problem__
I get this error when I tap the back button c

[2017-01-05 12:59] csbok commented on #1290
+1

[2017-01-05 17:23] sylvain-hamel opened #1768 "React : Some callbacks (onChange and OnClose) are only treated once"
__Environment__

[code]

__Encountered problem__

Some callbacks like `Switch.onChange` or `SplitterSide.onClose` don't use updated prop value. If a new function is passed to the component in a render cycle, the original function still is used.

This is a big issue with _functional stateless component_ because they rely on closures, not on `this.state` or `this.props`.

__How to reproduce__

Here

[2017-01-10 08:46] frankdiox commented on #1767
@koheiokazaki This is similar to [this post](https://community.onsen.io/topic/1062/cancel-prepop-event-shows-an-error/2). It's just a rejected promise. Maybe we should catch it in back button and just print a warning or something instead.

[2017-01-10 10:58] #1726 closed

[2017-01-10 11:11] frankdiox commented on #1764
@asalgueiro  I found this issue after [fixing it](https://github.com/OnsenUI/OnsenUI/pull/1771/commits/363d7f3cdcf587c54c83546f40e8ece66411e462) :sweat_smile: Thanks for reporting anyway.

[2017-01-10 11:11] #1764 closed

[2017-01-11 03:14] asial-matagawa opened #1772 "[angular-onsenui] `onsTabbar` causes `element[0].setTabbarVisibility is not a function`"
Reported by @keijiodagawa

__Environment__

[code]

__Encountered problem__

When using `onsTabbar` directive with `onsSlidingMenu` directive, `onsTabbar` causes `element[0].setTabbarVisibility is not a function`.

![2017-01-11 12 13 17](https://cloud.githubusercontent.com/assets/19771915/21834297/68ab3748-d7f7-11e6-9024-accfc7d2ad6e.png)

__How to reproduce__
[code]

[code]

CodePen: https://code

[2017-01-11 03:20] asial-matagawa commented on #1772
This problem is caused by this directive definition:

[code]

I have briefly investigated this problem and found:
- In macOS/iOS Safari, when `element[0].setTabbarVisibility(!hide);` is invoked element[0] has a broken prototype chain.
    - This might be caused by CE0 polyfill (not used in browsers which have its native CE0 implementation such as Chrome).
    - We have to delay the invocation of `

[2017-01-11 10:51] asial-matagawa opened #1773 "[ons-list-item] modifier `tappable` is not working on Android"
Reported by @kanakoubukata.

__Environment__

[code]

__Encountered problem__

The modifier `tappable` is not working on Android.
It works fine on iOS UIWebView.

__How to reproduce__

[code]

[2017-01-11 10:52] asial-matagawa commented on #1773
I guess the automatic styling does not work properly.

[2017-01-12 07:31] mtilokani opened #1774 "How to use Sqlite with vue js"
__Environment__

[code]

__Encountered problem__

__How to reproduce__

[2017-01-12 23:40] zineer opened #1775 "ons.createpopover error"
__Environment__

[code]

__Encountered problem__
Popover doesn't properly get initialized. Fills whole page width when shown. Error that comes up is
[code]
__How to reproduce__
https://codepen.io/zineer/pen/zNqQYG

__Details__
I tracked the issue to the fact that when the popover is created, `_createPopoverOriginal` is called, which loads the page HTML and calls `util.createElement` on the HTML. I

[2017-01-13 02:05] zmkn opened #1776 "<ons-pull-hook> in lazy loading can not use"
**Environment**
Onsen 2.0.5
Angular 2.4.3
angular2-onsenui 1.0.0-rc.3
Google Chrome

**Encountered problem**
The (action) output is invalid when `<ons-pull-hook>` with lazy loading in the router  in the web browser.

**Code**

![image](https://cloud.githubusercontent.com/assets/1784566/21915846/7717ee44-d977-11e6-98ab-df8649bdb692.png)

![image](https://cloud.githubusercontent.com/assets/1784566/2

[2017-01-13 02:46] anatoo commented on #1775
@zinner Thanks for reporting. I will investigate this problem.

[2017-01-13 02:53] anatoo commented on #1776
@zmkn Do you import `OnsenModule`? It seems that your code does not include `OnsenModule` importing.

[2017-01-13 03:00] anatoo commented on #1774
Closing this issue. If you have questions about Onsen UI, you should visit https://community.onsen.io or https://stackoverflow.com/tags/onsen-ui.

[2017-01-13 03:00] #1774 closed

[2017-01-13 03:08] zmkn commented on #1776
@anatoo I'm import `OnsenModule` in `AppModule`. `AppRouterModule` lazy loading `VideoModule`, `VideoRouterModule` lazy loading `VideoIndexModule`. `ons-pull-hook` in the `VideoIndexComponent`.

[2017-01-13 03:23] anatoo commented on #1776
Ok, could you share whole code not screenshots that reproduce your problem?

[2017-01-13 04:07] zmkn commented on #1776
@anatoo
Files:[https://github.com/zmkn/ssgo-webapp](url)
Preview:[http://onsen.zmkn.com/](url)

[2017-01-13 05:20] anatoo commented on #1776
@zmkn Thanks! I will investigate this problem.

[2017-01-13 05:31] anatoo commented on #1768
@sylvain-hamel Thanks for reporting. I will investigate this problem.

[2017-01-13 05:40] anatoo commented on #1766
@taku845 I tried "fade" animation but it works. Could you provide actual code that reproduce this problem?

[2017-01-13 05:43] anatoo commented on #1763
@airamrguez Thanks for reporting!  We will fix this problem.

[2017-01-13 05:54] anatoo commented on #1761
@aahmyu Thanks for reporting. But I don't intend to investigate this problem because it seems to be intel xdk problem not Onsen UI. The debugger fail for some application code, it's debugger's bug.

[2017-01-13 05:54] #1761 closed

[2017-01-13 05:58] anatoo commented on #1758
@corneyl Thanks for reporting. Okay, we will try to fix this problem.

[2017-01-13 06:19] anatoo commented on #1754
@nodefish Thanks for reporting. It seems that FastClick occur this behavior. We will fix the problem.

[2017-01-13 06:37] zmkn commented on #1776
@anatoo Ok,Thanks!

[2017-01-13 21:55] ivaylopivanov opened #1778 "iOS toolbar"
Not enough space / margin for the top toolbar

[code]
Using the https://github.com/OnsenUI/angular2-onsenui-kitchensink example. Tested as well on real device - iphone 5s with iOS 9.3.5

<img width="377" alt="screen shot 2017-01-13 at 22 50 42" src="https://cloud.githubusercontent.com/assets/8849904/21946994/1e2b97c4-d9e3-11e6-8e05-9b4ab23f6132.png">

[2017-01-13 22:00] ivaylopivanov commented on #1778
Forgot to mention it - I'm using it with cordova. In this case I guess it's not an issue.

[2017-01-14 13:34] frankdiox commented on #1778
@ivaylopivanov Did you include `cordova.js`?

[2017-01-14 13:45] ivaylopivanov commented on #1778
Fuck, sorry, Thanks.

[2017-01-14 13:45] #1778 closed

[2017-01-14 18:30] asial-matagawa commented on #1725
I have investigated this problem briefly and found that change detection seems not working.
This problem occurs even on the latest packages below:
- onsenui 2.0.5
- @angular/* 2.4.3
- angular2-onsenui 1.0.0-rc.4

So we just need to make change detection working on pages managed by `OnsTab` directive.

[2017-01-14 18:35] asial-matagawa commented on #1725
A possible workaround is to manually execute `this.cd.detectChanges()` when you need to detect changes.
Please be patient until we fix this problem...

[2017-01-14 20:24] asial-matagawa commented on #1767
I talked with @koheiokazaki on another place and he managed to solve his problem by the solution above.

Closing this.

[2017-01-14 20:24] #1767 closed

[2017-01-15 15:14] ivaylopivanov opened #1780 "angular 2 lazy loading"
Hey guys, in the past few days I was playing around with Onsen UI and Angular 2. I was trying to make Onsen work with Angular lazy loading. Unfortunately there is no straight forward way to do that and the solution is a bit [hacky](https://github.com/ivaylopivanov/onsenui-angular2-lazy-loading/blob/master/src/app/modules/custom-navigation/custom-navigation.ts#L51). Also, the splitter needs an ugly

[2017-01-17 11:43] paul-thomas0 opened #1781 "Onsen-UI splitter giving the following error"
__Environment__

[code]

__Encountered problem__
this.current.show is not a function
__How to reproduce__

##How to reproduce?
Was this an app that wasn't created using the CLI? What change did you do on your code? etc.
I want to implement onsen-ui ons-splitter tag https://onsen.io/v2/docs/angular2/ons-splitter-content.html in my own angular application. I imported the the two components to be spl

[2017-01-18 05:16] #1725 closed

[2017-01-18 06:20] asial-matagawa commented on #1725
@wahid
This problem has been fixed.
You can use the template features if you update each of `@angular/*`, `onsenui`, `angular2-onsenui`, `rxjs` and `zone.js` to the latest version.

[2017-01-18 06:59] 18601673727 opened #1783 "excuteAction complains 'Splitter side is locked.'"
__Environment__

[code]

__Encountered problem__
I was trying to integrate Onsen UI with react-router, but click every `Link` under splitter listItem will trigger this error:
[code]

__How to reproduce__

The code part is basically a copy/paste from tutorial's example.
[code]

[2017-01-18 09:51] paul-thomas0 commented on #1781
In this tutorial, [splitter-tutorial](https://tutorial.onsen.io/?framework=angular2&category=Reference&module=splitter), the usage of ons-page as a selector for both sidePageComponent and contentPageComponent raises the above error. So, this tutorial should be changed with different selector name like ons-page[content] and ons-page[side].

[2017-01-18 09:51] #1781 closed

[2017-01-19 04:47] keijiodagawa opened #1785 "The keepPage option of ons-tabbar does not work."
The keepPage option of ons-tabbar does not work.

[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__

[code]

__Encountered problem__

__How to reproduce__

[code]

[code]

[2017-01-19 05:07] keijiodagawa commented on #1785
added CodePen URL.

[2017-01-19 05:43] anatoo commented on #1785
`keepPage` options is removed on v2.

[2017-01-19 05:43] #1785 closed

[2017-01-19 07:11] asial-matagawa opened #1787 "Double clicking on a button in dialogs created by`ons.notification` causes an error"
__Environment__

[code]

__Encountered problem__

As I wrote in the title.

The error message is:
[code]

__How to reproduce__
As I wrote in the title.
We can reproduce it here: https://onsen.io/v2/docs/js/ons-dialog.html

[2017-01-19 07:14] asial-matagawa commented on #1787
This might be related to FastClick.

[2017-01-20 03:34] frankdiox commented on #1672
Example for this error: https://community.onsen.io/topic/1106/ripple-attribute-does-not-work-on-safari

[2017-01-20 05:23] anatoo commented on #1783
@18601673727 Thanks for reporting, could you provide reproducible whole code that include related code for `react-router`?

[2017-01-20 05:32] anatoo commented on #1780
Hi @ivaylopivanov, what do you mean by`lazy loading`? Do you want to load lazily `onsenui.js` or Angular 2 framework or both?

[2017-01-20 08:11] ivaylopivanov commented on #1780
Hi @anatoo, by lazy loading I refer to [lazy modules](https://angular.io/docs/ts/latest/guide/ngmodule.html#!#lazy-load).  The problem is that the lazy loaded module doesn't have the same instance of `ComponentFactoryResolver`, so I can't provide `entryComponents` in the lazy loaded module. From the example above, you can replace  the `custom-navigation` with the `OnsNavigator` and you will get th

[2017-01-20 12:05] asial-matagawa opened #1789 "Animit#saveStyle should support !important."
Reported by @kanakoubukata.

__Environment__

[code]

__Encountered problem__
Animit#saveStyle saves `background-color: red !important;`  as `background-color: red;`, so styles are sometimes broken by an animation.

__How to reproduce__
In https://tutorial.onsen.io/?framework=vanilla&category=Reference&module=navigator , replace `page2.html` with the following code:
[code]

[2017-01-22 01:22] madhermit commented on #226
For anyone finding this through google:

this.props.navigator.routes.pop(); //repeat for however many pages you want to skip
this.props.navigator.popPage({animation: 'none'});

[2017-01-23 02:26] frankdiox commented on #1789
@asial-matagawa The background color should go in `<div class="background" style="...">` instead of `<div="content">`, but I guess it should keep the `!important` anyway.

[2017-01-23 03:18] frankdiox opened #1790 "active-icon attribute does not work"
Looks like [`ons-tabbar`'s `active-icon` attribute](https://onsen.io/v2/docs/js/ons-tab.html#attributes) was not implemented in v2 or was removed at some point. [Pen here](https://codepen.io/frankdiox/pen/BpRvve?editors=1000).

[2017-01-23 04:05] frandiox opened #1791 "ons-input DOM manipulation"
@anatoo As mentioned in #1262 by @sukima, `ons-input` does some DOM manipulation inside `contentReady` that perhaps could be moved directly to `connectedCallback` since it's an empty element. I have found some limitations as well with this component while implementing Vue 2 bindings due to the same thing. Either moving it to `connectedCallback` or removing `setImmediate` from `contentReady` break

[2017-01-24 16:22] nodefish commented on #1603
I've got the same issue as well on iOS with Onsen UI + Cordova and using riot.js for data binding the `value` attribute.

Updating the `value` attribute programmatically doesn't update the display. For example, if the initial value is empty, and later it's set to `'1990-01-01'`, the date displayed remains empty. If we explore the DOM, we see that the `value` attribute was indeed updated.

When the

[2017-01-24 22:41] sukima commented on #1791
At this time I stopped trying to port this to Ember. If I continue the only solution I found was to completely reinvent the entire `ons-input` behavior in Ember and *only* use the CSS.

Many rendering engine assume normal DOM elements where one can dynamically set attributes. Some components in OnsenUI (i.e. `ons-input`) will not account for dynamic attributes. Which means that these elements are

[2017-01-25 03:45] anatoo commented on #1780
Oh, I see.

Sorry, I have no idea for that. Currently we have no plans to support lazy modules because Onsen UI is built for Cordova apps.

[2017-01-25 03:45] #1780 closed

[2017-01-25 04:01] anatoo commented on #1791
@sukima Oh that's right, currently `ons-input` doesn't handle some dynamic attributes. So it's just ons-input's problem not `contentReady` or `setImmediate` problem.

[2017-01-25 09:28] ivaylopivanov commented on #1780
@anatoo why did you close the issue?
1.  Just because you have no plans to support it doesn't mean it does not exist.
2. I would say that this is nice-to-have-feature because, for example, if you're building an e-commerce app, you don't want the checkout route to be served to the client on first load - hope you got the idea. Every application that is beyond the `hello-world` app will benefit of th

[2017-01-25 15:58] frankdiox commented on #1791
Looks like the problem with Vue.js bindings and `ons-input` was related to the way Vue's `v-model` directive internally works with non native inputs. Nothing to do with `ons-input` implementation but in any case I guess it would be better to refactor it a bit.

[2017-01-26 02:15] anatoo commented on #1780
@ivaylopivanov I closed it because I can not just help you about how to implement lazy modules. if you are doing feature request, you can reopen this issue.

[2017-01-30 16:29] TheSegfault opened #1793 "Sending custom data to new page issue"
Example: [Sending custom data to a new page]( https://onsen.io/v2/docs/angular1/ons-navigator.html#tutorial) data isn't available in the controller but only in the DOM.

I think I'm missing something (💃  💃 )

Angular 1.5.8
Onsen v2

[2017-01-30 17:31] puku0x commented on #1793
You should use 'pushedOptions' to get the page arguments when you are using Angular 1.

[code]

Moreover, you should **not** use Onsen UI 2.0.5 with Angular 1.
It has a terrible bug in the navigator component, it's better to use **2.0.4** with Angular 1.

[2017-01-31 02:34] frankdiox commented on #1793
@TheSegfault That's probably because probably the page is not ready by the time you print it. Try to use `$timeout(..., 0);` just to check it. The page will be ready on `init` event, so you could use `ons-init` handler. It would be nice if the controller runs once the page is ready, like in v1 I think.
@puku0x What's the terrible bug? Also, `pushedOptions` is not documented because it could be rem

[2017-01-31 02:42] frankdiox commented on #1749
@asial-matagawa This is not an `ons-back-button`. It's an `ons-toolbar-button` with an `ons-icon` and text inside it. It does not contain the necessary CSS to be aligned and it doesn't work with the slide-ios animation either.

I guess it's used in this way to use a custom "onclick", but the `ons-back-button` already have an `onClick` and even `options` properties to overwrite its behavior. Perhap

[2017-01-31 04:02] puku0x commented on #1793
Thank you @frankdiox for your advice.

Unfortunately, I could not find  the `data` field in `topPage` object  in angular-onsenui since  **Beta.10** .

And have you ever tried 2.0.5 with Angular 1 ?
- `<ons-template>` is broken (since **RC.18** ?)
- `topPage.pushedOptions` returns previous page's one (in **2.0.5**)

I wrote a pen, this will show the reason why I said it terrible.
http://codepen.io/

[2017-01-31 04:06] asial-matagawa commented on #1749
@frankdiox

Oh I missed it, sorry.

I have seen many users suffer from the problem of custom `onclick` on back buttons.
I think we should deal with it by adding more detailed guides as well as API references.

[2017-01-31 05:53] frankdiox commented on #1749
@asial-matagawa It's documented in the `ons-back-button` reference. The only problem is that there is not specific directive in Angular so it is necessary to get the DOM element and modify the prop. I think we should add an attribute for this in AngularJS. React or Vue don't have any problem since they can modify props easily. I'm not sure about Angular2 either.

[2017-01-31 06:02] asial-matagawa commented on #1749
@frankdiox
Yes, it's documented and I know it is an Angular 1 specific problem.
What I meant is just the document can be improved more.
(Or we can add conditional warnings which appears when a user writes something not recommended)

[2017-01-31 06:19] frankdiox commented on #1793
@puku0x The bug with `ons-template` is due to the fact that Codepen inserts the external files at the bottom of the BODY rather than in the HEAD. We fixed this some time ago but perhaps something has changed in Chrome and it's broken again.

About the other issues, it's all related to what I answer to the original post. It's a timing issue, you are saving something into `vm.title` that doesn't exi

[2017-01-31 06:32] puku0x commented on #1793
A-ha ! That's what I wanted !
Thank you very much, @frankdiox !

[2017-01-31 06:35] frankdiox commented on #1793
@puku0x Glad I could help! :)

[2017-01-31 11:17] nodefish opened #1795 ""lift" & "lift-ios" animation affects current page's toolbar"
__Environment__

[code]
__Encountered problem__

Using `navigator.pushPage` with the `lift` or `lift-ios` animation specified causes the toolbar of the current page to move upwards. This looks particularly buggy when using colored toolbars and a colored iOS status bar, in which case this issue becomes quite apparent.

__How to reproduce__

Simply use `lift` or `lift-ios` in the basic `navigator` t

[2017-01-31 12:32] TheSegfault commented on #1793
Thanks for the ons-init advice ! Problem solved =)

[2017-01-31 12:45] #1793 closed

[2017-02-01 14:15] frankdiox commented on #1795
@nodefish I believe the animation was made like that on purpose. The whole previous page moves upwards, not only the toolbar. To be honest I haven't seen it with colored iOS status bar. In any case, since 2.0.5 it's quite easy to [make new animations or extend existing ones](https://onsen.io/v2/docs/guide/js/#extending-animations), so you can simply make your own lift animation if you don't like t

[2017-02-01 14:27] nodefish commented on #1795
I see. I checked out some native iOS apps and their animation isn't like that, so I figured it was a bug.

I'll look into custom animations. Thanks for the tip!

[2017-02-01 14:29] frankdiox commented on #1795
@nodefish Oh, maybe we should check how's the native one then. I haven't seen may "lift" animations in iOS actually so I'm not sure about it. I'm opening this again as a reminder :)

[2017-02-02 10:28] frandiox opened #1799 "Switch with ng-disabled bug in AngularJS"
`ons-switch` with `ng-disabled` in AngularJS throws an error the first time the `disabled` property is assigned. However, it works afterward.

It worked well in `2.0.3` but is broken from `2.0.4` to `2.1.0` (latest atm).
Error: `Cannot set property 'disabled' of undefined`
[Pen here](https://codepen.io/frankdiox/pen/ggeKZR?&editors=101).

[2017-02-03 15:41] puku0x opened #1801 "ons-splitter in ons-navigator bug on Safari"
__Environment__

[code]

__Encountered problem__

`<ons-splitter-content>` and `<ons-splitter-side>` are broken when they are in `<ons-navigator>` .

__How to reproduce__

Please refer to this.
http://codepen.io/puku0x/pen/JEvpQP

[2017-02-03 16:19] asial-matagawa commented on #1801
@puku0x
Thank you for reporting.

Actually I think this is not a bug since `ons-template` cannot be nested, that is, `ons-template` elements cannot include child `ons-template` elements:

ons-template component is the solution for this.

https://onsen.io/v2/docs/guide/js/#templates

Once you move inner `ons-template` elements to outside of the root `ons-template`, it will work fine.

But we should

[2017-02-03 16:19] #1801 closed

[2017-02-03 19:06] toramanlis commented on #1677
thanks for developing onsen :)

[2017-02-05 18:18] madagon opened #1803 "Tabbar on Android 4 support"
__Environment__ Android 15-16

[code]

__Encountered problem__

Hello! Most parts of onsen ui work fine on android 4 but today i found an exception when using ons-tabbar! I tried to analyze the DOM element using weinre but i couldn't figure out the problem. Compiler had already applied its changes to DOM based on properties and child nodes given to ons-tabbar but no ons-tab pages were actually com

[2017-02-06 02:30] frankdiox commented on #1803
@madagon Hi! `ons-template` should not be nested in any component! Use it directly in the body of `index.html`, nowhere else. #1802

[2017-02-06 06:08] madagon commented on #1803
@frankdiox thanks for your quick answer! I moved templates to index.html page and body tag, now i can see tab buttons but i can't still see contents neither i can switch between tabs. Didn't work for me.
I don't think using Crosswalk plugin should be an alternative to this problem since it increases a lot on apk size and one one my points for picking cordova is the small size of the output applica

[2017-02-06 07:33] madagon commented on #1803
the problem can be fixed by just swapping the place of ons-tabbar and ons-template.

[code]

[2017-02-06 07:45] frankdiox commented on #1803
@madagon Hmm... Did you try it this way?

[code]

When I said

I actually meant it :sweat_smile: . Move your `ons-template` to the `body` tag or otherwise create your pages in separate files without `ons-template` tag. If it doesn't work this way, then we should worry about it.

And I mentioned Crosswalk because [*officially*](https://github.com/OnsenUI/OnsenUI#browser-support) we only support And

[2017-02-06 07:45] #1803 closed

[2017-02-06 09:03] madagon commented on #1803
I follow the standard patterns defined by your team in designing my app so i have my pages in separate html files but in some places it doesn't make sense to move some templates to separate files actually and i had no problem on newer devices with embedded templates.

Though you mentioned Android 4.4+ as your supported platforms, Hopefully Onsen UI works great on Android 4.2.2 too with little tric

[2017-02-07 06:39] frankdiox opened #1806 "Tabs should support 'ripple' attribute"
`ons-tab` should support `ripple` attribute. Otherwise, it should allow to write content inside it without breaking the style:

[code]

Right now the last example sort of work but some styles are not applied correctly.

[2017-02-07 12:36] keijiodagawa opened #1807 "When I incorporated ons-toolbar with directive, the layout is not reflected."
__Environment__

[code]

__Encountered problem__
When I incorporated ons-toolbar with directive, the layout is not reflected.

__How to reproduce__

[code]

[code]

[2017-02-07 13:12] matankastel commented on #1763
@anatoo Any updates on this fix ?

[2017-02-07 23:21] asial-matagawa commented on #1807
@keijiodagawa
Pages defined by `ons-template` cannot be used with `templateUrl `.
Please use this code instead.
[code]

[2017-02-08 02:24] asial-matagawa commented on #1807
@keijiodagawa
Probably you should use `replace: true` in the definition of `toolbarTemplate` directive.

[code]

If using this, `<div toolbar-template></div>` will be *replaced* with `ons-toolbar` element.
Otherwise, `ons-page` cannot recognize the inner `ons-toolbar` and the page content will be rendered to some wrong position.

[2017-02-08 02:24] #1807 closed

[2017-02-08 08:44] frandiox opened #1808 "Vue: Autostyling issue due to attribute overwrite"
[code]

__Encountered problem__

Attributes internally modified by the core should be passed as props instead of attributes to Vue components. The reason is that Vue overwrites the inner element attribute whenever it rerenders, thus losing the core modifications. This happens with `modifier` attribute when `material` value is automatically added with autostyling.

[2017-02-08 18:57] drwelby opened #1809 "Icon font paths don't match with Webpack build and React"
__Environment__

[code]

__Encountered problem__

Webpack is placing the icon fonts in a location that doesn't match the generated CSS.

The fonts are placed in `/static/media`
The CSS font source is referencing `/static/css/static/media`

__How to reproduce__

1. Create a React app with create-react-app

2. Make a page with an Ion icon

3. Include CSS:
[code]

4. build with `npm run build`

I'm n

[2017-02-09 02:00] asalgueiro commented on #1721
Hi, a basic support for Internet Explorer and Windows Phone 8.x is important to many users living in countries with an important installed base of that Operating System (in my case, Argentina have a big remanent).

We can't plan to migrate from Onsen UI v1.x  to 2.x because that incompatibility.

In you roadmap will be any support plan?

Thank you and congratulations for make the best hybrid HTML

[2017-02-09 06:01] frankdiox commented on #1809
@drwelby Hi! It's not necessary to manually import the icons. `onsenui.css` file is already importing them. If you installed `onsenui` and `react-onsenui` with NPM, this should be enough:

[code]

I just tried it with `create-react-app` and `npm start`. It shows the icons as expected with a code like this:

[code]

`npm run build` locates the icons in `/build/static/media/...` and in the generated

[2017-02-09 06:01] #1809 closed

[2017-02-09 17:13] drwelby commented on #1809
@frankdiox Thanks for checking! I tried with a new create-react-app project and a [simplified version of my layout](https://gist.github.com/drwelby/57c68805d42f32652cd35862f378b195) and it works.

But my app still doesn't work, even with removing the extra css import. I'm going to try recreating the app to see if that makes a difference.

[2017-02-09 17:34] drwelby commented on #1809
I found the source of the problem: the "homepage" setting in package.json.

[2017-02-09 18:12] drwelby opened #1810 "IOS styling interferes with react-select events"
[code]

__Encountered problem__

When using `react-select` with the Android styling the select input works correctly. When the styling is switched to iOS, the input will display suggestions but they can not be selected.

__How to reproduce__

* install `create-react-app` and make a new app.
* install  `onsenui`, `react-onsenui`, and `react-select`.
* use [this app.js](https://gist.github.com/drwel

[2017-02-09 20:36] drwelby commented on #1810
Removing the `<form>` elements on lines 24 and 30 of the gist linked allows the select to function. This might help troubleshoot the problem.

[2017-02-09 20:51] drwelby commented on #1810
It has something to do with the `<Page>` component. If I remove the `Page` import (and delete the `Page') elements then the select works.

[2017-02-13 07:44] #1806 closed

[2017-02-14 08:37] frandiox opened #1813 "Vue | Page issue: This is just a test issue."
__Environment__

[code]

__Encountered problem__

  This is just a test. Please ignore it.

__How to reproduce__

  [__Demo link__](https://tutorial.onsen.io/?issue)

- __HTML__

[code]

- __JS__

[code]

[2017-02-15 03:53] anatoo opened #1814 "Proposal: Removing <ons-template> and prefer <template> elements."
`template` elements can nest HTML templates properly but `ons-template` is inconvenient on nested templates.
Why did we add ons-template?
I want to make `ons-template` deprecated and prefer `template` elements.

@masahirotanaka @frankdiox @asial-matagawa @misterjunio Any thoughts?

[2017-02-15 05:16] frankdiox commented on #1814
I've mentioned about this several times so I completely agree.

I guess Android < 4.4 and IE have something to do with it: http://caniuse.com/#feat=template

We can use a polyfill for those versions if it's completely necessary, although we don't officially support them anymore.

Furthermore, I've tested it and looks like possible to do:

[code]

I think that could be very nice in some situations.

[2017-02-15 05:28] varung-optimus opened #1815 "OnsenUI Carousel - Automatically scrolls to first element on page scroll (mobile devices)"
__Environment__

[code]

__Encountered problem__
We have implemented horizontal carousel with multiple items being displayed depending on viewport size. Everything works as desired on desktop, however, on both Android and iOS devices, we noticed that when we scroll the page, the carousel automatically scrolls to first element.

__How to reproduce__

- When on a page with multiple items being displ

[2017-02-15 05:41] frankdiox commented on #1813
@anatoo @asial-matagawa @misterjunio @masahirotanaka I'm testing a new way to report issues. This is an issue generated from the [tutorial app](https://tutorial.onsen.io/). We should redirect users to the tutorial app if they want to report a bug so they can reproduce the error there first. It gets the latest released version so we ensure the bug wasn't already fixed in new versions.

This generat

[2017-02-15 05:46] masahirotanaka commented on #1813
Yes, I think this is a good way for reporting issue. Thanks @frankdiox!

[2017-02-15 05:52] anatoo commented on #1813
![image](https://cloud.githubusercontent.com/assets/59784/22962105/37343450-f38e-11e6-9e97-af91ad95ae81.png)

[2017-02-15 05:54] misterjunio commented on #1813
@frankdiox That's very cool. A suggestion though: maybe we should create a "sandbox" page in the tutorial app, just to guarantee users don't get confused about having to reproduce their issue in a "tutorial"

[2017-02-15 07:04] frankdiox commented on #1813
@misterjunio Maybe just writing `Select template` in the title instead of `Select tutorial` is enough... I think it's easier if they start from an existing template than from a specific empty page to report bugs. But yeah, it could be confusing...

[2017-02-16 01:20] puku0x opened #1817 "$material-select-input-* is not defined in onsen-css-comonents.css"
[Core]
    Onsen UI 2.1.0

[Framework]
    None

[Additional libraries]
    None

These variables are not defined in `onsen-css-components.css` and `onsen-css-components-*.css`
`$material-select-input-text-color`
`$material-select-input-active-color`
`$material-select-input-inactive-color`

[2017-02-16 01:58] puku0x commented on #1817
Although this is not a solution, but you can ignore above error by setting `silent:true`.

[code]

[2017-02-16 03:20] misterjunio commented on #1817
@puku0x Thanks for reporting, on it. Actually we're in the process of dropping Stylus for another styling tool and it will be fixed for that release 👍

[2017-02-16 04:49] misterjunio commented on #1817
@puku0x We fixed it so I'm closing this now. Thanks again

[2017-02-16 04:49] #1817 closed

[2017-02-16 11:13] BusinessLoader commented on #1814
Possibility for include `<script>` in the template will be very useful!

[2017-02-16 11:27] BusinessLoader opened #1820 "Bug with ons.orientation"
__Environment__

[code]

__Encountered problem__
It seems that going to the background invoke some mess for orientation detection.

__How to reproduce__
Android 5 and 6, default Monaca project - Onsen 2.0.3, Cordova 6.2.0, Crosswalk 1.7.2, debug build.
Very simple Onsen app:
[code]
This code work correctly with system WebView.
But when you add Crosswalk to the project you can see bug:
The first ti

[2017-02-16 12:29] BusinessLoader opened #1821 "Cache for page templates in separate HTML-files"
I see performance degradation on the opening page when page templates saved in separate HTML-files.
For example if from page1 (index.html with `<ons-navigator>`) I execute `pushPage()` for new page2 and this page contains tabbar with 3 tabbed pages (tab1, tab2, tab3) and all of these pages stored in separate HTML-files page2.html, tab1.html, tab2.html, tab3.html - I see big time lag before the ope

[2017-02-16 23:49] rknell commented on #1592
@asial-matagawa Looks like you closed both of the referenced tickets on the same day. Did you find a solution for this?

[2017-02-17 09:35] BusinessLoader opened #1824 "Onsen UI CSS"
Hello,

Onsen CSS contains a lot of conflicts - identical properties with different values in the one class. You can find it in the several classes. If you check Onsen CSS with any CSS validator you can see a lot of errors and warnings.

[2017-02-17 09:52] Seraphims opened #1825 "angular2 karma start, PhantomJS error"
hello,
I use angular2-onsenui,when I use npm test, I use karma, browsers is PhantomJS, I get the error:
<img width="880" alt="error" src="https://cloud.githubusercontent.com/assets/6078029/23060747/07cdcf52-f53a-11e6-8862-392c331251f9.png">
17 02 2017 17:48:00.391:WARN [karma]: No captured browser, open http://localhost:9876/
17 02 2017 17:48:00.407:INFO [karma]: Karma v1.4.1 server started at htt

[2017-02-17 16:16] benny-medflyt opened #1826 "Bug with React AlertDialog not showing when initially isOpen (Safari only)"
Here is a minimal example that shows the problem:

[code]

This works fine in Chrome. But in Safari, and mobile Safari, the "AlertDialog" does not appear.

It appears that in Safari, the dialogs "_compile" function is being called immediately after it is being created, thus setting the style.display to 'none'. (In Chrome, "_compile" is called at the beginning).

[2017-02-17 23:09] nickpdiana opened #1827 "Input type number not working in AngularJS"
__Environment__

[code]

__Encountered problem__
ons-input elements of type number do not retain that type

__How to reproduce__

I've attached a screenshot showing the issue. In the console, we see that ct.moneyInBank is initialized as a number, but once I edit the value in the ons-input box, it is converted to a string.

Here is the relevant code:
`<ons-input placeholder="Money in the Bank" type

[2017-02-20 07:43] misterjunio commented on #1827
@nickpdiana We treat inputs different than radio buttons, checkboxes, selects and ranges as text inputs. Is there a specific reason why you need the type of the variable to be `number`?

[2017-02-20 17:56] nickpdiana commented on #1827
Just for the same reasons why [vanilla input tags](http://w3c.github.io/html-reference/input.number.html) have a type number:

1) I don't have to cast the variable to an integer anytime I use it.
2) Mobile users are given a number pad for input instead of a keyboard.

My current solution is to just use a vanilla input tag styled with onsen classes, but that's not ideal.

[2017-02-21 01:19] misterjunio commented on #1827
I think you may be a bit confused about what the input type number means because even a vanilla input will give you a string variable. From the link you posted:

Specifies that its input element is a precise control for setting the **element’s value to a string representing a number**.

You can also try to log the `typeof` the element's value and it should give you `string`.
About the second point

[2017-02-21 02:12] nickpdiana commented on #1827
Because of the data-binding in angular, the value for input[number] elements must be of type number. Here's a [jsbin](https://jsbin.com/mucewutuvu/edit?html,js,console,output).

If you edit the input, you'll see that the type remains a number. This is not true for `<ons-input>`. I'm aware that onsen is framework agnostic, I just wanted make sure you guys are aware that this isn't the expected beha

[2017-02-21 03:07] misterjunio commented on #1827
You're right, I just fixed it and it should be merged soon 😃  Thank you.

[2017-02-21 07:47] #1827 closed

[2017-02-21 10:29] frandiox opened #1830 ""reveal" animation for Splitter"
@anatoo Currently only "overlay" animation is implemented in the splitter but I remember we also had "reveal" animation for sliding menu. We are deprecating sliding menu soon and it would be nice to port that animation to the new splitter. Do you think it's fine? Also, there are some users asking for it on the forum.

[2017-02-21 11:03] frandiox opened #1831 "Deprecate features/components"
@anatoo @asial-matagawa @misterjunio

We have talked about deprecating some stuff already and I just want to make a list so we don't forget for the next release:

- [x] Theme Roller.
- [x] Stylus-lang.
- [x] `ons-template`: use `template` instead.
- [x] `ons-sliding-menu` (Angular1): we have `ons-splitter`. -- _Added warning_.
- [x] `ons-split-view` (Angular1): we have `ons-splitter`. -- _Added wa

[2017-02-21 11:06] frankdiox commented on #1824
@BusinessLoader Thanks!
@anatoo Do you think we can do something with this now that we are refactoring the CSS?

[2017-02-21 11:07] frankdiox commented on #1821
@BusinessLoader We'll do this and probably provide `ons.preload([...])` as well :+1:

[2017-02-21 16:03] JoshuaASmith commented on #1603
Also having this issue...

[2017-02-22 03:11] anatoo commented on #1830
@frankdiox It's good to me.

[2017-02-22 03:12] anatoo commented on #1824
@frankdiox Yes, I will refactor CSS to remove conflict.

[2017-02-22 03:17] anatoo commented on #1831
👍

[2017-02-22 08:19] #1790 closed

[2017-02-23 13:39] nodefish commented on #1565
I'm experiencing something similar: push a page which contains an html5 `<video>` tag. Once the video request is completed (initial load), I have a carousel on another page which fires `postchange`.

The event seems to originate from `_onResize` which seems to be tied to a global listener (`window` scope); that explains why it can happen from an entirely different page.

I'm not sure how to solve

[2017-02-24 08:36] BusinessLoader opened #1836 "Tappable and ripple effects"
Hello,

As I see - `tappable` attribute is exist only for some Onsen objects (`ons-list-item` and maybe some other) and have different visual effects for iOS (flash) and Android (ripple).
Also additional `ons-ripple` element is available but this effect works identically for iOS and Android.
IMO visual feedback for user interaction is a very important UX/UI pattern for mobile platforms and can be

[2017-02-25 04:12] puku0x commented on #1749
Quick fix in case of using ons-toolbar-button.

<pre>
<ons-toolbar-button ng-click="navi.pop()">
    <ons-icon icon="ion-ios-arrow-back, material:md-arrow-back" size="32px, material:24px"></ons-icon>
        <ons-if platform="ios other" class="back-button__label">Back</ons-if>
</ons-toolbar-button>
</pre>

[2017-02-27 05:22] frandiox commented on #1836
@anatoo What do you think about this?

[2017-02-28 09:04] anatoo commented on #1836
It it good to have. 👍

[2017-02-28 14:04] Sunil2197 opened #1843 "Angular1 | Input issue: OnsInput cursor position issue while editing input box"
__Environment__

[code]

__Encountered problem__

__How to reproduce__

  [__Demo link__](https://tutorial.onsen.io/?issue)

- __HTML__

[code]

- __JS__

[code]

[2017-02-28 15:15] BusinessLoader commented on #1836
Moreover, I hope you keep in mind [this my question](https://community.onsen.io/topic/1212/how-to-disable-tappable-effect).
Maybe some `nontappable` attribute for some sub-objects? :wink:

[2017-03-01 16:54] drwelby commented on #1810
I've isolated the problem further:

When using the Android styling, the `<body>` has event handlers for `dragstart` and `touchstart`. With the iOS styling, there are are also handlers for `click`, `touchend`, `touchmove`, and `touchcancel`. These extra handlers are eating the events and not passing them down to the select input.

[2017-03-01 18:07] drwelby commented on #1810
This is related to the use of fastclick, as described in https://github.com/JedWatson/react-select/issues/904

The solution in [this comment](https://github.com/JedWatson/react-select/issues/904#issuecomment-256177666) works.

[2017-03-02 10:29] slash-84 commented on #1603
I have the same problem:

`<input>` is working correctly whilte `<ons.input>` doesn't get the initial date value.

I'm on React, so i'm using `<Input>`, but i think the bug is the same.

[2017-03-03 16:36] #1810 closed

[2017-03-03 19:17] sylvain-hamel commented on #1768
@anatoo Hi, did you have a chance to look into this problem?

[2017-03-04 13:51] nikitaMe1nikov commented on #1836
It will be nice. For example, as in ReactNative there is Touchable a component. :+1:

[2017-03-07 01:15] FineRapha commented on #1815
Hello.

I faced an issue like this one.
But, in my case, all my ons-carousel would reset everytime my setInterval() got triggered.

Without further tests, I'll assume anything changing UIs (my repeating script was used to check if the current user is logged and can see some itens inside the menu) will trigger this issue.

[2017-03-07 07:47] #1843 closed

[2017-03-07 08:24] frandiox commented on #1808
#1837

[2017-03-07 08:24] #1808 closed

[2017-03-07 08:36] frandiox commented on #1651
As explained in previous answers, this is now the correct behavior. Elements like Toolbar, Fab, etc. are not moved from its original position (so there's no need for hoisting them afterward). Page's content div can be created beforehand with `.page__content` class or simply `.content` (the other class will be added automatically).

[2017-03-07 08:36] #1651 closed

[2017-03-07 08:53] #1653 closed

[2017-03-07 08:56] frandiox commented on #1601
Fixed in e74c931 .

[2017-03-07 08:56] #1601 closed

[2017-03-07 08:57] #1713 closed

[2017-03-07 08:59] #986 closed

[2017-03-07 09:04] frandiox commented on #1773
@asial-matagawa I believe this happens because the automatic styling is actually [working properly](https://github.com/OnsenUI/OnsenUI/blob/master/core/src/ons/autostyle.js#L33). It removes `tappable` modifier and adds `ripple` attribute. `disable-auto-styling` attribute should avoid this.

[2017-03-07 09:04] #1773 closed

[2017-03-07 09:05] asial-matagawa commented on #1773
👍

[2017-03-07 09:18] #1787 closed

[2017-03-07 09:20] frandiox commented on #1573
Continues in #1814

[2017-03-07 09:20] #1573 closed

[2017-03-07 09:36] #1799 closed

[2017-03-07 13:36] rgins16 opened #1854 "Angular 1 // No longer able to pass data in the options for navigator.pushPage"
__Environment__

[code]

__Encountered problem__
After upgrading OnsenUI from 2.0.4 to 2.0.5, I am no longer able to pass data through the navigator. myNavigator.topPage is now empty in the receiving controller.

__How to reproduce__
See my comment below.

__Notes__
In all previous versions on OnsenUI, I had no problem with this. This problem has only occurred once I upgraded to OnsenUI v2.0.5.

[2017-03-07 13:48] rgins16 commented on #1854
I am not able to get a codePen working, but I have gotten the following code to follow the behavior of the bug I have described above:

HTML:
[code]

JavaScript:
[code]

[2017-03-07 16:23] frandiox commented on #1854
@rgins16 Thanks for reporting. I'm curious, did you have any problem with the "Report an issue" button in the tutorial app? There's no need to create a Codepen.

About the issue itself, I'll check what changed in 2.0.5 to make this change, but in any case the correct way to do this in v2 is using page lifecycle events. You can easily wait for it with `ons-init` handler. Simply add `<ons-page ons-i

[2017-03-07 17:25] rgins16 commented on #1854
I didn't realize I could report an issue in the tutorial app. I basically translated my own code to the tutorial app to get a working version for you.

Thanks for the temp fix. I had previously decided to wait for a fix, but tinkered with
`myNavigator.once('postpush', function(){
    $scope.event = myNavigator.topPage.data.event;
});`

My problem with this was the event scope variable didn't refle

[2017-03-08 02:35] frandiox commented on #1854
@rgins16 The problem in the code is that Angular controller runs before the new page is ready. That means that, by the time you access to `myNavigator.topPage.data`, nothing exists yet. It would work by using a `$timeout` as well, but to make sure everything is ready you can just use [page lifecycle events](https://onsen.io/v2/docs/guide/angular1/#page-lifecycle) (check also the "event handling" s

[2017-03-08 05:04] frandiox commented on #1758
Fixed in #1852

[2017-03-08 05:04] #1758 closed

[2017-03-08 05:08] frandiox commented on #1738
This should be fixed in core v2.2.0 and #1855

[2017-03-08 05:08] #1738 closed

[2017-03-08 06:13] anatoo commented on #1768
@sylvain-hamel Oh sorry for delay, I'm going to fix this problem.

[2017-03-08 07:18] misterjunio commented on #1727
@asial-matagawa Like I discussed with @anatoo this does not seem to be a bug, it's just a consequence of the tabs being loaded asynchronously. I suggested a solution for choosing the tab dynamically on load by touching the DOM [here](https://community.onsen.io/topic/1203/tabbar-and-angular-2/2). It's a bit dirty but I don't see another possibility

[2017-03-08 07:49] asial-matagawa commented on #1727
@misterjunio
Thank you for investigating, I got it.
I think we have to fix `ons-tabbar#setActiveTab` to wait for tabs to be loaded.
Looks like it is a problem of the core.

[2017-03-08 10:18] #1763 closed

[2017-03-08 13:14] rgins16 commented on #1854
@frandiox Thanks for the help.

[2017-03-09 03:53] misterjunio opened #1857 "Core | Fab && Speed-dial issue: position problem in iOS 8"
__Environment__

[code]

__Encountered problem__
`position="bottom"` not working properly on `fab` and `speed-dial` components.

__How to reproduce__
Open the respective core example in iOS 8 Safari. Bottom buttons appear cut.

[2017-03-09 03:58] misterjunio opened #1858 "Core | Grid issue: mixed alignments problem in iOS 8"
__Environment__

[code]

__Encountered problem__
Mixed alignments not working properly on grid component.

__How to reproduce__
Open the core example in iOS 8 Safari. Last grid Mixed Vertical Alignment is broken.

[2017-03-09 05:22] asial-matagawa commented on #1858
@misterjunio
This seems to be because the line below removes `display: -webkit-flex;` (which is required for iOS 8 and older) from the selector `ons-row`.

https://github.com/OnsenUI/OnsenUI/blob/9ba11077ce7c7cfe8d7778993b4f0bfbefd15c14/gulpfile.babel.js#L379

[2017-03-09 05:37] asial-matagawa commented on #1857
@misterjunio
It could not be reproduced in iPhone 5s Simulator (with iOS 8.4).
This might be a device-dependent bug.

![2017-03-09 13 34 35](https://cloud.githubusercontent.com/assets/19771915/23737323/a8f3dce6-04d5-11e7-8adf-34f0568e8520.png)

[2017-03-09 06:34] misterjunio commented on #1857
@asial-matagawa The worst kind 😬

[2017-03-09 06:51] misterjunio opened #1859 "Core | Popover issue: fading animations not working"
__Environment__

[code]

__Encountered problem__
Fading animations don't change anything.

__How to reproduce__
Open the core example in any device. Add one of the fading animations to the popover. Nothing is changed.

[2017-03-09 06:58] misterjunio opened #1860 "Core | Progress-circular issue: does not show in iOS 8"
__Environment__

[code]

__Encountered problem__
Progress-circular is not shown at all.

__How to reproduce__
Open the `progress` core example in iOS 8 Safari. The circular progress doesn't appear.

[2017-03-09 07:21] misterjunio opened #1862 "Core | Range issue: not sliding until the maximum"
__Environment__

[code]

__Encountered problem__
The element does not slide until the end (a few pixels missing).

__How to reproduce__
Open the core example in any device. Slide the range to the maximum. It does not go to the end (in iOS is not as noticeable because of its styling but I believe it happens as well).

[2017-03-09 07:52] misterjunio opened #1863 "Core | Speed-dial issue: white toolbar in Android 5"
__Environment__

[code]

__Encountered problem__
Touching any `speed-dial` button briefly turns the toolbar white.

__How to reproduce__
Open the speed-dial core example in Android 5 Chrome. Any speed-dial button tapped (except for some reason the main bottom-right one) places a momentary white bar over the toolbar.

[2017-03-09 07:56] misterjunio opened #1864 "Core | Select issue: styling problem in iOS"
__Environment__

[code]

__Encountered problem__
Down arrow not shown near select box.

__How to reproduce__
Open the core example in any iOS Safari. No visual clue (down arrow) hints that there is a select box.

[2017-03-09 10:03] #1768 closed

[2017-03-09 10:48] #1858 closed

[2017-03-09 11:12] asial-matagawa commented on #1857
@misterjunio
Sorry, the screenshot I pasted above is based on [a recent revision](https://github.com/OnsenUI/OnsenUI/tree/9ba11077ce7c7cfe8d7778993b4f0bfbefd15c14). It is not based on 2.1.0.
It seems that this issue has been already fixed.

Closing this.

[2017-03-09 11:12] #1857 closed

[2017-03-09 11:42] asial-matagawa commented on #1859
@misterjunio
I have checked them but `show` method and `animation` attribute of `ons-popover` worked correctly.
I guess you might have input wrong arguments to `show` method.

`show` method accepts two types of arguments:
- `show(target, [options])`
- `show(options)` <---- Undocumented!
Note that the example file of `ons-popover` uses `show(options)`:
https://github.com/OnsenUI/OnsenUI/blob/85c4e2

[2017-03-09 11:42] #1859 closed

[2017-03-09 12:34] #1700 closed

[2017-03-09 12:35] asial-matagawa commented on #1700
This issue was solved together with #1860.
Closing this.

[2017-03-09 13:08] nodefish commented on #1815
Might be related: https://github.com/OnsenUI/OnsenUI/issues/1565#issuecomment-281993665

[2017-03-09 14:52] jitu-git commented on #1592
no

[2017-03-09 15:30] asial-matagawa commented on #1860
@misterjunio
I have fixed this problem with #1867.

Closing this.

[2017-03-13 05:53] asial-matagawa commented on #1863
@misterjunio
Thank you for reporting.

I have investigated this problem and I think this is a `z-index` bug of Chrome 43 (installed in the device you used). Chrome 43 repaints outside of the `page__content`, but does not repaint `ons-toolbar` correctly. I think it is hard to find a proper workaround.

In Android 5.0 and later, Android System WebView and Chrome for Android are periodically updated,

[2017-03-13 05:53] #1863 closed

[2017-03-13 06:00] asial-matagawa commented on #1862
@misterjunio
I think this is not a bug but what should be improved.
@anatoo is improving CSS components now, so I will ask him to improve this style problem.

[2017-03-13 06:03] asial-matagawa commented on #1862
Here is a screenshot of the problem:
![2017-03-13 15 01 51](https://cloud.githubusercontent.com/assets/19771915/23843268/0950b994-07fe-11e7-9ad7-c91d4fa5d867.png)

[2017-03-13 07:19] asial-matagawa commented on #1864
@misterjunio
In iOS 8, it seems that `background-color: transparent;` removes the arrow.
I think this will not be fixed as long as we depend on the arrow which the native `select` provides...

[2017-03-13 07:22] misterjunio commented on #1864
@asial-matagawa are you saying we should add our own custom arrow?

[2017-03-13 07:33] asial-matagawa commented on #1864
@misterjunio
No, I think we should not make efforts to this problem too much since the number of iOS 8 users is getting lower.
I think we should prioritize fixing problems in iOS 9 and 10.
I will postpone fixing this issue for now...
If there is any problem, please feel free to ask me.

[2017-03-13 09:56] asial-matagawa commented on #1864
This problem is also reproduced in iOS 9 and 10.
The commit ID I used: https://github.com/OnsenUI/OnsenUI/tree/b5bc5c666d02fbafeac11581eb3b60473df9e9d1

[2017-03-13 09:57] asial-matagawa commented on #1863
This issue seems to be fixed in the latest commit ID https://github.com/OnsenUI/OnsenUI/tree/b5bc5c666d02fbafeac11581eb3b60473df9e9d1 (`2.2.0` candidate).

[2017-03-15 06:27] asial-matagawa commented on #1733
@Sunil2197
Thank you for reporting.

I have tried to reproduce this problem but it was not reproduced.
I guess you forgot to:
- Load `angular-onsenui.js`.
- Execute `ons.bootstrap` or `angular.module('myApp', ['onsen'])`.

Also, `ons-template`should be just under the `body` element.
It cannot be located in any element except for `body`.

Closing this.

[2017-03-15 06:27] #1733 closed

[2017-03-15 07:37] asial-matagawa opened #1871 "Core | Lazy-repeat issue:"
__Environment__

[code]

__Encountered problem__

Reported by @keijiodagawa.

`ons-lazy-repeat#refresh` does not remove deleted items (it shows `undefined` on each items).
In `onsenui@2.0.1`, it correctly removes deleted items.
Maybe related to the recent changes on `ons-lazy-repeat`.

__How to reproduce__

  [__Demo link__](https://tutorial.onsen.io/?issue)

- __HTML__

[code]

- __JS__

[code]

[2017-03-15 08:21] anatoo opened #1873 "Proposal: Adopt visual design spec."
Currently we don't have visual design spec for Onsen UI. So the components' visual design is broken from time to time and it is harder to improve it.

To fix this problem, I want to manage visual design spec for components. To be more specific, I would like to add [sketchapp](http://sketchapp.com) file that have each components' visual design in Onsen UI repository.

@frandiox @masahirotanaka @asi

[2017-03-15 08:26] asial-matagawa commented on #1873
@anatoo
I agree with your proposal 👍

[2017-03-15 10:12] #1717 closed

[2017-03-15 13:01] #1862 closed

[2017-03-16 07:44] adamkozuch opened #1876 "Angular2 | Splitter issue: Error throw when collapse and swipeable"
__Environment__

[code]

__Encountered problem__
When using `collapse` and `swipeable` attributes the `splitter-side` throws a console error.

__How to reproduce__
See the tutorial link.

  [__Demo link__](https://tutorial.onsen.io/?issue)

- __HTML__

[code]

- __JS__

[code]

[2017-03-16 09:41] bailinlu opened #1877 "why <ons-dialog id="xxxxxx" cancelable> on android(4.1.2) doesn't work"
code1:

[code]
when I test on android(4.1.2)'s device ,
I touch a part other than dialog but it doesn't close dialog.
but there is no problem on ios and android(4.4) or higher version
why.........

code2:
[code]
when I test on android(4.1.2)'s device ,
I touch menu but columns not display.
but there is no problem on android(4.4) or higher version
why.........

[2017-03-16 10:03] asial-matagawa commented on #1877
@bailinlu
Thank you for reporting.
Onsen UI might not work in old Android Devices since Onsen UI supports only Android 4.4+:
https://github.com/OnsenUI/OnsenUI#browser-support

Closing this.

[2017-03-16 10:03] #1877 closed

[2017-03-16 10:27] bailinlu commented on #1877
but
`<ons-list>
<ons-list-header>
<ons-list-item>
<ons-scroller>`
and so on,they are can be worked on  android(4.1.2)'s device.

[2017-03-17 06:34] misterjunio commented on #1876
I have traced down the problem to [these lines](https://github.com/OnsenUI/OnsenUI/blob/38aac734487f526f6fe2d993d368fe0adde340e8/core/src/elements/ons-splitter/index.js#L155-L157). For some reason in Angular2 when the `modechange` event is first detected on the `ons-splitter-side` the `e.target.parentNode` (i.e. the `ons-splitter`) is already initialized but it doesn't have `ons-splitter-content`

[2017-03-17 06:57] asial-matagawa commented on #1876
@misterjunio
It is due to the design of Angular and `attributeChangedCallback` of `ons-splitter-side`.

Angular compiles the following code
[code]
into something like
[code]
(maybe this is not accurate)

Each time `splitterSide.setAttribute` is called, `ons-splitter-side` runs `this._update()`:
https://github.com/OnsenUI/OnsenUI/blob/38aac734487f526f6fe2d993d368fe0adde340e8/core/src/elements/ons-s

[2017-03-17 07:03] asial-matagawa commented on #1876
@misterjunio
Ah, maybe we can wrap `this._update(name, current);` in `attributeChangedCallback` with `contentReady`.
https://github.com/OnsenUI/OnsenUI/blob/38aac734487f526f6fe2d993d368fe0adde340e8/core/src/elements/ons-splitter-side.js#L500

This might be a possible workaround (but not sure)

[2017-03-17 07:19] misterjunio commented on #1876
@asial-matagawa That seems to fix it indeed. But I don't get it, doesn't that wait for `ons-splitter-side` to be ready and not `ons-splitter-content`?

[2017-03-17 07:25] asial-matagawa commented on #1876
@misterjunio
`contentReady(this._content, () => { ~~~~ });` might wait for `ons-splitter-content` instead of `ons-splitter-side`. We can change the target of `contentReady`.
Sorry if it does not work.

[2017-03-17 07:31] asial-matagawa commented on #1876
Ah, `this._content` is `undefined` at that time... Maybe we can try `this.parentNode` (= `ons-splitter`) but anyway we need to thoroughly investigate the code to completely solve this problem.

[2017-03-17 07:31] misterjunio commented on #1876
@asial-matagawa When I said

I actually tried it and it worked 😄

[2017-03-17 07:31] asial-matagawa commented on #1876
@misterjunio
Oh, I see. Thank you!

[2017-03-17 07:33] asial-matagawa commented on #1876
@misterjunio

Maybe waiting `ons-splitter-side` is equivalent to waiting `ons-splitter-content`.
What is important is delaying the evaluation of `this._content`.

[2017-03-17 07:35] misterjunio commented on #1876
@asial-matagawa Yes you're right. I will create a PR with the fix then 👍

[2017-03-17 07:37] asial-matagawa commented on #1876
@misterjunio
If you create a PR for this issue, I would appreciate if you fork `production` branch.
Now we have `production` branch, so we can immediately release `angular2-onsenui@1.0.0-rc.7` for the Monaca templates which @adamkozuch maintains.

[2017-03-17 09:20] masahirotanaka commented on #1873
@anatoo ありがとうございます。Onsen UIのデザインはiOSとAndroidの標準ガイドラインに従っているので、どちらかというと標準UIとの対比を行う資料が必要なのではないかなと思っています。実際に実装の際に使える公式ガイドラインというのは存在しないということですか？

[2017-03-17 15:08] asial-matagawa commented on #1877
I'm glad to hear that. Thank you!

[2017-03-20 09:03] fWd82 opened #1879 "WARNING:./android/base/files/IniFile.cpp:155:Failed to process .ini file"
Hello
I am getting bellow errors and warning upon triggering:
`monaca run android`
Whole log from CMD is:

ANDROID_HOME=C:\Users\fWd82\AppData\Local\Android\sdk
JAVA_HOME=C:\Program Files\Java\jdk1.8.0_60
No target specified and no devices found, deploying to emulator
No emulator specified, defaulting to Nexus_5X_API_23_x86
Waiting for emulator to start...
WARNING:./android/base/files/IniFile.cpp:

[2017-03-20 09:21] fWd82 opened #1880 "UI Problems related to Huawei C3 H30-U10 Android 4.2.2"
I am testing my App on Huawei C3 H30-U10 which has version of Android 4.2.2.
I am facing following problems:

1. Upon `ons.notification.alert('Hello!');` the dialogue didn't show up in the middle of screen but it fits itself after a second of complete loading.
2. Upon typing something in InputText field the hint isn't hiding but still there:
`<ons-input id="username" modifier="underbar" placeholde

[2017-03-20 15:39] Chozzle commented on #1657
This is still a problem for me on iOS 9.3.5 with Cordova.

[2017-03-20 16:01] Chozzle commented on #1657
The problem remains for me on iOS 9.3.5. I'm using ons-splitter and the problem persists. Removing ng-model does fix it.

[2017-03-21 03:26] asial-matagawa commented on #1692
Since `vue-onsenui@^2`, it has a completely different structure and we are no longer maintaining `vue-onsenui@^1`.

Closing this.

[2017-03-21 03:26] #1692 closed

[2017-03-21 03:29] asial-matagawa commented on #1879
@fWd82
We have a repo for Monaca CLI, so I moved this issue to https://github.com/monaca/monaca-cli/issues/79 .

Closing this.

[2017-03-21 03:29] #1879 closed

[2017-03-22 02:28] anatoo commented on #1873
@masahirotanaka フィードバックありがとうございます。

Onsen UIのデザインについてですが、基本的にiOSとAndroidのガイドラインに従おうとしているのですが、実際にはその時コンポーネントを実装した人のデザインがそのまま使われていて、プラットフォーム標準のUIとは微妙に違うものが結構あります。 例えばselectコンポーネントのデザインはOSの標準のUIとはあまり合致していないように見えます。

Onsen UIのデザインが微妙に標準と違うのは意図通りなのかがよくわからないし、またコンポーネントのデザインが壊れていても元の意図通りのデザインがわからないので直したり改善したりしづらいと思っています。またコンポーネントのビジュアルデザインを改善するには直接コンポーネントをいじっていくのではなくまずSketchか何かでビジュアルデザインを作ってからコンポーネン

[2017-03-22 06:46] botezatpv opened #1883 "Carousel + Tabbar React index Issue"
Good day, Onsen UI team!

I make an APP using React with your library. Im using tapbar and carousel and there is an issue:

Lets imagine we have 4 tabs in tapbar (tab_1, tab_2, tab_3, tab_4) and 1 page in splitter (splitter_1).

My carousel is on tab_3 page. If I change images of carousel (carousel items) from tab_3 or from splitter_1 where I moved from tab_3 than index attribute of carousel works

[2017-03-22 08:33] anatoo commented on #1883
Hi @botezatpv, thanks for reporting. Could you provide actual code that reproduce this problem on [this sandbox](http://tutorial.onsen.io/?framework=react&category=reference&module=carousel)?

[2017-03-22 08:40] botezatpv commented on #1883
Ill try, but later (have a lot of work todo). I can add some parts of my code (Babel ES6, Redux), but I just added tabbar and Carousel, and got such effect.

[2017-03-22 08:46] botezatpv commented on #1883
Carousel
`
<ListItem>
        <div className='center'>
          <Carousel
                  swipeable
                  centered
                  autoScroll
                  autoRefresh
                  index={this.props.Install.pictures.picture.indexOf(
                    this.props.Install.details
                      .picture[this.props.Install.details_id])
                    }

[2017-03-22 17:28] rgins16 opened #1884 "Angular 1 // Bug when trying to pop a pushed page that contains tabbars"
[Core]
    after upgrading from onsenui 2.0.4 to 2.0.5

[Framework]
    angular1 1.5.11

[Additional libraries]
    jQuery 2.2.4

[Platform]
    Desktop - Windows 10

[Browser]
    Desktop - Chrome latest version

__Encountered problem__
After upgrading from 2.0.4 to 2.0.5, I experience a bug when popping a page (that was previously pushed) that has an ons-tabbar on it.

The error I encounter is:

[2017-03-24 01:23] masahirotanaka commented on #1873
返信遅くなりました。今作成段階のものを見ましたが、上手くまとめて頂いていると思います。
確かに細かい部分でのネイティブUIとの準拠違いがありますが、個人的には、それ以上にコンポーネントの量をむしろデベロッパーが期待していると考えており、現状のクオリティ（ons-select以外のanatoo作成のもの）は維持しつつも、工数は新規CSSスタイルに振り分ける方が望ましいと考えています。

[2017-03-24 03:33] anatoo commented on #1873
いや、ons-selectに限らず今はほとんどのコンポーネントが自分が作ったものではないです。また自分が作ったものでもiOSがバージョンアップしたせいで古くなったものがいくつかあります。Material Designのコンポーネントなんかはほとんど自分は触っていません。

https://twitter.com/clockmaker/status/778424104793681920

こういうフィードバックがありますが実際自分も同じような感想を持っています。Onsen UIのコンポーネントは見よう見真似感があるのでそれを直してから新しいコンポーネントを追加していきたいと思っていますがどうでしょうか？

[2017-03-27 01:38] masahirotanaka commented on #1873
ありがとうございます。

直接相談させて頂いたとおり、Sketchを使った既存コンポーネントに対してのビジュアル定義（アニメーションは原則として今回の作業スコープ外）をお願いいたします。同時に、今後追加するコンポーネントについても定義をよろしくお願い致します。

本件はクローズします。

[2017-03-27 01:38] #1873 closed

[2017-03-27 09:13] cyciopes opened #1890 "icon size with 1g,1x,2x,3x.... not working"
[code]

ons-icon with size=lg, 2x, 3x, 4x, 5x can not working. Even in official tutorial.
[icon tutorial](https://onsen.io/v2/docs/js/ons-icon.html#tutorial)

[2017-03-27 09:35] cyciopes commented on #1890
seems size=lg, 2x, 3x, 4x, 5x is only work for fa-icon.

[2017-03-28 02:40] frandiox commented on #1890
This only occurs with `md-` icons. I guess this was originally prepared for `fa-` and `ion-` ones. The `.zmdi` class ni material icons overwrites the `font-size` from this feature.

[2017-03-28 06:01] #1890 closed

[2017-03-28 12:05] rgins16 commented on #1884
@frandiox was I too vague in the explanation of my problem?

[2017-03-28 13:45] #942 closed

[2017-03-28 15:00] frandiox commented on #1884
@rgins16 Oh, I think @misterjunio is already looking at this, don't worry :)
For the next time, if possible please do use https://tutorial.onsen.io/ and hit `Report an issue`. We will get a working example with the code.

[2017-03-28 16:42] puku0x opened #1896 "ons-fab is hidden by ons-tabbar"
__Environment__

[code]

__Encountered problem__

`ons-fab` is hidden by `ons-tabbar`.

![image](https://cloud.githubusercontent.com/assets/2607019/24416315/56074f78-141f-11e7-8e1f-0c4a74f55d93.png)

__How to reproduce__

Just put a `ons-fab` in  a tab page with `position="bottom"`.

I think this can be solved by changing from `position:fixed` to `position:absolute`.

[code]

[2017-03-28 17:08] rgins16 commented on #1884
@frandiox I apologize, but I'm confused by your statement. I encountered the error in my own project. Do you want me to copy/paste my code from my project to the tutorial, and then hit 'Report an issue'?

[2017-03-29 02:54] frandiox commented on #1884
@rgins16 Yes, it's really useful to provide a **minimum** app where the issue is reproduced. In order to do that, you can choose a similar template in the tutorial app (navigator/tabbar/splitter/dialogs...) and modify it until the issue is visible. Then, you can report it directly from there and we will get a link to it.

[2017-03-29 03:03] frandiox commented on #1896
@puku0x Just put it at the tabbar level, not inside its pages. [Example here](https://codepen.io/frankdiox/pen/evPrYN?editors=1000). I think `position: absolute` does not fix it in the desired way since it would be located inside the page content, not over the tabbar.

[2017-03-29 03:07] anatoo commented on #1824
Refactored css components. So I close this issue.

[2017-03-29 03:07] #1824 closed

[2017-03-29 04:14] puku0x commented on #1896
@frandiox Thank you for your advice.
The example is simple and easy to understand for me.

However, I would like to put a FAB in a tab page content like Hangouts app.
Is there any way to realize it without breaking Onsen UI's design phylosophy ?

![image](https://cloud.githubusercontent.com/assets/2607019/24438106/053e84b0-1480-11e7-9213-8120d9276e35.png)

[2017-03-29 04:27] frandiox commented on #1896
@puku0x Oh, I didn't know it was used like that in a native app. Let's see what @anatoo thinks about it. Perhaps is fine to use `absolute` then if it doesn't break anything.

[2017-03-29 04:30] puku0x commented on #1896
@frandiox Thank you !

[2017-03-29 04:32] frandiox opened #1897 "Stop modifying 'options' parameter."
`ons-navigator` methods and probably other components are currently modifying the original `options` object passed by the user. Most of the times this is not noticeable but it can cause problems with the animations under certain circumstances.

[2017-03-29 05:23] anatoo commented on #1896
@frandiox I think it's fine to use `absolute`.

[2017-03-29 12:02] rgins16 commented on #1884
Got it. I will do that from now on. :)

[2017-03-30 13:40] rgins16 opened #1899 "Angular1 | Lazy-repeat issue: list does not update correctly on delegate refresh with a dynamic countItems variable when the new value is lower than the previous value"
__Environment__

[code]

__Encountered problem__
  I've finally decided to upgrade my project from OnsenUI@2.0.4 to latest. It has fixed many of my issues but also created many more. Hence all my bug reports (-_-)

ons-lazy-repeat only updates correctly with a dynamic countItems variable when the variable is a greater value than it was previously. The ons-lazy-repeat does not update correctly when

[2017-03-30 13:59] rgins16 opened #1900 "Feature Request: ons-lazy-repeat functionality similar to Angular 1 ng-repeat-start and ng-repeat-end"
I am using an ons-lazy-repeat in my app. I would like to include a new line in between each item in the list to provide some visual separation for the user. I can do this in an Angular 1 list by using `ng-repeat-start` instead of `ng-repeat`, and at the end of the list using `<br ng-repeat-end/>`. Can this functionality be added to ons-lazy-repeat?

Here is a jade example of using ng-repeat-start

[2017-03-31 02:53] frandiox commented on #1900
@rgins16 Thanks for the input. We don't want to make an ngRepeat substitute with LazyRepeat. In fact, it is not supposed to be a simple looping tool and should be used only in few situations. That said, I think you can still achieve what you want by simply wrapping everything in a `div`. Check [this pen](https://codepen.io/frankdiox/pen/ryoMma?editors=1010). It could also be achieved with CSS, but

[2017-03-31 03:06] frandiox commented on #1899
@rgins16 Thanks for reporting! I believe this issue is the same as #1871 . To be honest, the new lazyRepeat refresh was made to update the currently rendered items when their content change. I see now that some developers also use it to remove rendered items so we'll try to support this use case :+1:

[2017-03-31 03:42] #1884 closed

[2017-03-31 04:12] #1896 closed

[2017-03-31 05:20] #1871 closed

[2017-03-31 05:20] #1899 closed

[2017-03-31 05:47] frandiox commented on #1897
My mistake, this is actually working well. I just called private `_popPage` instead of `popPage`.

[2017-03-31 05:47] #1897 closed

[2017-04-02 06:52] ritox842 opened #1911 "Uncaught TypeError: Cannot read property 'notification' of null"
Hello all.

I'm getting this error after updating zone.js from version 0.8.4 to 0.8.5.
When I debug it I see that in line

`exports.onsNotification = ons.notification;`

The ons object is null.

I'm using onsenui version 2.2.1 with angular2-onsenui version 1.0.0-rc.6.
Angular 2.4.10.

How can I solve it?

Thanks.

[2017-04-02 07:20] asial-matagawa commented on #1911
@ritox842
Perhaps it is because your app loads `angular2-onsenui` before loading `onsenui`.
Could you check the loading order?

[2017-04-02 07:23] ritox842 commented on #1911
How can I check the oreder of loading ?
The only thing different between a working project and this error is the update of zone package. You think it may be changing the loading order?

[2017-04-03 14:30] Chozzle opened #1912 "Angular1 | Splitter issue: Weird bug if linebreak used between ons-splitter-content tags"
__Environment__

[code]

__Encountered problem__
  A little return keystroke breaks my app entirely and takes me 2 days to fix :(
 The splitter won't open if you click the menu button. It won't close after clicking a menu item. Initial page doesn't load.

__How to reproduce__
Press enter between tags so it looks like:
<ons-splitter-content>
</ons-splitter-content>
not like:
<ons-splitter-content><

[2017-04-03 19:33] rgins16 opened #1913 "Angular1 | Switch issue: $scope.$watch does not successfully watch switch changes"
__Environment__
[code]

__Encountered problem__
I've defined three ons-switches using an ng-model object variable with three properties to represent the true/false of the three ons-switches. $scope.$watch does not catch changes of the ons-switch.

__How to reproduce__
Flip the switches while looking at the console.

  [__Demo link__](https://tutorial.onsen.io/?issue)

- __HTML__

[code]

- __JS__

[2017-04-04 02:51] frandiox commented on #1913
@rgins16 I believe this is not an Onsen UI issue. Angular's `$watch` by default only tracks the reference of complex data like `Object` or `Array`, not the properties. If you want to do a "deep watch", including object properties, pass a third argument to `$watch` with `true` value, as described in [their docs](https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$watch), although it might not

[2017-04-04 02:51] #1913 closed

[2017-04-04 02:57] frandiox commented on #1912
@Chozzle Oops, looks like a wild bug. We'll fix it, thanks for reporting 😅

[2017-04-04 07:57] misterjunio commented on #1533
@erikcw I read what you reported and I agree with @munsterlander, nothing wrong with the back button. I'll close this

[2017-04-04 07:57] #1533 closed

[2017-04-04 10:20] misterjunio commented on #1592
@jitu-git In version `2.1.0` we added `ons-select` component. If you are able to update and use it your problems should be gone

[2017-04-04 12:27] rgins16 commented on #1913
@frandiox  Ah, that's embarrassing. Sorry (>_<)

[2017-04-05 04:19] misterjunio commented on #1600
@ThomasLochbrunner I couldn't reproduce your errors so I assume it got solved meanwhile. Anyway the point of Onsen is to emulate native apps so I would say that having a `tabbar` inside the `splitter-side` is a poor design idea from the start and not an intended component use to begin with so I will close this issue

[2017-04-05 04:19] #1600 closed

[2017-04-05 18:39] NickPadilla commented on #1860
I am seeing this issue in Fire Fox 52.0.2

You can see it just using the onsen docs...

https://onsen.io/v2/docs/react/ProgressCircular.html

Is the reason why this is failing b/c of the element being an SVG so children is undefined?  If so, any work arounds?

[2017-04-06 00:29] keijiodagawa opened #1914 "[iOS] "ons-lazy-repeat" does not work in "ons-template"."
__Environment__

[code]

__Encountered problem__
[iOS] "ons-lazy-repeat" does not work in "ons-template".

__How to reproduce__
https://codepen.io/keiji/pen/NpVWNZ

[2017-04-06 00:31] asial-matagawa commented on #1914
@keijiodagawa
Thank you for reporting.
This issue might be fixed by #1892.
Please be patient until Onsen UI 2.2.2 (or later) is released.

[2017-04-06 08:34] #1749 closed

[2017-04-07 01:58] misterjunio commented on #1860
@NickPadilla you're right, Firefox is not showing any progress-circular. @asial-matagawa do you think it may have something to do with your fix in #1867?

[2017-04-07 06:16] asial-matagawa commented on #1860
@misterjunio
I fixed this problem between `2.1.0` and `2.2.0`, but #1840 broke `ons-progress-circular` again.

The current `ons-progress-circular` depends on SVG 2 features so it is not working on some browsers like iOS 8 and Firefox as this user explains:
https://github.com/OnsenUI/OnsenUI/pull/1840#pullrequestreview-27289015

[2017-04-07 06:17] misterjunio commented on #1565
@puku0x @nodefish Sorry for the delay. I cannot reproduce your errors with the latest release (2.2.2). Do you mind checking if they keep occurring to you?

[2017-04-07 06:41] puku0x commented on #1565
I confirmed that the issue was solved on both iOS and Android since Onsen UI v2.0.5.
Thank you very much !!

[2017-04-07 06:41] #1565 closed

[2017-04-07 07:49] misterjunio commented on #1623
@bdedardel I tried your code with the latest Onsen UI releases and everything seems fine, no errors thrown from either navigator or splitter. You can just grab your `bug1623` code, remove the `body` scripts and add the following ones on the `head`:

[code]

They are the latest releases of Onsen UI and Angular 1.5.8. Everything should run smoothly.

[2017-04-07 09:21] misterjunio commented on #1657
@vjoomens we are about to remove `ons-sliding menu` so like @asial-matagawa recommended I would switch (pun intended) to `ons-splitter`, I think the problem should be gone.

@Chozzle can you provide an example where it does not work for you? It is working for me..

Small example: https://codepen.io/misterjunio/pen/vxqBvZ?editors=1011

[2017-04-07 09:48] asial-matagawa opened #1920 "Core | Switch issue: Material `ons-switch` does not react with click/tap events"
__Environment__

[code]

__Encountered problem__

Material `ons-switch` does not react with click/tap events.

__How to reproduce__

  [__Demo link__](https://tutorial.onsen.io/?issue)

- __HTML__

[code]

- __JS__

[code]

[2017-04-07 10:16] asial-matagawa commented on #1920
It seems that at least `.switch--material__input` needs `z-index: 0;`.
https://github.com/OnsenUI/OnsenUI/blob/1d2738cab5e93fe7d4c5194599de5dd101c34019/css-components/src/components/switch.css#L170

[2017-04-07 10:22] misterjunio commented on #1912
@Chozzle we are taking care of this issue but it's trickier than expected and we need to perform some modifications in the core to make it work. Meanwhile you can just keep no space in the `splitter-content`. Amazing the damage a small blank space can do 😄

[2017-04-07 10:34] asial-matagawa opened #1921 "Core | Progress issue: `<ons-progress-circular indeterminate>` always shows secondary-value circle."
__Environment__

[code]

__Encountered problem__
`<ons-progress-circular indeterminate>` always shows secondary-value circle.

@anatoo
Is this the correct behavior?

__How to reproduce__

  [__Demo link__](https://tutorial.onsen.io/?issue)

- __HTML__

[code]

- __JS__

[code]

[2017-04-07 11:28] GoaGit opened #1923 "react-onsenui compatibility with onsenui 2.2.0"
__Environment__

[code]

__Encountered problem__
The breaking changes in onsen-ui@2.2.0 affect the react-onsen-ui package  (mainly css component renaming). Are you considering to update the react-onsenui package somewhere in the near future. Would be nice to know your plans with this package. Thank you.

[2017-04-07 11:47] anatoo commented on #1921
@asial-matagawa It seem to be broken. I will take a look.

[2017-04-07 11:52] asial-matagawa commented on #1921
@anatoo
Thank you!
![](
![2017-04-07 20 49 16](https://cloud.githubusercontent.com/assets/19771915/24799021/14841844-1bd4-11e7-8519-b69ab368b6a0.png)

[2017-04-07 12:06] frandiox commented on #1923
@GoaGit `react-onsenui@1.2.0` was released the same day that `onsenui@2.2.0` was released. Have you tried to update `react-onsenui`?

[2017-04-07 12:06] #1923 closed

[2017-04-07 12:38] asial-matagawa commented on #1914
@keijiodagawa
I made sure that this issue has been fixed by #1892.
You can fix this problem by updating `onsenui` to 2.2.3 or later.

Closing this.

[2017-04-07 12:38] #1914 closed

[2017-04-07 12:52] Chozzle commented on #1912
I literally compared my app bit by bit to the example code to find it. I didn't think an enter between html tags was "a thing".

[2017-04-07 12:58] asial-matagawa opened #1925 "Vue | Pull-hook issue: `Cannot read property 'style' of undefined` on `ons-pull-hook#disconnectedCallback`"
__Environment__

[code]

__Encountered problem__

The official example in tutorial.onsen.io causes the following error.

[code]

Maybe the current `ons-pull-hook#disconnectedCallback` is not compatible with the new CE polyfill added since `onsenui@2.2.3`.

__How to reproduce__

  [__Demo link__](https://tutorial.onsen.io/?issue)

- __HTML__

[code]

- __JS__

[code]

[2017-04-07 13:23] asial-matagawa commented on #1912
@Chozzle
Browsers treat spaces, line breaks and texts as a text node equally, so it's impossible to give line breaks special treatment.

We are now working on fixing this problem on #1926.

[2017-04-08 10:30] GoaGit commented on #1923
My bad @frandiox. I mistakenly looked into the changelog of the react-onsenui repository only to realize later that the updates of the react package are now in the onsenui repository itself.

[2017-04-09 16:18] puku0x opened #1928 "Style of ons-list-header is broken"
__Environment__

[code]

__Encountered problem__

I found the style of `ons-list-header` has been broken since v2.2.0.

- No `border-bottom`
- No `padding-top`
- Wrong `background-color`

[2017-04-10 03:13] asial-matagawa commented on #1928
@puku0x
Thank you for reporting!

@anatoo
Is this a bug?
Or an expected behavior?

[2017-04-10 03:14] asial-matagawa commented on #1925
Carousel, Form Input, Popover, Pull Hook, Select, Range, ... are also broken.

[2017-04-10 04:12] asial-matagawa commented on #1925
I have identified the reason why 2.2.3 broke vue-onsenui.
This code works differently on the Chrome CE1 Impl and the new CE1 polyfill:
[code]

----

Expected (Chrome CE1 Impl):

[code]

----

Result (the new CE1 polyfill):

[code]

[2017-04-10 09:12] misterjunio commented on #1772
@asial-matagawa while looking into this issue I found a different bug in the latest Onsen UI version which I fixed and that solves this problem as well. Even though my solution is working with `ons-splitter` instead we are removing the `ons-sliding-menu` component anyway so we can close this issue. I will create a PR to close it now.

[2017-04-10 09:18] asial-matagawa commented on #1772
@misterjunio
Thank you for investigating!
I would appreciate if you create an issue for the 'different bug'.

Thank you!

[2017-04-10 09:20] frandiox opened #1929 "Spec: Action Sheet"
@OnsenUI/members
Let's discuss how to create a Custom Element for the existing Action Sheet/ Bottom Sheet CSS.

## DOM Structure

* Option 1:

[code]

`ons-action-sheet` component provides the shape and animation whereas `ons-action-sheet-item` is independent and provides the style for its content. `ons-action-sheet-item` can actually be optional. This way, it would be possible to insert images or

[2017-04-10 09:38] misterjunio opened #1930 "Angular1 | Splitter issue: Tabbar in the content doesn't set the initial page"
__Environment__

[code]

__Encountered problem__
  Having an `ons-tabbar` inside the `ons-splitter-content` does not load the initial page. This is due to a core bug I found while investigating #1772.

__How to reproduce__
  [__Demo link__](https://tutorial.onsen.io/?issue)

- __HTML__

[code]

- __JS__

[code]

[2017-04-10 10:40] #1603 closed

[2017-04-10 10:42] #1920 closed

[2017-04-10 10:44] #1921 closed

[2017-04-10 10:46] #1772 closed

[2017-04-10 10:46] #1930 closed

[2017-04-10 14:39] asial-matagawa commented on #1925
At least this issue has been fixed by https://github.com/OnsenUI/OnsenUI/pull/1932/commits/3cdc5ca3bf1d63d5e291b8b639c2ec442af9cc3d.

Closing this.

[2017-04-10 14:39] #1925 closed

[2017-04-11 03:23] gooddaddy opened #1933 "server render"
Did OnsenUI suport server render with react? I try it, but did not work.

[2017-04-11 03:27] frandiox commented on #1933
We have never tried to support this so I'd be surprised if it just works :P
The main focus of Onsen UI is hybrid apps, where I think server rendering is not that useful. Therefore, it is not on the roadmap for now.

[2017-04-11 03:27] #1933 closed

[2017-04-11 07:27] misterjunio commented on #1929
@frandiox It would be cool to have an `ons-item` element that we can reuse in other components. That would make the action sheet a hybrid between the options you presented: the action sheet could control the item styling but allow the user to use other components inside as well. There would be no need for a list.

[2017-04-11 07:32] frandiox commented on #1929
`ons-list-item` has no real connection to `ons-list`, so it could be renamed to `ons-item` or just be used as `ons-list-item` inside anything else.

[2017-04-11 12:14] rgins16 opened #1936 "Angular1 | Navigator issue: Page 'destroy' event does not get fired when navigating to another page"
[code]

__Encountered problem__
I am using a navigator, and specifically the resetToPage() method. When I use this method, the ‘destroy’ event for the page does not fire. This is an issue for me when I navigate to the same page that I am already on. I would like for the page to completely reset, but it does not. The page has not been destroyed.

I believe @misterjunio has already fixed this issue.

[2017-04-12 03:52] misterjunio commented on #1936
@rgins16 indeed with #1934 I have made the `ons-page` throw the `destroy` event when it is unloaded. However I still don't get what you mean by

Can you give an example that shows when that happens? My pages are completely reloaded, you can check by replacing the `destroy` listener in your example with an `init` one.

[2017-04-12 08:01] frandiox opened #1941 "Specs: ons.createElement"
@OnsenUI/members

We have `ons.createDialog`, `ons.createAlertDialog` and `ons.createPopover`, which basically do the same thing for 3 different elements. However, we don't have `ons.createModal` and we will need a `ons.createActionSheet` at some point. I'd suggest deprecating all of those methods and just add `ons.createElement`. This method, however, should just return the new element instead of

[2017-04-12 08:28] misterjunio commented on #1941
I agree it's useful for users to have access to the `createElement` function. So using the portal to make all dialogs work in a similar fashion it's a great idea imo.

[2017-04-12 10:41] asial-matagawa commented on #1941
I think it is fine to deprecate `ons.createDialog`, `ons.createAlertDialog` and `ons.createPopover` because those are not that useful.

My only concern is its naming.
- `createElement` is associated with `Document#createElement`.
    - `Document#createElement` has no side effect but `ons.createElement` actually has a side effect which attaches the created element to somewhere. It's a bit confusing

[2017-04-12 10:55] airamrguez opened #1943 "The status-bar-fill on iOS is not always added."
__Environment__

[code]

__Encountered problem__

In the code below the modal is initially opened and the page inside of it does not have the `status-bar-fill` attribute.

![simulator screen shot 12 apr 2017 12 32 21](https://cloud.githubusercontent.com/assets/1159448/24954223/c1275a68-1f7e-11e7-8c40-76d0d9eae31d.png)

__How to reproduce__
  Use the code below inside a Cordova project. Add the cor

[2017-04-12 10:57] airamrguez commented on #1943
#1944

[2017-04-12 11:22] asial-matagawa commented on #1929
@frandiox @misterjunio
I think Opinion 1 is easy to use for users although Opinion 3 gives us some advantages.

What about compiling `ons-action-sheet` and `ons-action-sheet-item` into `ons-list` and `ons-list-item` with modifiers?

[2017-04-12 12:06] rgins16 commented on #1936
@misterjunio Forgive me if what I'm saying doesn't make sense. I'm still learning as I go, maybe I said what I meant incorrectly. What I meant was that DOM elements weren't removed from the page after navigating to the same page I was currently on. I did a JavaScript check to see if elements were already existing. They did not exist the first time I navigated to a page. Then they already existed i

[2017-04-12 12:15] rgins16 commented on #1936
@misterjunio I suppose the problem is on my end. After manually applying the fix, I'm still having the same issue. I have a jQuery datepicker. It loads correctly the first time I navigate to a page. If I navigate to the same page, then the datepicker does not load correctly. If I navigate to a different page, then navigate back to the first one, it loads correctly. I had assumed this was because t

[2017-04-12 13:12] frandiox commented on #1941
@asial-matagawa That's why I removed that side effect from `ons.createElement`. It returns the new element and does not attach it. For attaching the element I mentioned `ons.portal` instead.

[2017-04-12 15:15] asial-matagawa commented on #1941
@frandiox
Sorry, I missed `instead of` before `attaching it to document.body`...
If so I have no concerns about `ons.createElement`. Thank you for suggestion!

[2017-04-13 02:17] frandiox commented on #1941
@misterjunio @asial-matagawa This use case could work without problems: `var myItem = ons.createElement('<ons-list-item>...</ons-list-item>');`. However, if we pass a path to an external file, it cannot be done synchronously. Therefore, we can return a promise is the first parameter is a path. What do you think? This is some kind of "overloaded" function.

[2017-04-13 02:38] anatoo commented on #1928
@puku0x @asial-matagawa This is expected appearance. `ons-list-header` is originally implemented as a list category header.
In 2.0.x, `ons-list-header` is suddenly changed by other developers, so I just restored to original appearance in 2.2.0.

[2017-04-13 02:50] misterjunio commented on #1929
@asial-matagawa I think the problem is like @frandiox said the default option since `ons-list-item`s get a short divider while inside an action sheet they should have no divider. The whole styling becomes harder due to the base styles of the `ons-list` and it would be less flexible for users as they might wish to use buttons or something else

[2017-04-13 03:19] misterjunio commented on #1936
@rgins16 I took the example you provided above, added `jQuery`, placed `<div id="datepicker"></div>` in the `home` page (also added an `id="myHome"` to it) and then on the controller:

[code]

Now even if I navigate to the same page on the menu the date is always reset to "10/12/2012". Are you doing something more complicated or does this work for you?
Anyway I think we can close this issue and di

[2017-04-13 03:23] misterjunio commented on #1592
@jitu-git @rknell Could you check if you still have this issue in Onsen UI's latest release?

[2017-04-13 04:09] puku0x commented on #1928
@anatoo Thank you for your response.

However, I think the previous one also looks good because it is similar to iOS's list header 🙂

If you have time, could you consider providing both styles of header ?
(Like Ionic's `ion-list-header` and `ion-item-divider`, for instance)

[2017-04-13 04:27] anatoo commented on #1928
Sorry for the delayed response because I am part-time developer for Onsen UI.

Ok, it's should be fine. I will propose new components for that to Onsen UI team.

[2017-04-13 04:59] puku0x commented on #1928
@anatoo Thank you very much !

[2017-04-13 04:59] #1928 closed

[2017-04-13 09:16] asial-matagawa commented on #1941
@frandiox
What about always returning a Promise?
If `ons.createElement('<ons-list-item>...</ons-list-item>')` returns an element, users expect that `ons.createElement('path/to/template')` also returns an element (even though that is impossible).

[2017-04-13 09:32] frandiox commented on #1941
I guess that would make `ons.createElement('<ons-list-item>...</ons-list-item>')` kind of useless since the good thing there is that it behaves like `document.createElement` and is synchronous. That's my opinion at least, but maybe it's better. Let's see what @misterjunio thinks about.

[2017-04-13 11:43] nodefish commented on #1565
It's still happening for me FYI. Basically I have a carousel inside 1 `<ons-tab>`, and in another `<ons-tab>` I've got a dynamic html5 `<video>`. When the video loads, the carousel in the other tab fires `postchange`.

[2017-04-13 12:45] rgins16 commented on #1936
@misterjunio I think I may have figured out the problem; what the real bug is. I can't provide code because you have not released the version with your fix to the 'destroy' event not being fired, but I manually updated my local version according to your commit. So when I navigate to the same page, the 'init' event fires before the 'destroy' event. I believe this is a bug. The 'destroy' event shoul

[2017-04-13 13:43] rgins16 opened #1945 "Angular 1: page ons-init being fire multiple times when using ons-navigator"

[2017-04-13 15:26] rgins16 opened #1946 "Angular1 | Navigator/Page issue: ons-init being fired multiple times"
__Environment__
[code]

__Encountered problem__
When I use a navigator to navigate to a page, ons-init is fired multiple times. It appears the init event is being fired once for the page and once for each tab. If I comment out the tabs, the ons-init only fires once.

In my project, I experience the same problem when I include components as well as tabs.

After searching through similar issues rela

[2017-04-13 15:27] #1945 closed

[2017-04-14 00:29] lirenhao opened #1947 "When using babel-polyfill,Uncaught TypeError: Cannot set property 'checked' of undefined"
Import babel-polyfill before onsenui.js, this error occurs:
Uncaught TypeError: Cannot set property 'checked' of undefined
    at HTMLElement.setActive (bundle.js:38418)
    at HTMLElement.setActiveTab (bundle.js:37907)
    at bundle.js:10703
setActive @ bundle.js:38418
setActiveTab @ bundle.js:37907
(anonymous) @ bundle.js:10703

[2017-04-16 03:43] azarus opened #1948 "Add support for gulpfile.js in cordova projects."
Please add gulp integration for projects. So we can easily create a gulpfile.js in a monaca project and setup our own tasks. It's quite an important feature that i am missing.

[2017-04-17 03:26] misterjunio commented on #1941
I think no developer will expect fetching from the external file to be synchronous so it should be fine to keep it synchronous for in-line and returning a promise if in an outside template.

[2017-04-17 04:32] puku0x opened #1949 "ons-splitter-side: Scroll lock does not work on iOS"
__Environment__

[code]

__Encountered problem__
Scroll lock does not work on iOS.
(The same problem is reported in https://teratail.com/questions/71231 by other user)

__How to reproduce__
1. Create a page which contains following components.
  - ons-splitter
- ons-splitter-content
- ons-splitter-side

2. Swipe the content page and display the side page.
3. Scroll in vertical direction.

[2017-04-17 07:42] asial-matagawa commented on #1941
@frandiox @misterjunio
I see, in that case let's use your original suggestion 🙂
I will write some note in onsen.io in case users get confused about the return value type of `ons.createElement`.

[2017-04-17 10:05] asial-matagawa commented on #1929
We discussed this specification in the previous weekly meeting but we did not reached a conclusion.
Let's talk about this again soon.

[2017-04-17 11:14] JohnTao opened #1951 "Can't use ons-scroller onScrolled."
__Environment__

[code]

[2017-04-18 03:39] misterjunio opened #1952 "Core | Tabbar issue: Carousel fires unexpected postchange"
__Environment__

[code]

__Encountered problem__
Having an `ons-carousel` inside an `ons-tabbar` fires an unexpected `postchange` event when the window is resized, even if another tab is active.

__How to reproduce__
Link below. Here I'm using a video loading but any trigger to resize, for example also changing the orientation of a device (or simulator) launches `postchange` on the carousel.

[__D

[2017-04-18 04:57] misterjunio commented on #1565
@nodefish you're right, I managed to recreate your issue and opened another ticket (#1952). I fixed it already and will make a PR, thanks for your input 👍

[2017-04-18 07:04] nodefish commented on #1952
Brilliant, thank you. 👍

[2017-04-18 07:27] frandiox commented on #1830
Implemented in #1916

[2017-04-18 07:27] #1830 closed

[2017-04-18 07:35] misterjunio commented on #1623
@bdedardel I guess everything is fine now so I will close this issue 👍

[2017-04-18 07:35] #1623 closed

[2017-04-18 08:05] mjessen opened #1955 "Feature request: expansion panels"
Hi,

an expansion panel is an useful and often used component for material design but still missing in the library.

https://material.io/guidelines/components/expansion-panels.html

Any plans to implement it?

[2017-04-18 14:25] rgins16 commented on #1946
@frandiox Have you had a chance to look at this yet?

[2017-04-18 15:01] munsterlander commented on #1955
@mjessen This is already accomplished with JS and CSS.  I guess it could be implemented, but it is pretty easy to do.  Here is how I did it:  https://github.com/munsterlander/Onsen-Examples/tree/master/Accordion-List

[2017-04-18 17:11] frandiox commented on #1946
@rgins16 Hmm... You have 3 pages, you get 3 `init` events. That's the expected behavior.
`ons-init` is a simple event listener, it doesn't care if the event is fired by the element itself or a child. If you need to filter, check `$event` object. Also, you can move `ons-init` to the tabs pages and those will be called only once since there are no child pages inside.

Therefore, you have 3 pages and

[2017-04-19 05:54] asial-matagawa opened #1958 "Use webpack 2 to fix sourcemap of `onsenui.js`"
@frandiox @misterjunio @anatoo

I would like to replace Rollup with webpack 2 in order to fix the sourcemap of `onsenui.js`.
(For example, in `onsenui@2.2.4`, we cannot set a breakpoint on L153, L156 and L161 in Chrome DevTools as illusrated below)
![2017-04-19 14 51 31](https://cloud.githubusercontent.com/assets/19771915/25165114/bec4a5c8-250f-11e7-950e-4510d13cb8bc.png)

What do you think?

###

[2017-04-19 06:08] frandiox commented on #1958
@asial-matagawa +100 to this. We should be consistent and use Webpack whenever possible. I think the test coverage was also failing due to a Rollup issue.

[2017-04-19 06:41] mjessen commented on #1955
@munsterlander Thank you for the good example. I think thats a good starting point to bring it closer to the material design specs for expansion panels i mentioned in the first post and/or bring it to an own component in onsen ui.

[2017-04-19 07:07] misterjunio commented on #1813
@frandiox Close this maybe? 😏

[2017-04-19 07:41] frandiox commented on #1813
;_;

[2017-04-19 07:41] #1813 closed

[2017-04-19 07:50] misterjunio commented on #1936
@rgins16 I took the same code as I explained in my last comment and added the previous listener for `destroy` alongside the `init` one ([pen here](https://codepen.io/misterjunio/pen/zwrvzP?editors=1011) but you still need to manually add the fix though). Everything works as expected, destroy before init so I can't really reproduce your problem 😕

[2017-04-19 09:29] #1854 closed

[2017-04-19 09:32] frandiox commented on #1793
From next release (probably 2.3.0), this behavior will be changed back to 2.0.4 :)

[2017-04-19 10:42] puku0x commented on #1793
@frandiox Wow, it sounds good !

Sometimes I stacked because ons-init called my initialize function two or three times when a page was loaded.

[2017-04-19 11:56] rgins16 commented on #1946
@frandiox ahhhhhh. Thank you for clarifying!

[2017-04-19 11:56] #1946 closed

[2017-04-20 02:44] #1941 closed

[2017-04-20 03:04] #1952 closed

[2017-04-20 03:14] frandiox commented on #1775
@zineer You are mixing JS and CSS versions (`2.0.5` and `latest`, respectively). Simply use the latest version for JS as well or specify "2.0.5" in the CDN URL for the CSS.

[2017-04-20 03:14] #1775 closed

[2017-04-20 04:26] zineer commented on #1775
Thanks! I just tried using the 2.0.5 CSS, but had the same issue. But then I tried the codepen with the latest 2.2.4 JS/CSS and the issue seems to have been resolved somewhere along the line.

[2017-04-20 10:33] frandiox opened #1964 "Core | Range issue: No color in Firefox"
__Environment__

[code]

__Encountered problem__

__How to reproduce__

  [__Demo link__](https://tutorial.onsen.io/?issue)

- __HTML__

[code]

- __JS__

[code]

[2017-04-21 07:16] Chozzle commented on #1430
I am having this issue with iOS 9.3.5 on a iPhone 4s

[2017-04-22 01:46] pandbsoftware opened #1966 "Materialize Icon dont work with same icons."
Like,       `<ons-icon icon="md-library-music" size="40px"></ons-icon>`
what can do with this ?, also        `<ons-icon icon="md-library-music" size="40px"></ons-icon>`
 <ons-icon icon="md-supervisor-account" size="40px"></ons-icon>

thanks.

__Environment__

[code]

__Encountered problem__

__How to reproduce__

[2017-04-22 08:29] frandiox commented on #1966
Use icon names from here: https://zavoloklom.github.io/material-design-iconic-font/icons.html

I think you're looking for `md-collection-music`.

[2017-04-22 08:29] #1966 closed

[2017-04-23 19:01] CrankedCode opened #1967 "ReferenceError: Can't find variable Set"
Safari on iOS and non-Chrome OEM Android browsers has this fatal error in console which breaks Onsen entirely:

onsenui.js:2231 ReferenceError: Can't find variable: Set

This issue is for v2.2.4.  If I revert back to v.2.1, this issue disappears.

[2017-04-24 04:21] #1967 closed

[2017-04-24 04:28] asial-matagawa commented on #1967
@CrankedCode
It seems that this issue occurs on old browsers because [some of them don't have `Set` and `Map`](http://kangax.github.io/compat-table/es6/#test-Set).
I have fixed this problem in #1968 and it will be released in `onsenui@2.2.5`.

Thank you for reporting!

[2017-04-24 08:55] misterjunio opened #1970 "Angular1 | Pull-hook issue: Attribute `height` breaks app"
__Environment__

[code]

__Encountered problem__
Adding `height="50"` to the `ons-pull-hook` throws the error `Cannot read property 'style' of undefined` and breaks the app.

__How to reproduce__
[__Demo link__](https://tutorial.onsen.io/?issue)

- __HTML__

[code]

- __JS__

[code]

[2017-04-24 09:23] #1970 closed

[2017-04-24 11:32] AnfiGroup opened #1973 "Crash older Android (API 19) versions with 2.2.3 and 2.2.4"
I have a problem when I update to 2.2.4 version with Androids with API 19. Android over 22 and iOS, browser, etc. works ok, but with Android 19 I get this error:

**Uncaught ReferenceError: Set is not defined** onsenui.min.js:3
**Uncaught TypeError: Cannot call method 'lock' of undefined** onsen.js:38
**Uncaught TypeError: Object #<HTMLUnknownElement> has no method 'resetToPage'** app.js:66

When

[2017-04-24 11:36] asial-matagawa commented on #1973
@AnfiGroup
Thank you for reporting.
That problem occurs on old Android environments.

It is already reported in #1967 and fixed in #1968.
We will release a fixed version of `onsenui` (2.2.5) soon, so please be patient until it is released.

Closing this.

[2017-04-24 11:36] #1973 closed

[2017-04-25 08:52] cyciopes opened #1974 "Can not set width to `<ons-input>`."
[code]

Can not set width to `<ons-input>`.
In ios view, no response.
In android view, it is not the expect result, especial underbar.
I just add `style="width: 100%" `.
[code]
![2017-04-25 15_37_15-ons-input](https://cloud.githubusercontent.com/assets/21193224/25373677/2a6a44e2-29cd-11e7-9df7-0b174fe8cf33.png)
![2017-04-25 15_40_52-ons-input](https://cloud.githubusercontent.com/assets/21193224/25

[2017-04-25 08:54] vajura opened #1975 "Running "monaca preview" on windows doesnt load css into the website"
__Environment__

[code]

__Encountered problem__
Following this tutorial https://onsen.io/getting-started/ trying to run a sample project on windows 10 after creating a preview of it the site doesnt load the correct css on the button http://imgur.com/a/efegB , on internet explorer the site isnt shown at all. It works fine if its run in linux or ios. Also if i use remote build for android and insta

[2017-04-25 09:20] asial-matagawa opened #1976 "Deprecate `*Factory` in `angular2-onsenui`."
@frandiox (Cc: @misterjunio @anatoo)

I thought about the necessity of `*Factory` in `angular2-onsenui`.

Pros of `*Factory`
  - We can avoid polluting component templates with dialog definitions
  - We can pass parameters to dialog components as if we pass parameters to `ons-page`s with `pushPage`
  - We can provide ways which are equivalent to `ons.create*` in the core

Cons of `*Factory`
  - We

[2017-04-25 10:13] frandiox commented on #1974
@cyciopes Thanks for reporting, I just fixed it :)

[2017-04-25 10:25] frandiox commented on #1976
@asial-matagawa Yes, I think it is better to use the components as they are, without factories. Now, there is a problem in doing it in this way: If the dialog is included in a page that is a child of another page that contains a toolbar (for example, in the case of a Tabbar where the inner pages don't have a toolbar, but the parent has), the mask won't be displayed over this toolbar.

There are tw

[2017-04-25 10:46] asial-matagawa commented on #1976
@frandiox

In Vue 2 we write `outerHML` of the component element in `template`, but in Angular 2+ we write `innerHTML` in `template`.
That is, in Angular 2+ we can write `template` as follows:
[code]

Therefore the problem of the mask is not a problem in `angular2-onsenui`.