[2016-03-23 02:26] argelius commented on #1133
@themikem Making the `inset` modifier only apply to the list is a good idea. We will consider this. Only problem is the header on the top of the first item so it might be overkill to require `list--inset__item` on all items.

For the headers in your example they are quite different from the normal list headers so I think it might be a better idea to implement them as a separate class.

[2016-03-23 09:20] CoverID opened #1306 "Fix focusing on text editor (contenteditable="true")"
Hello guys, I created an app with Summernote as my text editor and I cant focus on my text editor (tested on IOS), then I searching on google and found this script to fix my problem
[https://github.com/ftlabs/fastclick/pull/211/commits/ad47104b15eb95b5fdf2f1c5df9415045aaf5a58](https://github.com/ftlabs/fastclick/pull/211/commits/ad47104b15eb95b5fdf2f1c5df9415045aaf5a58)
and I added css for my text

[2016-03-23 10:05] argelius commented on #1306
I'm not familiar with Summernote so unfortunately I can't help you.
If you figure out how to fix it please open a PR.

[2016-03-23 12:00] CoverID commented on #1306
I use onsenui - v1.3.15 - 2016-01-19
I figure out how to fix it for but im new with github, maybe need more time to learn
I've checked this version, if still using `fastclick-patched.js` just add few script after line 400
[https://github.com/OnsenUI/OnsenUI/blob/master/core/vendor/fastclick-patched.js#L400](https://github.com/OnsenUI/OnsenUI/blob/master/core/vendor/fastclick-patched.js#L400)

[cod

[2016-03-23 12:59] marianoarga commented on #782
@argelius
Thank you, the same happend to this example you wrote?
http://codepen.io/anon/pen/MwXZJO
That was the one I'm more interested on, since I want to make an instant **search filter** over an **ons-lazy-repeat** list, a Whatsapp contacts search like.

[2016-03-25 03:33] puks opened #1312 "input box not showing"
input box not showing on ONSEN 2.0 beta 7

[2016-03-25 03:38] frankdiox commented on #1312
I can see `ons-input` without any problem. Please add some more information about your problem.

[2016-03-25 11:45] rockneverdies55 opened #1315 "ons-splitter-side content overlaps ios statusbar when scrolling"
Using onsen-2.
I have no issues at the initial state before scrolling. When scrolled, the content within `ons-splitter-side` overlaps the ios statusbar.

[2016-03-25 12:53] IliaSky commented on #1315
Thanks for reporting. I will look into it on Monday. Until recently the splitter side wasn't even scrollable, so I guess we haven't tested this scenario.

[2016-03-25 17:38] qqruza opened #1316 "Onsen-UI material glow effect when scrolling"
I am trying to achieve the effect which has been used in Material Design when you're scrolling and at the top and bottom there is a glow effect when you reach the end of the content.

I have found the java script example (see the link below) but curious if there is any simpler solution for Onsen UI?

https://jsfiddle.net/psd1768d/

[2016-03-26 12:03] alshdavid commented on #243
I am currently facing the same issue. What I am doing is using an onsen carousel and using the on-overflow event to trigger a popPage(). The problem I am facing right now is how to do it after a certain distance. Looking at combining it with Angular's ng-swiperight function

[2016-03-26 13:56] acamenhas commented on #1058
This is a very usefull ideia!
I had the ideia that i've seen this pattern on onsen beginnings, but when i went to look for it, it was no where to be seen.

[2016-03-26 16:23] costa974 opened #1317 "AngularJS binding only"
I don't understand this in your docs, when on your website I read:

**jQuery users can also take advantage of Onsen UI’s great UI library.**

I would like to use pure vanilla javascript or jquery.
I don't want to learn another framework like angular to do the same things plain javascript can so

[2016-03-26 20:58] munsterlander commented on #1317
With Onsen 2.x, they are working on removing all Angular bindings.  You see that in the new components.  All new components work with vanilla JS out of the box and almost all features of all the components now work with vanilla JS.

[2016-03-28 01:53] themikem commented on #1133
@argelius Yes, the inset__item tag really is overkill, and if you look at the pen I posted, it can easily be solved using either a first-child or just style id combo.

On the headers, there again we have a departure from the expected behavior with Onsen 1 vs Onsen 2.  Notice that with Onsen 1, the header element behaves in the same manner as the native OS screenshot I posted.  It is a shorter-than

[2016-03-28 02:46] frankdiox commented on #1317
@costa974 @munsterlander Onsen 2 core is standalone, it doesn't require AngularJS extension for anything.

It's true that in the docs you can find something like "Only available for AngularJS", but these are just  some extra directives that basically allow OnsenUI to be more suitable for Angular developers. For example, you can handle events with attributes `ons-postpush`, `ons-change`, etc. where

[2016-03-28 03:28] munsterlander commented on #1317
@frankdiox Thanks for the better explanation than I did.  I completely missed the ons-if-"xxxxx" vs just the ons-if when I was writing earlier.  Either way, vanilla all the way!  Go Onsen Team!

[2016-03-28 08:13] #1317 closed

[2016-03-28 13:14] IliaSky commented on #1315
The fix will probably be available as soon as beta.9 comes out. Until then feel free to patch it for your app with the following css:
[code]

[2016-03-28 13:16] #1315 closed

[2016-03-28 13:48] IliaSky commented on #1312
@puks - @frankdiox is correct that your issue is not very descriptive. It's best if you provide a little more information when you add an issue.

Still I think I can guess what you mean - probably the input is there but you are just unable to notice it because of the default styles. Currently the default view for all onsen ui components is iOS. The default view for `ons-input` is pretty much seaml

[2016-03-28 21:07] costa974 commented on #1317
Thanks for your answers! I'm not a javascript guy, more a java and c++. I was looking at ionic and angular, but I really don't understand them! I'm getting too old! :) Just to know, is angular faster than plain/vanilla javascript? Because I tried some ionic apps on old hardware like samsung galaxy s2 and it's not the best experience.

http://codecanyon.net/item/ionfullapp-ionic-phonegapcordova-ful

[2016-03-28 21:08] costa974 commented on #1317
Looking forward for a release candidate.

[2016-03-29 00:49] rtholmes commented on #902
I think #850 was closed a few days ago without being merged. Has this feature been dropped?

[2016-03-29 01:33] philolo1 commented on #902
@rtholmes i think @argelius can answer this better, but we are currently focussing on the components we have right now and make them as bugfree as possible in the upcoming version of OnsenUI 2.0. The component was not 100% working and that is why we dropped it for now, but in the future we might implement a component like that.

[2016-03-29 04:49] argelius commented on #902
There were some issues with the implementation so we decided to remake it. It will probably be added in 2.1.0.

[2016-03-29 11:50] marianoarga commented on #782
@argelius
Do you have any update?
Thank you very much.

[2016-03-30 05:28] IliaSky commented on #1316
Currently we don't provide any way to do that effect from within Onsen UI.
We may consider it for a future release, so stay tuned.
Util then feel free to use the example which you provided.

[2016-03-30 05:38] IliaSky commented on #1256
Update:
The documentation was added to master when branch `ons-splitter-refactor` was merged. It should be available on the website when we rebuild the docs again, so I'm closing this issue.

[2016-03-30 05:38] #1256 closed

[2016-03-30 08:14] IliaSky commented on #1275
Sorry for the late answer - I guess your issue doesn't look very appealing to the development team.
Github has a new feature for issue templates, but I guess we haven't made ours yet.
I am going to separate the the answer into a few points:

1. When you paste a log on github please use triple tick quotes \`\`\` on both sides, so that it can be seen better as a log instead of just text. Also try to

[2016-03-30 08:14] #1275 closed

[2016-03-30 08:26] #1312 closed

[2016-03-30 08:58] IliaSky commented on #1212
Thank you for the bug report. The bug should be fixed in beta 8.

Here is an [working example](http://codepen.io/IliaSky/pen/qZXXQv?editors=1000) of what you want to do using beta 8.

Also note that in the case when the `page` attribute is a valid page Onsen will put that page instead of whatever content you have inside the `ons-splitter-side` - that means that if it finds the page then your conte

[2016-03-30 08:58] #1212 closed

[2016-03-30 11:34] IliaSky commented on #1299
Sorry for the late response.

It seems that everything is working as it should except for the fact that probably your popover is created outside your page, making it skip the handler of the page.

I just tested this scenario and it's the only one which I can come up with. It's actually easy to do that because of the implementation of `ons.createPopover`, which you may be using. Otherwise everythin

[2016-03-30 20:28] khuongcomputer opened #1324 "AngularJS rebind action on every ons-navigator.bringPageTop"
Each time ons-navigator.bringPageTop is fired, DOM reloaded and angularJS add ng-click, ng-repeat... on that page and cause ng-click happen multiple times.

`(function() {
	  var myApp = angular.module('app',['onsen']);
	  myApp.controller('mainController', function($scope) {
		  this.test = function(){
			  alert('test');
		  }.bind(this);
	  });
	})();`

`<ons-navigator var="mainNav" page="page1

[2016-03-31 05:20] IliaSky opened #1325 "Stop modifying options object - navigator"
Currently `ons-navigator` changes the `options` argument in most of it's methods (`pushPage`, `resetToPage` etc).
Some users seem to be reusing the same options object causing them to have buggy behaviour due to our modifications. (#1321)

[2016-03-31 11:02] claudioc commented on #1312
It is maybe also worth mentioning that the pre-beta8 `<ons-material-input>` provided the `label` attribute with which you could have the nice "placeholder raising effect". I don't know how to get the same effect now :)

[2016-03-31 11:26] frankdiox commented on #1312
@claudioc It's been renamed to `placeholder`, actually. Same effect.

[2016-03-31 12:06] claudioc commented on #1312
Yes, I tried already `<ons-input modifier="material" placeholder="Select country"></ons-input>`. The placeholder shows in the correct place, but when I focus the field the placeholder doesn't raise. I think I am missing something else (beta9)

[2016-03-31 12:45] frankdiox commented on #1312
@claudioc Oh! You want it to float? Then add `float` attribute :) . It was the default behavior before but now it requires that attribute.

[2016-03-31 12:47] claudioc commented on #1312
Amazing! Thanks a lot.

Who need documentation when developers are so reactive? :D

[2016-03-31 19:48] munsterlander opened #1326 "Beta.8 - Status bar displayed on full screen app upon return [Android]"
I am using the current beta and have full screen enabled.  On initial app launch, everything works as it is supposed too.  The status bar is hidden and the app takes up all the screen.  If you press the home button or switch apps on an Android device and then come back to the app, the status bar is now displayed which chops off the top portion of your app as it is not reduced in size.

[2016-04-01 06:16] IliaSky commented on #1326
It seems like it's a bug in cordova. If the app was stared in fullscreen mode then when you resume it it should still be fullscreen, which I guess doesn't seem to be the case.

Therefore in order to fix it we would need some additional property (something like `ons.fullscreen = true`) which you could set and then apply the fix if the property is available, since we cannot actually check if it's in

[2016-04-01 06:16] #1326 closed

[2016-04-01 07:12] ryanfields opened #1328 "Component prototypes are broken in React+iOS+Safari"
In iOS Safari, components fetched with React's ```ref``` attribute seem to have broken prototypes.  My code looks like this:

[code]

In the other browsers I've tested, this works exactly as expected.  I click a button somewhere else, the isOpen prop changes, and the menu slides open or closed.

On iOS Safari, any attempt to call methods on ```side``` results in a ```TypeError: side.method is not

[2016-04-01 07:15] argelius commented on #1328
Thanks for reporting @ryanfields ! We will take a look at this.

[2016-04-01 07:25] philolo1 commented on #1328
probably you should do something like this:
[code]
In the future we will have an ons-splitter element. We recently only started with the react support, have a look at this post: https://onsen.io/blog/react-onsen-ui-preview/.

[2016-04-01 07:43] ryanfields commented on #1328
@philolo1 Attempting the CustomElements.upgrade call results in:

[code]

I realize React support is new, and I've read that page.  However, this seems to be a quirk of iOS Safari.  My code is working fine everywhere I've been able to test except for that specific browser.

[2016-04-01 07:45] philolo1 commented on #1328
@ryanfields thanks i will look at it and come back to you, appreciate your feedback and your bug report!

[2016-04-01 07:50] anatoo opened #1329 "Rename ModifierUtil and its methods."
"ModifierUtil" name does not make sense. When anyone have time please fix.

[2016-04-01 08:13] ryanfields opened #1330 ""Uncaught ReferenceError: ons is not defined" on beta4 and up."
Starting with 2.0.0-beta.4, I get ```Uncaught ReferenceError: ons is not defined``` when the page loads and none of the OnsenUI Javascript works.

I'm pulling OnsenUI in via npm.  Then, when including it in my app, I'm doing:
[code]

My application is built in Meteor, and that may be having an impact.  However, it was working fine in versions beta through beta.3.  The problems start at beta.4.

I'

[2016-04-01 09:46] frankdiox commented on #1182
Looks like this has been fixed but the issue wasn't closed.

[2016-04-01 09:46] #1182 closed

[2016-04-01 22:59] ccruzespinoz2013 opened #1333 "Carousel in android using onsen2"
When using a carousel with ng-repeat, all the carousel-items overlap on top of each other. The data displayed in the carousel is obtained from asynchronous calls in a angular service.

[2016-04-02 00:07] ccruzespinoz2013 commented on #1333
Never mind, I just use auto-refresh and now its working fine.

[2016-04-02 00:07] #1333 closed

[2016-04-02 16:15] arseniosiani commented on #829
+1

[2016-04-04 00:06] RezaRahmati opened #1334 "Using binding in ons-modal will cause ons.ready to never become ready only in iOS on Beta.8"
Hi
I have found an issue in Beta.8, which was not exists in Beta.2.
If you use ons-modal with controller and binding, only in iOS the ons.ready will never happen, (it works fine in android)

[code]

You can see the sample in attachments, I just made some minor changes to reproduce bug on quickstart sample.
[Test2.zip](https://github.com/OnsenUI/OnsenUI/files/201625/Test2.zip)

Even using ons-if-pl

[2016-04-04 06:02] kirantpatil opened #1335 "ReferenceError: ons is not defined with browserify"
Steps to reproduce:
------------------------
1. $ npm install onsenui@2.0.0-beta.7

2. create main.js file with below contents

 var onsen = require('onsenui/js/onsenui');

onsen.ready(function() {
  onsen.notification.alert({message: 'Onsen UI works with browserify!'});
});

3. $ browserify main.js -o bundle.js

4. create a on_test.html file with only below line

 `<script src="bundle.js"></scrip

[2016-04-04 06:30] frankdiox commented on #1335
@kirantpatil Thanks. That's already fixed in beta.8. I'm closing this now, open it again if you still get errors.

[2016-04-04 06:30] #1335 closed

[2016-04-04 08:00] kirantpatil commented on #1335
Thanks and checked and it works.

[2016-04-04 10:13] kirantpatil opened #1336 "Error: DuplicateDefinitionError: a type with name 'ons-template' is already registered on Rails 4.2.4"
Steps to Reproduce:
--------------------------
1. Create Rails app using Rails 4.2.4 and Ruby 2.2

2. Copy the js and css files of version v2.0.0-beta.8 to  app/assets/javascript and app/assets/stylesheet directory
 
#### $ ls assets/javascripts/
    application.js  onsenui.js  onsenui.min.js  welcome.coffee

3. Create welcome controller with index.html.erb file in view and add any javascript comp

[2016-04-04 10:26] kirantpatil opened #1337 "icons does not shows on firefox on Rails"
I placed below code in rails index.html.erb file

Car icon is visible on Chrome but not on Firefox as below.

![screenshot from 2016-04-04 15-54-12](https://cloud.githubusercontent.com/assets/1178055/14245248/91d4658e-fa7d-11e5-9703-b09bcf357f6d.png)

![screenshot from 2016-04-04 15-49-19](https://cloud.githubusercontent.com/assets/1178055/14245266/abea292c-fa7d-11e5-878a-212114453919.png)

[2016-04-04 12:07] kirantpatil commented on #1336
The issue is because we loaded onsen js files twice and I removed  onsenui.min.js file and now all js components works fine.

Thanks to @nagarajpg for finding the solution.

[2016-04-04 12:07] #1336 closed

[2016-04-04 12:07] trungtin commented on #1328
I can't even make it work with React while using OnsenUI-dist.git#2.0.0-react.5, maybe make mistake somewhere, but:
- this.refs.side._collapseMode return {_active: false, _state: "closed", _element: ons-splitter-side, _lock: DoorLock}.
- And because of that this.refs.side.open() and .close() return a Promise resolve to `false`.
I have try CustomElements.upgrade for both `ons-splitter` and `ons-spl

[2016-04-04 12:10] kirantpatil commented on #1337
The issue is because we loaded onsen js files twice and I removed  onsenui.min.js file and now icon is displayed on firefox.

Thanks to @nagarajpg for finding the solution.

[2016-04-04 12:10] #1337 closed

[2016-04-04 20:41] munsterlander opened #1338 "Beta.8 - pushPage is already running onsenui.js 16214"
This may be a bug or I may need to adjust how I am processing.  The app stores the last page displayed (walkthrough thread on onsen forums) and upon next app start, jumps the user to that page.  The code used to work and with Beta.8, I am getting a new error.

`Uncaught (in promise) pushPage is already running.  {path}/js/onsenui.js:  16214`

I was doing it in ons.ready(), but it would not load, i

[2016-04-05 02:37] frankdiox commented on #1338
@munsterlander Navigator has been changed internally to make it more general for React and Angular2. This is not a issue related to the promises but to other changes. However, I think this is now the expected behavior. Before, we were using a "doorlock" that made a pushPage wait for the previous one to end before running. Now we removed that and it simply alerts that there is another action runnin

[2016-04-05 04:53] munsterlander commented on #1338
That makes sense.  The actual problem lies in using navigator with a defined page, such as:

`<ons-navigator page="home.html" id="myNav"></ons-navigator>`

Then on `ons.ready()` or equivalent, doing:

`document.getElementById('myNav').pushPage('newPage.html')`

This generates the error.  I am using a splitter and getting the error, but a navigator should do the same thing.  I have worked around it

[2016-04-05 10:43] tienuit opened #1340 "Toolbar display not well while using both slide menu and navigator (Iphone only)"
I use the example code (onsen 2 beta9)
http://codepen.io/frankdiox/pen/qEyvxB

but I got a problem on Iphone, the status bar and toolbar got something wrong
P1 - With both slide menu anf navigator
![img_2639](https://cloud.githubusercontent.com/assets/5275476/14279135/c3c235f2-fb55-11e5-9d03-8e73ded221ef.PNG)

P2 - Remove navigator
![img_2640](https://cloud.githubusercontent.com/assets/5275476/142

[2016-04-05 13:33] kirantpatil opened #1341 "OnsenUI Forms"
Hi,

I would like to convert bootstrap forms to OnsenUI forms. May I know how achieve this ?

I could not find Onsen form tag in https://onsen.io/2/reference/javascript.html.

Thanks.

[2016-04-05 15:57] munsterlander commented on #1341
Onsen does not have that tag other than material input.  A form in Onsen, is just a regular HTML form, so code it like normal.

[2016-04-05 17:00] #1338 closed

[2016-04-06 04:53] kirantpatil commented on #1341
Thanks.

[2016-04-06 04:53] #1341 closed

[2016-04-07 02:46] zilinxueyue commented on #748
Hi， Thanks for your sharing. Now I am try to use ons-scroller with AngularJS. I try add ng-model to get the scroller element but not working. Did you have some suggestion or some demo to share.....
 Thanks very  much

[2016-04-07 04:34] zilinxueyue opened #1345 "AngularJs+Onsen scroller not working"
Hi, All I am try to used the ons-scroller with angularjs. but when I set ng-model for the ons-scorller. the $scope can not get the scroller element. Can some one can help to share how to do it? Or some demo for it?
Thanks so much!

[2016-04-07 09:12] argelius opened #1347 "ons.notification.confirm() is not working in iOS 9.2.1"
This was reported by a user.

Please confirm and try to fix it.

[2016-04-08 04:22] ginevive opened #1352 "Dynamic Icon Display Issue (Angular/Onsen v2.0.0-beta.5)"
When setting an icon dynamically via Angular scope variable, it appears that the icon prefix is not taken into account.

When I set the icon statically, the icon is displayed as expected.  However, when I set it dynamically, it does not.  When the element is inspected in the browser the correct icon code appears exactly the same as when set statically, but further inspection shows that the classes

[2016-04-08 04:42] argelius commented on #1352
@ginevive It looks like something goes wrong when it's initialized with `icon="{{path.link.icon}}"`, you can solve this by using `ng-attr-icon="{{path.link.icon}}"` instead.

Does that work?

I believe we can make the code you wrote work as well so I will keep this open.

[2016-04-08 04:45] IliaSky commented on #1324
The fix has been merged, so I'm closing this issue.

[2016-04-08 04:45] #1324 closed

[2016-04-08 04:45] IliaSky commented on #1325
The fix has been merged, so I'm closing this issue.

[2016-04-08 04:45] #1325 closed

[2016-04-08 04:47] ginevive commented on #1352
Works perfectly.  Thank you for the quick response.

If it helps, the original code I used is working in OnsenUI v1.3.15.

[2016-04-08 09:50] IliaSky commented on #1347
Unfortunately I seem to be unable to. I updated `Xcode`, `cordova`, `cordova-ios` and the emulator still reaches only up to 9.2, not 9.2.1. We also have 3 devices with 9.2, but none with 9.2.1. However I'm not sure if it would be ok to upgrade one of the devices, since it seems like downgrading is not really an option for iOS.

I tested in 9.2 and everything is perfectly fine - it requires an opti

[2016-04-08 09:55] andipavllo opened #1357 "Viewport overwrite bug."
The viewport gets always overwritten, even in it has been specified in the HTML.

[2016-04-08 16:56] logicweb opened #1359 "[Onsen 2.0.0-beta.9] iOS 8.4 - Angular ons-page ons-show never fired"
The "show" event is never fired on iOS 8.4, both real device and simulator.
Everything is fine on iOS 9.x and Android.

My app is a Cordova app and use a SlideMenu as base. The mainPage.html recive only the init event.

[2016-04-08 17:06] logicweb commented on #1359
Version 2.0.0-beta.8 was fine.

[2016-04-10 21:42] PvanHengel commented on #1029
Hi I am still seeing this same issue in my project.  One slight difference is that I am async loading the entire list, such that when it first loads there are zero items.  The onReady function makes an HTTP call to add items to the list and change the count so they appear in the UI.

[2016-04-11 04:28] #1357 closed

[2016-04-11 13:32] RezaRahmati commented on #1334
Any response?

[2016-04-12 03:17] IliaSky commented on #1345
Which version of Onsen UI are you using?
We removed the `ons-scroller` from version 2 recently. For a long time it was being used only for css.
If that's what you need then feel free to use this css instead:

	.scroller {
	  display: block;
	  height: 100%;
	  overflow: auto;
	  -webkit-overflow-scrolling: touch;
	  -ms-overflow-style: none;
	  -ms-scroll-snap-type: mandatory;
	}

This is what the

[2016-04-12 06:33] prophetzoli opened #1360 "empty ons-list-item content with chevron modifier"
I have an issue with ons-list-item. If I add chevron modifier to this item, the whole content is empty. But only on some Android devices (maybe on android 4.1.x versions).

Maybe "display:flex" CSS property in ".list__item--chevron:before" class is the problem.

[2016-04-12 07:25] anshulgithub opened #1361 "Show single title of split view page"
I am using "Split View" for my app from this example link https://onsen.io/reference/ons-split-view.html . My requirement is to show single title for complete page. How can i provide a single title for complete page.

[2016-04-12 12:04] khuongcomputer commented on #1324
Data still getting rebind, and if I put ng-click="console.log(data1); console.log(data2)" it'll output data2 x times the page is loaded.

[2016-04-13 03:41] IliaSky commented on #1324
Are you sure that you are using beta 9?
Anyway the update which you are giving is strange - it bugs only on the second part?
[Here's a codepen](http://codepen.io/IliaSky/pen/NNabXw?editors=1000) with the problem you are describing, but I don't see the behaviour which you're talking about. Please modify it so that we can see the issue, because currently we're unable to reproduce it.

[2016-04-13 04:06] IliaSky commented on #1361
The solution is to put the `ons-split-view` inside an `ons-page` with a title. I have provided an example in [this answer](http://stackoverflow.com/questions/36565859/how-to-provide-one-heading-for-complete-page-when-using-split-view-page-in-ons/36588283#36588283) on stackoverflow.

Since this is just a question and not a real issue I am closing it.

[2016-04-13 04:06] #1361 closed

[2016-04-13 05:52] #1235 closed

[2016-04-13 18:23] logicweb commented on #1359
This is a test project, based on my app structure.
I have included even the beta.8 lib, which works, to comparison.
The bug is present even on Safari on iOS 8.4, so it's not related to cordova.
[onsen_beta_9_page_show_bug.zip](https://github.com/OnsenUI/OnsenUI/files/217715/onsen_beta_9_page_show_bug.zip)

[2016-04-14 03:56] blarney2000 commented on #366
@murliatdure , I also get the "Fail to fetch PageView" error with slide and not fade transitions. I can just used fades but I feel that sliding is more intuitive for navigation.

[2016-04-14 04:28] blarney2000 commented on #366
@argelius Here is the Codepen example: http://codepen.io/blarney2000/pen/ONvOzR?editors=1111

If you click on a list item on the start page, app's script stops due to the "Fail to fetch PageView" error

[2016-04-14 07:19] wishbooks opened #1363 "White Blank Screen after Splash Screen"
__Environment__
Onsen 2 beta
Angular 1.4.3
iOS 9.3
Cordova iOS - 4.0.1
Cordova cli - 6.1.1

__Encountered problem__
Some times white screen (plain index.html) page is coming. Ons.ready event is also not firing in this case.

__How to reproduce__
With this environment this issue always occuring

[2016-04-14 23:46] navinnd commented on #1043
Try the below code instead:

menu.setMainPage('home.html', {closeMenu: true});

[2016-04-17 15:39] nao0515ki commented on #866
Thanks @frankdiox  !!
your code works for me.

it was really helpful.
http://codepen.io/frankdiox/pen/epOyPR

[2016-04-18 14:06] kanakoubukata opened #1370 "ons.popover does not work in iOS"
__Environment__
Onsen UI2 beta9
iOS8.1.3 / iOS9.0.4

[2016-04-18 14:31] kanakoubukata opened #1371 "【OnsenUI2.0.0-beta9】 ons-speed-dial does not work."
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Monaca Cloud IDE
Android6.0.1
Onsen UI2 beta9
（When beta7, It does worked. )

__Encountered problem__
Error Message:
www/components/loader.js:1468 Uncaught TypeError: Canno

[2016-04-19 02:34] frankdiox commented on #1371
@kanakoubukata `ons-speed-dial` does not create an internal `ons-fab` automatically anymore. From beta.9 you have to provide the `ons-fab`:

[code]

[2016-04-19 06:30] #1371 closed

[2016-04-19 09:12] IliaSky commented on #1370
Are you sure you updated the css files? The implementation for popover was changed in beta 8, so the styles also changed.

I just checked iOS 9.0 and it works fine, so maybe it's either an update issue or some specific problem for the page and way of calling it. Can you provide some more information?

[2016-04-20 00:38] puku0x commented on #1347
Hi,

Thank you for your great job.

I started developing an app with Monaca based on "Onsen 2.0 Quickstart" sample.

I noticed that
- ons.notification.alert
- ons.notification.confirm
- ons.notification.prompt
did't work on my iPhone6s/iOS 9.3.1 when I updated from Onsen UI 2 Beta.9 to Beta.10.

However, they worked fine on my Nexus6/Android 6.0.1.

[2016-04-20 02:53] argelius commented on #1347
@puku0x : Thanks for reporting. We will take another look at it.

[2016-04-20 04:19] IliaSky commented on #1370
The issue was found elsewhere so I'm closing this one.

[2016-04-20 04:19] #1370 closed

[2016-04-20 07:45] IliaSky commented on #1347
The fix has been merged, so it should be available when we release beta.10 officially.

[2016-04-20 07:45] #1347 closed

[2016-04-20 07:58] #1345 closed

[2016-04-20 08:09] puku0x commented on #1347
Thank you very much !

[2016-04-21 08:34] smartm0use opened #1378 "Dynamic carousel item size"
It could be great if item-width is applicable to single carousel item, instead of to carousel.
In this way partial swipe could be possible.

I mean something like "Right Menu Solution 2" described here: http://stackoverflow.com/questions/36745281/onsen-how-to-make-partial-swipe-on-item/36747886

[2016-04-21 21:30] logicweb commented on #1359
Tested with the latest build (just compiled), still doesn't work
I've prepared an even simpler test:

**app.js**
`

    var app = angular.module('app', ['onsen.directives']);

    app.controller('NavigationController', function ($scope, $timeout) {
        console.log("NavigationController - constructor");
        var _this = this;
        var myNav

        ons.ready(function () {
            con

[2016-04-21 21:40] logicweb commented on #1359
I think I have just find out... the ons-progress-circular.
Without this:
`<ons-progress-circular indeterminate class="circlePreloader"></ons-progress-circular>`
all works fine.

[2016-04-21 21:40] logicweb commented on #1359
I think I have just find out... the ons-progress-circular.
Without this:
`<ons-progress-circular indeterminate class="circlePreloader"></ons-progress-circular>`
all works fine.

[2016-04-22 06:22] argelius commented on #1363
Thanks for reporting @wishbooks ! Do you get any errors in the console?

[2016-04-22 06:25] argelius commented on #1360
Thanks for reporting @prophetzoli ! Can you supply some code that reproduces this error?

I will try myself. The old version of flexbox is supposed to work on Android 4.1 but there may be some inconsistencies.

[2016-04-22 06:29] argelius commented on #1360
@prophetzoli By the way. Is using Crosswalk an option? There probably won't be any trouble like this if you're using Crosswalk.

[2016-04-22 06:45] wishbooks commented on #1363
No. Errors are coming.

[2016-04-24 10:26] argelius commented on #1360
@prophetzoli I have verified that this happens in Android 4.1 WebView. Remote debugging is not supported in this WebView so solving the issue might take some time since we need to use trial and error.

[2016-04-25 07:52] prophetzoli commented on #1360
I tried one Huawei device and also Asus Fonepad from testdroid online service (both 4.1.2 android version)

I dont use Crosswalk.

But as I wrote, when you change display option (from flex to i.e. block), the content is visible (but the arrow is not on the correct position :))

[2016-04-25 10:16] IliaSky commented on #1359
@logicweb Thank you very much for your help.
The bug was being caused by the svg being used in `ons-progress-circular`. It turns out on iOS 8.4 the `svg` elements don't have a `children` property which we were using in some dome traversals. And for some other reasons the error was hidden.
This has just been fixed, so it should be fine as soon as we release beta 14.

[2016-04-25 10:16] #1359 closed

[2016-04-25 10:22] IliaSky commented on #1378
Thank you for the suggestion. Right now we're busy with the official release of Onsen 2, so we're focusing mainly on bugs, but adding the option for dynamic carousel width is definitely something which we may consider adding in the future. However our experience has shown us that these type of things tend to become hard to support if not very well written, so right now it's not on our priority lis

[2016-04-25 10:32] IliaSky commented on #1282
Since Onsen UI is expected to be used to make mobile applications, after the application is build there won't be an address bar. So if you plan on making an application you shouldn't worry about that.

The behaviour is currently that way in order to avoid bugs in iOS. Since our toolbars and tabbars are expected to be fixed on the page and `position: fixed` still isn't properly supported on iOS we'

[2016-04-25 10:32] #1282 closed

[2016-04-25 12:30] IliaSky commented on #1334
Thank you for the bug report. After testing it seems to be happening only when the modal is outside of any page. The modal expects to find a page parent and reattach itself so that it's over the page contents. For now the easiest solution is just to wrap the application in a page (`ons-page`) and everything should work. Though it's true that something like this shouldn't stop `ons.ready`.

[2016-04-27 10:09] mishoboss opened #1386 "Question - how to compile stylus"
Please, excuse me for asking this here, but how stylus files should be compiled?

I would like to compile all onsen styles into one file, like this:
`
stylus node_modules/onsenui/stylus/blue-basic-theme.styl -o server/www/onsenui.css --import node_modules/onsenui/stylus/components/**/*`

However, this produces error:

__Environment__
Onsen 2 beta 13

[2016-04-27 10:12] claudioc opened #1387 "Small fix for ons-toolbar in Android"
OnsenUI 2 Beta 15

Android 5.x (WebView and Chrome)

__Encountered problem__
`ons-toolbar` with left, center and right elements (the center one is a `ons-progress` but it doesn't matter).
The right element goes after the screen and become almost invisible.

__How to fix__
I'd open a PR for that, but I am pretty sure there'd be some side effects I cannot test.

My solution was to reduce the `.navig

[2016-04-27 10:40] anatoo opened #1388 "Replace mutation events with MutationObserver."
There are mutation events in ons-popover implementation:  https://github.com/OnsenUI/OnsenUI/blob/87e4f4aba127a823ba61a940adcb1ebcd3ad1447/core/src/elements/ons-popover/index.js#L523-L524

Mutation events are deprecated. We should replace with MutationObserver.

[2016-04-27 14:42] #1340 closed

[2016-04-27 14:44] IliaSky commented on #1340
Thank you for the bug report and sorry for the late reaction. It should be fixed now.
Also if you run into similar problems and we don't respond in time you can disable the `auto status bar fill` feature and just manually add a `status-bar-fill` attribute to the element which you want to consume the iOS status bar.

[2016-04-27 15:01] IliaSky commented on #1387
Thank you for the report.

Unfortunately I seem to be unable to grasp your actual problem.
Here's a [codepen](http://codepen.io/IliaSky/pen/dMgbGb?editors=1000) of what I seem to be understanding from your description, however that doesn't sound like an actual issue to me.

Also we are not setting the `min-width` property of the left side but rather the `width`. So if I understand correctly your s

[2016-04-27 15:08] claudioc commented on #1387
Rude? You're perfectly reasonable, and this is also why I didn't open a PR: I probably have something going on with my setup, so I will try to create a minimal case for this issue a send you a screenshot.

Thanks for looking into it!

[2016-04-27 15:09] IliaSky commented on #1386
Well as you may have noticed in the issue template - [stackoverflow](stackoverflow.com/tags/onsen-ui) or the [community](https://community.onsen.io) is a better place for questions rather than github issues.

Now for the answer:

The command which is generally used to compile the css is `gulp build` inside the `css-components` folder. You can also take a look at the `gulpfile.js` if you're interes

[2016-04-27 15:09] #1386 closed

[2016-04-27 16:11] IliaSky commented on #1387
Ok. Thank you.

[2016-04-27 18:06] claudioc commented on #1387
I have removed all the custom HTML and CSS and stripped everything, except JavaScript (which would a bit harder at the moment). I am not doing any DOM manipulation in JS though.

This is an Android Chrome remotely debugged. You can see how the progress-bar expands too much, compressing `.right`.
![screen shot 2016-04-27 at 19 57 27](https://cloud.githubusercontent.com/assets/166692/14862584/60633b

[2016-04-27 19:02] munsterlander commented on #1387
I also can confirm this causes a weird glitch on the device.  I have also found a way to override it that is odd in its own right:

This code makes the center div too big and the right div too small (I used no CSS nothing but onsen tags in a new project with the nightly but also confirmed on beta 9 with the same issue):

`<ons-page id="page-email">
               <ons-toolbar>
                   <

[2016-04-28 05:35] IliaSky commented on #1387
Update:
It turned out that the material design has a different layout than the flat one. However it turns out that if the bug which you are reporting is the one in the first picture - currently that seems to be the expected behaviour. It does shrink but it doesn't actually hide the content.

And I guess I was actually wrong earlier - the MD toolbar left has `min-width: 72px`. However it seems like

[2016-04-28 06:43] claudioc commented on #1387
Oh, sorry, I forgot to tell you: the issue about the right part disappearing was actually my fault: on android the mix of MD + my CSS resulted in the right icon to be white on white :D (I use white as the bg color of the toolbar). I got confused by the progress bar stretching!

Thank you for the fix!

[2016-04-28 06:45] IliaSky commented on #1387
Oh ok. In that case I'm glad that everything is solved. :)

[2016-04-28 06:45] #1387 closed

[2016-04-28 08:44] IliaSky commented on #1280
Sorry about the late response.

From beta5 we have made a lot of changes, so right now I don't seem to be able to reproduce the issue with beta15 ([Demo](http://codepen.io/IliaSky/pen/eZPBgL?editors=1000)), so I will close this.

If you are still able to reproduce it with the newer version please tell us.

[2016-04-28 08:44] #1280 closed

[2016-04-28 12:57] argelius opened #1389 "Navigator lift animation removes mask at incorrect timing."
The timing that the mask is removed is hard-coded. Make it remove the mask when the animation is finished.

[2016-05-03 04:30] argelius opened #1390 "Input elements should maintain internal state"
Because of the `contentReady` function all the input elements, `<ons-input>`, `<ons-switch>` and `<ons-range>` setter methods are asynchronous.

I think we should add an internal `_value` or `_checked` state for these elements and correctly set the value of the internal input when it's rendered.

Right now this fails:

[code]

[2016-05-03 07:48] argelius opened #1391 "<ons-range> glitch in Firefox"
The track is not covered by the thumb element in Firefox.
![screenshot from 2016-05-03 16-49-01](https://cloud.githubusercontent.com/assets/6549462/14977460/0005d758-114f-11e6-834d-9213884b2cb5.png)

[2016-05-03 11:27] OmarHassan25 commented on #1029
How we can set dynamic item height in lazy repeat ????????????

[2016-05-04 09:33] ThomasLochbrunner opened #1392 "Splitter Bug while rotating to Landscape"
__Environment__
Onsen 2 RC4
Angular 1.4.3
iOS 9.2
Android 6.0.1
Firefox 45.0.2

__Encountered problem__
When rotating the screen from Portrait- to Landscape-Mode while the left-side-component of the splitter is active/opened the whole view is shifted to the right side of the screen and wont respond any more to touch or mouse input. If the left side splitter component is not opened the rotation wor

[2016-05-04 12:33] argelius commented on #1392
Thanks for reporting @ThomasLochbrunner !

I reproduced it. Looks like it's not handling resizing correctly. We will fix this issue.

Please let us know if you have any other issues :+1:

[2016-05-05 09:44] bdedardel opened #1393 "navigator.getCurrentPage is not a function"
__Environment__
Onsen 2 rc4
Angularjs

__Encountered problem__
TypeError: $scope.myNavigator.getCurrentPage is not a function

__How to reproduce__
Migrating from onsenui2.beta to onsenui2.rc

[2016-05-05 09:50] philolo1 commented on #1393
Try this $scope.myNavigator.topPage ,
I think we renamed it.

[2016-05-05 10:16] bdedardel commented on #1393
If i log myNavigator, i obtain :

[code]

I don't find topPage or currentPage

[2016-05-05 10:39] argelius commented on #1393
@bdedardel `navigator.topPage` is a property, not a method. Did you update both `onsenui.js` and `angular-onsenui.js` ?

The `topPage` property works fine when I try to access it.

[2016-05-05 10:53] bdedardel commented on #1393
... Yes, it works fine as property !
Many thanks for your help.

[2016-05-05 10:53] #1393 closed

[2016-05-05 10:56] argelius commented on #1393
@bdedardel Glad you were able to solve it :+1:

[2016-05-05 13:00] logicweb commented on #879
Any news about this?
I have the same issue with the 2.0 on several iOS devices, even in the simulator, but not always, depends on model and os version.
![flicker](https://cloud.githubusercontent.com/assets/7430566/15044014/1e3dfdf2-12d2-11e6-99a9-ab0f58623dd0.gif)

[2016-05-06 04:26] bdedardel opened #1395 "Passing param1 to pushPage"
__Environment__
Onsen 2 rc4
Angularjs

__Encountered problem__

I try to pass parameter, as explain in the doc: https://onsen.io/v2/docs/angular1/navigation.html
... but I fail to get it, in then() function

[code]

Notice: I can see parameters in pageinit event:

[code]

[2016-05-06 05:48] IliaSky commented on #1395
I guess there is a small error in the docs. The `options` property is currently called `pushedOptions` as I guess you noticed when you were accessing it from the `pageinit` handler. Just to be sure - after

    console.log("Parameter passed: ", page);
you have something like

    console.log("Options: ", page.pushedOptions);
right?

But it's `undefined` is what you're saying, right?

__Side note:_

[2016-05-06 07:09] frankdiox commented on #1395
@bdedardel As @IliaSky mentioned, the correct way to get the parameters is with [`page.data` property](https://onsen.io/v2/docs/angular1/ons-page.html#properties). This requires to pass the parameters in a `data` object like this: `myNavigator.pushPage('page.html', { data: { ... }, animation: 'lift', animationOptions: { ... } }`. Looks like we made a mistake when writing that part of the docs in A

[2016-05-06 10:53] bdedardel commented on #1395
Thanks, it works fine with 'data' property

[code]

Note: for those who use typescript, don't forget to update (or modify) onsenui.d.ts

[code]

[2016-05-06 10:53] #1395 closed

[2016-05-06 16:00] anujchaudhary1486 commented on #1275
@ IliaSky

[2016-05-06 18:56] gotenxds opened #1398 "Stop loading css files dynamically"
**Environment**
Onsen 2 beta 6
Angular 1.5.2
android

**Encountered problem**
In my prod env I pack all of my css files into a single all.css file.

Onsen errors because It tries to load font_awesome and more css files (that already exist in the all.css file) this makes no sense, you should not load those files dynamically, instead include them in a bundle.css file or require the user to add them

[2016-05-06 20:15] munsterlander commented on #1398
Just responded on Gitter, but how would Onsen know that you repacked the files?  Those are built-in pointers.  Comparing class names on build would be a tremendous burden to the compiler.  Additionally, I for one do not repack them and if they change Onsen to support that, then it would mean everyone else would have to change their default behavior for what is an expected result, i.e. ons-icon.

O

[2016-05-06 20:53] gotenxds commented on #1398
They dont need to know, they shouldent do it in the first place, its bad practice, what If I change my file location?
Why do I have to discover in a prod build that the app wont work because they load files from the node_modules - that I, like most npm users dont pack in my final build.

Instead just requiering the user to load the css file manualy (just like they require you to load onsenui.css A

[2016-05-06 21:54] munsterlander commented on #1398
But that is exactly what is happening.  In onsenui.css:

[code]

All of this is within the Onsen CSS folder.  If you are copying the Onsen CSS to another file, then you would also need to grab those.

[2016-05-06 23:16] gotenxds commented on #1398
Its very simple, i have a list of files (css's, js's) that i need in my project, when I compile to a prod environment I have gulp compress all of my css files into one file.
If somewhere in that file there is an import statement that runs in run time, it will fail beacuse the content does not exist in a seperate file, but in the same file.

I dont understand why this is so weird to you, its a stan

[2016-05-06 23:31] munsterlander commented on #1398
I do understand what you are saying and you are saying exactly what I am trying to point out.  This is not an Onsen issue.  As you have stated, you are using Gulp to compress your files.  It is Gulps issue, hence why they have [gulp-cssimport](https://www.npmjs.com/package/gulp-cssimport), [gulp-concat-css](https://www.npmjs.com/package/gulp-concat-css), and lots of others.

This isn't an Onsen pr

[2016-05-06 23:47] gotenxds commented on #1398
Imports are normal for devs and the gulp-concat-css are for DEVS, not for a final product, a framework should come packed and finished and should not work diferently on different environments,  if the guide says all you need to do for the framework to run is to include files A and B then thats all you need to do.

For example take both bootstrap and material, you can bet they have loads of @import

[2016-05-08 16:48] IliaSky commented on #1275
@anujchaudhary1486
In the [node-gyp docs](https://github.com/nodejs/node-gyp#user-content-installation) they say that 3.x is not supported, so if you were using that then it may cause a problem.

Also the problem is caused dependencies of the demo itself, not by onsen ui, so this issue should be in that repo, but nevermind. The demo provides some additional features such as browser refresh etc, wh

[2016-05-09 01:35] philolo1 commented on #1259
done in new documentation

[2016-05-09 01:35] #1259 closed

[2016-05-09 01:37] philolo1 commented on #1238
Closing this issue now, since we have now an extension that is working (with probably some bugs and some components missing): https://github.com/OnsenUI/react-onsenui

[2016-05-09 01:37] #1238 closed

[2016-05-09 15:34] bdedardel opened #1400 "pushPage fails with <ons-splitter>"
__Environment__
Onsen 2 rc4
Angular

__Encountered problem__
If I launch my main page with navigator and push another page with pushPage, everything is ok.

[code]

But if I launch the main page with splitter, the second page is not shown.
(but initialization seems ok)

[code]

[2016-05-09 16:41] munsterlander commented on #1400
I don't know what all your code is as you haven't posted it; however, this is valid code verified on the RC.

`  <ons-navigator id="mainNavigator" page="splitter.html">
  </ons-navigator>
  <ons-template id="splitter.html">
    <ons-splitter id="mainSplitter">
      <ons-splitter-side page="content/menu.html" side="left" swipeable collapse="portrait" width="200px">
      </ons-splitter-side>

[2016-05-09 20:47] corneyl opened #1401 "List header has the same color as list items"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 RC 4

__Encountered problem__
List header has the same background as list items, and `$list-header-background-color` from the theme files is ignored.

__How to repr

[2016-05-09 20:53] Maximvdw opened #1402 "Ons-pull-hook breaks application in Onsen 2 RC4"
Forum post: https://community.onsen.io/topic/404/ons-pull-hook-breaks-application-in-onsen2-rc

Dear,

I upgraded from
Onsen 2.0.0-rc.2
To
Onsen 2.0.0-rc.4

but I am facing some upgrade problems. The application fails with the error:
[code]

After checking why I was getting this on just a few pages I found out that by deleting my ons-pull-hook (that works on rc2)
it works.

[code]

To see if it wa

[2016-05-10 03:41] frankdiox commented on #1401
@corneyl Hi! Sorry but I can't see any problem [here](http://tutorial.onsen.io/?framework=vanilla&category=Reference&module=list). That's rc.4.

[2016-05-10 03:58] IliaSky commented on #1401
@frankdiox I think I'm able to reproduce it there (actually it seems that over there they are transparent but the `.page__background` is gray). Anyway it seems like it's just not used in the stylus. Adding the missing line will fix the issue. :)

[2016-05-10 04:01] #1401 closed

[2016-05-10 04:24] IliaSky commented on #1400
As @munsterlander said - the code which you have provided isn't enough to replicate the issue.
Here's a working [demo](http://codepen.io/IliaSky/pen/rePgbp?editors=1000) of what I and munsterlander seem to be understanding.

If you have an `ons-navigator` it should work properly regardless of the contents of the pages (whether there is a splitter inside should make no difference). If you are tryin

[2016-05-10 05:09] IliaSky commented on #1029
@PvanHengel
I seem to be unable to reproduce it. Here's a [demo](http://codepen.io/IliaSky/pen/vGbqJO?editors=1010) which again loads first with zero items and 1 second later adds them and it seems to be working fine. Maybe there is something specific in you code which triggers the issue.

@OmarHassan25
Closed issues and github in general is not the place for such questions. We have a [community](

[2016-05-10 08:37] argelius commented on #879
@logicweb Thanks for the screenshot! We will look into this

[2016-05-10 12:39] bdedardel commented on #1400
Thanks guys,

My mistake was :
- to not embed  <ons-splitter> inside <ons-template id="splitter.html">
- to not set page attribute with navigator <ons-navigator page="splitter.html">

Without your help, I wouldn't have find the solution with the current documentation, especially https://onsen.io/v2/docs/js/splitter.html page that doesnot speak about navigator.

Thanks again...

[2016-05-10 12:39] #1400 closed

[2016-05-10 12:54] IliaSky commented on #1400
@bdedardel the thing is if you don't need a complex page stack but rather just want to change the main page you can do that just by `mySplitter.content.load('second-page.html')`.

About the templates - they're just handy to use, but you don't need to. You can always just put the an `ons-page` inside the navigator and not use the `page` attribute and it will have the same effect. I updated the demo

[2016-05-10 13:07] cskiwi commented on #1245
Hi, was this fixed or not?
because I can't seem to get it working. I'm on RC4

[2016-05-10 13:08] cskiwi commented on #1209
Is there any ETA on this?
Having the same issue

[2016-05-10 13:46] IliaSky commented on #1209
Hi @cskiwi, and sorry @leocaseiro and @cither1 for the late answer:

This one's on us. It seems we forgot to remap some methods. Generally the way we try to make the bindings work is wrap the initial logic, but keep the old one safe. Here I guess that may not be an option since `$templateCache` is for angular and there is no way for the core to try to access it. `sliding-menu` was working because

[2016-05-10 13:48] IliaSky commented on #1245
I answered you at #1209.
Unfortunately it's not properly fixed, but I provided a simple hack to make it work.

[2016-05-10 18:20] brampauwelyn opened #1404 "ons-carousel doesn't show up in full-screen"
__Environment__
Monaca CLI
Brackets
Onsen 2 beta 6
Onsen UI
iOS 9.2
Chrome 50.0.2661.94 (64-bit)

__Encountered problem__

Carousel doesn't show up in fullscreen when used on an other page than the active page.

__How to reproduce__

Make two pages with an ons-tabbar.
Page 1 is the current active page.
Page 2 is the non-active page which contains the actual carousel.

When switching from page 1 to

[2016-05-10 20:38] aarbar opened #1405 "pull-hook doesn't work inside ons-template"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

** Sorry for the rubbish desc - no time!!

pullHook is null if it is inside a `<page>` element.

__Environment__
Onsen 2 RC 4
Angular 1.5.5

__Encountered problem__
index.html:509 Uncaught

[2016-05-11 02:35] #1391 closed

[2016-05-11 04:16] argelius commented on #1405
@aarbar Probably the `<ons-pull-hook>` element is not attached to the DOM when you try to access it.

The `<ons-template>` will just consume all the content and remove it. It will be inserted when used somewhere in the page.

Maybe you can use event delegation:

jQuery:
[code]

or you can add the event listener when the page is initialized.

I will close this since I don't think it's an issue. Ple

[2016-05-11 04:16] #1405 closed

[2016-05-11 04:19] argelius commented on #1404
Thanks for reporting @brampauwelyn !

We will take a look at this

[2016-05-11 04:28] argelius commented on #1404
@brampauwelyn I tried to run your code in the latest release `2.0.0-rc.4` and it works fine. Maybe it isn't an issue anymore.

Can you try again in the latest version?

[2016-05-11 04:41] #1404 closed

[2016-05-11 04:44] argelius commented on #1404
@brampauwelyn There was some code that set the height dynamically causing the issue. It should be fixed now.

We will release a new version with this fix pretty soon

[2016-05-11 05:00] frankdiox commented on #1098
http://tutorial.onsen.io

[2016-05-11 05:00] #1098 closed

[2016-05-11 05:25] argelius commented on #879
@logicweb By the way, are you using `<ons-sliding-menu>` or the new `<ons-splitter>` component?

[2016-05-11 06:32] IliaSky commented on #1401
@corneyl The issue was fixed but then we checked that actually in the new iOS design it was supposed to be transparent.

So I guess if you want you can set it by yourself. As you noted, the `$list-header-background-color` isn't used and thus has been removed.

[2016-05-11 07:02] brampauwelyn commented on #1404
@argelius Thx, looking forward to it 👍

[2016-05-11 07:08] aarbar commented on #1405
@argelius I'm putting the call inside ons.ready()
[code]
Shouldn't everything be in the dom when ons.ready is fired?
Or is this triggered after The <ons-template> has consumed all the content?

I'm looking at the tutorial:
http://tutorial.onsen.io/?framework=vanilla&category=Reference&module=pull-hook

When I see inspect the dom with chrome developer tools (remote debugging) I can inspect the elem

[2016-05-11 08:16] argelius commented on #1405
@aarbar I hope you will be able to solve it! Please ask again if you run into some other issues :+1:

[2016-05-11 08:19] corneyl commented on #1401
And it seems like the same counts for Android: [design specs](https://www.google.com/design/spec/components/lists.html).
Thanks!

[2016-05-11 08:48] argelius commented on #1402
@Maximvdw I tried reproducing this but wasn't successful. Can you post a small example app that triggers this error?

[2016-05-11 08:53] frankdiox commented on #1402
@Maximvdw @argelius Moving the discussion here from the forum:

@Fran-Diox said:

[2016-05-11 09:02] EFCniux opened #1412 "ons-input placeholder not working with angular expressions on Android"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 rc4
Angular 1.5.5
Cordova 6.1.1
Android (with Crosswalk), Browser (Chrome)

__Encountered problem__
Angular expressions on an `<ons-input>` placeholder  are not bei

[2016-05-11 10:46] frankdiox commented on #1412
@EFCniux Thanks for the report. Unfortunately I cannot reproduce it. It's working here: https://codepen.io/frankdiox/pen/qZvPxo?editors=101

Modifiers shouldn't affect the placeholder. Any other information?

[2016-05-11 11:09] EFCniux commented on #1412
Well, I noticed that the "material" modifier was working because the placeholder being shown was the span with the class "text-input--material__label" instead of the input's placeholder, which was hidden but it's value was still `{{'todo mail 2'}}`, and all the other modifiers show the input's placeholder with an unprocessed value `{{'todo mail X'}}`. So it is probably not an issue with the modifi

[2016-05-11 16:20] alegauss opened #1413 "ons-lazy-repeat example to use ajax call with multiple rows"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 beta 6
Angular 1.5.2
iOS 9.2

__Encountered problem__

I suggest to create an example to use the ons-lazy-repeat with ajax call that returns multiples rows (i.e. 15

[2016-05-11 16:51] luposlip opened #1414 "<ons-list-item/> child div generated, and sometimes not?"
__Environment__
Onsen 2 2.0.0.-rc4
Cordova 6.1.1

__Encountered problem__

I render a menu with

[code]

When the UI renders (in browser) sometimes the ons-list-item elements contain a child `<div/>` element, sometimes not.

This makes it really difficult to render the UI correctly, and seem like a bug?

Best,
Henrik

[2016-05-11 18:47] luposlip commented on #1041
This is not an issue anymore (2.0.0-rc4)

[2016-05-11 18:47] #1041 closed

[2016-05-11 18:52] luposlip commented on #1038
I still (2.0.0-rc4) can't `.toggle`/`.close` the `ons-splitter-side` when rendered with react.
I've moved all the menu (`ons-list` with child `ons-list-item`'s) to react though, and that works sort of OK, except for the issue mentioned in #1414.

[2016-05-11 19:23] luposlip commented on #1414
Well, when I hardcode the list, it works fine.
But when I dynamically render/change the list using react, it gets messed up.
In a list of 5 items, the first two had the child `<div/>` - thus rendered incorrectly. The rest was fine.

If I add icons to the items (as `<ons-icon/>` children to the `<ons-list-item/>`) the first 2 list items have the same icons as the two last. But the labels (text elem

[2016-05-11 19:56] luposlip commented on #1414
Bummer, I missed the **`^{:key (:id item)}`** in front of the individual items `[menu-item item]`.
Putting it here for future reference, closing issue.

[2016-05-12 03:52] argelius commented on #1038
@luposlip We made some components for React:

https://github.com/OnsenUI/react-onsenui

Have you tried them out? There is a side menu in this app: http://onsenui.github.io/react-onsenui-kitchensink/demo.html

[2016-05-12 09:50] Legolaser opened #1415 "<ons-pull-hook> doesn't work with <ons-sliding-menu>"
__Environment__
Onsen 2 RC 4
Angular 1.5.5
Google Chrome v. 50.0.2661.75 (64-bit)

__Encountered problem__
Hello, I ran into an issue when I'm trying to use ons-pull-hook in ons-page which is set as main-page parameter of ons-sliding-menu. I can get working only ons-pull-hook inside ons-page right inside body of index.html. Ons-sliding-menu  main-page="pullTemplate.html" which is ons-page without

[2016-05-12 10:19] argelius commented on #1415
Thanks @Legolaser!

We will take a look at this issue.

[2016-05-13 06:47] luposlip opened #1418 "OnsenUI 2.0.0-rc4: tabbar doesn't stick to bottom"
__Environment__
Onsen 2.0.0-rc4
Cordova 6.1.1

__Encountered problem__

The tabbar component doesn't stay fixed to the bottom of the page, when used together with scrollable lists.

__How to reproduce__
In the [tutorial](http://tutorial.onsen.io/index.html) I select plain `JavaScript`, then select `Lists`, and add a `ons-tabbar`, changing the HTML to the following:

[code]

When scrolling down, th

[2016-05-13 06:52] Neron-X5 commented on #879
Hi, I am using v1.3.15 and this flicking issue is observed on several iPhone and iPad devices ranging from iOS 8.0 to 9.3.1. Is there any fix for the same on version 1.x.x stream?
I can not update to version 2 till a stable release is available.

[2016-05-13 06:57] frankdiox commented on #1418
@luposlip Hi! I don't think that's the way to use `ons-tabbar`: http://tutorial.onsen.io/?framework=vanilla&category=Reference&module=tabbar

The list that you want should be inside `tab1.html` or `tab2.html`.

[2016-05-13 08:30] ThomasLochbrunner opened #1419 "<ons-splitter> <ons-toolbar> Long Toolbar-Strings breaching out of Splitter-Area"
__Environment__
Onsen 2 RC 4
Angular 1.5.2
Firefox 46.01
InternetExplorer 11
iOS
(In Chrome the whole Demo is not even working correctly)

__Encountered problem__
If the side-component of an Onsen-Splitter Component contains an Onsen-Toolbar with a String that longer than the width of the side-component, this String will breach out of the side-components "box".

__How to reproduce__

1. Go to code

[2016-05-13 08:42] IliaSky commented on #1419
Thank you very much for the bug report. Actually we were sort of informed about these 2 issues. We will fix both of them as soon as possible.

[2016-05-13 08:50] luposlip commented on #1418
You may be right, but if I replace all the `ons-tabbar` elements with the example found in `onsen-css-components.css` line 2003 thru 2027, it actually works as expected with a small inline style tweak:

[code]

[2016-05-13 08:55] #1419 closed

[2016-05-13 08:57] IliaSky commented on #1419
It looks like the Chrome bug has been fixed 2 days ago and I just fixed the other issue, so both problems should be gone in RC 5.

[2016-05-13 09:15] IliaSky commented on #1418
Even though that what you're saying is probably true I don't see us making those changes soon, because the `position: fixed` isn't properly supported on iOS. That is why we are using `position: absolute` hacks for cross-platform compatibility. And with those if you decide to add longer content then scrolling becomes inevitable.

And about your case I guess what you want is not an actual tabbar, bu

[2016-05-13 09:15] #1418 closed

[2016-05-13 10:18] luposlip commented on #1418
OK, thanks for the input. Would be nice if this would be a supported use scenario some time in the future, though.

[2016-05-13 12:33] ThomasLochbrunner commented on #1419
Thank you, that was fast!

[2016-05-13 12:33] logicweb commented on #879
@argelius we are using `<ons-sliding-menu>,` inside the mainPage.html we have a single `<ons-navigator>` where we push every pages.
If you look the gif carefully you can see a single frame where the page is visible with al the angular tags not populated yet.
Maybe it's something on our side, but on android this never happen.

[2016-05-13 12:35] ThomasLochbrunner commented on #1392
As this Bug isn´t present any more on the issue-list I would like to know if it is still on your internal todo-list or if it is planned to be fixed in any specific release?

[2016-05-13 12:38] argelius commented on #1392
This will definitely be looked at next week. Sorry for the delay

[2016-05-14 03:33] IliaSky commented on #1392
@ThomasLochbrunner - I am currently working on some other things and therefore haven't taken the time to fix this issue. That being said if you need it working right now you can just apply the following css:
[code]
Here's a [demo](https://codepen.io/IliaSky/pen/pyBpzL) to see it in action.

Anyway maybe I will need to discuss the expected behaviour with the team.

[2016-05-14 12:33] Maximvdw commented on #1402
I tried the example, it works. So I was copy pasting parts to the example until suddenly with the sliding menu it broke again. So maybe its something with sliding menu + pull

[2016-05-14 12:35] Maximvdw commented on #1402
for clarification I mean "ons-sliding-menu"

[2016-05-16 22:21] Maximvdw opened #1420 "Components2 theme roller css problem"
Dear,

Using the example at: https://github.com/frankdiox/OnsenUI-Todo-App
The default compiled CSS files work perfect, however when generated using the components2.onsen.io theme roller the "back button" and left/right alignments seem to have some line-height problems on ios (material is fine).

Normal:
![normal layout](http://i.mvdw-software.com/17-05-2016_00-17-24.png)

Link to custom theme (li

[2016-05-17 04:35] argelius commented on #1420
@Maximvdw The Theme Roller has not been updated for the new version yet. I think we will update it pretty soon.

Sorry for the inconvenience!

[2016-05-17 06:22] ThomasLochbrunner commented on #1392
@IliaSky - Thank You, your css is working great!

[2016-05-18 10:47] biji commented on #1412
in my case, only **input type** is displayed

using Android 6

[2016-05-20 09:25] vineshhpatel opened #1423 "Carousel does not update on orientation change"
__Environment__
Onsen 1.3.14
Angular 1.4.10

__Encountered problem__
I am working with fullscreen OnsenUI carousel. The issue is when I swipe/change carousel item and then change the orientation OR resize the window, it does not look good. This issue is with the official OnsenUI carousel example as well.

__How to reproduce__
You can goto [this](http://codepen.io/onsen/full/xbbzOQ/) pen and swipe/

[2016-05-21 09:18] munsterlander opened #1424 "ons-bottom-toolbar does not utilize left, center, right classes"
__Environment__
Onsen 2 RC 4

__Encountered problem__
Ons-bottom-toolbar does not implement the left, center, and right classes as described in the docs.  It is discussed here:  https://community.onsen.io/topic/438/ons-bottom-toolbar-doesn-t-work/3

__How to reproduce__
Codepen demonstrates the issue:  https://codepen.io/anon/pen/PNrroB?editors=101

[2016-05-22 09:39] khuongcomputer opened #1425 "ons-navigator and ons-init"
This strange issue happened on ver 2rc5.

I have ons-navigator A on index.
ons-navigator B inside A.

Page C and D with ons-init on every page.
MakeB load C and D with bringPageTop/resetToPage. Only ons-init on C are fired, ons-init on D is not.
If I do a pushPage, ons-init is fired as normal.
**Only happens on mobile's browsers** (tested with iOs 9.2 and Android 4.2), on desktop ons-init works no

[2016-05-22 09:40] MortezaT opened #1426 "ons-bottom-toolbar data-binding issue in Google Chrome"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environments__

    Onsen 2 RC 5
    Angular 1.5.5
    Android 5.0.0
=====
    Ubuntu 16.0.4 LTS
    Chromium 50
-----
__Encountered problem__
OnsenUI 2 TypeError on `ons-bottom-toolbar`

[2016-05-23 09:10] argelius commented on #1424
@munsterlander

Hi!

Thanks for reporting. Actually this is intentional, we don't add any special padding to the bottom toolbar since there are lots of different ways to populate it and we don't want to try anticipating what the developer wants to use it for.

I will close this for now but maybe we should add some clarification to the docs.

[2016-05-23 09:10] #1424 closed

[2016-05-23 09:47] argelius commented on #1426
@MortezaT Thank you for reporting!

Can you add some more info on how to reproduce this? I tried it in Chrome 50 without any problem.

Can you paste the whole `index.html` that triggers this error?

[2016-05-23 09:48] argelius commented on #1425
@frankdiox Can you take a look at this when you have time?

Maybe there is a difference with native web components and the polyfill?

[2016-05-23 10:12] argelius commented on #1423
Thank you @vineshhpatel ! I have verified that this happens in v2 as well.

We will take a look it this.

[2016-05-23 10:13] argelius commented on #1420
I will close this for now.

[2016-05-23 10:13] #1420 closed

[2016-05-23 11:16] #1423 closed

[2016-05-23 11:24] IliaSky commented on #1423
The fix will be available as soon as Onsen 2 RC 6 is released, so feel free to use that @vineshhpatel.

[2016-05-23 17:28] Maximvdw opened #1427 "modifier transparent not working for material toolbar"
Dear,

The transparent modifier for ons-toolbar does not seem to be working on material design.
<ons-toolbar modifier="transparent"></ons-toolbar>

This works using RC5 on flat design, however using material it stil shows the toolbar.
![](http://i.mvdw-software.com/23-05-2016_19-26-34.png)

This is using the default provided theme (no custom)

Best Regards,
Maxim

[2016-05-23 17:41] frankdiox commented on #1427
@Maximvdw Thanks for the report but maybe this is not working on purpose. I think transparent toolbars are not common in Material Design. Anyway, for now you can just overwrite the CSS with `background-color: transparent` and change also the font color to black or something visible (it's white by default) in left/center/right children. If you need to remove the shadow, you have `modifier="noshadow

[2016-05-23 18:35] frankdiox commented on #1425
@argelius @khuongcomputer I only have Android 5.1.1 here and cannot reproduce this issue. I made this [pen](https://codepen.io/frankdiox/pen/WwVzwm?editors=101) but I'm not sure if this is the right way to reproduce it. @khuongcomputer next time please provide a working example so we can skip this step.

In any case, `bringPageTop` relies on `pushPage` for the first push. If the page already exist

[2016-05-23 19:20] munsterlander commented on #1424
@argelius No problem.  The docs do need to be corrected because they appear to indicate that it works for top and bottom.

[2016-05-23 19:34] khuongcomputer commented on #1425
@frankdiox please get the example here: http://www.mediafire.com/download/bqsmbd94ozk0win/bug-ons-navigator.zip

Tested with Chrome and Safari on iOS 9.2 and it's not showing any alert. On desktop it works as intended.

[2016-05-24 09:41] frankdiox commented on #1425
@khuongcomputer I tried that one and still works. I guess it does not happen in Android 5.1.1.
Let's see if @IliaSky has time to test this with iOS 9.2.

[2016-05-24 12:35] vjoomens commented on #1415
Hi, I'm having the same issue with angular 1.5.0 - 1.5.5, Chrome only. Safari works.

[2016-05-24 12:37] vjoomens commented on #1426
Hi, same issue here. Try this:

`<ons-navigator animation="slide" var="nav" id="navigator" page="profiles.html">
    <ons-page>
        <ons-sliding-menu main-page="profiles.html" menu-page="menu.html" side="left" max-slide-distance="250px" var="menu">
        </ons-sliding-menu>
    </ons-page>
</ons-navigator>`

[2016-05-24 19:31] Maximvdw commented on #1427
Thanks for the answer @frankdiox that was the approach I was taking atm to bypass this. But shouldn't it be something that could be added by default? Since the goal is to get something 'hybrid', and not something that requires changes per OS (or future modifiers).

^ just my 50 cents ;)

[2016-05-24 19:31] Maximvdw commented on #1427
Closing it for now

[2016-05-24 19:31] #1427 closed

[2016-05-25 11:14] bdedardel opened #1429 "strange behaviour with popPage({refresh:true})"
__Environment__
Onsen 2 rc5
Angular

__Encountered problem__
If I push and pop pages without refresh, it's fine.
But if I push and pop pages with refresh, I get NS_ERROR_DOM_BAD_URI: Access to restricted URI denied the second time !

[2016-05-25 12:45] Maximvdw commented on #1429
I suggest trying RC6, it seems a fix that looks similar to your problem has been made

https://github.com/OnsenUI/OnsenUI/blob/2.0.0-rc.6/CHANGELOG.md

[2016-05-25 12:46] Maximvdw commented on #1402
Going to mark this as similar to https://github.com/OnsenUI/OnsenUI/issues/1415

[2016-05-25 13:41] frankdiox commented on #1429
@bdedardel @Maximvdw Yes, I think that's fixed in rc6. Please try it :)

[2016-05-25 13:45] frankdiox commented on #1415
Has anyone tried using `ons-splitter` instead of `ons-sliding-menu`?

[2016-05-25 14:41] vegetablesalad opened #1430 "Broken page transitions with ons-navigator on ios"
__Environment__
OS X El Capitan 10.11.5
Onsen 2 beta 6
iOS (9.3.1 and 9.3.2 on real iPhone 5) iOS 9.3 on 6s emulator

__Encountered problem__
Page transition animation is broken, tested on (fade and slide) it will briefly flash the next page and then start the animation. Back animation looks fine, but there is no way to know if it has the same “flash” problem - as it would be unnoticeable.

__Pen_

[2016-05-25 16:52] MortezaT commented on #1426
@argelius
Here is what I do:
This is the structure:
[code]
#### Index.html
[code]
#### main.html
[code]
#### menu.html
[code]

#### app.js
[code]

[2016-05-25 17:11] gtorodelvalle commented on #829
+1

[2016-05-25 17:58] frankdiox commented on #1415
@argelius Looks like this is related to CustomElements implementation. It works perfectly with the polyfill...

With the native implementation I could fix the first error but not the second... `document.registerElement = undefined;` and everything works like a charm... not sure what to do about this :confused:

[2016-05-26 05:34] #1426 closed

[2016-05-26 05:36] argelius commented on #1426
Thanks a lot @MortezaT and @vjoomens !

Your samples were very helpful. This has been fixed now and will work in the next version.

[2016-05-26 05:38] argelius commented on #1429
Since it looks like this is fixed I will close this issue :)

[2016-05-26 05:38] #1429 closed

[2016-05-26 05:39] argelius commented on #1415
I will take a look at this issue now

[2016-05-26 06:03] argelius commented on #829
We would love to support Meteor but none of us has any experience with it. Right now we are focusing on React and Angular2 but it might happen in the future :)

[2016-05-26 06:13] argelius commented on #1414
Referenced the wrong issue :)

[2016-05-26 06:13] #1414 closed

[2016-05-26 06:16] #1415 closed

[2016-05-26 06:18] argelius commented on #1415
@Legolaser This has been fixed now. Thanks for the bug report! :+1:

@frankdiox Looks like we need to do DOM mutations in `attachedCallback` otherwise the timing is incorrect for Angular. But this was only triggered with Sliding menu so I honestly don't know exactly why this happened.

[2016-05-26 07:32] argelius commented on #1412
I am also unable to reproduce this.

@EFCniux @biji Could you create a small example on Codepen that reproduces this?

Maybe you can use this tutorial as a starting point and export to Codepen:
http://tutorial.onsen.io/?framework=angular1&category=Getting%20started&module=Data%20binding

I tried changing the placeholder to an Angular string interpolation but it worked fine.

[2016-05-26 07:33] argelius commented on #1402
This was probably also fixed with #1415 so I will close it.

[2016-05-26 07:33] #1402 closed

[2016-05-26 08:21] Legolaser commented on #1415
Thanks @argelius

[2016-05-26 11:48] vjoomens commented on #1415
Hi, when can we expect rc7 to be released? We're anxiously waiting for this update 😃

[2016-05-26 12:12] frankdiox commented on #1413
@alegauss Hi! I think what you want to do here can be achieved with [page's infinite scroll](https://onsen.io/v2/docs/angular1/ons-page.html#attributes). Check out `ng-infinite-scroll` attribute or `onInfiniteScroll` property.
We don't plan to support something like this for lazy-repeat for now since this component was made for a different purpose. I'm closing this for now.

[2016-05-26 12:12] #1413 closed

[2016-05-26 12:22] bdedardel commented on #1429
I confirm that it works fine with rc6.
Regards,
Benjamin

[2016-05-26 12:22] dndoanh opened #1433 "ons-modal not working with ng-binding on Safari and iOS devices"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 rc 4
Angular 1.4.8
jQuery 2.2.1
iOS 9.2 Or Safari 9.0.3

__Encountered problem__
When I used ng-include to include a ons-modal then it works fine without any ng-bin

[2016-05-26 12:52] #395 closed

[2016-05-26 12:52] #462 closed

[2016-05-26 12:54] #822 closed

[2016-05-26 15:39] bdedardel opened #1434 "bad topPage.name after popPage"
__Environment__
Onsen 2 rc 6
Angular

__Encountered problem__
I have some problems with pages' stack and its parameters while using pushPage / popPage.
It seems that popPage doesn't update nav.topPage while entering into the new page.

Example
------------

### pushPage 1
this.myNavigator.pushPage('view-mypage.html', {data : {selectedParam:myObj}, animation: "none"});
=> log: MyController::constru

[2016-05-26 16:05] frankdiox commented on #1434
@bdedardel Hello! I would understand this error for rc.5, but I think this should be fixed in rc.6. I cannot see any problem with `{refresh: true}`: https://codepen.io/frankdiox/pen/wWwYog?editors=101

We'll probably add `data` for `popPage` as well.

[2016-05-27 06:04] bdedardel commented on #1434
Hi @frankdiox
I use rc6. To reproduce, just add in your example:

[code]
I you popPage from page3.html to page2.html, it will show 'page3.html' instead of 'page2.html'.
topPage was, in the last versions currentPage. That's why I expect this behaviour.
It makes sense for me !

[2016-05-27 09:47] vegetablesalad commented on #1430
I noticed the same issue in browser (chrome and safari), but this time it happens only on first animation. If I remove page from stack and open it again, then it will run smoothly.

[2016-05-27 10:47] benbvs commented on #1430
Same thing. Only the first transition is bad.

[2016-05-27 10:59] Maximvdw opened #1436 "iOS 7.1.X layout issues (incompatibility?)"
Hi,

I've read in the readme that iOS 7+ is supported, however I am having some problems with that:

Using Onsen UI RC7 - Latest commit: https://github.com/OnsenUI/OnsenUI/commit/05199e2462a829ea50fa8d3627596a97230dff88
iPhone 4 - iOS 7.1.2
CSS is made using the styles in the above commit (not theme roller).

Everything works on iOS 9, however my old iPhone 4 (with the latest update being 7.1.2) h

[2016-05-27 11:56] Maximvdw commented on #1436
I am closing this issue, going to try and make a demo project to simulate it (But it will take a while since time is something that is not really with me lately)

[2016-05-27 11:56] #1436 closed

[2016-05-27 12:38] MortezaT commented on #1426
@argelius Thank you but the problem is still there.
check this [fiddle][1].
[1]:https://jsfiddle.net/a3t3j0oz/

[2016-05-27 12:47] argelius commented on #1426
@MortezaT It has been fixed but not released yet. It will be released next week.

[2016-05-28 13:58] tfutada commented on #1433
i'm hitting the same issue. somehow it works if ons-dialog is used instead of ons-modal...

[2016-05-30 05:19] #1168 closed

[2016-05-30 11:35] frankdiox commented on #1434
@bdedardel Yes, I modified the example and saw it. It's weird, I'll take a look and see why that happens. Anyway, you are getting an `event` object that has the real page as `event.target`, so maybe you can use that instead for now.

[2016-05-30 15:18] pa-de-solminihac opened #1437 "Update AngularJS to latest minor version"
__Environment__
Onsen 1.3.15 / Onsen 2 beta 6
Angular 1.4.3

__Encountered problem__
AngularJS version is 1.4.3, should be at least 1.4.11.

__How to reproduce__
Clone the repo or fresh install.

[2016-05-30 15:20] pa-de-solminihac commented on #1437
The reason behin this request is that there are important bugfixes in recent angularjs versions.

For example, you can't cancel a $resource promise in 1.4.3 but this is fixed in https://github.com/angular/angular.js/commit/4fc734665e5dddef26ed30a9d4f75632cd269481

[2016-05-30 19:59] frankdiox commented on #1437
@pa-de-solminihac If I'm not mistaken, we don't provide AngularJS in a normal installation with `bower`, `npm` or `jspm`. For example, you can see the files you get for rc.6 [here](https://github.com/OnsenUI/OnsenUI-dist/tree/2.0.0-rc.6).
We have a version of AngularJS in the main repo for our own testing and examples, but you can download and use another version if you want. While it's true that

[2016-05-30 19:59] #1437 closed

[2016-05-31 05:55] IliaSky commented on #1434
@frankdiox I looked into it - It seems that at the time we were using `getCurrentPage` we were still keeping an internal `_pages` stack and managing it manually. So we were calling `_pages.pop()` in `_popPage`, whereas right now we're just using the actual children. Knowing that fact right now the current behaviour is logical as during the `init` event of the refreshed page the other page is still

[2016-05-31 09:14] bdedardel commented on #1434
@IliaSky
I think that it could not be considered as an expected behaviour, because
- if your enter in page2 with a pushPage, topPage will be 'page2.html'
- but if your enter in page2 with a popPage, topPage will be 'page3.html'
It is not logic!

Thanks for the other solution, I will study it. But as I use typescript + angular with controllers, I need this info inside my constructor.

[2016-05-31 09:35] frankdiox commented on #1434
@IliaSky Thanks for looking at it! Yes, I imagined it was related to the DOM not being ready. I would also say that this is kind of normal behavior because `init` event is not related to `ons-navigator`, but to `ons-page`, and thus it has no idea about `navi.topPage` or anything else.
To be more specific, `init` event is fired when the page is attached to the DOM. The difference between the 2 case

[2016-05-31 14:09] pa-de-solminihac commented on #1437
Thanks for you advice, I will update AngularJS separately.

FYI, I just tried a fresh install using bower version `1.7.9`:
[code]
I still see references to angular version `1.4.3` in `./bower_components/OnsenUI/js/onsenui_all.js` for example.

[2016-05-31 14:15] frankdiox commented on #1437
@pa-de-solminihac That's because the version you install is Onsen UI 1.3.14, which is based on AngularJS.

I was speaking about Onsen UI 2 (sorry if I didn't specify!), what is still a release candidate and you need to specify the version with `bower install onsenui#2.0.0-rc.7` to install it.

[2016-05-31 14:33] pa-de-solminihac commented on #1437
Of course! Thank you.

[2016-06-01 10:19] komachi commented on #845
I experience the same issue with 2.0.0-rc.7 and angular 1.5.6. Enabling debugInfo back makes it work. I created a codepen to demonstrate the issue http://codepen.io/komachi/pen/KMwvEV

[2016-06-01 12:18] IliaSky commented on #845
It seems that in `ons.compile` we are trying to use `angular.element(...).scope()`, which returns `undefined` while `debugInfo` is disabled.

I looked though most commits between Sep 4-7, but wasn't actually able to find the fix. It was added to the changelog, but maybe the fix itself was in another place and might have been overridden, I'm not sure. As it stands now it looks like the issue still

[2016-06-01 12:38] IliaSky commented on #1425
I tested it and it seems that in iOS `attachedCallback`, `contentReady` and `setImmediate` are all being executed before angular view's constructor is called. So even in much simpler cases our `init` event is fired before the angular view starts working. That's why the `ons-init` just misses the event (the even is fired normally, only the attribute doesn't work).

On another note: it seems that an

[2016-06-01 15:41] IliaSky commented on #845
@komachi - I guess the fix was lost somewhere along the way. It has just been reapplied, so it will be available in rc.8.

[2016-06-02 07:36] komachi commented on #845
@IliaSky Great, thanks!

[2016-06-02 13:24] tejayson opened #1439 "Ons-pull-hook vs $scope.$apply()"
**Environment**
Onsen 1.3.14
Angular 1.4.10

**Encountered problem**
I know Onsen UI v1 is fading but just to share an issue and my corresponding fix here, see if someone needs it or has a better suggestion.

I hit this when using ons-pull-hook on one of the ons-templates created for an ons-tabbar.  The issue does not occur at launch but after using the developed application for some time.  While

[2016-06-02 14:57] corneyl opened #1440 "Tappable list-item pushPage() action is delayed by ripple effect"
By default, when a list item is tappable, Onsen adds the ripple effect when material design is used. When the list item triggers a `pushPage()` event, the page transition is delayed until the ripple effect is finished. It would be better if the `pushPage()` event is not delayed by the ripple effect, or that it is possible to disable the ripple effect on certain elements.
By the way, this does not

[2016-06-02 20:22] corneyl commented on #1197
I think I have a related problem, my list is not displayed properly on older Android device, as is the titlebar.

**Android 4.1.2**
![screenshot_2016-06-02-22-09-15](https://cloud.githubusercontent.com/assets/5320363/15759683/15098a5e-2910-11e6-9330-65900ee15660.png)

**Android 6.0.1**
![screenshot_20160602-220435](https://cloud.githubusercontent.com/assets/5320363/15759684/150a81a2-2910-11e6-9d07

[2016-06-03 03:29] IliaSky commented on #1440
Actually it's more likely that it just feels that way. The default animation for Android is `fade-md` which has a `0.2`s delay by default. That delay is not actually connected with the ripple effect. So you can just set the animation options to `{delay: 0}` and it should be fine.

Could you confirm whether you're experiencing the issue if you set the `duration` to 0?

[2016-06-03 05:02] IliaSky commented on #1197
Hmm, even with the same configuration [Onsen 2 RC 9, react 15.1.0, react-onsenui 0.2.21] I seem to be unable to reproduce the issue (both the toolbar and the list render fine).

I tested it on Android 4.0.4 and 4.4.2. Might be something specific for 4.1.2...

The other option would be if there is something else which triggers it. Even though it's such a simple case, would you mind posting the exac

[2016-06-03 05:05] ming-k opened #1441 "Scrollbar on ons-toolbar & hidden ons-speed-dial"
__Environment__
Onsen 2 rc.8
Javascript
Android (material)

__Encountered problem__
1. When I add `ons-back-button` inside `ons-toolbar`, the toolbar's content becomes slightly taller, and as a result, a scrollbar appears at the right side of the toolbar.
2. Unlike `ons-fab`, `ons-speed-dial` does not have a `z-index` CSS property. As a result, if I add both `ons-list` and `ons-speed-dial` to an `

[2016-06-03 05:05] argelius commented on #1197
@IliaSky @corneyl We had a previous report about something similar on Android 4.1. Looks like the browser on 4.1 in some cases have a broken implementation of flexbox... :|

[2016-06-03 05:28] argelius commented on #1440
@IliaSky Do you know what's the reason for this delay? I'm guessing this delay can make it feel unresponsive

[2016-06-03 05:31] IliaSky commented on #1440
Well I think fran analysed the native animation and decided to put it at 200ms. We can remove it or make it smaller I guess.

[2016-06-03 05:31] argelius commented on #1440
Maybe @frankdiox's phone was slow :)

[2016-06-03 06:11] argelius commented on #1441
Thanks for reporting @ming-k !

We will take a look at these issues

[2016-06-03 06:15] IliaSky commented on #1441
Well these sounds like 2 separate issues to me, but never mind.

For the first one could you specify what browser does this occur in? The height of the button should be the same as the toolbar (`56px`). Here's a [demo](http://codepen.io/IliaSky/pen/WxvwEw?editors=1000).

You're correct about the second one. We can fix it easily.

[2016-06-03 08:14] corneyl commented on #1197
Sorry, I've found the problem. I compiled the CSS myself, and did not use autoprefixer. With autoprefixer enabled it looks fine.

[2016-06-03 08:16] argelius commented on #1197
@corneyl Great! :)

Autotprefixer is important because older browsers only support the old version of flexbox.

[2016-06-03 08:35] corneyl commented on #1440
I tried several other applications, including from Google itself, and I get the impression that they do not introduce a delay. The delays that occur are only the result of data loading or render delays.
In my opinion the default delay feels unresponsive, but using `{delay: 0}` solves the problem, thanks!

[2016-06-03 08:42] argelius commented on #1440
What do you think @frankdiox ? Should we remove the delay?

[2016-06-03 11:17] frankdiox commented on #1440
@argelius yeah I don't mind removing it. I checked it many times with different combinations and thought that there was a small delay while showing the mask, at least for md-lift. I don't remember adding delay for md-fade, though. Just remove, it's fine :)

[2016-06-03 11:48] #1440 closed

[2016-06-04 00:57] ming-k commented on #1441
Thanks for the response,
@IliaSky: I'm using firefox ESR 45.1.1. Your codepen demo is using the rc.4 CSS, I tried to change it to rc.8, and the scrollbar appears.

[2016-06-05 15:38] bdedardel commented on #1434
For those who need to have the current page name in the constructor of controllers, before the init event, I use my own Navigator to pop/push pages :

html
[code]
typescript
[code]
javascript
[code]

[2016-06-06 08:50] argelius commented on #1441
@IliaSky @ming-k

I also noticed the scrollable toolbar in Firefox when there is a back button.

[2016-06-06 09:46] #1434 closed

[2016-06-06 09:58] #1441 closed

[2016-06-06 10:09] IliaSky commented on #1441
It seems that the combination of `overflow-y: visible` and `overflow-x: hidden` wasn't working properly. And in firefox there seemed to be an issue where the `line-height` property was making some issues. However if it's fixed the backbutton is shifted by a couple of pixels up, and making more patches would be pretty ugly. So the final and simplest solution was just to make the overflow hidden by

[2016-06-07 14:20] frankdiox opened #1444 "Pull hook with fixed-content broken."
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2.0.0-rc.9
Chrome

__Encountered problem__

Pull-hook layout breaks when using `fixed-content` attribute.

__How to reproduce__
[](If possible provide a working examp

[2016-06-08 22:08] frandiox opened #1447 "Specs: Utility pack."
@argelius @anatoo @philolo1 @IliaSky @masahirotanaka
Some love for Vanilla JS users. These are just ideas with a possible syntax, but opinions/suggestions/modifications are welcome.
- Templating: Possibility of passing a function to navigation methods (pushPage, load, etc) that will be run before the content of `ons-template`/file is used by `getPageHTMLAsync` or similars. Users will be able to ha

[2016-06-09 00:51] #1444 closed

[2016-06-09 01:14] alegauss opened #1448 "ons-speed-dial - Issues with position fixed & scrolling on iOS"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 rc 9
Angular 1.5.2
iOS 9.2

__Encountered problem__

IOS have a weird behavior with a fixed object on a div with scroll, because the object does not keep fixed.

__

[2016-06-09 06:00] 2016lalu commented on #1290
Css: -- #fab--add{
              position:fixed;
              bottom:50px;
             right:20px;
         }
Html: --   "<ons-button class="fab" id="fab--add">+</ons-button>"

This code work in android and ios.

[2016-06-09 06:04] IliaSky commented on #1290
@2016lalu `position: fixed` isn't properly supported in iOS and results in buggy behaviour when scrolling. If you swipe to start scrolling then it scrolls the fixed element and restores it to it's place after the scrolling is finished. This whole issue is about a solution which does not use `position: fixed`.

[2016-06-09 06:51] DidiYordanov opened #1449 "`page.data` is `undefined` during `init` event"
__Environment__
Visual Studio 2015
Onsen UI v2 RC.9
Javascript
Android 4.4.4 and Windows 10 phone

__Encountered problem__
When running the [ons-navigator template](https://github.com/OnsenUI/project-templates/tree/master/templates/navigation) in certain devices there is a strange bug.

When I click an item for the first time it works fine, however if I go back and click another one it get errors

[2016-06-10 02:54] IliaSky commented on #1448
Thank you for the bug report. While this may be a duplicate of #1290 the fix which you are proposing is definitely something worth checking out. ^_^

[2016-06-10 06:43] gjkr opened #1450 "Popover arrow misplaced using Windows 10 and Edge 13"
__Environment__
Onsen 2 rc.9
Windows 10
Browser Edge 13.10586
(Free virtualbox from https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/windows/)

__Encountered problem__
Popover arrow misplaced - see image:
![popover](https://cloud.githubusercontent.com/assets/19851689/15955794/66b31f12-2ee4-11e6-847b-e5ebbcd43b3a.png)

__How to reproduce__
- Open: https://onsen.io/tutorial/index.html?

[2016-06-13 08:53] argelius commented on #1450
@gjkr Thank you for the bug report! We will take a look at this.

[2016-06-13 09:07] argelius commented on #1433
@dndoanh @tfutada Very sorry for the late reply!

Is this bug still present in the latest RC version?

[2016-06-13 09:08] argelius commented on #1433
@IliaSky When you have time can you take a look at this?

[2016-06-13 09:11] argelius commented on #1412
Closing this since we are unable to reproduce. Please reopen if you are having the same problem.

[2016-06-13 09:11] #1412 closed

[2016-06-13 09:12] frankdiox commented on #1449
@DidiYordanov Can you check if this works with #1451 ? It works now in Edge so it should also work in Windows 10 and probably the other browsers.

[2016-06-13 09:15] #1449 closed

[2016-06-13 10:34] #1450 closed

[2016-06-13 10:55] #1389 closed

[2016-06-13 11:04] argelius commented on #1388
Looks like these lines are not needed anymore so I will just remove them.

[2016-06-13 11:05] #1388 closed

[2016-06-13 19:40] SharkChips opened #1453 "Ons-Navigator throws exception when resetting page using lift animation"
_EDIT_: This only occurs when using the "lift" animation. No other animations are affected by this bug.

__Environment__
Anything after Onsen 2.0.0-beta.8
Any browser (tested chrome 51)

__Encountered problem__
When using `navigator.resetToPage()` while specifying the lift animation (both iOS and md are affected), the following error is thrown:

`Uncaught TypeError: _this9.pages[0]._destroy is not

[2016-06-14 01:54] frankdiox commented on #1453
@SharkChips Thanks for the detailed report. I was able to reproduce it in the interactive tutorial. We'll check it!

[2016-06-14 07:31] #1430 closed

[2016-06-14 08:51] #1453 closed

[2016-06-15 02:51] anatoo opened #1457 ""ios-slide" animation is slightly broken."
"ios-slide" animation is slightly broken. It animated incorrectly in toolbar.

__Environment__
master branch
Google Chrome

__How to reproduce__
Access "examples/navigator/index.html" and click 'Push Page 2' button and click "Pop Page" button.

__Expected Behavior__
[v1.x slide animation](https://onsen.io/v1/reference/ons-navigator.html#example)

[2016-06-15 09:25] argelius commented on #1457
Thank you @anatoo ! I can take a look at this.

[2016-06-16 03:03] munsterlander commented on #1447
YES PLEASE!!!  I would love include and repeat especially if I can make it play with VueJS.  Create element would be my alternate to repeat because I can loop and use that, which technically I already am doing, but I digress.

[2016-06-16 04:38] IliaSky commented on #1447
I guess I already said what's my opinion on the subject irl, but lets log it here too:

- Templating - totally up for it. When I joined the team I also thought it was missing and that a template without a templating function doesn't feel right. And for the implementation - I think I would actually prefer a way to set it globally (something like `ons.setTemplatingEngine()`). As for the suggested wa

[2016-06-16 05:18] frankdiox commented on #1447
@IliaSky Thanks for the feedback!
About `ons.util.createElement` part 3 `when would actually creating a single element from html be beneficial and the right approach?`. To-Do app, adding a new task could be like creating a single element that could be appended not only at the end of the list, but also somewhere at the middle (if it's for example an alphabetical ordered list). Maybe this is not the

[2016-06-16 07:09] frankdiox commented on #1390
`var a = document.createElement('ons-input'); a.value = 'hoge';`
`a.value // hoge`

[code]
This works under normal conditions as of today, maybe something changed in the core and it was fixed. Closing this for now.

[2016-06-16 07:09] #1390 closed

[2016-06-16 23:48] munsterlander commented on #1447
So, to add some insight on how I would be using createElement, it comes down to variations - which to be honest, there are lots of ways to do it.  As @frankdiox mentioned, let's just use a to-do app.

You can use v-for in the view portion of your code, modify the dataset and refresh your view and that works great EXCEPT for when I want to do conditional templating.  Say my list is mixed.  Some ima

[2016-06-17 17:43] airamrguez opened #1464 "A Switch component inside a Splitter component makes drag events overlap each other."
__Environment__
Onsen 2 beta 6
Javascript
Every platform

__Encountered problem__

A Switch component inside a Splitter component makes drag events overlap each other animating both at the same time.

__How to reproduce__
[Codepen example](https://codepen.io/anon/pen/VjKwdB)

[2016-06-18 01:30] argelius commented on #1464
Thank you @airamrguez !

We will take a look. Probably we need to stop propagation at the switch.

[2016-06-19 23:06] jonathandotchin opened #1467 "Onsen UI Templates for Visual Studio 2015 - Onsen UI Splitter Bug"
**Environment**
Onsen UI Templates for Visual Studio 2.0.0
Onsen 2.0.0-rc.8 Initially (comes with template)
Onsen 2.0.0-rc.11 Afterward (updated manually)
Windows Phone 8.1, Windows Phone 10, Windows 10

**Encountered problem**
The toggle menu button and the hamburger menu button does not work on in the Onsen UI Splitter template.

**How to reproduce**
In Visual Studio 2015 Community Edition with

[2016-06-20 00:45] masahirotanaka commented on #1467
Thanks for the report @jonathandotchin. We'll take a look.

[2016-06-20 00:46] masahirotanaka commented on #1467
@frankdiox @argelius Looks like this is a issue with Windows Phone (Edge?) environment. If it can be fixed rather quickly that's appreciated.

[2016-06-20 01:26] frankdiox commented on #1467
@masahirotanaka This works on Microsoft Edge. You can open [this tutorial](http://tutorial.onsen.io/?framework=vanilla&category=Reference&module=splitter) with Edge. I guess the window emulator has something different?

[2016-06-20 04:07] DidiYordanov commented on #1467
@jonathandotchin Please take a look [here](https://taco.visualstudio.com/en-us/docs/tutorial-onsen/#troubleshooting-lets-fix-it) and the documentation about [Get your app running on Windows](https://taco.visualstudio.com/en-us/docs/tutorial-onsen/#get-your-app-running-on-windows). I tested the Onsen UI Splitter template on Windows-x64 Local Machine, Windows 10 Phone and it works.

[2016-06-20 04:40] #1464 closed

[2016-06-20 06:22] #128 closed

[2016-06-20 06:22] #173 closed

[2016-06-20 06:23] #200 closed

[2016-06-20 13:43] jonathandotchin commented on #1467
@frankdiox I will try tonight to open the tutorial directly in the emulator and on the hardware to see. Back with some news soon.

@DidiYordanov That was the tutorial that I was using when I tested on emulator and hardware. The only thing I didn't try is the content security policy since the page load and the swipe works. Only the hamburger and the button didn't. I'll test it again tonight.

[2016-06-21 00:59] frankdiox commented on #1467
@jonathandotchin We tested it yesterday again and we could reproduce your exact problems only when choosing `windows 8.1` as target version. With `Windows 10.0` it worked without troubles :/

[2016-06-21 10:04] rogervila opened #1474 "[Question] Automatic inversion of elements for Arabic layouts"
Hello, I would like to know if there is an automated way to reverse the onsen components like a mirror.

I need to do this for the Arabic layout of an App, where everything must go from right to left.

Thank you.

[2016-06-21 14:18] untsamphan opened #1475 "typescript: error TS2656: Exported external package typings file '.../node_modules/onsenui/js/onsenui.d.ts' is not a module"
For a few days, I've tested successfully Onsen 2rc with TypeScript using a hand-made type definition file. Then today I saw this error from tsc.

`error TS2656: Exported external package typings file '.../node_modules/onsenui/js/onsenui.d.ts' is not a module. Please contact the package author to update the package definition.`

tsc seems to find an incorrect type definition file in node_modules.

[2016-06-21 16:49] nuthinking opened #1476 "demo link in the readme is broken"
404 on the website

[2016-06-22 00:05] munsterlander commented on #1474
Do you need the icons and such to be on the other side of the device as well or just the strings to be reversed?

[2016-06-22 02:21] frankdiox commented on #1475
@untsamphan We recently included `onsenui.d.ts` in the release but looks like it has some issues. I guess if you remove the `typings` entry from `package.json` it will work as before.
If you want to check the new typings we'd appreciate your feedback :)

[2016-06-22 02:27] frankdiox commented on #1476
@nuthinking Thanks! We recently changed the web and looks like we had some dead links here. We will probably rewrite the readme anyway :)

[2016-06-22 07:09] rogervila commented on #1474
I have reversed all the static components with jQuery, but I have to change also the ons-sliding-menu side attribute from right to left.

I have been looking on the docs, but [there is no method to do it](https://onsen.io/v1/reference/ons-sliding-menu.html#methods-summary).

The language change is dynamic, so reloading is not an option.

[2016-06-22 07:15] frankdiox commented on #1474
@rogervila If you use `ons-splitter` you can set `side="right"`. Few stuff like `ons-back-button` cannot be reverted right now, but probably it's not hard to make it manually.

[2016-06-22 08:21] rogervila commented on #1474
@frankdiox  I will try it.

I was thinking on removing the entire menu and compiling it as a new one.

I will give feedback of the result.

[2016-06-23 01:09] joeblew99 opened #1479 "feature request : material design datetime picker ?"
i cant see a datetime picker in the components at all....

[2016-06-23 08:03] #1476 closed

[2016-06-23 08:34] argelius commented on #1479
Thanks @joeblew99 !

We also want to add a date picker, both for iOS and Material Design. We will need to discuss it but it's definitely something that can be added for the next version together with some other components.

[2016-06-23 10:31] rogervila commented on #1474
I can't use ons-splitter because we are using v1.

I have not achieved a smooth and clean way to change the `side` attribute of a ons-sliding-menu component without messing up the animation.

Is it possible to add this feature for ons-sliding-menu on the v1?

[2016-06-23 13:13] psfutada commented on #1433
Hi, unfortunately the issue still persists in RC14. AngularJS 1.5.7 expressions embedded in ons-modal fails when running on Safari 9.1.1, while the ones embedded in ons-dialog work right.

[2016-06-23 13:49] frankdiox commented on #1474
It's still the same, `side="right"` if I don't remember wrong. It should be in the docs.
You have a migration guide [here](https://onsen.io/v2/docs/guide/angular1/from-v1-to-v2.html) if you want to start using Onsen UI 2.

[2016-06-23 20:44] gotenxds opened #1480 "Cant load in angular 2"
Hello, when I try to load the OnS_DIRECTIVES and use it in my app I get this runtime error:
![image](https://cloud.githubusercontent.com/assets/3519520/16319645/b27f2806-399c-11e6-9006-8fad1bbb5343.png)

my file is as follows:
`import {Component} from '@angular/core';
import {ROUTER_DIRECTIVES} from '@angular/router';
import {HTTP_PROVIDERS} from '@angular/http';
import {MapComponent} from '../map

[2016-06-23 22:19] spiritbrother opened #1481 "cant rotate screen with cordova device orientation plugin"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 beta 6
Angular 1.5.2
iOS 9.2

__Encountered problem__

__How to reproduce__
[](If possible provide a working example where the issue is reproduced. For this, go to

[2016-06-24 05:10] IliaSky commented on #1480
I guess a lot of people in the angular community have been running into this issue recently. Unfortunately I haven't been able to reproduce it.

Looking at the issues and commits of the angular repo it seems that they may have fixed it in RC3, which was released 3 days ago, can you confirm whether it still persists when using that?

[2016-06-24 06:23] #1457 closed

[2016-06-24 07:32] IliaSky commented on #1481
As you may have noticed in the start of the issue template - questions should be asked in either [stackoverflow.com/tags/onsen-ui](https://stackoverflow.com/tags/onsen-ui) or [community.onsen.io](https://community.onsen.io).

Also the problem specified does not seem to be related to onsen ui, as it does not interact with the mentioned plugin.

That being said I can think of several potential reaso

[2016-06-24 07:32] #1481 closed

[2016-06-24 12:35] corneyl opened #1482 "Automatic styling does not work with cordova-plugin-device in browser"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 RC 14
React 15.1.0
React-onsenui 0.5.6

__Encountered problem__
When the `cordova-plugin-device` is loaded, and it's `DeviceProxy.js` is used when testing in the br

[2016-06-24 15:47] gotenxds commented on #1480
Thanks for the answer, I'l try and upgrade today and update here when done.

[2016-06-24 19:40] firomero commented on #748
you should try with a directive, that's i think.

[2016-06-27 01:27] frankdiox commented on #1482
@corneyl Thanks! This makes sense, we'll check it :)

[2016-06-27 02:53] #1482 closed

[2016-06-27 07:39] awajda opened #1484 "iOS flushing pages"
Onsen 1.3.8
Angular 1.4.3
iOS 9.2
My team is working on the mobile application using ons-navigation, some pages use ons-tabbar.
Once we deployed application to iOS (iPhones and iPad too) devices for testing purposes, we noticed that some pages get flushed after loading. Some of these affected pages are just standard ons-page, w/o ons-tabbar.

Other platforms (Android/WP 8.1) work and there is no f

[2016-06-27 08:26] frankdiox commented on #1484
@awajda I'm not sure if I get what you mean. Are the pages reset after loading? Is there any flickering? If you have issues both with and without tabbar, probably the real problem is in the navigator. However I cannot think about anything else with this information :/

Anyway, we are now focused in version 2.0. It's release candidate and I think is better for production than 1.x right now, special

[2016-06-27 09:54] ruaanvds opened #1485 "<ons-speed-dial> not accessible via 'var' attribute"
__Environment__
Onsen 2 (v2.0.0-rc.14)
Angular 1.5.0
All platforms

__Encountered problem__
I'm trying to access the `<ons-speed-dial>` element via the `var` attribute, but no matter what I'm doing, I can't seem to reference the element. For reference, I'm trying to invoke `hideItems()` on the element itself.

All other elements seem to be working, so it appears to be isolated to speed dials.

__H

[2016-06-27 10:29] argelius commented on #1485
Thank you @ruaanvds ! Looks like the var attribute has not been implemented for `<ons-speed-dial>`.

We will fix it!

[2016-06-27 10:33] #1028 closed

[2016-06-27 10:34] #1156 closed

[2016-06-27 10:34] #1064 closed

[2016-06-27 10:34] #1049 closed

[2016-06-27 10:34] #1031 closed

[2016-06-27 10:35] #1027 closed

[2016-06-27 10:35] #1032 closed

[2016-06-27 10:36] #1330 closed

[2016-06-27 11:23] corneyl commented on #1482
Thanks!

[2016-06-28 01:58] frankdiox commented on #1485
@argelius We actually don't have bindings for `ons-speed-dial`. I guess we should add them now that it has `open` and `close` events.

[2016-06-28 06:06] argelius opened #1486 "Exposing modifier functions"
@OnsenUI/members @OnsenUI/owners

Adding and removing modifiers from elements can be a bit tricky right now.

We already have functions for this internally so I propose that we expose them to the users. I want your opinions on how to export them.

Here are some options:

**1)** Export the methods directly

[code]

**2)** Attach them to an object and export that

[code]

**3)** Export the `util` ob

[2016-06-28 07:46] frankdiox commented on #1486
I think I slightly prefer **3** since `util` would also contain `createElement` and maybe other methods.
Maybe **2** is also fine if we can do `import { createElement, modfierList } from 'onsenui';` and we don't export other methods.

[2016-06-28 08:39] ruaanvds commented on #1485
@frankdiox @argelius Is there any other way to target `ons-speed-dial` to invoke its methods in the meantime?

[2016-06-28 08:49] argelius commented on #1485
@ruaanvds You can run the methods directly on the DOM element.

[2016-06-28 10:01] ruaanvds commented on #1485
@argelius Excellent.

I'm currently using the following pattern, with success:

`$("[var='dialchannellist']").get(0).hideItems()`

Think this is a pretty viable workaround in the meantime. Thanks!

[2016-06-28 10:05] argelius commented on #1485
@ruaanvds Great that you were able to solve it! :)

We will support the `var` attribute from the next version.

[2016-06-28 10:19] argelius commented on #1486
@frankdiox I prefer 2 over 3 since exporting the whole `util` object would export a bunch of functions that are very specific and not useful to the user. I think option 2 is generally cleaner and also consistent with things like `ons.platform` and `ons.notification`.

[2016-06-28 10:25] ruaanvds commented on #1485
Thanks for the quick turnaround, @argelius. Looking forward to the next release.

[2016-06-28 16:05] anatoo commented on #1486
👍
I like **2** and dislike **3**.

[2016-06-29 04:38] #1485 closed

[2016-06-29 07:21] argelius opened #1488 "Popover incorrectly positioned when target is inside dialog."
Probably due to the positioning of the dialog the popover doesn't calculate its own position correctly.

This issue was originally reported in the [react-onsenui repo](https://github.com/OnsenUI/react-onsenui/issues/56).

[2016-06-29 10:03] #1433 closed

[2016-06-29 10:06] IliaSky commented on #1433
Sorry for the delay - lately we've been busy with the Angular 2 Release, so we didn't have much time. The fix will be available when we release RC16.

[2016-06-30 16:54] rtholmes opened #1489 "Dynamically change theme"
**Environment**
Onsen 2 beta 14

**Feature Request**

The theme roller pattern page is pretty great (http://components2.onsen.io/patterns) and demonstrates the flexibility of the Onsen theme system. It would be great to be able to ship multiple themes with an app to give users the ability to dynamically change their theme (e.g., light and dark).

[2016-06-30 19:47] jamesst20 opened #1490 "ons-list with ons-dialog : A scrolling issue."
Onsen 2 RC15
Android 6.0

Hi,

I have a ons-list on my ons-page and also a dialog. The problem is that even when the dialog is open, I can still scroll and the dialog will not follow. Also, let's say I scroll down and click an item to open the dialog, the dialog will appear at the top of the page so I have to scroll to the top to see it

Before scrolling (fine) http://i.imgur.com/JQWW0Nr.png
After

[2016-07-01 01:52] tfutada commented on #1433
No worries. Angular 2 sounds great. Nothing can stop you guys. What's next? Riot.js?

[2016-07-01 02:03] argelius commented on #1490
@jamesst20 Thanks for reporting!

The reason why it's scrolling with the page is that it's inside the `<ons-page>` element. Can you move it outside the element?

Since it's a modal dialog that covers the whole screen you can normally attach it directly to the body without any problem. Only difference is that the semi-transparent mask will also cover the toolbar but that is normally preferred behav

[2016-07-01 02:03] #1490 closed

[2016-07-01 02:07] argelius commented on #1486
Let's go with **option 2**!

Does anyone have any idea about what we should call the object? Is `ons.modifier` OK?

I think these method names are good for adding and removing modifiers:
[code]

I can't really think of a good name to check for existance.

Maybe like this:

[code]

[2016-07-01 02:08] frankdiox commented on #1486
@argelius What about `contains`? Like `classList`.

[2016-07-01 02:22] jamesst20 commented on #1490
@argelius

Thank you!! I will test once I get back to work on monday :)

Your answer makes sense !

Thanks :)

[2016-07-01 02:35] argelius commented on #1489
@rtholmes This is a good suggestion. Most modern browsers already support injecting and removing styles by adding and removing tags from `<head>`. You could probably implement this yourself with just a few of lines of code.

It's also possible to disable and enable stylesheets with the `documents.styleSheets[idx].disabled` property.

So basically I don't think this needs to be implemented in the c

[2016-07-01 02:43] argelius commented on #1328
Since we release React components I will close this. Please take a look at [this page](https://onsen.io/v2/react.html)

[2016-07-01 02:43] #1328 closed

[2016-07-01 03:00] #1197 closed

[2016-07-01 03:01] argelius commented on #1166
I think this has been solved. Please reopen if you're still having issues.

[2016-07-01 03:01] #1166 closed

[2016-07-01 03:03] #1153 closed

[2016-07-01 03:03] argelius commented on #1151
I will close this since we have been unable to reproduce the issue.

[2016-07-01 03:03] #1151 closed

[2016-07-01 03:06] #1083 closed

[2016-07-01 03:06] argelius commented on #1078
We have made scrollbars visible on all browsers by default now so I will close this.

[2016-07-01 03:06] #1078 closed

[2016-07-01 03:07] #1071 closed

[2016-07-01 03:27] #1045 closed

[2016-07-01 03:28] #1044 closed

[2016-07-01 03:28] #1043 closed

[2016-07-01 03:41] argelius commented on #1490
I hope it works out!

[2016-07-01 04:41] rtholmes commented on #1489
Actually that works great; might be worth adding to the theme roller docs or the guide for anyone thinking about this. Thanks for the tip!

[2016-07-01 04:57] IliaSky commented on #1488
Hmm I seem to be unable to reproduce the issue. It seems to be working fine. Maybe there is some specific case/browser in which the issue appears? [Working Demo](https://codepen.io/IliaSky/pen/QEvOva?editors=101)

[2016-07-01 09:35] argelius commented on #1488
@IliaSky I asked in the other issue for some more information.

[2016-07-01 10:58] #1352 closed

[2016-07-01 14:51] #1004 closed

[2016-07-04 10:30] davidNieves opened #1494 "I can't install Onsen UI 2 + Angular 2"
I all and thanks in advance.

I have a problem with angular 2 + onsen ui 2. I follow this steps:

1. Install Angular 2 with Node.js following the official documentation. All perfect. https://angular.io/docs/ts/latest/quickstart.html
2. After I follow onsen ui 2 install from official documentation: https://onsen.io/v2/docs/guide/angular2/index.html

    2.1.- Run command to install onsen ui + onsen

[2016-07-04 12:08] jamesst20 commented on #1490
It worked ! Thank you ! :)

[2016-07-05 16:20] rogervila opened #1495 "Checkbox inside list items sometimes does not change on tap"
__Environment__
Onsen 1.3.14
Angular 1.4.3
iOS 9.2
iPhone 5, 5s and 6
Safari, Firefox & Chrome

__Encountered problem__
Checkbox inside list items sometimes does not change on tap. On Android it works perfectly

__How to reproduce__
Create a Checkbox in List Item component from [Onsen Components](http://components.onsen.io/).

If you click on the list item, but not in the checkbox circle, sometime

[2016-07-05 16:28] rogervila commented on #349
Hello @argelius, I have the same problem as @dojoVader but with Onsen 1.3.16.
Should it be already solved?

[2016-07-05 16:56] munsterlander commented on #1495
It would be nice if they auto bound, but I think this is actually by design.  List items could contain all sorts of items and it would be hard to know what everyone is adding.  I usually just add a click event listener on the list-item and then have it modify the state of my component.

[2016-07-06 01:56] bdedardel opened #1496 "popPage error in rc15"
__Environment__
Onsen 2 rc15
Angular

__Encountered problem__
popPage raise an error in rc15. It works fine in rc14.

[code]

[2016-07-06 02:34] frankdiox commented on #1495
@rogervila I don't think there is any feature like that in v1.3.14. Those are just CSS components (without any logic) so looks like Chrome assumes you want to click them but Safari does not assume the same. If you want to trigger the checkbox always you need to add an event listener as @munsterlander says.
In v2, however, we do have [a way to do this easier](http://tutorial.onsen.io/?framework=van

[2016-07-06 02:34] #1495 closed

[2016-07-06 03:19] #1496 closed

[2016-07-06 07:08] cyclops24 opened #1497 "Unable to change platform with ons.platform.select"
Hi guys,
I start using OnsenUI 2 and your awesome package in Meteor 1.3.2.4 but I have small issue with them. I create a small demo app in github to fix issues for demo. Later when this fix completely you can refer to it as a complete example of OnsenUI+Meteor for meteor users.

This is my repo URL:
https://github.com/MeteorDemoApps/OnsenUI2JS-demo

And this is a line that not working and not swit

[2016-07-06 07:13] masahirotanaka commented on #1497
Hi! Thanks for trying to use Onsen UI with Meteor.
If that's not too complex, we might be able to solve the issue. Please stay tuned!

[2016-07-06 07:25] cyclops24 commented on #1497
Hi @masahirotanaka,
Thanks for your quick answer. I create demo for reproduce this issue as simple as possible. It's a small bare project.
When I click on "Android View" button it return below output to me in firebug but it's not change platform view also it's not return any error.
![onsenui](https://cloud.githubusercontent.com/assets/8266479/16610427/66b2a82a-4370-11e6-91d5-325697a2dcba.png)

[2016-07-06 07:33] frankdiox commented on #1497
@cyclops24 Hey! Thanks for trying out Onsen UI. Some quick thoughts here:

`ons.platform.select` only works at the beginning of the app. Obviously we don't expect to change platform during the app execution :sweat_smile:
Therefore, you should call `ons.platform.select` right after importing `onsenui`, not on button click event.
If what you want to do is some kind of OnsenUI+Meteor showcase applica

[2016-07-06 09:00] cyclops24 commented on #1497
Thanks @frankdiox,
I moved `ons.platform.select` after import `onsenui` and It's fixed now.

[2016-07-06 09:00] #1497 closed

[2016-07-06 11:02] IliaSky commented on #1494
Hi @davidNieves.

First I would like to mention that (as you may have noticed in our issue template) - we like using github issues only for bugs and feature requests only. Questions should be asked in either [stackoverflow.com/tags/onsen-ui](http://stackoverflow.com/tags/onsen-ui) or [community.onsen.io](https://community.onsen.io).

But anyway here's your answer:

There are 2 things which should

[2016-07-06 11:02] #1494 closed

[2016-07-06 16:37] cyclops24 opened #1498 "icons not showing at all"
Hi guys,
I start using OnsenUI 2 and your awesome package in Meteor 1.3.2.4 but I have small issue with them.
Icons not showing at all in my project. You can reproduce and see this here: https://github.com/MeteorDemoApps/OnsenUI2JS-demo/commit/64b49bc04ceeeb79375f04ba03a304682b03baa1 and below image:
![onsenui_2](https://cloud.githubusercontent.com/assets/8266479/16625787/6b91d73a-43bb-11e6-879a-4

[2016-07-06 16:49] cyclops24 opened #1499 "Android list item ripple, extra space on left"
Hi I think this is extra space on ripple animation:
![onsen_3](https://cloud.githubusercontent.com/assets/8266479/16626657/27fb8a1c-43bf-11e6-8e7d-a96cd10f2f22.png)

You can reproduce it here: https://onsen.io/v2/docs/js/list.html

[2016-07-06 23:24] frankdiox commented on #1498
@cyclops24 Hello! Probably the fonts are not loaded. Try to import them here: https://github.com/MeteorDemoApps/OnsenUI2JS-demo/blob/be29cd85d9bd75983c3eb680851a12e3eb382330/imports/ui/layouts/app-body.js

I think it should be something like:
[code]

At least if you have the whole onsenui package in the same directory.

[2016-07-07 02:32] alegauss opened #1500 "ons-sliding-menu shows white status bar on iOS"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 beta 15
Angular 1.5.2
iOS 9.2

__Encountered problem__

Using ons-sliding-menu on iOS appears white rectangle on status bar

__How to reproduce__
[](If possible pro

[2016-07-07 04:42] cyclops24 commented on #1498
@frankdiox Hi man,
I see these files imports in `/onsenui/css/onsenui.css` like below:
[code]
Why need import it again in JS when I import `onsenui/css/onsenui.css`? :anguished:

Anyway I added what you said in `app-body.js` and it seems something happens but still not working completely. You can see my output now in below image and compare previous in above comment:
![onsen_4](https://cloud.githu

[2016-07-07 04:45] IliaSky commented on #1500
Hi @alegauss. Looking at your DOM structure the fact that the sliding menu page has a `status-bar-fill` attribute is expected behaviour. As for the reason why it's white - that's just the default color.

The status bar fill itself as you can see is not an element, therefore it just adds padding on top of the page (and doesn't have a specific background). If there is a toolbar then the toolbar fill

[2016-07-07 04:45] #1500 closed

[2016-07-07 04:52] IliaSky commented on #1448
Unfortunately after some testing the suggested fix seems to produce buggy results for me. Maybe your devices are better than the ones which I used.

I guess if your fix works for you that's fine, but for now I will close this - we will come up with another fix for the core.

[2016-07-07 04:52] #1448 closed

[2016-07-07 08:39] #1499 closed

[2016-07-07 09:33] cyclops24 commented on #1499
Thanks @IliaSky :wink:

[2016-07-08 03:14] alegauss opened #1501 "iOS: status-bar-fill between ons-navigation and ons-tabbar"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 beta 15
Angular 1.5.2
iOS 9.2

__Encountered problem__
When use ons-navigation with ons-tabbar (modifier="material top") on iOS, it add status-bar-fill between thes

[2016-07-08 10:08] #1501 closed

[2016-07-08 10:10] IliaSky commented on #1501
Thanks for the bug report. The issue has been fixed. We will probably release RC.16 soon so feel free to use that. :)

[2016-07-08 15:13] cyclops24 commented on #1498
Guys are you any idea about this?

[2016-07-08 16:43] MortezaT commented on #1489
I'm using version `2-rc.15` with phonegap on android. the only themes that works for me is default and dark is there any problem with my code or this is android restriction?

[2016-07-10 05:42] tommy0311 opened #1502 "Whole-screen wiggling in iOS"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

**Environment**
"onsenui": "^2.0.0-rc.15",
"react-onsenui": "^0.6.2"
iOS 8.4.1
Meteor 1.3.3.1

**Encountered problem**
Whole-screen wiggling in iOS
http://imgur.com/1p0uSwq

**How to repro

[2016-07-10 14:05] RezaRahmati commented on #1201
Hu, same problem here, Onsen2 + AngularJs,
Is there any workaround or fix for that?
My app just published and I get a lot negative feedback from users

[2016-07-11 02:31] frankdiox commented on #1201
@RezaRahmati Can you be more specific? What does not work exactly? I just tested 4.2 and the only problem I've seen so far is a wrong transition effect in `ons-input` and `ons-switch`, what looks like a minor issue. Components like navigator or splitter seem to work as intended.

[2016-07-11 03:01] RezaRahmati commented on #1201
Sure, I attach some screen shots comparing on 4.2 and 4.4
p.s It's the same on Sim and Device
also when you try to open slide menu it comes and then it detaches from side of screen and then it gets back to proposed position (see 4-2_3.png)
In 4-2_1 the background is gone and style is somehow changed
In 4-2_2 main page is not loaded (it might be some (mine or yours) script which is not supported by

[2016-07-11 03:11] frankdiox commented on #1201
@RezaRahmati Thanks for the images. Is this all related to `ons-sliding-menu`, then? Or are you using `ons-splitter`?

What kind of styles are you applying in the menu? Is it just `background-color`?

[2016-07-11 03:14] RezaRahmati commented on #1201
This is how I use it
[code]

[2016-07-11 03:18] frankdiox commented on #1201
@RezaRahmati Thanks! I'll try that when I have some free time :)

[2016-07-11 03:21] RezaRahmati commented on #1201
@frankdiox Thanks a lot, if you say it should work I will try more on it too

[2016-07-11 07:20] jakwarrior opened #1503 "Change event fire twice when clicking on a switch"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 RC 15
Angular 1.5.5
Google Chrome 51

__Encountered problem__
I juste found a weird bug. When I click on a switch with Chrome and the device simulator enabled, the

[2016-07-11 07:31] IliaSky commented on #1502
Does this happen only when there is a tabbar in the page or always? If it only happens when there is a tabbar then it may have been fixed together with #1501. Otherwise I guess it's possible to be a react issue where react is trying to restore some previous state and ends up in some kind of loop because of that.

I just tested it and was unable to reproduce it with
`react-onsenui-kitchensink`, `on

[2016-07-11 07:34] philolo1 commented on #1502
A minimal example would be good to reproduce this issues.

[2016-07-11 09:20] argelius commented on #1363
I will close this since we are unable to reproduce it.

[2016-07-11 09:20] #1363 closed

[2016-07-11 09:20] argelius commented on #1488
I will close this since we are unable to reproduce it.

[2016-07-11 09:20] #1488 closed

[2016-07-11 16:23] tommy0311 commented on #1502
@IliaSky I observe it always happens.
@philolo1 Please reproduce the issue via this
https://github.com/tommy0311/issue-1502

[2016-07-12 04:54] copleykj opened #1505 "material text input labels don't use custom theme color"
__Environment__
Onsen 2 RC15
React 15
Android 6

__Encountered problem__
First the custom color for the text input label is improperly compiled by the theme roller.. I chose a dark theme with a light gray label color and it compiled to a blue that I had selected for something else, however instead of actually using the blue, the element's color style is set to rgba(0, 0, 0, 0.498039); when it is r

[2016-07-12 05:15] copleykj commented on #1505
This seems to be the source of the label's style being set: https://github.com/OnsenUI/OnsenUI/blob/master/core/src/elements/ons-input.js#L263

[2016-07-12 07:40] Drozdin opened #1506 "Ons-tabbar different controllers on each tab"
Hello, i've encountered a problem with ons-tabbar after migration to Onsen v2.
I have different controller on each ons-tab page which are separately HTML files and when the page with <ons-tabbar> loads , all the controllers from each ons-tab page load. In Onsen v1.x everything worked fine. Controllers loaded only after click on ons-tab. It is possible to achieve the same behaviour on Onsen v2?

[2016-07-12 08:00] frankdiox commented on #1506
@Drozdin Hello! Tabs where lazy in Onsen 1, what means that they were initialized only when you clicked on them the first time. This could cause delay the first time you see those pages. In Onsen 2 all the tabs are persistent and are loaded at the beginning. This behavior now triggers all your angular controllers at the start. There is no possible lazy load for tabs anymore.

However, you possibly

[2016-07-12 08:00] #1506 closed

[2016-07-12 09:19] jakwarrior opened #1508 "Exception when clicking on the back button of a page containing a floating action button"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 RC 15
Angular 1.5.5
Chrome 51

__Encountered problem__
When I click on the back button of a page which contains a floating action button, an exception occured
[code

[2016-07-12 09:29] IliaSky commented on #1508
Duplicate of #1496. This has already been fixed. The fix will be available when we release RC.16.

[2016-07-12 09:29] #1508 closed

[2016-07-12 18:31] dnish opened #1510 "Onsen2 - Bad transition within page changes"
__Environment__
Onsen 2 rc 15
React
iOS 9.3
Safari (development)

__Encountered problem__
We change the page via:

       this.props.navigator.pushPage({
            component: Chat
        });

If the page change happens, we can see the whole new page for a few milliseconds - after that, the transition animation starts. I think it would be better if the new page get's visible while the animation

[2016-07-13 07:19] argelius commented on #1510
@dnish: I was unable to reproduce this issue. Can you provide some simple code that we can try?

I've tried on iOS 9.3 both as a Cordova app and in Mobile Safari.

[2016-07-13 07:47] argelius commented on #1502
@tommy0311 Does this happen only when using Meteor? It doesn't happen when I run it in Mobile Safari.

[2016-07-13 08:21] jakwarrior commented on #1503
Thank you for your detailed answer. I just found this bug is not limited to the browser's device mode. I can reproduce the bug on a touch device with Windows as OS and Chrome (or Chromium). Here are all my tests (with [https://codepen.io/anon/pen/YWxYzy](https://codepen.io/anon/pen/YWxYzy):

-  Desktop device with Windows and several browsers (Chrome, Firefox, IE11) => OK
- Windows Touch Device (S

[2016-07-13 08:43] tommy0311 commented on #1502
@argelius Meteor build app with cordova.
I observe It only happens on real iOS device like iPhone or iPad.
The other platform like android, web and simulator are fine.

[2016-07-13 08:44] argelius commented on #1502
@tommy0311 Does it also happen for you if you open the app in Safari on the real device?

[2016-07-13 09:04] IliaSky commented on #1503
Hmm... Well I am guessing since it's the same behaviour as the previous case probably the reason is also the same - chrome sending both `click` and `tap` events for only one action. Unfortunately testing this on our side won't be really easy and the most likely fix would be something like a 10ms delay with a check, which is not very elegant. So I think we may keep this issue closed for now since i

[2016-07-13 09:09] argelius commented on #1503
@jakwarrior @IliaSky I agree. It looks like the device is generating two events in Chrome. Maybe we can try updating the version of Hammer that is bundled in Onsen UI.

However, there is no way for us to verify that it has been fixed since we don't have access to a Surface device.

[2016-07-13 09:11] tommy0311 commented on #1502
@argelius  Open the app in Safari on the real device does not happen this issue.

[2016-07-13 11:00] jakwarrior commented on #1503
@argelius You can use Chrome's device mode to test, like explained in my first post. No need of a Surface device.
I will try to fix this on my side in the meantime.

[2016-07-15 17:37] erikcw opened #1511 "Onsen2 - 100% CPU when 2+ ons-modals are on the page"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 rc-15
Angular 1.5.7
OSX - Chrome 51

__Encountered problem__

CPU gets pegged at 100% when an `ons-page` contains 2 or more `ons-modal` components.

Here is a scree

[2016-07-16 07:06] munsterlander commented on #1511
Modals don't need to be inside a page as they are callable templates.  Have you tried moving them outside and just be stand alone snippets?

[2016-07-17 04:18] munsterlander commented on #1498
How did you create the Onsen project?  This usually appears when the Onsen directory is messed up.  If the project is created via the CLI or Cloud, then the project is imported/created correctly.  Usually, I see problems like this when projects are being manually created.  Can you confirm that the Onsen directory has the aforementioned files in their appropriate path?

[2016-07-18 02:59] SharkChips opened #1512 "Ons-Navigator corrupts page stack when back button pressed"
__Environment__
Onsen UI 2.0.0 RC-15
Any Environment (tested android, iOS 9, Chrome 50)

__Encountered problem__
Immediately after firing a `backbutton` event, the page stack of `ons-navigator` (normally full of `ons-page`) is temporarily corrupted by a `div` element (WTF?).

__How to reproduce__

1. Make a `ons-navigator`
2. Push some pages onto the stack
3. Call `document.dispatchEvent(new Event

[2016-07-19 09:44] argelius commented on #1511
@erikcw Thanks for reporting!

I tried this and it looks like it keeps attaching and detaching the element if you put two modals in the page.

We will take a look at this and fix it.

[2016-07-19 09:50] argelius commented on #1512
@SharkChips Thanks for reporting!

The div that you are seeing is the semitransparent mask that is faded in while the animation is running. It only exists during the animation and is removed after.

Looks like we need to filter the `pages` property to only include `<ons-page>` elements. We will fix this.

[2016-07-19 09:55] #1512 closed

[2016-07-19 14:01] bladeSk opened #1513 "`show` fires before `init` on 1st page"
__Environment__
2.0.0-rc.15
plain js
Browser

__Encountered problem__
`show` event is fired before the `init` event, but only on the first page. All the other pushed pages fire `init` and then `show` as expected. I'm not sure if this is the intented behavior, but it's not consistent for sure.

__How to reproduce__
https://codepen.io/anon/pen/WxraNp - check the console

[2016-07-19 14:31] frankdiox commented on #1513
@bladeSk Thanks for the report. Looks like this bug was introduced in rc.5. The problem is not about the initial page, it actually happens when there is no animation. We'll fix this :)

[2016-07-20 09:41] argelius commented on #1505
Thanks @copleykj ! I will take a look at this

[2016-07-21 07:38] #1505 closed

[2016-07-21 15:17] MyG494 commented on #1510
For me occurs the same problem on iOS 9.3, iPhone 5 with Cordova and Angular 1. The following example produces the problem when using the Monaca Navigation template and putting the www into a fresh Cordova project.
On the index I modified only the loader.js import and the content to make the second page a bit more slowly.
[index.html.zip](https://github.com/OnsenUI/OnsenUI/files/376351/index.html.

[2016-07-22 03:14] DanielKalbasi commented on #485
@argelius I have the same issue, but instead in Android. in iOS is works pretty smooth.

[2016-07-22 04:19] #1511 closed

[2016-07-22 04:28] frankdiox commented on #1510
@MyG494 What's the Onsen UI version in the template you are using? This should be fixed in the last versions at least for Angular1. Not sure about React, though.

[2016-07-24 10:43] meisam3322 opened #1518 "Is it possible to use require.js in app ?"
I like to use require.js in my cordova app. i just want to know is it possible ?

thanks

[2016-07-24 10:51] argelius commented on #1518
@meisam3322 I don't use RequireJS personally so I'm not sure.

This kind of question is better suited for the [forum](https://community.onsen.io/) so I will close it.

[2016-07-24 10:51] #1518 closed

[2016-07-25 11:13] aminch opened #1519 "iOS/Safari slide animation doesn't work when using babel-polyfill"
**Environment**
Onsen 2 rc 15
Onsen React 0.6.2
iOS 9.3 or Safari 9.1.2

**Encountered problem**
I'm using generator functions in my project so I added babel-polyfill, after that transition animations stopped working. The animation when pushing pages in the navigator doesn't work in iOS or Safari, and you cannot pop pages.

The animations do work in Chrome, or if your force the platform to be andr

[2016-07-26 14:30] danielearwicker opened #1520 "TypeScript definitions are incorrect"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 rc 15
TypeScript 2.1-dev

__Encountered problem__
I am trying to use onsenui 2.0 RC 15 with TypeScript. When importing the onsenui module from a TS file, if it comp

[2016-07-26 14:42] danielearwicker commented on #1520
Looks like you've prepared `onsenui.d.ts` for use by anyone who is **NOT** using module system (browserify/webpack etc), so for those users there is a global `ons` object.

Whereas for users of a module system, the module itself is equivalent to the `ons` object.

So currently your `.d.ts` file is not compatible with the `typings` property in `package.json`.

See [immutablejs](https://github.com/f

[2016-07-27 05:59] erikcw opened #1523 "ons-list.refresh() doesn't work/exist in Onsen2"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 git master
Angular 1.5.7
Chrome/OSX

__Encountered problem__

I'm try to call the `refresh()` method of an ons-list (with ons-lazy-repeat) -- but the method doesn't

[2016-07-27 06:27] argelius commented on #1523
@erikcw Thanks!

I have fixed this. However, for the AngularJS directive the `refresh()` method is exposed in a slightly different way since we are not using the `<ons-lazy-repeat>` element.

The `refresh()` method is attached to the delegate object dynamically so you can do something like:

[code]

This will be available in the next release.

[2016-07-27 06:27] #1523 closed

[2016-07-27 06:30] argelius commented on #1520
Thank you @danielearwicker !

We will definitely fix this. The file was originally made to get source code completion in editors but we will update it to support module systems as well.

Personally I don't have much experience with Typescript but I will take this opportunity to learn :)

[2016-07-27 08:55] argelius opened #1524 "Expose animators"
@OnsenUI/members It should be possible to import animators so they can be extended more easily.

What do you think is a good API for importing the animators?

[2016-07-27 10:04] frankdiox commented on #1524
Right now creating a new animator is done [like this](https://codepen.io/frankdiox/pen/kXJvQL?&editors=101) (in ES5). I think we should also have a `extend` method to make this easier.

For the core API, perhaps we can move the element classes to `ons` object instead of `window`:
* `ons.OnsNavigatorElement.registerAnimator`
* `ons.OnsNavigatorElement.animators.iOSSlide`
* `var customAnimator = ons

[2016-07-27 22:52] philolo1 commented on #1524
Should animators depend on the object? I think it would make more sense to
make them more general and expose them in an ons object if its possible.

On Wednesday, 27 July 2016, Fran Dios <notifications@github.com> wrote:

[2016-07-28 00:59] #1513 closed

[2016-07-28 04:13] IliaSky commented on #1524
@philolo1
Basically they don't really depend much on the object - the question is more like where would they feel natural to be accessed from.

The splitter, tabbar and navigator animations are special since they operate on different objects.

In theory if we put them in the same place I think we may get users confused a little.

You are correct that the animations for `ons-modal`, `ons-popover`,

[2016-07-28 07:07] argelius commented on #1524
I think @frankdiox's suggestion looks good and it isn't a big change from what we currently have.

[2016-07-28 07:22] MyG494 commented on #1510
Thank you, using the rc15 fixed it for me!

[2016-07-28 08:24] argelius commented on #1510
Great @MyG494 !

I will close this issue for now.

[2016-07-28 08:24] #1510 closed

[2016-07-28 16:18] munsterlander commented on #1479
Curious, the new HTML5 standard has `input type="date"` which resolves to native date picker in iOS and Android.  Is the requirement a different date picker than what is already available and supported by `ons-input`?  I tested both on Android and both work.

[2016-07-28 18:02] argelius opened #1527 "Remove `_compiled` attribute from all components"
There are still some components that use the `_compiled` attribute. We should get rid of this and also remove it from the React components since they are depending on it for the tabbar.

[2016-07-28 18:13] argelius commented on #1479
@munsterlander Yes, that's what I usually do but depending on the version of Android it will look different and there is no way to style it.

[2016-07-28 20:29] argelius opened #1528 "Tabbar broken in React"
@anatoo I think https://github.com/OnsenUI/OnsenUI/pull/1492 broke the tabbar in React.

It's trying to use the `pageLoader` but that is not necessary in React since the pages are already rendered by React. Do you have any idea what changed? I tried to debug the code but there are a lot of changes in both `<ons-tabbar>` and `<ons-tab>` and I couldn't find what change is causing the problem.

In Re

[2016-07-29 02:16] anatoo commented on #1528
@argelius What about setting a page loader that do nothing?

[code]

[2016-07-29 02:17] argelius commented on #1528
@anatoo Good idea! I will try this

[2016-07-29 02:29] argelius commented on #1528
Actually this is still causing an error:

[code]

[2016-07-29 02:41] anatoo commented on #1528
hmm...

Do you set "page" attribute on ons-tab?
I think you should not page attribute or property because it cause page-loader's load.

[2016-07-29 14:24] meisam3322 opened #1529 "when i use splitter all page content will disable"
i use splitter like it
[code]
this is my page

[code]

i cannot open splitter , but in onsenui.css when i change

[code]

z-index to 5 value will work but all page will disable.

[2016-07-29 15:02] meisam3322 commented on #1529
i tried ons-splitter-content got page attribute follow of my home page, but i have repeat 2 times my home page and splitter works well. but i loaded my home page before.

[2016-07-29 15:34] meisam3322 opened #1530 "problem with ons-navigator and ons-splitter works together"
i want use navigator animation for my app and also want to have global splitter in it. i set navigator to **tempHome** template and also splitter content page attribute to **tempHome** template.

so i have 2 **tempHome** template in my app first page. is there any idea to solve it?
thank you all

[2016-07-29 16:15] meisam3322 commented on #1400
i use this address http://codepen.io/IliaSky/pen/rePgbp?editors=1010
but splitter only work for first page. is there any idea to make splitter globally ??

thank you lliaSky for that cool demo

[2016-07-30 03:39] frankdiox commented on #1530
Have you checked the [tutorial for this](http://tutorial.onsen.io/?framework=vanilla&category=Community%20tutorials&module=splitter_navigator)?

[2016-07-30 16:45] maverickpravin opened #1531 "insertPage & ResetTopage not working"

[2016-07-30 18:32] munsterlander commented on #1531
Can you provide what is not working?  Here is a codepen I through together and everything is working as anticipated.  https://codepen.io/anon/pen/OXwQaL

[2016-07-31 20:40] aminch commented on #1519
Hi, I'd like to know if any more information is needed to look into this issue, Thanks.

[2016-08-01 04:32] argelius commented on #1519
Thanks for reporting @aminch ! That is very strange. Maybe the babel polyfill overrides something.

We will take a look at this.

[2016-08-01 04:32] #1530 closed

[2016-08-01 04:32] #1531 closed

[2016-08-01 20:22] #1529 closed

[2016-08-02 07:42] d3orn commented on #845
disabling debug in Onsen 1.3.17 still throws this error

[2016-08-03 11:09] frankdiox commented on #1498
@cyclops24 Finally I got some time to check it. This problem is due to the way Meteor imports CSS when you write it in a JavaScript file. They simply copy the content of the file you import into a `<style></style>` tag in the `<head>` of `index.html`. However, they don't resolve the imports inside that file! Even if you manually include the icons CSS manually it won't work because those files also

[2016-08-03 11:09] #1498 closed

[2016-08-03 21:03] gtsopour commented on #1103
The following code is working for me in 1.3.17.

[code]

Best
George

[2016-08-03 21:04] gtsopour commented on #591
The following code is working for me in 1.3.17.

[code]

Best
George

[2016-08-04 07:07] ambatiram commented on #1420
Hello @Maximvdw,

is this issue fixed ?? I don't think Theme Roller is updated with new version. I can see this issue till now .

[2016-08-04 22:43] erikcw opened #1533 "Onsen2 - ons-back-button needs sane default when "ons-navigator's page stack is empty""
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

**Environment**
Onsen 2 RC (git master)
Angular 1.5.7
Chrome/OSX

**Encountered problem**

If I re-open my app into a "deep" screen, then click the `ons-back-button` -- I get the following

[2016-08-05 09:13] #1528 closed

[2016-08-05 19:48] rgins16 opened #1536 "Onsen UI 2 'longdivider' modifier does not work for infinite list created in Angular Delegate"
The chevron modifier appears correctly. However when I change the modifier to 'longdivider', the longdivider does not appear.

I believe this is a bug.

Here is my Angular delegate code:

[code]

[2016-08-06 06:02] munsterlander commented on #1536
This appears to be answered by @IliaSky here:  http://stackoverflow.com/questions/38796616/onsen-ui-infinite-list-setting-the-modifier-as-longdivider-does-not-work

It appears to not be a bug due to your background color choice blending in.

[2016-08-06 06:07] IliaSky commented on #1536
Oh I didn't notice an issue was created - thanks for the help @munsterlander .

@rgins16 - for similar problems feel free to discuss them @ the community first.

I will close this now.

[2016-08-06 06:07] #1536 closed

[2016-08-06 06:19] IliaSky commented on #1533
@erikcw We generally don't expect users to be clicking the `ons-back-button` when the stack is empty. There is some onsen logic trying to hide the button in that case. I am not sure how exactly you reopen the app with only the "deep" page. I'm not sure I have a complete grasp of how it comes to that situation.

In my opinion it's fine if we throw an exception if someone tries to do that.

As for t

[2016-08-06 15:08] erikcw commented on #1533
So the app saves its current page in localstorage and then on startup will load that page page to take the user back to where they left off.  I should have been more clear -- it's not that the app becomes unresponsive -- it's just that the user is then trapped on that screen since the backbutton is the only way to get out...

I inherited this app from another dev -- so if you're saying the on-back

[2016-08-06 17:40] rgins16 commented on #1536
Apologies.

[2016-08-06 19:01] munsterlander commented on #1536
@rgins16 No apologies needed!  Just one big happy community trying to help everyone out and keep things organized so the Onsen team can focus on getting 2.0 out completely and bring us neat new cool stuff!

[2016-08-08 02:02] #1520 closed

[2016-08-08 09:23] frankdiox opened #1537 "pageLoader issue"
@anatoo @argelius There is a problem with the new `pageLoader` in rc.16. Some user reported that a page loaded in `ons-splitter` fires `init` event twice. Here's why:

[code]

Before the last changes, `getPageHTMLAsync` was just creating the page element. After that this method removed the current loaded page in the splitter-content and then it attached the new created element.

However, right now

[2016-08-08 09:41] anatoo commented on #1537
I agree your opinion, but it is simply impossible in Angular2. I struggled to just create element that bound Angular2 component without attaching but I could not find the way a few months ago. I think we should improve this problem in other ways.

[2016-08-08 22:30] philolo1 opened #1538 "Feature request: behaviour of ons-button to submit form"
Some user in react-onsenui wants the `ons-button` to behave like in a form, meaning if you click the button it will submit the form. Here is the related issue? https://github.com/OnsenUI/react-onsenui/issues/105. Lets discuss this feature here

[2016-08-08 22:31] philolo1 commented on #1538
@frankdiox @argelius @IliaSky @anatoo opions are appreciated

[2016-08-08 23:18] IliaSky commented on #1538
I agree that it makes sense. When I initially looked at Onsen UI I was also expecting the same behaviour.

Implementing it shouldn't be too big of an issue. Though if the others don't like the idea I guess it doesn't sound very important.

[2016-08-09 02:44] munsterlander commented on #1538
I guess I am on the opposite side of this.  I do not want this feature as a default, because then I am going to have to disable it 99% of the time.  If it was an attribute to set to true, then fine, but I would prefer to just code the form submit in JS because of user input validation.  Just my opinion.

[2016-08-09 02:45] munsterlander commented on #1538
On mobile so I can't edit my previous post, but I guess I could see the user of the type attribute so you could set it to submit or button.

[2016-08-09 08:43] jvillamor-visp-net opened #1539 "readyLock is undefined"
**Environment:**
Onsen 2.0.0-rc.17
Meteor 1.4.0.1
Angular-Meteor 1.3.11
es5-shim 4.6.13

**Problem:**
After importing onsen in a fresh Angular-Meteor project, I get `TypeError: ons._readyLock is undefined` in Firefox and `Uncaught TypeError: Cannot read property 'lock' of undefined` in Chrome.

**Reproduction:**
Here's a meteor project repository that produces the error. Click [here](https://githu

[2016-08-10 03:24] frankdiox commented on #1538
I don't have a strong opinion on this. In case we implement it I guess it should be optional with `type="submit"` or `type="button"` as the normal HTML5 buttons. Too bad that we cannot extend `HTMLButtonElement` in CustomElements :sweat_smile:

[2016-08-10 03:29] frankdiox commented on #1539
@jvillamor-visp-net Looks like there's a problem with the import timing. Try this:

[code]

[2016-08-10 04:39] IliaSky commented on #1538
@munsterlander
The way I see it it shouldn't make any problems most of the time. This feature will do something only when the `ons-button` is inside a `form` tag. (I may be wrong, but I think most of our users just use the `ons-button` without putting it in a form.) If you have a form tag it's usually better to change the form submission in the first place, so button clicks shouldn't be a problem

[2016-08-10 06:57] munsterlander commented on #1538
I would prefer the type attribute, this way the default behavior is just a markup button.  Default submit - in a form or out of a form - raises security issues that I avoid.

[2016-08-10 14:11] qifuren1985 opened #1541 "pop multi pages"
popPage method add support for pop multi pages.
for example: signup has three steps, when I finish signup, I need to pop to first page, so if popPage method support pop multi pages, I don't need to call popPage for multi time and also pop faster.

[2016-08-11 00:55] munsterlander commented on #1541
This is already a function, `resetToPage(page, [options])`.  The documents discuss it further here: https://onsen.io/v2/docs/js/ons-navigator.html

[2016-08-11 02:00] qifuren1985 commented on #1541
@munsterlander
resetToPage(page, [options])	Clears page stack and adds the specified page to the stack. Extends pushPage() parameters.

If I have A->B->C1->C2->C3 views in stack, I just want to pop to B, and I don't want to clear page stack and then create a new page.

[2016-08-11 03:36] munsterlander commented on #1541
@qifuren1985 I don't think there is a method where Onsen would know what arbitrary page you want to pop to.  You would either need to pop then push, as you work through the sign up, or delete the stack and then push back A and B.  It's just not possible for a method to know where you want to pop too as it will change for every use case.

The only way I can "maybe" think of pulling this off, would

[2016-08-11 05:24] qifuren1985 commented on #1541
@munsterlander
In iOS, it has a method called popToViewController.
- (nullable NSArray<__kindof UIViewController *> *)popToViewController:(UIViewController *)viewController animated:(BOOL)animated; // Pops view controllers until the one specified is on top. Returns the popped controllers.

[2016-08-11 05:48] munsterlander commented on #1541
@qifuren1985 Onsen doesn't have anything like that, that I am aware of.  That would need to be added.  Paging @argelius and @frankdiox for input.

[2016-08-11 09:33] thisar commented on #1511
hi, I have the same problème in my projet.
I have div= page__extra turn always for data-device-back-button-handler-id to find an id. It autoincrement always. how you solved ?

[2016-08-11 15:53] IliaSky commented on #1511
@thisar what version are you using exactly - all `.page__extra` logic should already be removed, so you should not have such an element with RC 16-17. If you update your onsen version the bug should also disappear :)

[2016-08-11 15:58] IliaSky commented on #1541
@qifuren1985 from what I understand you don't want to see 3 popPage animations, right? In that case you can just do something like `navi.pages[2].remove()` twice and then do `navi.popPage()`. I think our current navigator should be able to handle if you simply remove the `ons-page` dom elements and do one animation :)

We might consider adding such a feature in the future, but for now I think simp

[2016-08-12 03:26] jvillamor-visp-net commented on #1539
@frankdiox the error is gone when I used require. However, after requiring the libraries, a new error pops up.

`Onsen UI require jqLite. Load jQuery after loading AngularJS to fix this error. jQuery may break Onsen UI behavior.`

I'm using angular from npm and not from atmosphere. Even if I get the package from atmosphere, the same error pops up, ending with a blank page.

Are there any plans for

[2016-08-12 05:58] frankdiox commented on #1539
@jvillamor-visp-net I think you can safely ignore that warning. Looks like Meteor is including jQuery and Angular also includes its own jqLite. If you know a way to change the dependency order in Meteor you can try to load AngularJS before jQuery.

I don't think we need to release a meteor package since using NPM seems to be enough.
By the way, there is a OnsenUI-Meteor application [here](https://

[2016-08-12 05:58] #1539 closed

[2016-08-12 07:02] argelius commented on #1541
@qifuren1985 Yes, I think the easiest way is just top remove the pages manually from the stack. Another option might be to use two navigators.

I will close this for now.

[2016-08-12 07:02] #1541 closed

[2016-08-12 07:39] #1537 closed

[2016-08-12 08:44] #1209 closed

[2016-08-12 10:06] argelius commented on #1538
I don't really want to do this since we would have to add a custom click event listener to every button that submits the parent form. Better to just let the user add their own click event handler for the cases where they want to submit a form.

[2016-08-12 10:45] frankdiox commented on #1541
@qifuren1985 @IliaSky Just one quick note, you must remove pages using `navi.children` instead of `navi.pages`. The first one is the real HTMLCollection, but the second one is just a normal array that cannot modify the DOM.

[2016-08-12 12:57] gotenxds opened #1544 "Missing method in DTS"
Hii, Im using onsen ui with angular 2 and ts and when compiling my project I get the following error :

[code]

Adding this method to the dts file fixes this for me.

[2016-08-12 14:33] munsterlander commented on #1398
Can this be closed as I believe there isn't any further discussion?

[2016-08-12 15:03] frankdiox commented on #1544
@gotenxds Are you using the latest version? There is no `pushComponent` anymore: #1517

[2016-08-12 15:03] #1544 closed

[2016-08-12 16:53] gotenxds commented on #1544
Well then this should be updated in the docs as well as it got me confused :
https://onsen.io/v2/docs/angular2/navigation.html

[2016-08-12 19:34] frankdiox commented on #1544
@gotenxds Thanks for pointing it out. @anatoo Can you update that? Not sure if what changed was the name or something else.

[2016-08-13 09:49] anatoo commented on #1544
I already removed doc comments of `pushComponent()` and `popComponent()`. Probably it is website issue. @argelius @frankdiox Could you check that?

[2016-08-14 04:10] munsterlander commented on #1533
Sorry for the late reply, but yes Onsen is behaving as it should.  What is happening, is that on open, my guess is that you are only pushing the one page to the stack, meaning it only has the 1 item and nothing to go back too.  Hence, the back button is missing.  The easiest fix would be to push the main page first and then the page you want.  You would probably need to show the splash screen a bi

[2016-08-14 06:46] rockneverdies55 opened #1545 "bottom toolbar is scrolling with the page"
The behavior is fine in rc.15. However when I upgrade to rc.17 the bottom toolbar component starts scrolling with the page.

[2016-08-14 10:57] bado57 opened #1546 "Ons Template in doesn't work pull hook"
Hi everyone;

My html code;

[code]

My html code this one. I run pull hook in ons template  but not working.

My script code;

[code]

Thanks .

[2016-08-15 03:45] munsterlander commented on #1546
Are you mixing vanilla JS with AngularJS?  Which do you prefer to implement for this?

[2016-08-15 03:51] frankdiox commented on #1546
@bado57 `ons-template` is just a *template* (surprisingly), it's not a component or instance of component. That implies its content is not attached to the DOM and you cannot simply get it with `getElementById`. I'm not sure how is the flow of your application, but putting `ons-navigator` inside `ons-template` means you have an `ons-splitter` or `ons-tabbar` loading it, right? If that's not the cas

[2016-08-15 03:56] munsterlander commented on #1546
@frankdiox Awesome, this is right in line with my thinking.  I was trying to figure out if there was a controller loading this with Angular and I was going to suggest after attachment to the DOM, then instantiate the pullhook listener; otherwise, if it was vanilla, then obviously the item doesn't exist and is probably returning undefined for null.

[2016-08-15 06:36] IliaSky commented on #1545
Hi - we haven't heard from you in a while.

I'm guessing you are using only the core (vanilla js). If the problem occurs only with a specific framework it would be good to mention it.

Currently I am unable to reproduce the issue. [Here](https://codepen.io/IliaSky/pen/AXNPBO?&editors=100) it seems to be working fine with RC.17.

Possible reasons I can come up with for your behaviour are

 - the to

[2016-08-15 13:24] svdoever opened #1547 "Documentation OnsenUI is way below par"
Dear people creating OnsenUI,

I have been doing a lot of mobile development using ReactJS and decided to move over to OnsenUI as my UI framework.Features looked good, performance looked good, documentation looked ok on first inspection....

I'm  working with the OnsenUI (in combination with ReactJS) for a few months now, and the thing that worries me most is the bad documentation provided with On

[2016-08-15 15:55] munsterlander commented on #1547
@svdoever I agree 100% that documentation is necessary for development and advancement.  I would also like to note, that like you, I have abandoned many products due to overall issues such as, lack of documentation, to early for release, or lack of support.  I say that to argue on behalf of the Onsen team.

Their product is hands down the simplest to implement.  Yes, there are some deficiencies bu

[2016-08-15 16:18] svdoever commented on #1547
@munsterlander I would like OnsenUI to succeed, that is why I wrote down my concern. Because it is open source it might be best to help with producing pull requests on the documentation (or actually the source code the documentation is produced from.  By the way, thanks for the great answers you are giving on issues, helped me out a few times.

Verzonden vanaf mijn Samsung Galaxy-smartphone.

----

[2016-08-15 16:23] munsterlander commented on #1547
@svdoever Thanks and I as well want them to succeed.  I had posted in the forums all the different platforms that we went through before we got to Onsen and now everyone in my group who is using it, only wants to use it.  We believe that Onsen crushes Ionic, et. al.  Ionic definitely is more established, but I think if we all help out, then Onsen will become the powerhouse on the block.

Also, gla

[2016-08-15 17:24] curtispatrick84 opened #1548 "MacOS: Chrome 'flicker' when infinite scrolling with <LazyList />"
**Environment**
Onsen 2.0.0-rc.17
React 15.2.1
Mac OS (10.11.5) and Chrome (52.0.2743.116 64-bit)

**Encountered problem**
In Chrome ONLY (not in FireFox nor Safari): as a user scrolls through a LazyList, the rendered data ‘flickers.’ Here is a link to a GIF showing a side-by-side comparison with the same App in Safari and in Chrome: http://g.recordit.co/TOPA56PFmK.gif

Out of curiosity, is there

[2016-08-16 02:34] argelius commented on #1547
@svdoever

Thank you for all the great feedback. We also want to make the documentation better.

It looks like there is a bug on the React documentation. We will take a look at that.

If you want to contribute to the docs you can make a PR to the website repo. Most of the docs are located in this directory:

https://github.com/OnsenUI/onsen.io/tree/master/src/documents_en/v2/docs

Also, the refere

[2016-08-16 05:36] argelius commented on #1548
@curtispatrick84 Thanks for reporting! I was unable to reproduce this myself.

Please ping me again when you have made a Codepen example. :+1:

[2016-08-16 05:39] argelius commented on #1546
I will close this.

[2016-08-16 05:39] #1546 closed

[2016-08-16 05:39] #1538 closed

[2016-08-16 07:02] thisar commented on #1511
Hi, I Use onsenui v2.0.0-beta.8 - 2016-03-25 . is'nt the laster,

[2016-08-16 07:09] argelius commented on #1511
@thisar Can you try updating to the latest version?

[2016-08-16 07:10] thisar commented on #1511
I am , I 'll let you know if it solves the bug

[2016-08-16 07:49] thisar commented on #1511
It's ok. Thank U

[2016-08-16 09:25] IliaSky opened #1549 "Angular 2 bindings - RC.2 doesn't like pageLoader"
__Environment__
Onsen 2 RC.17
Angular 2 RC.2 - RC.4
Chrome

__Encountered problem__
When loading a tab in the tabbar or page in the navigator using the `page` property. Bindings like `{{sth}}` or `*ngFor` don't work out of the box and require some action like a click on an element with `(click)="..."` to start working.

The page's `ngOnInit` method is also not called until that point, whereas it w

[2016-08-16 15:26] rockneverdies55 commented on #1545
Thanks for the quick reply @IliaSky . Here is how I have it in my code: https://codepen.io/rockneverdies55/pen/dXAXAk?editors=0010#0

[2016-08-16 15:37] dnish opened #1550 "Adding device feedback"
Hey,
I'm just wondering if we could add "haptic feedback" for Android devices, if the user clicks on a component. There is a Cordova [plugin](https://github.com/VVelda/device-feedback) for that feature. I think it would be cool if we could enable it via plugin (or if the plugin is installed). This should give Android users a more native feeling.

[2016-08-16 15:41] IliaSky commented on #1545
Oh ok so you are currently trying react.

With react the toolbars for the pages should be created using additional render methods. I see you are using `renderToolbar` - there is a similar one for the bottom one -`renderBottomToolbar`.

[Here](https://codepen.io/IliaSky/pen/AXwLBL?editors=0010)'s your codepen with that modification.

As for why these components are created using those methods maybe

[2016-08-16 16:05] dnish opened #1551 "Popover not working"
Hey,
the Popover isn't working if I add my toolbar to the renderToolbar function:

**Environment**
Onsen 2 RC 17
React
Android 6.0

**Encountered problem**
After clicking on the button to open the popover, nothing happens. Works fine if I don't add the toolbar via renderToolbar method.

**How to reproduce**
Just render a toolbar with a menu button which will show the popover if the user clicks on

[2016-08-17 03:30] qifuren1985 opened #1552 "exception on mac os safari 9.1.2 and ios 9.3.3"
when push page without toolbar in safari, it will throw an exception.

**Environment**
Onsen 2.0.0-rc.15
react 15.3.0
iOS 9.3.3 safari and mac osx safari 9.1.2

**Encountered problem**
in function _canAnimateToolbar, this._contentElement is undefined

TypeError: undefined is not an object (evaluating 'element.children')
findChild — lazy-repeat.js:333
_canAnimateToolbar — ons-splitter-side.js:274
_

[2016-08-17 03:53] qifuren1985 opened #1553 "blank margin on tab bar bottom on mac os safari 9.1.2 and ios 9.3.3"
**Environment**
Onsen 2.0.0-rc.15
react 15.3.0
iOS 9.3.3 safari and mac osx safari 9.1.2

**Encountered problem**
![image](https://cloud.githubusercontent.com/assets/187371/17723982/e90ab756-6470-11e6-8e32-26f9f6d0ffa6.png)

**How to reproduce**
When pushPage use animation lift, popPage has no argument, it will cause this problem.
If pushPage use animation lift, popPage also use animation list, th

[2016-08-17 07:09] gnokit opened #1554 "The range component cannot "touch and slide" with Splitter Side Menu"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 rc 16
Chrome/Android

__Encountered problem__

The Range component cannot "touch and slide" with Splitter Side Menu

__How to reproduce__
[](If possible provide a w

[2016-08-17 08:06] munsterlander commented on #1550
With Onsen and Monaca you can!  Just use the import option described here:  https://docs.monaca.io/en/manual/dependencies/custom_cordova_plugin/#custom-cordova-plugin

[2016-08-17 10:51] dnish commented on #1550
Yeah I know, but I want to fire the <code>window.plugins.deviceFeedback.acoustic()</code> on every click that happens on a React component like a button or a list item. Now I have to add a onClick handler manually to all my own components, but I think it would be better if Onsens would integrate it in it's own React component since they want give their users a "real native feeling".

[2016-08-17 15:02] boomfly opened #1555 "lazy list feature"
List works well only when the server is very heavy forms each time a large list. It would be possible to implement the infinite list like this with two properties and loadMoreData and moreDataCanBeLoaded to load data portions

[2016-08-17 16:01] rockneverdies55 commented on #1545
Thank you @IliaSky. The issue with using `renderBottomToolbar` instead is that then I can't use `ref` to reference either the bottom-toolbar itself or any elements it contains (same exact thing is true for the actual toolbar -- I personally think that the component that renders the `Page` should have some kind of access to its Page & Toolbar elements... though I guess that's a thing to be discusse

[2016-08-18 03:13] munsterlander commented on #1550
@dnish Although I have not tried this plugin, I did find several that can be used with React and also do not require onClick handlers.  Maybe these could help out!  Googling for haptic plugins found a bunch.

https://github.com/VVelda/device-feedback

[2016-08-18 05:44] argelius commented on #1550
@dnish Instead of adding a click handler to every button you could make a new component that wraps the Onsen Button component and adds the feedback on click.

I will close this since I don't think we will implement this.

[2016-08-18 05:44] #1550 closed

[2016-08-18 05:58] IliaSky commented on #1555
Hi - we actually already have 2 features like that.

The first one is `ons-lazy-repeat` - it focuses on also keeping the dom relatively clear, showing only a set amount of items at any point. [docs](https://onsen.io/v2/docs/js/ons-lazy-repeat.html)

The second one has an API almost identical to the one which you suggest. It's a property or attribute of `ons-page` - (`on-infinite-scroll` attribute

[2016-08-18 05:58] #1555 closed

[2016-08-18 08:29] thisar commented on #1511
Hi,
In fact I have a big edge effect.
Yes I do not have the problem of extra page.
But I can not use my application because loggin no longer works with the update of onsen.

all over the page , I can click on anything and I can not write .

[2016-08-18 08:31] thisar commented on #1511
<ons-toolbar>
    <div class="center" id="infoApp">Apizee<br /><em>{{labels.communicationService}}</em></div>
</ons-toolbar>
<ons-page ng-controller="LoginController" id="login_zone" ng-init="init()">
    <div class="background">
        <div class="login_form">
            <p id="infoApp">

            </p>
            <ons-row class="logo">
                <ons-col>
                    <img src=

[2016-08-18 08:34] thisar commented on #1511
![sans titre](https://cloud.githubusercontent.com/assets/20967348/17767224/be8cef36-6537-11e6-9ef9-113f8609ee09.png)

[2016-08-18 09:44] anatoo commented on #1549
@IliaSky Thank you for reporting. Ok, I will investigate this problem.

[2016-08-18 09:54] IliaSky commented on #1511
@thisar The code seems pretty much fine. The problem comes from the `background` class - Onsen uses 2 classes for its pages - `page__background` and `page__content` - Since for some other frameworks it's better for the users to be able to create those themselves we decided to add these classes automatically if we find either `.background` or `.content` children directly in `ons-page`. So what is h

[2016-08-18 12:24] thisar commented on #1511
Thank you very much. It works.
But if

    <div class="center" id="infoApp">Nom<br /><em>{{labels.communicationService}}</em></div>
</ons-toolbar>
<ons-page ng-controller="LoginController" id="login_zone" ng-init="init()">

it work.
And if
<ons-page ng-controller="LoginController" id="login_zone" ng-init="init()">
  <ons-toolbar>
    <div class="center" id="infoApp"> _{{labels.communicationService

[2016-08-18 13:25] untsamphan commented on #1475
The onsenui.d.ts in npm release works now. Thanks.

Looking forward to see typedef for react-onsenui too.

[2016-08-18 13:26] #1475 closed

[2016-08-18 13:42] IliaSky commented on #1511
@thisar - it sounds like somewhere you are providing 2 sibling elements where onsen expects only one. Maybe if you can post something like a codepen where we reproduce the issue it will be simpler. (For example modifying the one above.)

From what I see:
- Having the `ons-toolbar` inside the `ons-page` is actually the expected behaviour, which you can also see in the codepen provided above.
- In t

[2016-08-19 06:11] argelius commented on #1554
Thank you for reporting @gnokit ! I will take a look at this next week

[2016-08-19 18:54] munsterlander opened #1557 "Input Placeholder - After user input, placeholder moves to upper left corner in material"
**Environment**
Onsen 2 RC 17
Android 6.0.1

**Encountered problem**

https://community.onsen.io/topic/618/rc-16-text-input-placeholder-issues

**How to reproduce**

`<ons-input placeholder="00"></ons-input>`

View on Android with Material design.   Type anything into the input and the placeholder will go to the upper left corner outside of the input.

Edit:  This has been confirmed to only affect

[2016-08-22 06:02] argelius commented on #1557
@munsterlander I will take a look at this. Is this happening even if you don't have the `float` attribute?

[2016-08-22 07:03] munsterlander commented on #1557
@argelius Yes it happens without float.  So basically my test is, brand new project using baseline template (no custom anything), just add an input field with a placeholder, use the default material style on Android and it happens as the images show.  If you force the style to ios, it works fine on Android.

[2016-08-22 17:04] porchdog opened #1558 "React Popover component does not work reliably in Safari/Firefox"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

**Environment**
Onsen 2 beta 17
React 15.3.1
OS X 10.11
iOS 9.3

**Encountered problem**

When I used a Popover, it wouldn't display in Safari or Firefox.  It worked perfectly in Chrome.

[2016-08-24 13:18] rgins16 opened #1561 "Dialog show() method parameters are broken"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2
MEAN.JS
Latest Version of Chrome

__Encountered problem__
I have created a dialog in my jade file. I am displaying it in JavaScript using the dialog show method and

[2016-08-24 13:21] jitu-git opened #1562 "iOS app keyboard bug when focussing on a select drop-down"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

So I have a Cordova 6.2.9 app running on iOS 8.4.1 using both Onsen 2.0.0

I have a form on the app with text input fields and select drop downs. In the video you see I am focussed on a te

[2016-08-25 01:15] erikcw commented on #1523
@argelius So I tried accessing `refresh()` from the delegate object, and I still get an error saying

[code]

I'm on Onsen 2.0.0-rc.17.

[2016-08-25 01:16] erikcw commented on #1523
For reference...

[code]

[2016-08-26 11:49] beebase commented on #1547
I still have no idea how to push a Component Page into the Navigator route stack. All examples I can find demonstrate navigation in one single mickey mouse file, which is useless. In real life,  pages are always in separate files/components which need to be pushed into the Navigator.  Can someone please link me to any docs on this?

[2016-08-26 12:10] argelius commented on #1547
@beebase

I am on my phone right now so I can't write a long response.

Basically the implementation of `renderPage` is up to the developer. It takes a `route` object and renders a page.

Here is an example of how it could look:

https://github.com/argelius/react-onsenui-redux-weather/blob/master/components/App.js

In this app no custom props are passed to the pages but you could add something lik

[2016-08-26 12:36] beebase commented on #1547
@argelius: thanks! My first attempt with onsenui/react wast fiddling around with the splitter example, trying to embed stack navigation.(too much at once obviously)
After installing the navigation example everything was instantly clear to me.  It perfectly demonstrates pushing multiple page files to the nav stack.
Thanks again for replying so fast.

[2016-08-28 12:55] puku0x opened #1565 "ons-carousel - 'postchange' fired in an unexpected page on Android"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

Hi,

Thank you for your great job.
I'm developing an app and facing a big problem about 'ons-carousel' component now.

**Environment**
Onsen 2 RC17
Angular 1.5.8
Android 5.1.1

**Encounter

[2016-08-29 08:47] argelius commented on #1565
Thanks @puku0x ! We will take a look at this issue.

[2016-08-29 08:49] argelius commented on #1561
Thanks @rgins16 ! We will take a look at this.

[2016-08-29 08:54] cyclops24 opened #1566 "Docs Issue: React Modal live example not exist (404 error)"
Hi guys,
I try use Modal live example in react but it's not working:
https://onsen.io/v2/docs/react/Modal.html
This error message also printed in my firebug console:
`"NetworkError: 404 Not Found - https://onsen.io/tutorial/tutorial/react/Reference/modal.html"`
All other live example works well except this one.

[2016-08-29 15:12] munsterlander commented on #1566
Good catch.  I will work on it right now and put in a PR.

[2016-08-30 03:08] frankdiox commented on #1566
It's been merged so I'm closing this now. The website will be updated soon :smile:
Thanks guys!

[2016-08-30 03:08] #1566 closed

[2016-08-30 08:25] cyclops24 commented on #1566
Thanks @munsterlander and @frankdiox. :wink:

[2016-08-31 07:35] ilovezy opened #1569 "support ios8"
on ios8  the dialog component did not position at center and vertical middle, suggest to add prefix to cover some css3 attributes

[2016-09-01 07:53] puku0x commented on #1565
Unfortunately, I found this problem happened on iOS too.

**How to reproduce**
1. Create a page which has an ons-carousel component.
2. Push a page which has a text input tag.
3. Rotate the orientation of the page.

[2016-09-06 03:17] argelius commented on #1569
@ilovezy Sorry for the late reply. We will take a look at this.

[2016-09-06 10:20] argelius opened #1573 "Support <template> tag"
I think we should support normal `<template>` tag so you can do:

[code]

And then you  can use these templates normally like:

[code]

@anatoo @frankdiox What do you think?

[2016-09-07 07:00] macchiitaka commented on #1519
Please see `onsenui/js/onsenui.js`, around line 18,049.
This error occurs in the case of `typeof this._contentElement === 'undefined'`.
[code]

[2016-09-07 07:32] lideen commented on #1552
+1

[2016-09-07 23:44] frankdiox commented on #1549
@anatoo Can we close this issue?

[2016-09-08 02:39] anatoo commented on #1549
Yes, this problem can't be reproduced in current master branch.

[2016-09-08 02:39] #1549 closed

[2016-09-08 05:19] anatoo commented on #1573
👍

[2016-09-08 19:13] lucandrade commented on #1557
@munsterlander How do i force ios style?

[2016-09-08 22:04] munsterlander commented on #1557
With the following:

[code]

[2016-09-09 12:56] lucandrade commented on #1557
@munsterlander thanks man!

[2016-09-10 02:30] alegauss opened #1578 "ons-tabbar doesn't store "options" objects"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 vue 2

__Encountered problem__
On page (https://onsen.io/v2/docs/js/ons-tabbar.html) describes that:
loadPage(url, [options])

setActiveTab(index, [options])

__How

[2016-09-12 06:45] argelius commented on #1569
@ilovezy I am unable to reproduce this. Can you please provide some steps to reproduce it?

Are you running in Cordova? Can you show some very simple code that reproduces this bug?

[2016-09-12 06:47] argelius commented on #1562
@jitu-git Sorry for the late reply. Can you provide some steps to reproduce this bug?

I will close this for now but please feel free to open again if you feel it's a bug in Onsen UI.

[2016-09-12 06:47] #1562 closed

[2016-09-12 06:55] argelius commented on #1561
@rgins16 I took a look at the code and it looks like the docs for the "fade" animator is a mistake. There is only two default animators for iOS and Android + a simple slide animation.

We will consider adding a simple fade animator for the dialogs as well.

The `delay` parameter currently doesn't work for the `none` animator. We will fix this but I think it's not only for the dialog, it's probably

[2016-09-12 06:55] #1561 closed

[2016-09-12 06:55] argelius commented on #1569
I will close this for now but please feel free to open it if you can provide a way to reproduce the issue.

[2016-09-12 06:55] #1569 closed

[2016-09-12 07:06] #1554 closed

[2016-09-12 07:06] argelius commented on #1554
@gnokit Sure sorry for the long delay. This has been fixed now.

[2016-09-12 10:07] juspriet opened #1580 "ons-back-button doesn't work after pushpage with splitter in ios cordova"
__Environment__
Onsen 2.0.0-rc.18
jquery
iOS 9.3.5

__Encountered problem__
I have a ios cordova application with splitter and ons-navigator inside ons-splitter-content.
After pushPage, ons-back-button doesn't work.
And pushPage animation doesn't slide !

[2016-09-12 10:26] argelius commented on #1580
@juspriet Can you create a simple example that reproduces this bug?

[2016-09-12 11:59] juspriet commented on #1580
here is a working exemple.
No need to put a ons-splitter component.
The problem seems to be when there is no ons-toolbar on the first page but there is one in the second page....

[Archive.zip](https://github.com/OnsenUI/OnsenUI/files/467226/Archive.zip)

[2016-09-12 16:09] munsterlander commented on #1580
@juspriet I will look at your code, but below is fully functioning code on both platforms for me.

[code]

[2016-09-12 16:31] juspriet commented on #1580
I've just tryed your exemple both with :
- My IPhone 6 with ios 9.3.5 (cordova)
- An IPhone 5 simulator with  ios 9.3.5 on my mac (cordova)
And it doesn't work !! Same problem !

When I try your exemple with Safari on my Iphone, It works (without cordova, but with apache)

When I try your exemple with 2.0.0-rc.17 on cordova, it works too...

not easy...

[2016-09-12 20:24] munsterlander commented on #1580
Hmmm, that is odd.  Hopefully someone else can try some other devices.  I used the Monaca debugger to test.  Are you building the app?  Is there anything in the console?

[2016-09-13 07:03] juspriet commented on #1580
yes, i’m building the app with the last version of cordova and no, there is absolutely nothing in the console, even with the cordova-plugin-console plugin.

[2016-09-13 07:34] argelius commented on #1580
@juspriet @munsterlander

Maybe it's related to this issue: https://github.com/OnsenUI/OnsenUI/issues/1552

However, in this case an error was thrown.

[2016-09-13 07:42] juspriet commented on #1580
I’ve just tried it with safari, i have a warning :
Failed to load resource: the server responded with a status of 404 (Not Found)
Cannot GET /exemple/www/components/loader.js

[2016-09-13 11:21] asial-matagawa commented on #1580
It also reproduced with my macOS Safari 9.1.3 and I found that this issue is caused by the following line:
https://github.com/OnsenUI/OnsenUI/blob/5d24ffb8708fa2446fca030931bdcefb9e65146b/core/src/elements/ons-page.js#L32

When I replaced
[code]
with
[code]
then the munsterlander's code worked fine.

It seems that when `document.createElement('ons-toolbar')` is invoked too early, the evaluated val

[2016-09-13 16:09] Harryteja commented on #328
Can any one tell, how it is  solved..it is throwing an exception like [WebActionDisablingCALayerDelegate willBeRemoved]: .. I am using UIWebVIew

[2016-09-13 16:14] Harryteja commented on #863
Me too, throwing error with same message...It is not displaying webContent showing blank and crashes by showing this error in log..Can anyone tell me exact solution for this?

[2016-09-13 17:17] iqmeta commented on #1580
Same here on **r18, broke back button**.. on r17 same code is working.

Also there is a **tab-bar problem with iOS / mobile Safari,** on Chrome it's working fine:

[code]

**Chrome console is correct:**
[code]

**On iOS gruppePage is added 3x times:**
[code]

**Markup Tabbar** no where else in code gruppen.html was referenced
[code]
**gruppen.html**
[code]

[code]

**Screenshot from Cordova Remote

[2016-09-14 08:44] asial-matagawa opened #1584 "ons-tabbar inserts duplicated pages on iOS / mobile Safari"
Reported by @iqmeta in #1580.

[2016-09-14 08:46] asial-matagawa commented on #1580
@iqmeta:
Thank you for reporting.
I created a new issue page for the problem you reported, so please check #1584.

[2016-09-14 08:46] #1580 closed

[2016-09-14 08:50] frankdiox commented on #1584
@asial-matagawa The link to the community was a different issue and it was fixed in https://github.com/OnsenUI/OnsenUI/pull/1540

[2016-09-14 08:57] asial-matagawa commented on #1584
@frankdiox Thank you for information!

[2016-09-14 12:27] argelius commented on #1584
Thank you @asial-matagawa !

Do you have time to look at this issue tomorrow?

[2016-09-14 13:57] asial-matagawa commented on #1584
@argelius No problem. I will check this soon.

[2016-09-14 13:57] argelius commented on #1584
@asial-matagawa Thank you! :+1:

[2016-09-14 20:15] schonmann commented on #1557
I don't know if my problem deserve a new issue, so im posting here. Well, i started developing with OnsenUI-2 today. I am having issues dealing with `<ons-input>` and the placeholder attribute.

* Code:

<ons-page modifier="material">

    <div style="text-align: center;">
        <p>
            <ons-input placeholder="Username" id="username" modifier="material" float></ons-input>
        </p>

[2016-09-15 00:14] argelius commented on #1557
@schonmann Does it work correctly if you use the default template?

[2016-09-15 09:05] anatoo opened #1586 "Some testcases fail on Cordova + iOS 10."
@argelius  I tested `examples/*/index.html` on `rc.18` + Cordova + iOS 10 and some testcases fail.

## Environment

 * Onsen UI 2.0.0-rc.18
 * iOS 10
 * Cordova 6.3.1

## Encountered problem

 * ons-page and ons-toolbar: status bar padding is nothing.
![image](https://cloud.githubusercontent.com/assets/59784/18544109/2b745502-7b6e-11e6-92d3-9f742f271324.png)

 * ons-navigator(examples/navigator/in

[2016-09-15 09:10] argelius commented on #1586
@anatoo Thank you for testing!

The status bar filling needs to be fixed before releasing, I was not aware of it failing

[2016-09-15 09:17] asial-matagawa commented on #1584
@andreas: @frankdiox: @anatoo:
It seems that Custom Elements v1 polyfill calls `connectedCallback` many times per one `ons-tab` element on macOS Safari (on Chrome it does not).
At this time I have yet to identified that which of the polyfill and Onsen UI core causes this issue.

[2016-09-15 09:25] argelius commented on #1586
By the way, I don't think the `undefined` in the first example is not a bug. I think it's just how the example is written.

[2016-09-15 09:30] anatoo commented on #1586
That's right. However user developers may think Onsen UI is just broken when see `ons-navigator` example. Also it should be fixed.

[2016-09-15 09:30] argelius commented on #1586
@anatoo That's true, let's fix the example

[2016-09-15 09:49] anatoo commented on #1586
@argelius I had a mistake. Examples does not loaded `cordova.js` and the status bar filling is fixed after adding script tag to load `corodva.js`.
Next I will fix `ons-navigator` example issue.

[2016-09-15 09:57] anatoo commented on #1586
I just fixed `ons-navigator` example issue on this commit: https://github.com/OnsenUI/OnsenUI/commit/b2ff3c71298e7392c691554d670079e05b5a3158

[2016-09-15 09:58] argelius commented on #1586
Thanks @anatoo!

[2016-09-15 11:31] asial-matagawa commented on #1584
As a test I disabled Custom Elements v0 implementation (included in Chrome 52) which [document-register-element](https://github.com/WebReflection/document-register-element) uses internally, then Chrome 52 also reproduced the problem.
So we can conclude that this is not a problem of Safari.

[2016-09-15 11:33] argelius commented on #1584
@asial-matagawa Thanks! So it looks like it's a bug in the polyfill

I can also take a look at this tomorrow since it's reproducible in Chrome

[2016-09-15 11:33] argelius commented on #1584
Maybe we can make a patch for the polyfill, I think that's better than trying to patch the problem in Onsen UI

[2016-09-15 15:42] davidperrenoud commented on #1558
Wasn't this fixed with commit https://github.com/OnsenUI/OnsenUI/commit/738c7f0787767506f0365dc9325f6d8f0e279fc3?

[2016-09-15 17:39] schonmann commented on #1557
@argelius
Sorry for the delay. Ok, i think i found the problem. The css stuff i downloaded from 'http://components2.onsen.io/' messed it up. I've rolled back and now it's working fine.

[2016-09-16 02:16] asial-matagawa commented on #1584
@argelius:
How to reproduce it on Chrome 52:

1. Create an empty directory.
2. Copy 5 files from [a Gist](https://gist.github.com/asial-matagawa/01cc32086e3cd6b6a51d01f4e296c6ab) I have created.
3. Run `git clone https://github.com/OnsenUI/OnsenUI --branch 2.0.0-rc.18 --depth 1` in the directory.
4. Run `npm install` in `OnsenUI` directory.
5. Rewrite `if (!(REGISTER_ELEMENT in document))` in `Ons

[2016-09-16 04:12] argelius commented on #1586
Will close this for now. I will take a look at the list border today

[2016-09-16 04:12] #1586 closed

[2016-09-16 04:13] argelius commented on #1578
@alegauss Thanks! I think this might be a problem with the documentation. I will fix it.

You can not pass options like this in the tabbar at this point.

[2016-09-16 04:13] #1578 closed

[2016-09-16 09:39] vjoomens opened #1588 "App broken rc18 ->"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
Onsen 2 rc 17
Angular 1.5.8
Any platform

__Encountered problem__
After updating to onsen ui 2.0.0-rc18 or later my application is broken and shows the following error. rc1

[2016-09-16 09:47] argelius commented on #1588
@vjoomens Does this happen in split view or sliding menu?

[2016-09-16 10:19] vjoomens commented on #1588
This happens with the sliding menu. Here's an example.

[code]

[2016-09-16 10:27] argelius commented on #1588
@vjoomens I think I figured out what's happening. Will fix later. On my phone now so I can't write code

[2016-09-17 17:54] madagon commented on #1426
Hello guys!
Problem reappeared after ver 2 release.

[2016-09-18 03:50] copleykj opened #1590 "Theme Roller: missing declarations for custom themes"
Using the theme roller, there seems to be some missing declarations. Specifically the ones I have found are for `list__item__left`, `list__item__right`, and `list__item__center`.

When trying to lay out a list item with center, left, and right classes they stack as block elements when using the custom theme css. If I use the css directly from the node_modules dir everything lays out like it's supp

[2016-09-18 07:04] argelius commented on #1590
@copleykj Hi! It's still generating themes for 1.3.

We will update the Theme Roller to the latest version soon.

[2016-09-19 05:07] xemox opened #1591 "Not backward compatible with v1?"
__Environment__
Onsen 2.0
Angular 1.4.7
Android 5.1.1

__Encountered problem__
My application cannot run when running with onsen v2.
Some functions are missing in this v2.0.0, usually I don't encounter problem with v1.3.14
1. I encounter callback error with my javascript
2. some functions are no longer exist, setChecked for example

What should I do?
Should I rewrite my application?

The only good

[2016-09-19 05:19] jitu-git commented on #1562
I am not using any special code for this. it just a simple form.
Here code  of the full page -

`<ons-page ng-device-backbutton="myNavigator.popPage()" ng-controller="BookingController as Booking" >
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Car Wash Booking</div>
        <div class="right">

[2016-09-19 05:28] jitu-git opened #1592 "iOS app keyboard bug when focussing on a select drop-down #1562"
So I have a Cordova 6.2.9 app running on iOS 8.4.1 using both Onsen 2.0.0

I have a form on the app with text input fields and select drop downs. I am focussed on a text field, and when try to touch a select box, the drop-down appears, but then the focus moves back to the text field, even randomly to other text fields sometimes.

I don't have any event listeners hooked up to any of the fields. Any

[2016-09-19 08:07] frankdiox commented on #1591
@xemox I think there are many good points in v2, personally. We changed the API with the version change. There is a [migration guide in the docs](https://onsen.io/v2/docs/guide/angular1/from-v1-to-v2.html).

[2016-09-19 08:07] #1591 closed

[2016-09-19 11:45] jakwarrior opened #1593 "ons-tab duplicated when I use setActiveTab"
**Environment**
Onsen 2.0.0
Angular 1.5.5
Chrome 53

**Encountered problem**
When I use the method setActiveTab(i), the ons-tab number i is duplicated.
Maybe it's related to issue #1584 but it's not exactly the same issue.

**How to reproduce**
I create an example : [codepen](https://codepen.io/anon/pen/gwwxPm)
There is two tabs. It works well without the "setActiveTab" method. But when I use it,

[2016-09-19 12:25] iqmeta commented on #1592
Do you use cordova or something other like Xamarin webView?

I had also problems, maybe this helps:

https://community.onsen.io/topic/647/how-to-focus-ons-input-textarea-from-js-code

[2016-09-19 20:00] rgins16 opened #1594 "Feature Request: Change ons-prompt input type to 'password'"
I am using an ons-promt in my app. Instead of using messageHTML, I would like to be able to set the type of input in the ons-promt to password. After reviewing the documentation and experimenting on my own, there is currently no way to do this.

[2016-09-19 20:18] vjoomens commented on #1588
@argelius, did you find anything yet?

[2016-09-19 21:12] argelius commented on #1588
@vjoomens Sorry for the delay. I had a high fever so I was out of action for a few days. This has been resolved now and should work in the next version.

[2016-09-19 21:12] #1588 closed

[2016-09-20 07:26] frankdiox commented on #1594
@rgins16 That makes sense, we should implement `options.inputType` or something simmilar :)
In the meantime you can create your own `ons-alert-dialog` with that input.

[2016-09-20 09:16] kanakoubukata opened #1595 "ons.notification layout is broken in Android"
See attached file.

__Environment__
Onsen 2.0.0

![ons-notification](https://cloud.githubusercontent.com/assets/8393422/18664606/4c20a8f2-7f5e-11e6-9d0e-a4a5bd84cd8d.png)

[2016-09-20 09:17] vjoomens commented on #1588
Thank you!

[2016-09-20 10:17] frankdiox commented on #1595
Thanks @kanakoubukata ! I just made a PR to fix this.

[2016-09-20 10:57] juspriet opened #1597 "init event fires twice on ios cordova after load page with navigator"
**Environment**
Onsen 2.0.0
cordova
jquery
iOS 10 (App built)

**Encountered problem**

I use a ons-splitter element.
When I load a new page with navigator with the load method, init event fires twice.

**How to reproduce**

[code]

[2016-09-20 12:48] rgins16 commented on #1594
Alrighty. Hope I helped :)

[2016-09-20 22:51] #656 closed

[2016-09-21 11:43] Dynalon opened #1598 "Documentation/Tutorial/KitchenSink for Angular2 final is outdated"
Angular2 final uses the `@NgModule` syntax (a major api change), but all of the samples and documentation I could find to Onsen still use the old `ONS_DIRECTIVES` Api which is incompatible to Angular2 final.

Additionally, the latest OnsenUi installed via `npm install angular2-onsenui` today has removed the `ONS_DIRECTIVES` export and replaced it with a `OnsenModule` export which is correct accord

[2016-09-21 19:21] erikanthonywall opened #1599 "Meteor/React: HTML.Raw is not a function"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
onsen 2.0.0
react-onsenui 1.0.0
react 15.3.2
meteor 1.4.1.1

__Encountered problem__
Meteor apps built with OnsenUI fail to bootstrap due to an error being thrown to the co

[2016-09-22 04:44] jitu-git commented on #1592
I am using cordova.

[2016-09-22 08:00] ThomasLochbrunner opened #1600 "Tabbar not displayed correctly in Splitter Side Component"
**Environment**
Onsen 2.0
Angular 1.5.2
iOS 9.3.5
Firefox 48+

**Encountered problem**
The tabbar seems not to be displayed correctly when used in the splitter side component. I first encountered this issue when on iOS and in Firefox all Icons of my tabbar "changed" to the cloud-icon after updating from onsen 2rc17 to version 2.0. In chrome everything is still working fine (besides the fact that t

[2016-09-22 09:22] #1595 closed

[2016-09-22 14:48] rgins16 opened #1601 "ons-input edit bug"
**Environment**
Onsen 2
Angular 1.5.9
Newest Version of Chrome

**Encountered problem**
I have a few ons-input fields on the same page
I can successfully type some input into any of them
I click into another ons-input and type input for that one
I click back to the first ons-input to edit it
the very first character I type is displayed at the position where I clicked (expected behavior)

UNEXPECTE

[2016-09-23 06:21] Dynalon opened #1602 "OnsPage is not bound/exported in Angular2 bindings"
[](Github issues should be used only for bugs and feature requests. For questions please visit https://stackoverflow.com/tags/onsen-ui or https://community.onsen.io. For bugs please use the following template.)

__Environment__
git master
Angular 2.0 final

__Encountered problem__
The `ons-page` element is not found when used in angular2 as it is not bound/exported from Onsen.

__How to reproduce_

[2016-09-23 06:54] asial-matagawa commented on #1602
@Dynalon
Thank you for reporting!
`OnsPage` directive has been removed since Onsen UI RC.16 ([CHANGELOG](https://github.com/OnsenUI/OnsenUI/blob/master/CHANGELOG.md#v200-rc16)) because of some reasons.
Since Angular 2 RC.5, when using Custom Elements-based library such as Onsen UI, you must put `CUSTOM_ELEMENTS_SCHEMA` into NgModule metadata.
With `CUSTOM_ELEMENTS_SCHEMA`, it will work.

Here is a