[2015-09-01 11:06] radiocat opened #867 ""center" class using in ons-toolbar is not set center"
Sample code : http://codepen.io/onsen/pen/yrhtv
http://ja.onsen.io/guide/overview.html#PageNavigation

    <ons-toolbar>
      <div class="center">Simple Navigation</div>
    </ons-toolbar>

build with cordova for android.
Title "Simple Navigation" is set left(not set center) in toolbar.
iOS is set center.

Android OS : 4.4.1
Cordova : 4.3
OnsenUI : 1.3.8

[2015-09-01 17:37] frankdiox commented on #867
@radiocat Hello! This has been asked many times before. Please search in SOF, issues here or just check the docs. Last attribute here: http://onsen.io/reference/ons-toolbar.html#attributes

[2015-09-01 17:37] #867 closed

[2015-09-02 01:24] pancitjef opened #868 "Onsen UI Minimum Template for universal App - PushPage Problem"
If you double click the push button, page gets pushed twice. Try going back, click pop only once(not twice).
![screenshot 2015-09-02 at 9 21 58 am](https://cloud.githubusercontent.com/assets/14074687/9621049/5e46c018-5154-11e5-92a3-c1c81ed57228.png)
![screenshot 2015-09-02 at 9 19 59 am](https://cloud.githubusercontent.com/assets/14074687/9621050/5e4c24e0-5154-11e5-880e-e466b52fb4f0.png)

[2015-09-03 07:03] argelius commented on #868
Thanks @pancitjef !

It seems like if the animation is delayed it's possible to push two pages. You can do something like this:

[code]

And on the button you can disable the button so it's not possible to click it twice:

[code]

[2015-09-03 09:59] argelius commented on #865
Thanks @dineshprodapt !

@frankdiox That fix is to prevent scrolling the page while the transition animation is running on iOS.

I have changed so it only stops `touchmove` since that's the one that causes the scrolling. If there's no trouble we can include this in the next release.

[2015-09-03 10:02] #859 closed

[2015-09-03 10:02] #865 closed

[2015-09-03 10:08] #863 closed

[2015-09-03 10:10] argelius commented on #858
@Hirbod Sorry for the late reply. I have been on vacation the last two weeks.

I ran some tests with iOS 8.4 without any issues so I will close this.

[2015-09-03 10:10] #858 closed

[2015-09-04 03:59] argelius opened #870 "Memory leak in ons-navigator"
Pages are not properly cleaned up after pop.

[2015-09-04 07:21] argelius commented on #870
This bug also affected `<ons-tabbar>`. Fixed in https://github.com/OnsenUI/OnsenUI/pull/871

[2015-09-04 07:34] anatoo opened #872 "FastClick stop to send click event after system time change."
Because FastClick use event.timeStamp that depend on system time settings.

[2015-09-04 09:21] #872 closed

[2015-09-07 02:34] yesman99 commented on #843
Hi there, can I expect that this bug is on going? Someone is investigating?
Thank you.

[2015-09-07 03:09] argelius commented on #843
Hi @yesman99 !

Sorry for the delay. I was on vacation. The reason why this happens is that the `<ons-pull-hook>` overrides the default scroll behavior.

If you stop propagation of the `touchmove` event at the `<ons-scroller>` element you should be able to scroll it in both directions.

You can do something like this if you still want to be able to use the pull hook when the `<ons-scroller>` is at

[2015-09-07 06:31] #870 closed

[2015-09-07 06:33] argelius commented on #845
@tunacoder: I've released a new version where the `ons.notification.*` functions work even if debug info is disabled.

Please try it out. I will close this but if you're still having issues please open this again.

[2015-09-07 06:33] #845 closed

[2015-09-07 09:50] frankdiox opened #877 "Feature request: navigator.bringToTop( page );"
It checks if the provided page already exists in the navigator's page stack and brings it to the top in such case. If it doesn't exist it could use `pushPage()` as fallback.

It can also be implemented as a new option for `pushPage()`.

@argelius @anatoo, thoughts?

[2015-09-08 03:32] argelius opened #878 "Add default value parameter to notification.prompt"
Add a parameter to fill in the prompt with a default value.

[code]

[2015-09-08 07:06] c58 opened #879 "ons-navigator as a main page of ons-slide-menu flickering"
II have three templates: one with ons-slide-menu, another(page) with ons-page and last with ons-navigator with default page attribute set.
When i navigate with slide menu to a page without navigator all is fine. But when i navigate to a page with ons-navigator page is flickering (black page before actual page).
Problem occurred on desktop Chrome and on IOS 9 (Cordova), others not tested.
There is

[2015-09-08 07:10] c58 commented on #879
Page one:
[code]

Page two:
[code]

Page list.html:
[code]

[2015-09-08 08:17] argelius commented on #879
Thanks for reporting @c58 !

This looks like a bug. We will investigate it.

[2015-09-08 09:01] rahilwazir opened #880 "popover conflicting with bootstrap"
Boostrap `.popover` css declaration `display: none` applies the styling to `ons-popover .popover` element which is causing popover to be hidden.

Example: http://codepen.io/anon/pen/xwGLvq?editors=100

Which can be solved by applying css to custom stylesheet

    ons-popover .popover {
        display: block;
    }

[2015-09-08 09:04] argelius commented on #880
Thanks for pointing this out @rahilwazir ! We will add this rule.

[2015-09-08 09:49] argelius opened #882 "Update Font Awesome to 4.4"
The bundled version is a bit old. Let's update it to the latest version.

[2015-09-09 02:13] #882 closed

[2015-09-09 02:13] #878 closed

[2015-09-09 05:12] ryokanoshoh opened #888 "JS cannot work in <ons-carousel-cover>"
I created this ons-tag.

`<ons-carousel-cover>
    <ons-button modifier="quiet" onclick="alert('prev');" style="color: #FFFFFF;">
        <ons-icon icon="ion-ios-arrow-left" size="40px" var="prevpage" fixed-width="true"></ons-icon>
    </ons-button>
</ons-carousel-cover>`

But I cannot work JS called onclick.
If it have solve the problem, please let me know.

[2015-09-09 05:33] yesman99 commented on #843
Thank you for your reply, @argelius!

As a result, I could get what I wanted.

I tried as you told, but I could not get the object "document.querySelector('#scroller > .ons-scroller__content')".
So I changed the ons-scroller to "<div style="overflow: scroll>" then I could get the object to affect "stopPropagation()".

Thank you!

[2015-09-09 06:14] argelius commented on #843
@yesman99 I'm glad you were able to solve it! :)

[2015-09-09 06:14] #843 closed

[2015-09-09 09:33] #880 closed

[2015-09-09 14:26] frankdiox opened #891 "Navigator + Tabbar bug in 1.3.9"
Change tabs here and check the console:
http://codepen.io/frankdiox/pen/EVjzag

It only happens in 1.3.9. Probably related to #870

[2015-09-09 14:30] frankdiox commented on #879
I can confirm the flickering.
In sliding menu: http://codepen.io/frankdiox/pen/VvLNpK
In tabbar: http://codepen.io/frankdiox/pen/EVjzag

We will try to fix it!

[2015-09-09 14:34] c58 commented on #879
Thanks! Just for now i've made a workaround. Flickering is still there, but not so ick :)
<ons-navigator style="background: #fff;">
</ons-navigator>

[2015-09-10 03:02] argelius commented on #891
Thanks for finding the error, @frankdiox! I did a bisect and found the commit responsible.

[2015-09-10 03:02] #891 closed

[2015-09-10 03:31] anatoo commented on #877
Nice feature. It's good to me.

[2015-09-10 03:33] radiocat commented on #867
Sorry for the same question.
I solved the problem by reading the docs.
Thank you.

[2015-09-10 03:40] argelius commented on #877
@frankdiox I think it looks good, but I'm wondering what should happen if they have pushed the same page twice? Should it bring the page closest to the top?

Maybe not a common scenario but they might push the same template page but with different content. Should we also support `navigator.bringToTop(index)` where `index` is an integer?

[2015-09-10 10:09] argelius opened #894 "Draggable <ons-switch>"
Make `<ons-switch>` draggable.

Example:
https://www.polymer-project.org/0.5/components/paper-toggle-button/demo.html

[2015-09-10 10:24] zhuangperola commented on #866
@frankdiox

I have checked this problem and you source code, it does not work in my local environment.

I reviewed the codes in LazyRepeatView and found codes which I think has a syntax bug like below .

`this._scope.$watch(this._countItems.bind(this), this._onChange.bind(this))`

I changed it to
 `this._scope.$watch(this._onChange.bind(this)), this._scope.$watch(this._onChange.bind(this))`

and i

[2015-09-10 15:41] frankdiox commented on #888
Looks like `<ons-carousel-cover>` has `pointer-events: none;`, so it can never be the target of mouse events. This is automatically inherited by its children, like the button you have inside. It is set like this because  `<ons-carousel-cover>` is a layer over the whole carousel element, what means that is also over  `<ons-carousel-item>`s and it would avoid clicks on them otherwise.

The easiest w

[2015-09-10 15:55] frankdiox commented on #877
@argelius That could work. I guess it's better to start counting from the top, so `index=0 / default` would be the closest page to the page-stack top and so on.

[2015-09-10 16:26] frankdiox opened #895 "Feature request: persistent/unique pages in slidingMenu/ splitView/ splitter"
I think it would be useful to keep data and state of pages/navigators/etc. inside a slidingMenu or similar components when changing the main page. Perhaps is better to implement it only in the new splitter when it's finished for Onsen 2.0.

We can make a new method `setPersistentMainPage( 'page.html' )` or a new option `setMainPage( 'page.html', { persistent: true } )` (I prefer the latter) that f

[2015-09-11 00:06] ryokanoshoh commented on #888
@frankdiox
Thank you for answer and explain me my question.
I understand about `<ons-carousel-cover>`

[2015-09-11 08:37] frankdiox commented on #888
@ryokanoshoh You are welcome :)

Perhaps we can add this:
[code]

[2015-09-11 18:11] c58 opened #897 "Delayed iOS status bar filling in ons-navigator"
I have an `<ons-sliding-menu>` and two pages with an `<ons-navigator>`. In iOS 9 simulator (and on device too) there is a delay of applying status bar filling to the page__content after setting some of my page as "main". I think it's an iOS browser related issue.

![proof](https://cloud.githubusercontent.com/assets/1871220/9822391/9f0c6710-58d9-11e5-9d75-45797c010ec7.gif)

[2015-09-14 06:42] synapse opened #900 "ons-tabbar setActiveTab bug"
I think I’ve found a bug in the "ons-tabbar”. I have a tabbar with 5 tab elements. When I’m trying to set the active tab using the tabbar method “mytabbar.setActiveTab(1);” it always actives the 3 element with should have index 2. If I activate any other index seems to be working. Another bug is when I’ trying to set the “active” attribute of the tab by setting the true/false values inline by read

[2015-09-14 06:45] argelius commented on #900
Thanks @synapse !

We will investigate this. It would be great if you could supply a source code example that reproduces this bug.

[2015-09-14 12:04] JcDenton86 opened #902 "Snackbar component for android meterial"
It's great to see that onsen adds the option for a material touch on hybrid apps! Among other components it would be great to see the [snackbar](https://www.google.com/design/spec/components/snackbars-toasts.html) component.

I created a plugin for that but there are a lot of things to consider as it needs the design library and gets on top of the webview

[2015-09-14 19:09] andipavllo commented on #900
@synapse  I'll take a look at it as soon as possible. As @argelius already said, an example would be appreciated.

[2015-09-15 02:32] argelius commented on #902
Thanks for the suggestion @JcDenton86 ! The Snackbar is definitely an important component.

Actually the Snackbar has been implemented in a separate branch. It's still work in progress but will be merged pretty soon

https://github.com/OnsenUI/OnsenUI/pull/850

[2015-09-15 10:12] synapse commented on #900
Ok, I found the bug. If I have a ng-if on a tab then the whole index thingie is broken. Here is codepen example. To temporarily fix it I used the ng-show directive so that it would remove the element.

http://codepen.io/anon/pen/EVPQQy

[2015-09-15 12:35] bdedardel opened #904 "ons-sliding-menu.setMainPage doesnot fire 'ons.ready' event"
Description
-----------

### Short Description

I want to write 2 pages:
- index.html, with a sliding menu
- page2.html, another page that works alone

If I call page2.html, everything is ok.
But if I call page2.html from the sliding menu, ons.ready function is never called.

(see examples above)

### Technical Description

- *setMainPage* method does not fire 'ons.ready' event on the new page.

[

[2015-09-15 17:52] frankdiox opened #905 "Navigator animations throwing errors in master"
`lift` and `simpleslide` animations for navigator throw errors in master branch. `none` does not disable animations.

http://codepen.io/frankdiox/pen/avdaJM

[2015-09-15 20:44] frankdiox commented on #904
@bdedardel Hello! I'm sorry but I think you misunderstood the purpose of `ons.ready()`. This is triggered only once at the beginning of the application. It is not supposed to be fired by `setMainPage()` or any other method. You cannot initialize pages that are not created from the beginning there.
I suggest you to use `pageinit` event for that purpose. More info in the docs: http://onsen.io/guide/

[2015-09-16 08:20] bdedardel commented on #904
Thanks for the tip, it works fine !

[2015-09-16 08:20] #904 closed

[2015-09-17 00:53] rdosrz commented on #836
Is not just on Samsung S6. I have the same issue on any device with Android 5 Lollipop. If I put {transition:none} in pushPage sentence works fine. Obviously, without transitions the app looks more like a web app in place to a native app (wich is the point using cordova or phonegap right?).
i've tried fix this unsuccessfully:
-Phonegap
-Angular
-CSS3
Must to be a onsen ui issue.
Somebody has recen

[2015-09-17 03:11] sofish opened #909 "too large to download with bower"
will u guys provide a bower-only repo like [bower-angular](https://github.com/angular/bower-angular) to solve the problem?

[2015-09-17 03:15] Hirbod commented on #900
ng-if also breaks / makes problem when used with toolbar buttons (like menu/ons-back-button)
Also managed to use it with ng-show instead of ng-if

[2015-09-17 03:18] Hirbod commented on #879
same flickering when having tabbar with own navigator. as soon as there are nested ons-pages, it will flicker. This is why I still have never implemented a second navigator (I lose my tab-bar on pushPage, I would love to keep it, but played around more than 10 hours to fix the flickerin.) no chance..

[2015-09-17 06:32] c58 commented on #879
I think my strategy of the fix may be applied on tabbar too. I'll try to fix it, maybe in the evening.

[2015-09-17 16:28] afattahi54 commented on #633
I am very new to OnsenUI, two hours ;)  It seems that the bootstrap is used as base css framework.

If I am correct then you can use the bootstrap RTL feature which at https://github.com/morteza/bootstrap-rtl.

[2015-09-17 16:29] afattahi54 commented on #180
+1

[2015-09-17 17:38] frankdiox commented on #909
@sofish Yes, thanks for reminding. We tried to change the repo structure and add ignored files to bower.json, but looks like bower still downloads everything and a specific repo is needed for bower.

[2015-09-18 03:24] argelius commented on #905
Thanks @frankdiox ! Will take a look at this.

[2015-09-18 06:14] argelius opened #911 "Make carousel animation duration configurable"
Right now there is no way to configure the speed of the carousel transition.

I propose a new attribute called `duration`:

[code]

@anatoo What do you think of this?

[2015-09-18 12:08] davidwahl opened #914 "ons-carousel crashes safari on iphone 6 plus"
Hi, I'm using onsen-ui in a cordova based app and I've struggled a bit with memory related crashed.

This only happens on iPhone 6+ and only when ons-carousel in fullscreen has many slides. The problem is probably related to bad memory handling in iPhone 6+ and how lots of 3d accelerated css animations on this high resolution quickly consumes to much memory, causing the application to quit unexpec

[2015-09-20 16:19] andipavllo opened #915 "ons-splitter issues"
I was taking a look at the new ons-splitter element and I found some issues. Creating an example with two `ons-splitter-side` (one left, one right, both swipeable) and one `ons-splitter-content`, there are the following issues:
- Very poor overall performance, laggy animations and interaction (for example during an `ons-button` click).
- After opening an `ons-splitter-side` it's possible to close

[2015-09-21 03:19] anatoo commented on #915
@andipavllo Thanks for reporting. I will investigate this issues.

[2015-09-21 11:05] andipavllo commented on #915
@anatoo no problem! I forgot, tested on LG G3 Android 5.0

[2015-09-21 12:32] c58 commented on #879
I've investigated, that the problem is with using a promises in `getPageHTMLAsync` and `getTemplateHTMLAsync`. They should be synced when template already in a templates cache. Then a ons-navigator's main page will be initialized synchronously (within the same run cycle that _appendMainPage called) and no flickering will be appeared.

[2015-09-21 12:50] Hirbod commented on #879
seems obvious +1

[2015-09-21 13:20] c58 commented on #879
It's a part of the problem, but it does not solve it completely. In `_pushPageDOM` of the `ons-navigator` is another async callback, and i don't understand why it must be there?

[code]

[2015-09-21 14:28] andipavllo commented on #900
@synapse I checked the first issue you reported. The bug is Onsen 1.3.10 but the 1.3.10 dev works fine. Maybe it's cause of the web components, maybe not, I have found sono differences also between other files (views and angular directives). I'll also check the second bug you reported as soon as possible.

[2015-09-21 14:59] c58 commented on #879
@Hirbod , check my latest commit, no flickering detected in ons-navigator with cached templates. I also fixed a `tab` element, it means you problem maybe fixed too.
I have only one problem – tests not passed, broken within iOS animation, but manual test of all transitions does not detect any issues with it.

[2015-09-21 15:00] eljavidelomas opened #917 "screen shaking vigorously while scrolling up or down due to pull hook to refresh"
The problem is that when I hold the screen and scroll up or down, the screen starts shaking vigorously and verified that when I remove the pull hook the scroll was fine, but when I insert the pull hook again, the shaking appear again.
I'm testing my app on Android 4.1.2, compiled with phonegap. I have the next code:

[code]

I reviewed the code of the pull hook and found that in the method "_on_dr

[2015-09-22 08:29] f1consulting opened #918 "Fixed Carousel and Sliding menu"
In my application, in a page I have a carousel in toolbar, to have a top fixed position.
The Carousel is not visible until I put a position:fixed in a div containing the carousel.
In this page I have a sliding menu too.
When I slide the sliding menu, the carousel remains fixed in the view, over the sliding menu,
instead to swipe right in the page.
I experienced this problem in Android default brow

[2015-09-22 16:13] mork80 commented on #836
Last Onsen version i've tried is 1.3.9 and transitions were still not smooth as expected.
I see in 2.0dev changelog new core animations. Hope this will render well in future developments.
For now, i've opted to transition:none in android.

[2015-09-24 04:32] anatoo commented on #905
Fixed on "fix-905" branch. This branch is merged on to master branch.

[2015-09-24 04:32] #905 closed

[2015-09-24 04:53] #877 closed

[2015-09-24 10:53] argelius commented on #917
Hi @eljavidelomas !

Can you make a small example that reproduces this?

How are you using the carousel? Is it a full screen carousel?

[2015-09-24 10:55] argelius commented on #914
Hi @davidwahl !

Thanks for the fix :)

We could implement this for the fullscreen carousel since it makes sense that the items that are not shown are hidden.

[2015-09-24 15:20] mork80 opened #922 "Pop/Push page transitions in Android"
As follow up of https://github.com/OnsenUI/OnsenUI/issues/836,
I've started to investigate the page transitions in Onsen UI (version 1.3.2 to 1.3.10).
Why some transitions (ex. slide or fade) have choppy effect in some Android devices ?
I've probably have a clue.
In my opinion the problem is that popPage triggered transition are not exactly the reverse of the correspondent pushPage transition.
In

[2015-09-24 19:21] igordelorenzi opened #923 "Input of type email is throwing an InvalidStateError exception"
This is happening when I just touch the input (of type email) to start typing.

I'm on **Mac OS X 10.10.5** and debugging on **Chrome 45.0.2454.99 (64-bit)**.

The stack trace is:

[code]

Exception message:
`Uncaught InvalidStateError: Failed to execute 'setSelectionRange' on 'HTMLInputElement': The input element's type ('email') does not support selection.`

It throws the exception when `targetE

[2015-09-25 08:56] lkaragol opened #924 "ROADMAP.md File Should Be Updated"
Could you update ROADMAP.md file? It still contains v1.2.3 and v1.3.0 but v1.3.10 has already been released. It would be nice if we could know incoming features and improvements.

[2015-09-25 09:28] argelius commented on #924
Hi @lkaragol !

Thanks for pointing this out. The `ROADMAP.md` file is very out of date.

Actually we have started publishing upcoming features in the [blog](https://onsen.io/blog/) so I will remove the file and the link to it. We will keep announcing new features and publish the current roadmap in the blog.

[2015-09-25 09:28] #924 closed

[2015-09-25 14:33] c58 commented on #465
Hi, @argelius . There is any progress about mentioned component (split-sliding)?

[2015-09-25 16:07] danfador opened #925 "Select not work on android 4.1.2"
Hello, I have a form with an select box that it work fine on all devices (android, iOS and web browser) ecept on android 4.1.2.
I have try also with an fresh onsen ui instal and the issue is present

Thank you!

[2015-09-28 02:55] argelius commented on #465
Hi!

It has already been created and merged into master.

It's called `<ons-splitter>` and will be released with Onsen UI 2.0.

[2015-09-28 02:58] argelius commented on #925
Hi!

In what way is it not working? Does it not display at all? Does it work without loading Onsen UI?
Could you try using Crosswalk instead of the native WebView?

[2015-09-28 03:03] argelius commented on #923
Hi @igordelorenzi !

What version of Onsen UI are you using?

Can you create an example on Codepen that reproduces this issue? Does it happen on other versions of Chrome or just 45?

[2015-09-28 05:47] c58 commented on #465
Cool! Thanks.

[2015-09-28 06:26] danfador commented on #925
Hello, thanks for your reply, when I try to slect an value it show the native select from android for half select and after it disappears, the real issue is that i cannot select an value because the select close itself  after half second.

[2015-09-28 07:18] argelius opened #927 "Made carousel._getCarouselItemCount() a public method."
This method is useful so I think we should remove the underscore and write docs for it. What do you think @anatoo?

It can be used to determine if the user has swiped to the last item in the carousel.

[2015-09-28 07:53] anatoo commented on #927
@argelius It's good! I don't have any objections.

[2015-09-28 08:08] argelius commented on #927
Thanks!

[2015-09-28 18:39] DILEEP-YADAV commented on #923
http://www.plugbunch.com/

[2015-09-29 02:38] argelius opened #929 "Carousel postchange event is broken"
The 'postchange' event should be triggered after the index changes but sometimes it doesn't.

[2015-09-29 06:34] #927 closed

[2015-09-29 09:00] #929 closed

[2015-09-30 02:20] argelius commented on #925
Thanks @danfador !

Does this only happen when you have loaded Onsen UI?

[2015-09-30 08:16] anatoo commented on #915
@andipavllo

I can't get this performance problem on Nexus7 Android 5.1.1. But I removed some possibilities of performance bottleneck for ons-splitter-side's interaction and animation just in case. Can you check for this problem on your android device?

I fixed.

In "portrait" screen orientation, it should be correct behavior. "ons-splitter-side" elements on "split" mode should show self always.

[2015-09-30 09:48] anatoo opened #931 "Feature request: Make ons-navigator.resetToPage() to accept empty arguments."
### Background

ons-navigator.resetToPage(page) is method that push first parameter's page and clear old page stack.
It's needed "page" parameter to call this method. But initial inner content in ons-navigator has no page name.

### Proposal

This feature request proposed that resetToPage() with empty arguments push initial inner content page and clear old page stack.

[code]

Old way:
[code]

New

[2015-09-30 11:00] argelius commented on #931
This looks good. I have no objections! :+1:

[2015-10-02 08:35] argelius opened #935 "Trigger lazy-repeat reload manually"
There is no way to manually trigger a reload of the `ons-lazy-repeat` component.

I propose the following syntax.

[code]

A `Delegate.reload()` method is automatically injected.

AngularJS
[code]

Plain JavaScript
[code]

[2015-10-02 08:58] anatoo commented on #935
It's looks good to me.

[2015-10-02 09:00] andipavllo commented on #935
Same here!

[2015-10-02 09:00] argelius commented on #935
Ok! I will implement like this.

[2015-10-02 13:58] chriskaya opened #936 "Onsen UI not compatible with CSP's unsafe-eval"
Hi,

I'm working on a Cordova app using Onsen UI, and I started using Content Security Policy to make it a little more secure.
I've found out that Onsen UI uses new Function(), so eval(), which forces me to use the csp unsafe-eval.
I don't want to, so I had to modify the onsenui.js file:
I replace line 4888 :
`}(new Function("return this")()));`
by :
`}(function() {return this;}()));`

Is it ok to

[2015-10-03 12:45] andipavllo commented on #936
Dear @chriskaya, thank you for reporting this. We need to check it but, if you want, you can make a pull request by your own and we can review it :)

[2015-10-03 14:41] chriskaya commented on #936
Well I'm not really used to git so I'll let you do it ;)
Thanks for all your work! Onsen UI is still young but it is already awesome!

[2015-10-04 05:08] amir-s commented on #465
@argelius
Thanks.
Is there any documentation about this?

[2015-10-04 13:41] andipavllo commented on #936
Thanks, we will take care of it then :)

[2015-10-04 16:42] andipavllo commented on #915
The performance has improved a lot, well done! There is a small performance issue when opening the menu, I make a video so you can understand better:

https://www.youtube.com/watch?v=oq_8sPRmu3o

My device is a good one, so should not be related with it.

I understand, thank you for the explenation.

[2015-10-05 02:23] argelius commented on #465
Hi @amir-s !

Yes, it's documented in this file:
https://github.com/OnsenUI/OnsenUI/blob/master/framework/directives/splitter.js

[2015-10-06 02:02] igordelorenzi commented on #923
Hey, @argelius.

I'm using Onse UI version v1.3.8. Unfortunatelly I can't create the example now.

[2015-10-07 02:56] #931 closed

[2015-10-07 03:30] anatoo commented on #915
@andipavllo Thanks for making video. Ok, I continue to improve this performance issue.

[2015-10-07 06:59] anatoo commented on #935
Implemented on https://github.com/OnsenUI/OnsenUI/pull/937 and merged this changes.

[2015-10-07 06:59] #935 closed

[2015-10-08 10:07] maooson opened #939 "Why not provide an `ons.createModal()` function?"
Why not provide an `ons.createModal()` function? Sometimes we need to create a modal from the separate page.

[2015-10-08 11:58] anatoo commented on #915
@andipavllo I optimized ons-splitter-side's animation again on "fix-915" branch. Could you confirm the performance again?

[2015-10-08 17:23] andipavllo opened #940 "Lazy-repeat bugged since 1.3.8"
These is a bug in `ons-lazy-repeat` element since 1.3.8 release. Sometimes, in case of a large amount of datas loaded, the element gets bugged and doesn't work at all.

I was able to find the wrong commit, which is the following one:

https://github.com/OnsenUI/OnsenUI/commit/c8ca1285f6d4943490fd32b0409859a54bbd5325

The exact portion of code is the following:

[code]

Removing it, the element wor

[2015-10-08 17:25] andipavllo commented on #925
@danfador can you please provide an example? I have an Android 4.1.2 device so I can test it

[2015-10-08 17:26] andipavllo commented on #915
Yes sure, I'll test it immediately

[2015-10-08 17:38] andipavllo commented on #915
@anatoo Seems that you merged the branch, so I tested on master. Unfortunatelly, the performance seems to be the same, tomorrow I'll test also in a more low performance device to see if it's just related with my device or it's a general issue.

[2015-10-08 18:12] anatoo commented on #915
@andipavllo Please test on "fix-915" branch. Yesterday I pushed several commits on "fix-915" branch and that all commits is not merged on master branch.

[2015-10-08 18:29] andipavllo commented on #915
@anatoo I didn't notice it before, I thought you merged everything. I tested `fix-915` branch and the performance is the same

[2015-10-08 18:38] anatoo commented on #915
@andipavllo Thanks for testing. hmm... I can't figure out why the performance is poor on your android device.

[2015-10-09 02:48] argelius commented on #940
@andipavllo Can you please write an example that reproduces this?

[2015-10-09 09:19] salztorte commented on #940
Same Problem.
If you want use lazy-repeat with more than 80 Items you see nothing

[2015-10-10 20:08] andipavllo commented on #936
@argelius the issue is located in `core/vendor/setImmediate.js`, should we modify it even if it's an external resource?

[2015-10-10 20:26] andipavllo commented on #940
@salztorte in your case, was it getting bugged with exactly more than 80 items or it's just an indicative number?

[2015-10-10 21:20] andipavllo commented on #900
@synapse I also checked the second issue that you reported, but it seems working as it should. After you add the attribute, you should rember to compile the element using `ons.compile()` function.
Here is an example:

[code]

[2015-10-10 21:21] #900 closed

[2015-10-11 21:18] Hirbod commented on #915
The performance is generally poor on android. Even on Crosswalk, no matter if I use an old or new device. I have a Samsung Galaxy S6 Edge and pushPage with slide animation is so sluggish, but there a several bug reports with the animation performance..

[2015-10-11 21:19] Hirbod commented on #897
In my case, sometimes it just down even apply the right height and my elements are behind the Navigation-bar. But just on the iOS simulator

[2015-10-12 06:05] amir-s commented on #465
Thanks @argelius!
Please keep up the good work :+1:
So excited to see this. I just have couple of questions regarding this `ons-splitter`.

1. How to include the splitter side from external file? like we could do in `split-view` with `secondary-page="path/to/file.html"`? Is it possible? I currently use `ng-include` for that.

2. I saw the blog post on this. I tried it myself and it works fine. But

[2015-10-12 06:25] salztorte commented on #940
80 Items worked, 81 don´t.

[2015-10-12 09:31] amir-s opened #942 "Using "var" in "controllerAs" syntax"
Hello,

When I use nested controllers and use `controllerAs` syntax, I can not pass a variable from `vm` as the `var` to the components.

This is just a quick example:

[code]

[code]

If I use `vm.btn` as `var` for the component, it registers it in `vm.btn` in `$rootScope`, but It should be on the `this` of the controller as I used `controllerAs`.

[2015-10-12 23:31] andipavllo commented on #940
@argelius I'm going to send you an example privately

[2015-10-13 02:53] argelius commented on #939
Thanks @maooson ! :)

That's a good idea! We will consider adding this in a later version.

[2015-10-13 11:14] argelius opened #945 "Demo broken"
This demo is broken:
https://github.com/OnsenUI/OnsenUI/blob/master/demo/navigator_inside_tabbar/index.html

It worked in 1.3 so some change in 2.0 broke it.

[2015-10-13 15:55] andipavllo commented on #945
@argelius are you sure it doesn't work? In my forked repository it works well, same here:

https://onsenui.github.io/OnsenUI/demo/navigator_inside_tabbar/index.html

[2015-10-14 03:17] argelius commented on #945
Can you check again? It doesn't work on master for me.

[2015-10-14 03:37] #945 closed

[2015-10-14 04:49] argelius commented on #945
@andipavllo I have fixed this now so please ignore it.

[2015-10-14 04:52] argelius opened #947 "Nested navigator demo broken"
This demo is broken on master.

https://github.com/OnsenUI/OnsenUI/blob/master/demo/navigator_navigator/index.html

When the modal is popped the background page is not properly reset.

[2015-10-14 05:05] #947 closed

[2015-10-14 06:36] argelius opened #948 "Error when switching tabs"
In this demo
https://github.com/OnsenUI/OnsenUI/blob/master/demo/tabbar/index.html

The following error is thrown sometimes:
[code]

It can be triggered by clicking the tabs furiously.

[2015-10-14 23:33] Hirbod opened #950 "Since iOS 9, statusbar push down is buggy"
Hi,

since iOS 9, the auto tabbar pushdown is buggy somehow. I can't provide any scenario, cause it works sometimes, and sometimes not. After some tabchanges and pushes, my content (which was fine before) is -20px behind the tab-bar. Same works perfectly on iOS8. Since iOS 9, I faced some timing issues generally.

The bug is reproducable on iOS 9.0.2 with iPhone 6 (real device) and Simulator

[2015-10-14 23:35] Hirbod commented on #950
#897 could be related @argelius (I've also seen this effect from time to time, but in my case, the "push" won't even fire delayed anymore)

[2015-10-14 23:36] Hirbod commented on #897
and also on Device, it is related to iOS 9

[2015-10-15 07:34] hogehoge3 commented on #722
is that working in 1.3.8 ?

[2015-10-15 08:35] charitha1995 opened #951 "Sliding menu idea"
http://designmodo.com/wp-content/uploads/2013/07/Cuberto-Design.jpg
like design for sliding menu.

[2015-10-15 10:17] argelius opened #952 "Splitter methods not exposed in Angular bindings."
Methods like `#openLeft()`, `#openRight()`, etc are not available in AngularJS. Please expose them.

Look at how it is done in other components like navigator or even the splitter side menus.

[2015-10-15 11:24] argelius commented on #936
@andipavllo Sure, go ahead.

[2015-10-15 11:26] argelius commented on #914
@andipavllo Reassigned to you

[2015-10-15 14:40] chriskaya opened #954 "Multiple templates in one file : templates showing at the bottom"
Hi,

I keep having issues with <ons-template>.
They keep showing at the bottom of the page (more precisely: the page allows to scroll beyond the end of the rendered area), not rendered.
I've described the problem here : http://stackoverflow.com/questions/33065668/onsenui-multiple-templates-in-one-file-templates-showing-at-the-bottom, but no comments from SO community yet (it's only been 4 days).
I

[2015-10-15 17:32] andipavllo commented on #951
It looks very nice, but probably it would be quite hard to implement :)

[2015-10-16 01:06] Hirbod commented on #950
@anatoo @argelius iOS 9 has a broken tilde (~) selector, which will cause a lot of problems

.page__status-bar-fill ~ ons-toolbar
.page__status-bar-fill ~ ons-toolbar ~ .page__content

this cause some problems like this. After I change just one attribute in safari, it will redraw. We need an urgent fix for this. Ionic had fixes for iOS 9 out where it was still in beta...

![img_5061](https://cloud

[2015-10-16 01:37] igordelorenzi commented on #923
@argelius I think I understood why it happens. It's because of a possibly bug on Chrome's iPhone 5s simulator. Can you try it on your browser?? I'm curious.

[2015-10-16 02:18] #936 closed

[2015-10-16 03:45] argelius commented on #950
Hi @Hirbod !

I would love to fix this bug but I can't find any way to reproduce it. I've made some sample apps with tabs, navigators, menus but to no avail.

However, looking at the behavior of your app I can at least guess what's going on.

I need to know some things. Can you inspect the page and see what rules are in place?
I want to know the `top` value of the `.page__content` class and its `p

[2015-10-16 03:56] Hirbod commented on #950
Hi @argelius ,

yes, the bug is fixed. Wish you had wrote me 30 minutes before, now I've pushed a buggy app to the appstore (with expedited review). Haha..

[2015-10-16 04:03] argelius commented on #950
@Hirbod Sorry for the slow response time. Just woke up a few hours ago. :)

Since the adjacent sibling selectors seem to work, I will release a version that implements these changes.

[2015-10-16 04:05] Hirbod commented on #950
:+1: - no problem. At least the bug is fixed, you should change every single ~ selector. It just don't work as expected on iOS9

[2015-10-16 04:08] argelius commented on #950
@Hirbod: I will change the other ~ selectors as well. Thanks a lot for the assistance! :)

[2015-10-16 04:15] Hirbod commented on #914
I did something similar, and the benefits are huge. +1

[2015-10-16 04:16] Hirbod commented on #897
Hi @c58 @argelius
this is related to #950

Please just apply (as a workaround) the suggested fix from argelius. It also fixed it for me.

[2015-10-16 04:21] argelius commented on #897
Thanks @Hirbod ! I will close this issue as well.

@c58 Please open it again if the problem persists. However, I think this is also related to broken ~ behavior.

[2015-10-16 04:21] #897 closed

[2015-10-16 04:55] #950 closed

[2015-10-16 06:21] argelius opened #958 "animit.js not working in FireFox"
Since this commit:

https://github.com/OnsenUI/OnsenUI/commit/45e7ee03294553e8314aba42540be3d810ce561a

Onsen UI doesn't work in FireFox anymore.

[2015-10-16 06:22] argelius commented on #958
@anatoo: Could you take a look at this when you have time?

[2015-10-16 06:25] anatoo commented on #958
@argelius Thanks for this report. Ok, I will investigate this problem on next week.

[2015-10-16 06:30] argelius commented on #958
Thanks @anatoo!

[2015-10-16 12:06] Hirbod opened #960 "ons-carousel move by n items"
Hi @argelius,

when I have a ons-carousel showing multiple items at the same time, on swipe, it will only move by 1  default. I would like to have the case, where it would move by _max visible items_ (or _max_, when next page have less items then the slide before)

It would be nice to have the option by 1, by n, by max visible items.

[2015-10-16 12:09] Hirbod commented on #951
https://developer.mozilla.org/en-US/demos/detail/paperfold-css/launch

Wow, even with drag/touch support
http://oridomi.com/

[2015-10-16 12:53] Hirbod opened #961 "Codepen demos on website are buggy"
Hi,

everytime I want to view a Code-Example (after I click the play button) I get a grey screen inside that demo.

TypeError: CodePenEmbed.showCodePenEmbeds is not a function
CodePenEmbed.showCodePenEmbeds();

After I reload the page, I'm able to look exactly one demo, after I click the next one, it won't work until I refresh again.

Only tested on Firefox (Mac)

Example:
http://onsen.io/guide/ov

[2015-10-16 12:53] Hirbod commented on #961
@argelius

[2015-10-16 13:06] andipavllo commented on #961
@Hirbod thank you for reporting this! I'm actually not sure that the issue is related with us, it seems more related with CodePen. Anyway, we will investigate because it's very important for us to have all the CodePens examples working.

[2015-10-16 13:11] Hirbod commented on #961
@andipavllo yes this is important. Just checked Chrome and Safari, same bug there!

[2015-10-17 03:10] #952 closed

[2015-10-17 12:33] ehlaumarc opened #962 "google map cannot work within ons elements"
Im developing using cordova app and onsen ui. However i cant load the map properly. The map will appear as a image . But when remove ons elements, the map will work as normal. Please help.

Im using vs 2015 to work with.

[2015-10-17 13:33] Hirbod opened #963 "Bug: Tabbar "postchange" wrong index.."
Hi @argelius @andipavllo

I have a tab-bar, with a `var="rootTab"`.
I have some registered events. (prechange, postchange)

Postchange will behave buggy as soon as `persistent="true"` is set.

[code]

As you can see, gossip.html and neighbor.html have the `persistent="true"` flag.

* When I had active gossip.html (eg. index 1) and change to neighbor.html (index 2), postchange will not fire, as the

[2015-10-17 13:43] Hirbod commented on #963
I got it. @andipavllo @argelius  - this is for sure a bug.

Postchange will trigger, but the index keys are wrong, thats why I could not call my code.

When I change to
* gossip.html, getActiveTabIndex() is 1
* when I change to neighbors.html, getActiveTabIndex() is 1 (wrong, should be 2)
* when I change to chatrooms.html, index is 3 (correct)
* I change back to neighbors.html, index is 2 (correct

[2015-10-17 13:48] Hirbod commented on #963
Alright.. it's a timing issue. Seems like postchange will fire too fast when persistent flag is set. Adding a $timeout will help (quick and dirty). You need to investigate please

[2015-10-17 13:57] andipavllo commented on #963
@Hirbod which version of Onsen UI are you using? I just tried with the master version and everything seems working fine

[2015-10-17 13:57] Hirbod commented on #963
1.3.11

[2015-10-17 14:00] Hirbod commented on #963
As said, wrapping around inside of an $timeout (with 0 second), it work. Seems like some $digest did not apply correctly.

[2015-10-17 14:11] andipavllo commented on #963
@Hirbod I just tried it also for 1.3.11 and it works fine in my case. Which browser have you used to test? Can you also try with the master version of Onsen? Can you provide a working CodePen example that simulates the wrong behavior? Thank you for your cooperation.

[2015-10-17 14:25] Hirbod commented on #963
I used iOS simulator and iPhone 6 (both on iOS9)
Did you set the persistent-flags like I described?

[2015-10-17 14:51] andipavllo commented on #963
Yes I did, I tried it on chrome. A CodePen example would be appreciated.

[2015-10-17 14:57] andipavllo commented on #962
@ehlaumarc please provide some code, it's impossible to help you otherwise. Also, you can take a look at [this tutorial](onsen.io/blog/onsen-ui-google-maps-javascript-api-v3-angularjs-sample-application/) about how to integrate Google Maps into Onsen UI.

[2015-10-17 14:57] Hirbod commented on #963
My app is very complex, building and example is not that easy.

I don't think that you will have this timing issue on chrome, maybe it's hardware related

[2015-10-18 07:11] ehlaumarc commented on #962
Hi , i went through the tutorial and even try it on VS2015 cordova app, it also did not work .

The following are my code for this development:
index.html

<!DOCTYPE html>
<html ng-app="scheduleplanner">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>SchedulePlannerApp</title>

    <link href="css/onsen

[2015-10-19 02:50] githubkyo opened #964 "onsen ui carousel' post change event not fire."
ons.ready(function () {
            carousel.on('postchange', function (event) {
                var newActiveIndex = event.activeIndex - 1;

                console.log($scope.bookmarkArr);
                $scope.nowPage = Math.floor((event.activeIndex) / 33) * 33;

                // ブックマークのアイコンを切り替え
                if ($scope.bookmarkArr.indexOf(newActiveIndex) > -1) {
                    $scop

[2015-10-19 05:03] charitha1995 commented on #951
future web haha.... :+1:

[2015-10-19 15:24] Hirbod opened #965 "ons-pull-hook - error in documentation and when using slide-menu-ignore="true""
Hi @argelius @andipavllo

On
http://onsen.io/reference/ons-pull-hook.html

you are referencing `var="loaded"` but try to access `loader.getCurrentState()`. This will lead into bugs and no display of the status. (change var to loader and it works)

And when you add `sliding-menu-ignore="true"` to ons-page, the pull-hook won't work and jitter extremely

It's related to my old bug report #449 - thoug

[2015-10-19 15:32] andipavllo commented on #965
@Hirbod thank you very much for reporting this, I'll fix it immediately. For next time, please report the website issues in this repository :)

https://github.com/OnsenUI/onsen.io/issues

[2015-10-19 15:57] frankdiox commented on #964
The error says that `carousel` variable does not exist. Have you included `var="carousel"` in your `ons-carousel` HTML? And if you did, is that `ons-carousel` in your index.html? Because otherwise it won't be created by the time `ons.ready` is executed.

[2015-10-19 15:57] Hirbod opened #966 "lazy-repeat should be allowed inside of ons-scroller"
@argelius @andipavllo

Since this commit
https://github.com/OnsenUI/OnsenUI/commit/a0f31c2dbc6dfc743a8a566e9813da70dcceaf0c
pull-hook is allowed for ons-scroller, so it should be for lazy-repeat

[2015-10-19 15:59] #965 closed

[2015-10-19 16:00] Hirbod commented on #965
@andipavllo shall I open another ticket for the sliding-menu issue?

[2015-10-19 16:01] andipavllo commented on #449
fixed in #965

[2015-10-19 16:02] andipavllo commented on #965
@Hirbod yes please, open another ticket :)

[2015-10-19 16:03] Hirbod commented on #965
But you closed #449 which was not related to the documentation

[2015-10-19 16:04] Hirbod opened #967 "ons-pull-hook won't work with sliding-menu-ignore="true""
It just won't work. Jittering and flickering, see video on #449
After I removed the slide-menu-ignore from ons-page, it worked

[2015-10-19 16:04] andipavllo commented on #965
sorry, I missunderstood, I'll open it again

[2015-10-19 16:27] andipavllo commented on #966
@Hirbod you are right about this, we should probably implement it

[2015-10-19 17:48] Hirbod opened #968 "ons-pull-hook need to clear style after it's finished"
@andipavllo @argelius

Since ons-pull-hook creates some DOM elements (e.g `<div class="scroll">`) and applies 3d-transformation on it, it will break other 3d translated (children) elements under some circumstances.

.scroll should clear the style-value after finished transition, or better, it have to reset to it's default.
I have vertically and horizontal centered elements and they just disappear

[2015-10-19 17:57] Hirbod opened #969 "ons-pull-hook - don't apply any styles on negative value"
Currently, ons-pull-hook will break inertial/momentum scroll when end of list is reached (while dragging), as it triggers also on overbouncing at ons-page-bottom. Please do not trigger / apply any styles on .scroll when end of list is reached. Just leave it native, as it also feels buggy right now.

Dragging and releasing works as expected at bottom end, but touchmove not. Please improve this to g

[2015-10-19 17:57] Hirbod commented on #968
also see #969

https://www.youtube.com/watch?v=UR6a1NMoGME&feature=youtu.be

[2015-10-19 17:57] Hirbod commented on #969
@andipavllo @argelius also see #968

[2015-10-19 18:01] Hirbod commented on #969
another bug, related to this one. Since ons-pull-hook applys css while scrolling, I can't scroll fast up and down, as soon as my finger touches the element, it will jump around... this is nasty :(

[2015-10-19 18:17] andipavllo commented on #969
@Hirbod thanks for all this reports, we will investigate. Anyway, if you want, you can also implement the fixes by yourself and make a pull request :)

[2015-10-19 18:46] Hirbod commented on #969
@andipavllo I don't want to sound demanding, but actually I'm taking care of some open source projects and have to finish this annoying app :D

It's quite difficult. I will provide code and fixes as much as I can, but I'm quite busy currently. Will try to look at it.

[2015-10-19 19:55] Hirbod commented on #968
Just had a look at the source.

For now, adding

[code]

the timeout to the _done function will work well and seem to be safe.

[2015-10-19 20:05] Hirbod commented on #969
Just had a look at the source.
@argelius @andipavllo

### Fixing style onDone
For now, adding
[code]

the timeout to the _done function will work fine for resetting styles at the end of animation.

### Concept

Conceptional, ons-pull-hook is not final nor really production ready. It should be changed to following, as anything else does not make sense and will have negative side-effects.

* only ad

[2015-10-20 00:07] githubkyo commented on #964
yes,  i included var="carousel" in my html. but, not in index.html.

I use window.carousel fixed this problem.

ons.ready(function () {

            // カルーセルオブジェクトを取得
            var carousel = window.carousel;

            carousel.on('postchange', function (event) {
                var newActiveIndex = event.activeIndex - 1;

                console.log($scope.bookmarkArr);
                $scop

[2015-10-20 00:07] #964 closed

[2015-10-20 03:18] ehlaumarc commented on #962
@andipavllo , sorry to trouble you. do you face the same problem when you place the map div into the ons-elements ?? I'm a student working on an industrial project for my FYP, i hope to resolve this problem asap, Onsen UI provides very good interface , i wanted it to be a part of my project .

[2015-10-20 07:48] andipavllo commented on #962
Well, I have placed my map inside an `ons-page` element, exactly like you, with no issue. Which element breaks it? The `ons-list` immediately below? Is there any error in the console log?

[2015-10-20 08:10] ehlaumarc commented on #962
No. it is within the ons-page , but above the ons-list . Not only i have this issue , my classmate also faces the same issue. May i know which version of onsen api you are using ? what platform / application you are using . Both of us are using Visual Studio 2015

[2015-10-20 09:07] andipavllo commented on #962
I was using Google Maps Javascript API 3 and Onsen 1.2.1 (the tutorial is from February). I cannot understand where the problem is, the structure seems fine. No errors are displayed? Please try using Onsen 1.2.1 and let me know if it works.

Also, take a look here:

http://stackoverflow.com/questions/31092907/google-maps-v3-in-cordova-onsenui-app-map-displays-in-browser-but-not-on-phone/31099018#3

[2015-10-20 14:01] andipavllo commented on #915
@anatoo I also tried on a Galaxy S3 mini with android 4.1.2, same issue

[2015-10-20 14:07] Hirbod commented on #969
@andipavllo I've also seen another bug. When I scroll down rapidly (and let the inertial scroll a bit) and want to give it some more speed, as soon as I touch the screen, it jumps up (I think it's related to fastclick or something in this case), as fastclick won't update it's last known click position while inertial is running. Won't happen on Simulator, but at device.

And when I scroll slow (jus

[2015-10-20 15:08] mrboo00 commented on #917
Any solution to this?

[2015-10-20 16:30] andipavllo commented on #969
@Hirbod please open a new issue for any bug you find, otherwhise it's easy to miss something

[2015-10-20 16:31] Hirbod commented on #969
yes, but's related to this one, that's why I wrote this down here

[2015-10-21 02:25] #966 closed

[2015-10-21 02:28] #948 closed

[2015-10-21 03:53] anatoo opened #971 "Generated document is broken."
I checked out current master branch and notice generated document is broken:
[code]

EXPECTED:
[code]

[2015-10-21 04:15] argelius commented on #971
Thanks @anatoo. I can take a look at this.

[2015-10-21 04:36] argelius commented on #971
@anatoo I broke something when updating dependencies. I have fixed it now.

[2015-10-21 04:36] #971 closed

[2015-10-21 04:37] #969 closed

[2015-10-21 04:38] #968 closed

[2015-10-21 04:40] argelius commented on #969
@Hirbod: I have merged a fix. It's a bit different from your proposed fix but I don't want to add the transform except when absolutely necessary to avoid issues with transformed children.

[2015-10-21 07:36] charitha1995 commented on #951
@andipavllo yes sir :) it is quite hard, we just post that :+1:

[2015-10-21 14:49] Hirbod commented on #969
@argelius I will check that, but I guess that this won't fix the jittering problems. I will open another issuse when other errors come up

[2015-10-21 16:41] frankdiox opened #973 "Onsen 2.0 bugs in IE and Edge"
Onsen 2.0 bugs found in IE and Edge. PR #993

## IE and Edge:
- dialog, alert, popover:
	- [x] Missing: `z-index: 20001`.
        * `z-index` is type number in IE/Edge.
	- [x] Scrollbars are visible in dialogs.
        * [`-ms-overflow-style` property](https://msdn.microsoft.com/es-es/library/hh771902(v=vs.85).aspx)
- progress:
	- [x] Not displaying circular ones. Throws: `Unable to get property '

[2015-10-21 17:06] frankdiox opened #974 "Tabbar is bugged when clicking tabs very quickly"
Related: #948 (already fixed)

In this demo
https://github.com/OnsenUI/OnsenUI/blob/master/demo/tabbar/index.html

With `fade` or `slide` animations:
- Memory leak.
- It doesn't remove the `ons-page` from the DOM and keeps adding new pages.

With `animation: 'none'`:
- Memory leak.
- Throws: `Uncaught Error: Fail to fire "pageinit" event. Attach "ons-page" element to the document after initializat

[2015-10-22 08:16] argelius commented on #961
Thanks a lot @Hirbod !

Sorry for the late response. CodePen changed something on their side. It should be working now (or in 15 minutes since CloudFront cache must be updatet).

[2015-10-22 08:16] #961 closed

[2015-10-22 08:16] argelius commented on #973
Thanks @frankdiox ! Please work on solving these bugs since it should work in these browsers as well.

[2015-10-22 10:42] argelius commented on #960
Hi @Hirbod !

I think this is a good idea.

By "max visible items" I take it you mean that if there are currently 5 items displayed, it should slide to the next 5 items (if they exist, otherwise to the maximum index)?

[2015-10-22 10:43] #958 closed

[2015-10-22 10:43] #951 closed

[2015-10-22 10:45] #918 closed

[2015-10-22 10:46] argelius commented on #909
@sofish We have made a new repo for bower now.

[2015-10-22 10:46] #909 closed

[2015-10-22 10:46] #888 closed

[2015-10-22 11:21] ghost opened #975 "Blink bug in ons-split-view"
I'm developing a cordova application using onsenui.

The environment is:
OnsenUI 1.3.11, iOS9, cordova 5.3.3.

When I change a main page by calling setMainPage of `ons-split-view`, the page always blinks.
I checked it on iOS9 simulator, iPhone and iPad.

On Safari and Chrome, it works fine.

[2015-10-22 11:27] pressentir commented on #975
http://codepen.io/onsen/pen/nKqfv

I also tried the code above, but the same problem occurred.

[2015-10-22 11:49] argelius commented on #975
Thanks for reporting @pressentir !

We will investigate this bug.

[2015-10-22 11:55] sofish commented on #909
:+1:

[2015-10-22 14:49] Hirbod commented on #960
Exactly @argelius.

[2015-10-23 06:12] anatoo opened #977 "Broken list component on css-components."
I checked out master branch and notice vanishing border-top on list css-components.
![image](https://cloud.githubusercontent.com/assets/59784/10685738/7038361e-7998-11e5-9005-475578bc98c7.png)

[2015-10-23 16:56] cdiaz opened #978 "Password input no focus on firefox and safari"
http://onsen.io/pattern-login.html

Fix  class="underbar"  ,  no focus and placeholder is hidden

the css box-sizing: border-box property

[2015-10-23 17:14] cdiaz commented on #978
box-sizing: border-box;

[2015-10-23 18:03] Hirbod commented on #961
Confirmed. It is fixed. By the way, it was broken at least for 1-2 months.

[2015-10-24 03:43] jondavidjohn opened #979 "require() statements in npm distribution"
I'm attempting to use onsenui via npm in a project.  I'm using browserify, and when I attempt to

    require('onsenui/js/onsenui');

I get the following error message

[code]

This is happening because there are 2-3 `require(...)` calls in the distributed npm package, which is probably a mistake?

This is happening on the `2.0.0-alpha.6` release.

[2015-10-24 04:00] jondavidjohn commented on #979
For some context, I'm attempting to follow [this blog post](http://onsen.io/blog/tutorial-create-instagram-gallery-app-with-onsenui-react/) about using onsenui with react, and additionally I found you do not package `ons-core` individually with your npm distribution which would also be an appreciated addition to the npm package.

[2015-10-24 15:27] Saurabh995 opened #980 "Sliding menu -disappearing toolbar button and content"
I am using materialize css with onsen. The date picker is causing the toolbar button an dcontent to disappear. I would attach the screenshot of the app.
![screenshot_2015-10-24-08-42-15](https://cloud.githubusercontent.com/assets/5358306/10711183/5642e3cc-7a91-11e5-9cfe-70664139671c.png)
![screenshot_2015-10-24-08-42-37](https://cloud.githubusercontent.com/assets/5358306/10711185/5e552d5e-7a91-11e

[2015-10-24 20:08] jondavidjohn commented on #979
I tracked it down to be in [core/vendor/promise-6.1.0.js](https://github.com/OnsenUI/OnsenUI/blob/f0c87264c5bcd38100e1d600ef414e66a3cb3907/core/vendor/promise-6.1.0.js#L172).

[2015-10-25 22:34] amir-s commented on #942
any comments on this?

[2015-10-26 06:37] andipavllo commented on #967
@Hirbod I tried to replicate this but I couldn't. Actually, `sliding-menu-ignore="true"` is not working at all for me. Here is a CodePen example, please let me know if there is somenthing that shoud have been implemented differently to reproduce the issue.

http://codepen.io/andipavllo/pen/MaVORN

[2015-10-26 07:14] andipavllo commented on #914
I will work on this in the next few days

[2015-10-26 08:43] argelius commented on #978
Thanks for reporting! We will fix this.

[2015-10-26 08:44] argelius commented on #977
Thanks @anatoo! I will take a look at this.

[2015-10-26 20:45] frankdiox commented on #973
@argelius The error thrown in `demo/icon/index.html` is related to a `show` event fired from `ons-navigator`. It works well in Chrome but is broken in IE, Edge and Firefox. If I add `document.registerElement = undefined;` it also breaks in Chrome. Do you think it's a problem with the polyfill?

[2015-10-26 22:35] Hirbod commented on #827
@argelius just wan't to send out a small reminder... I'm waiting so badly on this feature.
https://github.com/driftyco/ionic/blob/master/js/angular/directive/keyboardAttach.js#L1

It should not be so much work.. Of course it would need some keyboard listeners and Onsen adjustments.

[2015-10-27 03:52] argelius opened #983 "Don't attach ons to window"
The `ons` object is by default attached to the `window` object.

When used with browserify it should not pollute the global scope.

[2015-10-27 04:11] argelius commented on #979
Thanks a lot @jondavidjohn !

I have fixed the promise polyfill as well as some other scripts where `module.exports` was changed.

I released a new version (`2.0.0-alpha.7`) and tried with the following script:

[code]

And browserified with:

[code]

which worked fine when I ran it in the browser.

There are still some issues with polluting the global scope that I will address later. It will requ

[2015-10-27 04:11] #979 closed

[2015-10-27 04:11] argelius commented on #979
I have closed this, but please feel free to open it again.

[2015-10-27 04:14] argelius commented on #980
Hi @Saurabh995 !

That's really weird. Is it possible for you to create an example that reproduces this? Preferably on codepen.io but just pasting a runnable example here works as well.

I need to check if some classes or CSS rules changed when the date picker was displayed. Maybe there is a transform working?

[2015-10-27 04:35] #977 closed

[2015-10-27 07:45] argelius commented on #974
I'll take a look at this.

[2015-10-27 13:08] Hirbod commented on #967
Well, it should. For me, it will jitter and flicker as soon as I set this element.

[2015-10-27 13:09] Hirbod commented on #967
@andipavllo yeah your code is broken.

You have
[code]

while it should be
[code]

[2015-10-27 13:13] jondavidjohn opened #985 "Onsen2: Dom mutations and using React"
I've recently been trying to wire up the 2.0.0 alpha releases with React.

According to [this blog post](http://onsen.io/blog/tutorial-create-instagram-gallery-app-with-onsenui-react/) it seems fairly simple, but in using the `ons-list` and `ons-list-item` components it looks to throw some errors about the DOM being different than react expects it to be.  I think this is due to the fact that the o

[2015-10-27 13:16] andipavllo commented on #967
Oh, you are right, sorry for the mistake. I'll take a look at it.

[2015-10-27 13:16] Hirbod commented on #243
@argelius @anatoo will this come anytime?
It's the last little part from making iOS feel real native.

[2015-10-27 13:17] Hirbod commented on #967
I just checked it inside of your codepen, the error is reproducable.

[2015-10-28 00:48] githubkyo opened #986 "input tag's value's position and default message's position is a shift"
<input type="search" placeholder="default message" class="search-input" id="search"/>

input  tag's value's position and default message's position is a shift。

input  tag's value's position near the bottom. But ,default message's position  is middle.

[2015-10-28 04:20] Hirbod commented on #917
@argelius  I can confirm this and it's related to some of my reported problems on ons-pull-hook. The vigorously shaking is only reproducible on an device not inside the simulator.

Just make a big list and drag slowly, do not scroll fast. It will shake up and down.
Also, scroll fast, and try to give your inertal some more speed, as soon as you touch the screen, it will jump to the last starting po

[2015-10-28 06:27] argelius commented on #917
Thanks @Hirbod !

I will investigate the behavior on iOS.

[2015-10-28 06:58] anatoo opened #987 "Update README file for Onsen UI 2.0"

[2015-10-28 13:33] d3orn opened #988 "iOS Bug: Slide Menu > ons-nav > page__content"
The pictures bellow show 2 different situations which were both taken within the same App running on iOS 9.
As you can see somehow the page__contents top:64px is ignored in the first picture. In the second, the page content starts where it is supposed to start.
The first scenario is achieved by navigating (menu.setMainPage(foo.html)) from another page whereas the second by doing so from within the

[2015-10-29 17:45] andipavllo opened #991 "List inside Carousel doesn't scroll"
See the example:

http://codepen.io/andipavllo/pen/bVKdVP

[2015-10-29 19:50] Hirbod commented on #988
This is fixed in 1.3.11 - just update.

[2015-10-30 00:50] Hirbod opened #994 "Change ons-pull-hook completely with following libs"
Hi,

I don't want to be mean - but ons-pull-hook - is just a buggy solution. It's not meant for production or large lists etc. It's just buggy. Too buggy, too sluggish.

There are few more and better concepts out there.

First of all, you guys should split the behaviour, to get maximum performance.

1) Don't use translate. Really, don't. It sucks monkeyballs.
2) Use different implementation for iO

[2015-10-30 00:54] Hirbod commented on #994
@argelius I forgot to mention that material-refresh will also work for iOS (but it's buggy) and should not be used. Just add a check if iOS (use md-directive style) or Android for material. These are just suggestions, hope you will consider to make that hole thing more performant

[2015-10-30 03:42] argelius commented on #994
Thanks for testing this @Hirbod !

If there's no way to make it performant with translate3d on iOS, I guess we need to remake it.

It will probably not happen right now but we can add it in the next minor version. I think in that case we will not replace this component but instead make a new one and deprecate this one.

[2015-10-30 03:44] Hirbod commented on #994
@argelius sounds really good!

[2015-10-30 18:12] boxbag opened #995 "Version 1.3.4 No Longer Working"
Hi, I'm on v1.3.4 and I used to get a bower.json that looks like this

[code]

and now I get this

[code]

and I'm getting this error when I try to run my code that was working previously

`ReferenceError: ons is not defined`

[2015-10-30 20:14] frankdiox commented on #995
@boxbag We have changed the distribution repository from OnsenUI to [OnsenUI-dist](https://github.com/OnsenUI/OnsenUI-dist) because we had to fix and update few stuff. Now it's not as heavy as before and the directory structure is simpler. I think you just need to update the path to include `onsenui.js` and the other files :)

[2015-10-30 20:28] #995 closed

[2015-11-02 03:43] #974 closed

[2015-11-02 03:43] argelius commented on #974
@frankdiox I think this is fixed now. Can you verify?

[2015-11-02 03:53] argelius commented on #988
@d3orn

Can you try overriding with the following rules?

[code]

[2015-11-02 06:40] #868 closed

[2015-11-02 06:40] #987 closed

[2015-11-02 07:49] d3orn commented on #988
well this fixed the misplaced content. Thanks a lot!

[2015-11-02 08:18] argelius commented on #988
That's great! :+1:

[2015-11-02 08:18] #988 closed

[2015-11-02 13:53] frankdiox opened #997 "ons-splitter sliding issue"
@anatoo I have found some problems with `ons-splitter`. In this demo:  https://jsfiddle.net/rry8pgxx/4/

The second `ons-splitter` (right side) is taking the width of the first one (left side) for the opening animation. When sliding the right menu you can see that it gets stuck at 100px and then opens 300px when releasing the click.

Also, the menu just disappear without animation if you open and

[2015-11-02 17:37] dieunt opened #998 "Onsen UI Select / Dropdown / Autocomplete"
Hi,
Is there any components like Select / Dropdown / Autocomplete in Onsen UI?

Thank you.

[2015-11-02 17:47] frankdiox commented on #974
@argelius Yes, memory leak fixed :) The only thing that remains is the `pageinit` error, but since it's going to be deprecated I guess it's not very important. Thanks!

[2015-11-02 17:55] frankdiox commented on #998
Hello @dieunt
There is no specific component for that but probably you can use `ons-popover` like this: http://stackoverflow.com/a/27141353/4468962

[2015-11-04 02:29] argelius commented on #974
@frankdiox Actually I was unable to reproduce the pageinit error. What browser and what version are you running?

[2015-11-04 02:33] #842 closed

[2015-11-04 02:36] #998 closed

[2015-11-04 02:39] argelius commented on #997
I can take a look at this.

[2015-11-04 02:56] #997 closed

[2015-11-04 02:57] argelius commented on #986
Thanks for the report @githubkyo !

Can you explain exactly what you mean. Can you create an example on codepen that reproduces this?

[2015-11-04 02:59] argelius commented on #991
It's easy to just add an `overflow-y: scroll` rule so I don't think this is an issue.

[2015-11-04 02:59] #991 closed

[2015-11-04 03:03] argelius commented on #985
Hi @jondavidjohn !

Sorry for the late reply. It's true that the list tags will do some DOM manipulation when they are added since they are Web Components. However, I didn't have any trouble integrating them with React.

Would it be possible for you to create a simple example that reproduces this error?

[2015-11-04 03:04] anatoo commented on #997
@frankdiox @argelius Thanks!

[2015-11-04 03:12] argelius commented on #973
@frankdiox Sorry for not replying to this. I forgot.

I think this has been fixed in 23d737ceb8f26e0dfa8db9006578aaf6ed6504b2

[2015-11-04 03:35] argelius opened #999 "ons.notification.alert looks weird on Android"
The generated HTML is incorrect so the message looks weird on Android.

![screenshot from 2015-11-04 12 33 40](https://cloud.githubusercontent.com/assets/6549462/10928920/707c721e-82f0-11e5-9353-0a8dd30fefac.png)

[2015-11-04 03:54] argelius opened #1000 "Release script doesn't remove old files"
The release script doesn't remove old files from the `build` folder.

It will still have files like this one: https://github.com/OnsenUI/OnsenUI-dist/blob/2.0.0-alpha.9/js/onsenui_all.js even though it's not present in the build folder.

Please fix this.

[2015-11-04 05:40] argelius opened #1001 "Material Alert dialogs have border on top of buttons"
When running on Android 5.0 (Nexus 7) the alert dialogs have a strange border on top of the buttons. Also there is a border under the title element. It's not displayed in Chrome on desktop so probably there is a media query causing this.

[2015-11-04 06:31] argelius opened #1002 "Material Range thumb element doesn't grow when touched on Android"
When dragging the material range on Nexus 7 (Android 5.0) the thumb element doesn't animate.

[2015-11-04 06:35] argelius opened #1003 "Ripple effect on Speed dial children broken."
When using `<ons-ripple>` on the `<ons-speed-dial>` children the ripple effect covers the shadow.

[2015-11-04 09:39] argelius opened #1004 "Pull hook doesn't work well with carousel"
The carousel can be frozen in place if it is dragged and then the pull hook is activated. The same is true if the pull hook is dragged down and then the carousel is dragged.

Can be reproduced in this demo in Chrome:
https://github.com/OnsenUI/OnsenUI/edit/master/demo/carousel_pull_hook/index.html

[2015-11-04 10:42] anatoo commented on #999
I'll fix this issue.

[2015-11-04 12:10] jondavidjohn commented on #985
@argelius I included a repository the triggers the error I point out in the issue :point_up_2:

[2015-11-04 12:25] frankdiox commented on #974
@argelius Chrome Version 46.0.2490.80 m
You have to modify the demo and use `none` for tabbar animation.

[2015-11-04 12:32] frankdiox commented on #973
@argelius Yes, it's fixed :) Thanks!

[2015-11-04 12:32] #973 closed

[2015-11-04 13:13] #1000 closed

[2015-11-04 13:15] frankdiox commented on #1000
@argelius Thanks for reporting. Your OnsenUI-dist local folder had old files from the previous versions. I just added `rm *` if OnsenUI-dist folder already exists.

[2015-11-04 21:36] tachu opened #1005 "Bower.son makes reference to build dir but files are not packaged there"
on 1.3.12 version the packaged bower.json file references
  "main": [
    "build/js/onsenui.js"
  ],
  "styles": [
    "build/css/onsenui.css",
    "build/css/onsen-css-components.css"
  ],

but the actual shipped structure through bower doesn't have build dir and has files directly under ./js and ./css like

drwxr-xr-x  10 tachu  staff    340 Nov  4 13:32 .
drwxr-xr-x   4 tachu  staff    136 Nov

[2015-11-05 03:49] argelius commented on #1005
Thanks for reporting @tachu ! We will fix this.

@frankdiox Can you take a look at this? You maybe need to update the tags.

[2015-11-05 03:52] argelius commented on #1000
Thanks @frankdiox !

[2015-11-05 07:53] anatoo commented on #1001
I'm going to fix this problem.

[2015-11-05 08:02] #999 closed

[2015-11-05 08:49] #1001 closed

[2015-11-05 09:55] anatoo opened #1008 "Alert-dialog animation is slow on material design dialog."
Alert-dialog animation is slow with material design on "demo/alert-dialog/index.html".
My device is Nexus 7 Android 5.1.1.

[2015-11-05 12:46] frankdiox commented on #1005
Looks like we didn't update to the new `bower.json` in 1.3.12. The other releases were fine. I fixed 1.3.12 so it should work now :)

[2015-11-05 12:46] #1005 closed

[2015-11-05 14:01] d3orn opened #1009 "Question: ons-toolbar box-shadow"
Hey Guys, I would like to add a constant box-shadow at the bottom of the ons-toolbar, just to get some visual divider between the content and the toolbar. But somehow if I push/pop a page I will also see a box-shadow and/or border which is probably added for the animation. Can you tell me how I can get rid of it without touching your code?
Thanks a lot and keep up your good work!

P.s a cool idea

[2015-11-06 06:14] anatoo commented on #1002
I have investigated this problem and realized that pure css component can't implements range thumb growing when dragging on Android.
There is same problem on MDL's slider components(http://www.getmdl.io/components/#sliders-section).
This feature is implemented on Angular Material's "md-slider" directive(https://material.angularjs.org/latest/demo/slider) but this is not pure css.
To solve this prob

[2015-11-06 06:59] argelius commented on #1002
Thanks @anatoo ! Looks like we must implement it in JavaScript.

[2015-11-06 08:14] argelius commented on #1003
It can be reproduced in this sample. Ripple effect for the child elements is broken.

https://github.com/OnsenUI/OnsenUI/blob/master/demo/ripple/index.html

[2015-11-06 08:15] anatoo commented on #1003
Ok, Thanks!

[2015-11-06 09:23] #1003 closed

[2015-11-06 10:14] anatoo opened #1013 "ons-alert-dialog from html template is broken on material design."
![screenshot_2015-11-06-13-27-32](https://cloud.githubusercontent.com/assets/59784/10994564/9b0a2352-84ba-11e5-9aca-b0228cfe235d.png)

[2015-11-09 06:52] #967 closed

[2015-11-09 09:18] argelius opened #1017 "Tabbar is broken"
In this pattern:
https://github.com/OnsenUI/OnsenUI/blob/master/css-components/www/patterns/details.html

This error is thrown:

[code]

[2015-11-09 12:09] cither1 opened #1018 "<ons-back-button> remains showing after resetToPage()"
Take a look at this <https://jsfiddle.net/kLs6a47p/>.
I press Reset button in the third page to `resetToPage()`, but `<ons-back-button>` doesn't hide, although it should. I think some refresh process is needed.

Acctually, I found a workaround for this problem, as seen here <https://stackoverflow.com/questions/33510986/>. I know I can refresh `<ons-back-button>` and hide it by calling `$rootScope.

[2015-11-09 14:32] frankdiox commented on #1018
@cither1 Thanks for reporting! Looks like the pages destruction in `resetToPage()` is out of Angular's digest cycle.

This is not applicable to Onsen UI 2.0 but I think we can release a new 1.x version to fix this. What do you think, @argelius ?

Adding `self._scope.$digest();` before [navigator.js#L602](https://github.com/OnsenUI/OnsenUI/blob/1.3.12/framework/views/navigator.js#L602) fixes this.

[2015-11-09 19:39] frankdiox commented on #1013
@anatoo If the device is Android and has `modifier="material"` it uses `.alert-dialog-*--android` and also `.alert-dialog-*--material`. Material overwrites almost everything that Android includes, except a `border-bottom: 1px solid #ddd;` located in `.alert-dialog-title--android`. Do you think this is OK? Shouldn't it include only one of them?

[2015-11-09 20:13] GoGross opened #1020 "ons-button missing in apk"
here is my button code,

[code]

everything displays fine but disappears when I emulate or export to APK.

[2015-11-09 20:18] frankdiox commented on #1020
@tinocosta84 Could you please elaborate it a bit? Is it the only button that disappears? Have you tried changing it somehow until it appears again? It's hard to figure out why it happens without an example or more information.

[2015-11-09 20:36] tinocosta84 commented on #1020
<!DOCTYPE html>
<html lang="en" ng-app="app" ng-csp>
<head>
    <title>nipSpy</title>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <script src="lib/angular/angular.js"></script>
    <script src="lib/onsen/js/onsenui.js"></script>

    <link rel="stylesheet" href="lib/onsen/css/onsenui.css"

[2015-11-09 20:38] tinocosta84 commented on #1020
When I export the above code, it doesn't show the ons-button in the apk, but just fine in the browser

[2015-11-10 01:58] argelius commented on #1018
Yes, please release a patch to fix this bug @frankdiox .

[2015-11-10 02:00] argelius commented on #1013
It should only include one of them.

[2015-11-10 03:12] #1017 closed

[2015-11-10 05:14] anatoo commented on #1013
@frankdiox It should use "material" modifier instead of "android" modifier(.alert-dialog-*--android) on Onsen UI v2 and android device. In ons-alert-dialog, current implementation add "android" modifier automatically. I think ons-alert-dialog and other components(e.g. ons-toolbar) should add "material" modifier automatically instead of "android" modifier on android device.

[2015-11-10 06:20] ekiyanov commented on #255
any chance to see how to use ng-if to switch to sliding menu ?

[2015-11-10 08:18] Bjoern3003 opened #1023 "Onsen slider and AngularJS on Mobile Touch"
Hi, it is not possible to set a new value on mobilephones with onsen Slider.

I can move the slider, but get no new value in my Angular Script.

Does anyone have the same problem?

[2015-11-10 08:30] argelius commented on #1023
Hi @Bjoern3003 !

What device are you running? Are you running as a Cordova application or a website?

[2015-11-10 09:17] Bjoern3003 commented on #1023
Hi, I am using Android Device. Onsen is running as a website in my private network.

[2015-11-10 10:14] #1013 closed

[2015-11-10 10:15] argelius commented on #1013
I removed the automatic "android" modifier. I didn't add the "material" modifier. However, I think there should be a way to automatically get a Material layout on Android.

[2015-11-10 19:13] frankdiox commented on #1018
@cither1 We just released 1.3.13 with this fixed. Try it out please!

[2015-11-10 19:13] #1018 closed

[2015-11-10 20:43] frankdiox commented on #895
This can be now implemented combining slidingMenu/ splitter and navigator with `navigator.bringPageTop()`.

[2015-11-10 20:43] #895 closed

[2015-11-11 03:06] argelius opened #1026 "Adjust size and add active style to material toolbar buttons"
In Native android apps the background color of toolbar buttons change when touched.

In order to do this we must change the layout of the toolbar to make the buttons bigger.

[2015-11-11 03:21] argelius commented on #1009
Hi @d3orn !

We have added a material toolbar with a shadow. We will make it react to scroll since that is the native behaviour. Unfortunately that can't be done in pure CSS so we need to do it with JavaScript.

About your problem. The thing your seeing is probably the semi-transparent mask making the shadow darker than it usually is.

Try using the `simpleslide` animation instead for an animation

[2015-11-11 06:58] argelius opened #1027 "Material progress broken on Android 4.4"
The progress circle is too big and animation is glitchy. It works fine in Crosswalk.

![image](https://cloud.githubusercontent.com/assets/6549462/11085812/e689a47a-888d-11e5-8212-47c288fe988f.png)

[2015-11-11 07:14] argelius opened #1028 "Icons not centered automatically in `<ons-speed-dial-item>`"
![image](https://cloud.githubusercontent.com/assets/6549462/11085896/e0e98e9e-888e-11e5-938f-5218bcd0b93a.png)

The user should not have to add custom styles to center the icon.

[2015-11-11 07:19] eidorianyeo opened #1029 "ons-lazy-repeat taking full screen height"
If i remove ons-lazy-repeat from ons-list-item, this issue won't happen. Basically whenever I use ons-lazy-repeat, it takes on full height, overlap and cover on top of ons-toobar which is at the top of screen. Hope this can be fixed.

[2015-11-11 07:25] argelius commented on #1029
Hi @eidorianyeo ! Thanks for the report.

Can you provide some code that reproduces this issue?

[2015-11-11 07:26] argelius opened #1030 "Input placeholder is glitching on Android 4.4"
![image](https://cloud.githubusercontent.com/assets/6549462/11086100/ebec203e-8890-11e5-8072-d7bc8cc1caa4.png)

[2015-11-11 07:56] argelius commented on #1008
I tested building with Crosswalk and it's still super slow. I think this has very high priority so I will start working on it today.

[2015-11-11 08:22] argelius opened #1031 "ons-splitter-side feels clunky"
When swiping the menu it feels a bit clunky. It will stop for a split-second before moving when released. It would feel nicer if it reacted quicker.

[2015-11-11 08:40] argelius opened #1032 "Toolbar is flickering during Speed Dial animation."
The toolbar flickers during the speed dial animation on Chrome and Crosswalk.

[2015-11-11 08:58] Sikandarkhan commented on #863
Still I am encountering this issue.

[2015-11-11 09:00] argelius opened #1033 "Manual tests failing"
Some of the manual tests are failing. Can you investigate and see if it's the test that is broken or something changed?

[2015-11-11 09:30] frankdiox commented on #1033
I tested it yesterday and the problems I found were related to the tests themselves. Like not passing a real JSON as a parameter.

[2015-11-11 09:32] argelius commented on #1033
Ok, that's good.

[2015-11-11 09:50] d3orn opened #1034 "Bug: ons-pull-hook + lazy-repeat"
If I use the ons-pull-hook together with a lazy repeat list sometimes the list vanishes for as long as the pull-hook is spinning.

[2015-11-11 12:55] eidorianyeo commented on #1029
Hi @argelius ,

Screen shot 1 show alignment without ons-lazy-repeat.
Screen shot 2 show alignment with ons-lazy-repeat.

All I did was add/remove that single function.

![issue1](https://cloud.githubusercontent.com/assets/8005098/11091539/435cb67e-88b6-11e5-9349-ea43167c90ff.png)
![issue2](https://cloud.githubusercontent.com/assets/8005098/11091540/4484d32e-88b6-11e5-8d60-9d7851adc86d.png)

<ons-

[2015-11-11 14:47] d3orn opened #1035 "Bug: lazy-repeat with ons-scroller"
Although lazy-repeat is allowed inside an ons-scroller I can only scroll a couple of elements on non iPhone devices (tested on browser and android). As soon as I remove the ons-scroller it works like a charm.

Keep up the awesome work, cannot wait for the onsen 2 release xD

[2015-11-11 15:51] boustanihani commented on #829
:+1:

[2015-11-11 16:29] boustanihani opened #1036 "Feature request: Datepicker / Timepicker"
Hi, are there any plans of offering a Datepicker / Timepicker ?

[2015-11-11 19:58] jondavidjohn commented on #985
@argelius Just thought I'd ping again, just in case you didn't see the example repository above.

[2015-11-11 22:02] jondavidjohn commented on #985
Upgraded the example to the 2.0.0-beta and it's still an issue.

[2015-11-12 02:36] argelius commented on #985
Thanks a lot @jondavidjohn ! I will take a look a this either today or tomorrow.

[2015-11-12 03:41] argelius commented on #1035
Thanks @d3orn ! We will investigate this.

[2015-11-12 03:42] argelius commented on #1035
@andipavllo Can you investigate this and release a patch if you solve it?

[2015-11-12 03:42] andipavllo commented on #1035
@argelius sure, I'll take a look at it today

[2015-11-12 08:26] argelius opened #1037 "Implement ripple effect for material checkbox and radio buttons."
To emulate native behavior we should add ripple effect to the material checkbox and radio buttons.

I think it should be optional so I would prefer adding it as a separate modifier.
This should not use the `<ons-ripple>` element since it can be implemented using CSS.

[2015-11-12 08:29] luposlip opened #1038 "Onsen2: ons-sliding-menu w/o angular"
Hi there!

Spent some time yesterday moving my an app from Onsen1.x to the new Onsen2 beta.

But then I saw that ons-sliding-menu is angular-only. Do you have any plans on making this work without angular? The primary reason for me to upgrade to Onsen2 is to loose angular.

Thanks!

Best,
Henrik

[2015-11-12 08:37] argelius commented on #1038
Hi @luposlip! Thanks a lot for trying out the beta. It's really appreciated :)

Actually we made a decision to create the `<ons-splitter>` element to replace the `<ons-sliding-menu>` as well as the `<ons-spli-view>` elements. Right now there are some features missing that exist for the sliding menu. We will work on adding these missing features.

Is it possible for you to use `<ons-splitter>` in y

[2015-11-12 08:45] luposlip commented on #1038
Oh man, I didn't realize the ons-splitter mimics the behaviour of the ons-sliding-menu, also in terms of touch-sliding. But I see it does, now that I've just tested your live demo on a device.

Thanks a bunch, then I don't need the ons-sliding-menu going forward! :)

Closing this issue.

Best,
Henrik

[2015-11-12 16:01] luposlip commented on #1038
Well, actually I can't get the ons-splitter to work. I need an example of its usage without Angular. The examples you have are Angular only, and the reference you have on how to use the components without Angular is for Onsen1.x.

Can you supply me with an example of how to use ons-splitter without Angular?

I need:

1: HTML incl. setting the attributes (I use a system where I need well formed HTM

[2015-11-13 00:47] frankdiox opened #1040 "Options object in <ons-back-button>"
@argelius @anatoo We can have an options object for `navigator.popPage({...})` with things like `refresh` or `onTransitionEnd`, but currently `ons-back-button` is set to do `navigator.popPage({cancelIfRunning: true});` and nothing else. I guess we should add a way to assign an options object to `ons-back-button`. How do you think it should be done?

- As a parameter of `pushPage`: `navigator.pushP

[2015-11-13 03:03] eidorianyeo commented on #1029
Hi @argelius , can you help to confirm this is a genuine bug in ons-lazy-repeat?

[2015-11-13 14:33] frankdiox commented on #1036
Hello @boustanihani ! Currently there are no plans for a Datepicker, unfortunately. We are focusing on improving Onsen UI main components to have a robust framework and enhance user experience. Since you can find many datepickers for jQuery, Angular or any other framework you choose, implementing one in Onsen UI is not a priority right now.

But as always, this is open source so if we receive a PR

[2015-11-13 14:36] frankdiox commented on #1034
@d3orn Thanks for reporting! I'd like to take a look at it. Could you please link to a simple example in Codepen or jsfiddle? Also, which version of Onsen UI do you use?

[2015-11-13 16:20] luposlip opened #1041 "Onsen2: ons-splitter drag length too long"
Hi there!

I'm currently migrating my app from Onsen1.x to Onsen2.
I have thrown away Angular, and use ons-splitter instead of ons-sliding-menu.

The splitter can be dragged longer than it's width, see attached screenshot.

This is my markup to produce the splitter:
[code]

Best,
Henrik
![img_2317](https://cloud.githubusercontent.com/assets/763627/11150921/c9eb8448-8a2a-11e5-88db-a5924ffd1457.PNG)

[2015-11-13 16:46] luposlip opened #1042 "Onsen2: Unable to load polyfills/promise-6.1.0.js.map"
Browser on iOS device throws this error:
[code]
Best,
Henrik

[2015-11-13 20:30] frankdiox commented on #1042
@luposlip Thanks for reporting! That file is not included in Onsen UI 2.0, I can only find a reference to that file in CSS-components patterns. When is that error thrown in your app?

[2015-11-13 20:30] frankdiox commented on #1041
@luposlip Thanks for reporting this bug, we will investigate it!

[2015-11-13 20:33] luposlip commented on #1042
@frankdiox It's thrown during initialization of onsen, at least it seems like that.
No line in any JS file, so I guess you're right about the CSS.

[2015-11-13 20:37] luposlip opened #1043 "Onsen2: navigator .pushPage"
I have a page with a navigator. I use plain Javascript/React, e.g. no Angular.
I use .pushPage from the API of the navigator, and before calling that, I add a "postpush" event using the following code:

[code]

After pushing I get this error in my console (on iOS):
[code]

Best,
Henrik

[2015-11-14 09:16] kenprice commented on #1029
I found this Googling about my issue without much luck. I can confirm this bug. See [my screenshot here](http://pasteboard.co/27TuxuHB.png)

[gist of my view](https://gist.github.com/kenprice/918a7f1bffde865c3859)

See the gist of my view above. The commented out code is just a regular `ng-repeat` which works just fine. I replaced that line with a `ons-list-item` node with the `ons-lazy-repeat` di

[2015-11-14 10:49] kenprice commented on #1029
This seems to solve the issue for me. In `onsenui.js`'s `_getItemsInView`:
[code]

[2015-11-14 11:51] kenprice commented on #1029
I replaced `_getTopOffset` for `LazyRepeatView` in `onensui.js` with this:
[code]
That seemed to do it for me.

[2015-11-14 14:25] Bjoern3003 commented on #1023
Hi Argelius, could you find the Problem? Could I give you more Informations to help?

[2015-11-14 16:06] michaeleparkour opened #1044 "Onsen2 Tabbar with persistent tabs"
Persistent tabs animated wrong: content blinks and dissappears. If fade transition - page still have opacity:0, if transition slide - page still have -webkit-transform: translate3d(-100%, 0, 0);. Looks like wrong indexes on reactive event or smth.

[2015-11-16 09:39] fabricelepro opened #1045 "Unable to load a Onsen iu 2 project on Monaca"
hi,
i'have create a new project with the brand new Onsen iu Material, but wwhen iam compiling
the project on "Live Preview" on my smartphone the error is
"Uncaught SyntaxError: Unexpected token native "  on -- > www/lib/onsenui/js/onsenui.js:825
without changing anythings from the js file

[2015-11-16 12:39] cSteusloff opened #1046 "missing autocompletion onsen tags in visual studio"
It is possible to get a autocompletion for the onsen specific tags in visual studio 2015?

Thanks

[2015-11-16 15:00] frankdiox commented on #1046
@cSteusloff Hello! In short, currently there is no autocomplete for VS2015. Truth is that we implemented a working version of autocomplete few months ago, but we found some problems/ limitations and had to stop that project for a while. Probably we will continue it but I cannot say any date yet.

In case you have experience with IntelliSense extensions or related stuff, any help would be really we

[2015-11-16 19:01] frankdiox commented on #1045
Hello @fabricelepro ! I guess you created a new "Onsen 2.0 Quick Start" project in Monaca. I have tried the live preview in the browser and in a device with Monaca Debugger and both work fine. Have you modified anything? Also, which device are you using?

[2015-11-16 19:10] frankdiox commented on #1044
@michaeleparkour Thanks for reporting! I can confirm this, we will fix it asap!

[2015-11-16 19:54] frankdiox commented on #1043
Hello @luposlip ! This is working for me with pure JavaScript in Chrome:

[code]

[code]

I guess you do something similar. Can you provide a failing example so we can test it?
Thanks!

[2015-11-17 01:48] eidorianyeo commented on #1029
I'm quite amazed nobody from onsen team has acknowledge this issue and assigned anyone.

[2015-11-17 05:42] argelius commented on #1029
Hi @eidorianyeo @kenprice!

I've been busy the last two weeks. I will check out this bug as soon as I have time. Probably early next week since I'm travelling.

[2015-11-17 12:13] fabricelepro commented on #1045
not yet! My device is running on Android 2.3, live preview in the browser work correctly, but and syntax error append when i run on device

[2015-11-17 18:33] argelius commented on #1045
Hi @fabricelepro !

We're actually not supporting the Android 2.3 WebView. We try to support Android from 4.0 and later and recommend using the Crosswalk library. All animations will be a lot smoother in Crosswalk.

Cordova performance is extremely flaky in the Android 2.3 webview and Crosswalk is only supported from Android 4.0 and later. If there is just some unsupported JavaScript code we might

[2015-11-17 18:34] argelius commented on #1045
Looking at your error I think it might be an issue with the `CustomElements.js` polyfill.

[2015-11-17 20:32] fabricelepro commented on #1045
Thanks, not problem

[2015-11-18 03:24] kenprice commented on #1029
@eidorianyeo Have you tried my fix? It's just a quick fix and I haven't accounted for all possible cases  (worked fine for my needs), but I think it might benefit the maintainers to provide hints at a possible solution. Why don't you try it and report back here in the meantime?

[2015-11-18 07:00] gazxm opened #1047 "BUG:ons-bottom-toolbar In the IOS on the page will go up to the top as v1.3.13"
ons-bottom-toolbar In the IOS on the page will go up to the top

[2015-11-18 07:44] luposlip commented on #1043
I've just tried again, in exactly the way you describe.

It works fine on desktop (Chrome), but when wrapped in a Cordova app and installed on iOS, the embedded browser still throws this error:
![image](https://cloud.githubusercontent.com/assets/763627/11235291/8f677f30-8dd0-11e5-8323-3c1371c95d93.png)

Please try that yourself, I guess you'll the the same error right away.

[2015-11-18 07:53] andipavllo commented on #1035
@d3orn Are you using the lazy-repeat with an ons-list? If yes, is there any specific reason to add the list inside ons-scroller? It will already scroll by itself.

[2015-11-18 08:39] luposlip opened #1048 "Onsen2: Toolbar too close to iOS statusbar"
Hi there!

I'm using Onsen2 beta.
When using Onsen2 on iOS, the toolbar is too close to the native statusbar:
![image](https://cloud.githubusercontent.com/assets/763627/11236238/4a8aaaa6-8dd8-11e5-8bfa-88393e13f980.png)

This was not an issue with Onsen 1.x.

Best,
Henrik

[2015-11-18 08:53] anatoo opened #1049 "Implements pure JavaScript API for ons-lazy-repeat."
Currently ons-lazy-repeat is available on AngularJS binding only.
We should provide pure JavaScript API on ons-lazy-repeat for other framework.

[2015-11-18 08:54] gazxm commented on #1048
You use ons-bottom-toolbar on these pages?

[2015-11-18 08:55] luposlip commented on #1048
No.
But I didn't when I used Onsen1.x either.

[2015-11-18 08:57] gazxm commented on #1048
I used the 1.3.13 version only to use the ons-bottom-toolbar to do this，2 has not used

[2015-11-18 09:19] eidorianyeo commented on #1029
Hi @kenprice. Yes your fix works. However if people add in additional stuff such as search input below tool bar, the issue will persist. The issue also occur when people uses bottom-tool-bar.
Ons-Lazy-Repeat is a great feature but just poorly documented (calculateditemheigh & itemcount) and currently still very buggy.

[2015-11-18 10:26] d3orn commented on #1035
I guess that was a fix for windows but as far as I can see at the point of writing it works in windows without the scroller so I will just go without it.

[2015-11-19 07:21] anatoo opened #1050 "Remove "android" modifier on all components."
We have already "material" modifier on several components at now. I think that "material" modifier is better than "android" modifier to display android-like UI and "android" modifier is not needed.
@argelius Any thoughts?

[2015-11-19 07:35] argelius commented on #1050
@anatoo I agree that we should remove the `android` modifier.

[2015-11-19 07:36] argelius commented on #1048
Thanks @luposlip ! We will investigate this. Seems like it doesn't detect the platform correctly.

[2015-11-19 07:37] argelius commented on #1049
I agree!

[2015-11-19 07:38] argelius commented on #1047
Thanks for the report! We will investigate it.

[2015-11-19 07:38] luposlip commented on #1048
Great @argelius, perhaps this is related to #1042 and #1043 as well!

[2015-11-19 08:35] gazxm commented on #1047
@argelius thank you

[2015-11-19 09:53] anatoo commented on #1040
:+1:
It's good to have a way to assign popPage() options such as ons-back-button attributes and pushPage() method's options.

[2015-11-19 14:56] cooplarsh opened #1051 "onsen 2.0 quickstart uncaught referenceerror: cordova is not defined"
Using the Monaca IDE on a Mac Notebook I created a new project with the Onsen 2.0 Quick Start template, selected run on device.  After I load the app in Monaca debugger on my Samsung Galaxy S5 and then select select any of the 3 demos in the (material, react, flat) they work great until I try and close the app using the back button on the phone.

Expected behavior: app closes down like all of the

[2015-11-19 15:09] cooplarsh commented on #1051
After seeing your blog that you've just added Cordova 5.2 support I checked my Cordova version and it is 5.3.3.  Could that be the problem (and why not all of the Cordova features, like Vibrate, didn't work on the Hello World sample)?

If so, given your note ("Once Cordova 5.2 is updated, you cannot downgrade to older Cordova versions.") and the fact that I have other cordova apps on my machine cr

[2015-11-19 15:17] masahirotanaka commented on #1051
Thanks for the issue report. It is likely a problem of QuickStart template that it forgets to include Cordova.js. Our blog post mentions we will update  Cordova version on our remote build server, but that does not affect your local environment. Therefore, we will fix the template to include Cordova.js to solve your issues. Thanks!

[2015-11-19 21:43] Linko91 opened #1052 "duplicate progress-bar"
### For a single tag are generated two bars

[code]

is equal to

[code]

and

[code]

is equal to

[code]

<img width="361" alt="schermata 2015-11-19 alle 22 30 44" src="https://cloud.githubusercontent.com/assets/3787142/11284965/3c11b7cc-8f0d-11e5-99d6-5fc6a9ff89a8.png">

[2015-11-20 03:57] anatoo commented on #1052
@Linko91 thanks for the issue report. We will investigate this problem.
What device are you using?
Does the problem occur on this example(http://codepen.io/onsen/pen/VvVaZv)?

[2015-11-20 05:20] anatoo opened #1053 "Create ons-material-button instead of ons-button with "material" modifier."
Currently ons-button with "material" modifier does not have ripple effect and developer must put ons-ripple elements by hand.
We should implements ons-material-button have ripple effect by default.
Any thoughts?

[2015-11-20 05:43] anatoo opened #1054 "Async methods should return promise on all elements."
Async methods(e.g. ons-navigator.pushPage()) on all elements should provide not only callback option but also promise object as return value.

[2015-11-20 05:48] anatoo opened #1055 "Split ons-progress into ons-progress-circular and ons-progress-bar elements."
Because circular and progress-bar have no common html.

[2015-11-20 05:54] anatoo opened #1056 "Create material modifier for ons-tabbar."
![image](https://cloud.githubusercontent.com/assets/59784/11292828/901bdb34-8f96-11e5-9aa0-1a302022dac9.png)

[2015-11-20 06:38] frankdiox commented on #1053
That's like `ons-list-item` with `modifier="material"`, we don't include ripple effect either. Perhaps we can include `ons-ripple` directly when `modifier="material"` is specified unless it has `ripple="false"` attribute?

[2015-11-20 07:03] frankdiox commented on #1054
I think this is a very good idea!

[2015-11-20 07:21] andipavllo commented on #1053
I like Fran's proposal more than a new button tag :)

[2015-11-20 07:41] anatoo commented on #1054
@frankdiox So could you implements this?

[2015-11-20 07:54] anatoo opened #1057 "Use es6 import on "./core/**/*.es6"."
Current "gulp core" task just concat transpiled files on /core/**/*.es6 and it annoy me.
We should use es6 import.

[2015-11-20 07:59] frankdiox commented on #1054
@anatoo Yes I can try. Let's see what @argelius thinks about it first anyway :)

[2015-11-20 08:04] frankdiox commented on #1040
Which way do you think it's better? I just implemented getter/setter in `ons-back-button` so it's possible to do it like this: `document.querySelector('ons-back-button').options = { ... }`. With this I think it's not necessary to add an option to `navi.pushPage(...)`, but what about the HTML attributes? `options="myObject"`, `options="JSON"` or `refresh="true" onTransitionEnd="myFunction"` etc.?

[2015-11-20 08:23] argelius commented on #1054
I like it! :)

Also, I think we should have promises for `ons.notification` methods.

[2015-11-20 08:30] anatoo commented on #1040
Could you write proposal spec shortly? When andreas and I agree its proposal, it's OK to implement.
I personally think it's good to have "refresh-on-pop" and "cancel-if-running" and "on-transition-end" attributes.

[2015-11-20 09:12] Linko91 commented on #1052
@anatoo  It is a pleasure for me to help you. My device is LG G2.
The example works perfectly but we are talking of the same code.

[2015-11-21 02:38] jondavidjohn commented on #985
After a bit of poking around, I find that the Invariant error stops if you remove the `onClick` attributes from the list item.

[2015-11-22 11:12] pulipulichen commented on #92
+1
I need it. Thank you.

[2015-11-24 01:39] frankdiox commented on #92
@pulipulichen Use `ons-carousel` inside your `ons-list-item`: http://codepen.io/frankdiox/pen/wKwpGZ

[2015-11-24 01:49] argelius commented on #985
I'm really sorry for being late. I was travelling last week so I wasn't able to do a lot of work.

Thanks a lot for your investigation. We will keep working on React support and we want Onsen UI 2.0 to play nicely with React when we release the stable version.

[2015-11-24 01:50] argelius commented on #1057
I agree with this!

[2015-11-24 02:03] frankdiox commented on #1040
@anatoo @argelius We need to pass the options object to `ons-back-button` somehow. I think we need at least 1 way to do it programmatically and 1 way directly in the HTML of the button:

* Programmatically: `backButtonElement.options = { ... }`. I think this is better than passing the object with `pushPage` since it can be added on `init` event or page controller and is coherent with web component

[2015-11-24 02:56] frandiox opened #1058 "New pattern request"
We could add a new grid-menu pattern using `ons-splitter`. Something like this:
http://codepen.io/hideokamoto/pen/znjhq

Flat and Material design.

[2015-11-24 03:19] argelius commented on #963
@Hirbod @andipavllo I will take a look at this.

[2015-11-24 04:58] #963 closed

[2015-11-24 09:25] argelius commented on #940
@salztorte Super sorry for the late reply.

I looked at this today and it seems like there is an issue if you put `overflow: hidden;` on the container element.

Can you try adding `overflow: visible;` to the container?

So if you have a `<ons-list>` with `ons-lazy-repeat` you can do something like this:

[code]

[2015-11-24 09:32] argelius commented on #940
I will release a better fix soon.

[2015-11-24 10:11] Hirbod commented on #963
👍🏼

[2015-11-24 16:02] d3orn opened #1062 "onsen2.0 ons-back-button"
Hey guys, I have been using Onsen2.0 for a new project and I am amazed so far, awesome work!

I am trying to use material design for my current project and there is a small bug with the ons-back-button.
When I use ons-back-button within a ons-toolbar(modifier='material')  the .center part moves a little bit to the left because ons-back-button takes up less space than ons-toolbar-button.
Therefore

[2015-11-25 01:55] argelius commented on #1062
Thanks @d3orn !

I will remake the layout of the the material toolbar to make it more close to the spec. I also noticed there is a problem with the size of the buttons. I will add some padding to the buttons to make the clickable area larger and also add active class.

[2015-11-25 02:22] frankdiox commented on #1051
This is fixed in https://github.com/OnsenUI/onsenui2-quickstart/pull/4

[2015-11-25 02:22] #1051 closed

[2015-11-25 02:53] anatoo commented on #1040
:+1:

[2015-11-25 02:58] argelius commented on #1040
I think this looks good!

[2015-11-25 04:01] frankdiox opened #1064 "Components web page doesn't work well on IE/Edge"
http://components.onsen.io/

When opening a component the demo is not displayed. In addition, it shows an alert on IE that we should remove.

[2015-11-25 07:16] #1055 closed

[2015-11-25 07:44] argelius commented on #1062
I have rewritten the CSS for the material toolbar so it's more consistent with the Material Design spec.

Now there will always be at least `72px` to the left of the center element and I've also changed the size of the buttons and added some styles for the `:active` pseudo-class so it reacts on touch.

By the way, you will automatically get a material icon for the back button if you use `<ons-back

[2015-11-25 07:54] #1062 closed

[2015-11-25 07:55] d3orn commented on #1062
yeah I know the code I posted was the generated HTML. Thanks a lot for those changes

[2015-11-25 08:01] #1026 closed

[2015-11-25 08:02] argelius opened #1067 "Update iOS switch style."
The iOS native switch has some shadow that gives it a 3d feel.

![image](https://cloud.githubusercontent.com/assets/6549462/11391442/d5fb04c4-9395-11e5-8fdb-20b5f1e28b8c.png)

[2015-11-25 08:05] anatoo commented on #1067
:+1:

[2015-11-25 08:05] #1050 closed

[2015-11-25 09:13] #1067 closed

[2015-11-25 09:18] argelius commented on #1042
@luposlip @frankdiox I removed the reference to the source map.

[2015-11-25 09:18] #1042 closed

[2015-11-25 09:28] argelius commented on #1048
@luposlip By the way, does this happen on a real device? Maybe the version is not detected correctly because it's running in the simulator.

[2015-11-25 09:37] luposlip commented on #1048
Yes, it hampens on a real device. Haven't tested it in a simulator.
ons. 25. nov. 2015 kl. 10.28 skrev Andreas Argelius <
notifications@github.com>:

[2015-11-25 09:37] luposlip commented on #1042
Thanks.
ons. 25. nov. 2015 kl. 10.19 skrev Andreas Argelius <
notifications@github.com>:

[2015-11-25 09:51] thatsmekaustubh opened #1069 "Material design tab view"
Reference : https://www.google.co.in/design/spec/components/tabs.html#tabs-usage

This is a must which can't be constructed using existing components. Please do implement it soon.

[2015-11-25 09:53] thatsmekaustubh commented on #1056
Exactly ! We need this

[2015-11-25 09:53] #1069 closed

[2015-11-25 15:17] AlberTajuelo commented on #1047
+1

I tried with Safari (in Mac) and it works. Only it is in iOS

[2015-11-25 17:02] d3orn commented on #1048
@luposlip Are you using cordova and especially the device plugin? I have the same issue as soon as I start using the device plugin. Removing it brings back to old behaviour

[2015-11-25 17:04] luposlip commented on #1048
Yes to both questions. And I need both :-)
ons. 25. nov. 2015 kl. 18.02 skrev Dominique Rahm <notifications@github.com

[2015-11-25 17:14] d3orn commented on #1048
I will look into it. Maybe there is a bug. Will keep you posted if I find the error

[2015-11-25 17:17] luposlip commented on #1048
Thanks.

As mentioned earlier it worked with a similar setup when I used Onsen1.x.
ons. 25. nov. 2015 kl. 18.15 skrev Dominique Rahm <notifications@github.com

[2015-11-25 18:13] d3orn commented on #1048
@argelius as far as I can see 'isIOS' and 'isIOS7above' both try to use the cordova device plugin but they do not wait for the device ready event which is needed for the plugins to work. If you can tell me how you did this for other things I can try to fix and pr it

[2015-11-25 19:10] d3orn commented on #1048
fixed! will PR this tomorrow need some rest 10h work day xD

[2015-11-25 22:19] luposlip commented on #1048
Thanks guys! :-)
ons. 25. nov. 2015 kl. 20.10 skrev Dominique Rahm <notifications@github.com

[2015-11-26 01:37] argelius commented on #1048
Thanks @d3orn !

Returning a promise with `shouldStatusBarFill()` makes sense if we need to wait for `deviceready`. Looking forward to the PR :)

[2015-11-26 03:04] gazxm opened #1071 "IOS: listnav.pushPage question"
When using listnav.pushPage to switch the page, the distance above the height will become 62px, pop back will become 0px, so I use fixed to replace ons-bottom-toolbar, the screen will have a feeling of change

[2015-11-26 08:03] d3orn opened #1072 "Node and Gulp"
I cannot build the current master I get the following error:

Cannot find module 'dgeni-packages/node_modules/nunjucks/src/globals'

Maybe they changed something with the folder structure

[2015-11-26 08:38] #1072 closed

[2015-11-26 08:41] d3orn commented on #1072
Thank you Sir!

[2015-11-26 08:41] argelius commented on #1072
@d3orn I think it's fixed now :)

[2015-11-26 09:08] d3orn commented on #1048
mhm my fix somehow breaks orientation detection on my Samsung Note III

[2015-11-26 10:54] DILEEP-YADAV opened #1075 "Onsen UI drag and drop creator like Ionic creator ?"
@anatoo

Are You working on drag and drop App creator in Onsen UI like iONIC CRATOR .
If yes ! How much time far  for that, everyone are waiting for that. that is  time and money saving idea.

[2015-11-26 16:41] PhilTheNet opened #1077 "<ons-sliding-menu> don't work"
Hello,
The sample <ons-sliding-menu>  (https://onsen.io/reference/ons-sliding-menu.html) don't work in WindowsEmulator & device with the "Onsen UI Templates for Visual Studio 2015"
It's a known issue ?
(No problem with android and ios)
Error on javascript console :
CSS3111: @font-face encountered unknown error.
fontawesome-webfont.eot & ionicons.eot

Thanks

[2015-11-26 17:25] FLHerne opened #1078 "Scrollbar issues on desktop browsers. (2.0-beta)"
In Firefox 42, pages always have both vertical and horizontal scrollbars.
In Chromium 46, pages never have scrollbars, even if required (scrolling with wheel does work).

-----
Editing line 93 of css/onsenui.css to replace `overflow: scroll;` with `overflow: auto;` causes the scrollbars to be shown only when required on desktop Firefox.

Commenting out the various instances of `::-webkit-scrollbar

[2015-11-27 01:46] frankdiox commented on #1077
@PhilTheNet Thanks for reporting! Are you using Universal Applications or WP8? It should work in Universal Apps, if not we have to fix it. With WP8 there were some security issues with icons.

[2015-11-27 10:32] argelius opened #1082 "Material Range is hard to control on iOS"
When using the material range in iOS apps it's very hard to change the value.

[2015-11-27 12:56] PhilTheNet commented on #1077
Universal Apps & WP8
However the template Onsen UI Sliding Menu for VisualStudio 2015 work fine, I do not see where is the structural difference...
Thanks

[2015-11-27 17:06] jondavidjohn opened #1083 "Onsen2: Angular 2 compatibility"
I've created a small repository to illustrate the issues I'm seeing.

https://github.com/jondavidjohn/onsenui-ng2

From the looks of it, I believe there may be some conflicts in the way the web components in OnsenUI interact with the way Angular 2 is using the shadow dom.

You get different resulting DOM when using identical onsen markup when using Angular 2.

Given:

[code]

Static Result (correc

[2015-11-28 04:28] argelius commented on #1083
Thanks for reporting @jondavidjohn ! We will investigate this behavior.

[2015-11-28 12:35] ThatoMokhomong commented on #786
OK thanks

[2015-11-30 09:15] frankdiox commented on #1008
Looks like `box-shadow` property in `.alert-dialog` and `.alert-dialog--material` is slowing down the performance, specially the blur effect.

[2015-11-30 15:08] d3orn opened #1084 "onsen2.0 ons-toolbar material right"
The right part of the toolbar is too small if used on an iOS device. For example my magnifying glass gets pushed to the edge of the screen. I think the right part of the toolbar should have a min-width like .left has.

[2015-11-30 19:09] aliv opened #1085 "problem with android browser and android 4.2.2 - onsen ui 2 beta"
hi.
i tested my app and onsenui2-quickstart with browsers and build cordova app too and user interface is broken on this condition:
application on android 4.2.2 device.
application/www with android browser on 4.2.2 and 5.0.1

application on android 5.0.1 and application/www  on chrome browser (4.2.2 and 5.0.1) are ok.

[2015-11-30 19:29] istvano opened #1086 "is OnsenUI meant to be used as browser based app ie ( across all browsers )"
Dear OnsenUI gurus.

I am completelly new to OnsenUI but I love the UI.
Currently I am doing a research for my next project and I am not sure if it is the right tool for me in my project.

Currently I would like to use the UI with AngularJS in a web application which is meant to be used on Desktop. ( Chrome, Safari, IE, Firefox ) as well with iOS and Android devices.

Do you recommend going ahead

[2015-11-30 20:28] kountouretis opened #1087 "Carousel"
i want to use a carousel as slider but i can't find how to put next and preview buttons.

[2015-11-30 20:29] kountouretis opened #1088 "Popover"
I use navigation inside the popover but when navigate to the new page the popover stay visible.

[2015-12-01 01:44] argelius commented on #1085
Thanks for reporting @aliv !

We will investigate this behavior.

[2015-12-01 01:47] argelius commented on #1086
Hi @istvano !

You can use both Onsen UI and Onsen UI 2.0 to make mobile web pages. We test it on Chrome, Firefox and Safari. Recently we're also trying to support IE/Edge better.

If you have any issues on a modern desktop browser, please report them.

[2015-12-01 01:47] #1086 closed

[2015-12-01 01:57] argelius commented on #1088
Hi @kountouretis !

I don't really understand what you mean. Can you provide an example? You need to hide the popover manually with `popover.hide()`. When you don't need it anymore you can destroy it with `popover.destroy()`.

[2015-12-01 01:57] #1088 closed

[2015-12-01 01:59] argelius commented on #1087
Hi @kountouretis !

There is no built-in feature like this. However, you can put those buttons yourself and wire them up with the carousel.

[2015-12-01 01:59] #1087 closed

[2015-12-01 02:52] argelius commented on #1084
Thanks @d3orn !

I have confirmed this bug. We haven't tested Material Design extensively on iOS since it's mainly for Android. Sorry about that.

Of course it should render nicely on iOS as well so I will take a look at this.

[2015-12-01 04:15] #1084 closed

[2015-12-01 05:42] argelius commented on #1075
Hi @DILEEP-YADAV !

We are not currently working on a tool like this and it's not something we currently have planned.

[2015-12-01 05:42] argelius commented on #1071
Hi @gazxm

Can you please provide some code that reproduces this behavior?

[2015-12-01 05:43] #1056 closed

[2015-12-01 05:54] #1048 closed

[2015-12-01 10:42] DILEEP-YADAV commented on #1075
ok !

[2015-12-01 21:05] Hirbod opened #1090 "Feature reaquest: header shrink"
@argelius any chance that we could ever get a fancy header-shrink directive like Ionic has?
https://github.com/driftyco/ionic-ion-header-shrink

[2015-12-02 13:25] RezaRahmati opened #1092 "Adding card as modifier to lists"
Some application like Play Store show the lists as cards and we can do it by some css modification on current version, but it would be very neat if you could add Card as modifier in ons-list

[2015-12-03 16:21] shayanea opened #1094 "i got this error in android 4.2.2"
www/js/onsenui.min.js:3158 HUAWEI Y330-U11Uncaught Error: Invalid state
www/js/angular-onsenui.min.js:357 HUAWEI Y330-U11Uncaught TypeError: Cannot call method 'lock' of undefined
www/index.html:28 HUAWEI Y330-U11Uncaught TypeError: Object #<Object> has no method 'ready'

[2015-12-04 01:48] jgauna commented on #1038
I have this issue too. I've tried everything and the component won't work; also I can't swipe it. Btw, v2 looks awesome!

[2015-12-04 09:44] frankdiox commented on #1008
The problem is the combination of `box-shadow` and `border-radius`. That slows down the alert for Material and Flat designs.

[2015-12-04 09:54] luposlip commented on #1038
Any update on an example using JavaScript only?

[2015-12-04 10:35] kountouretis commented on #1088
thank you for your reply. i try to find how to use the popover.hide(). but i don't find.
 my example code is <script type="text/ons-template" id="index.html">
      <ons-popover direction="left" cancelable>
       <ons-list>
	   <ons-button modifier="light" onclick="myNavigator.pushPage('favnew.html', { animation : 'slide' } )">
       <ons-icon icon="ion-heart"></ons-icon>new page
      </ons-but

[2015-12-04 23:55] alenb commented on #348
Are there any examples that showcase this? I can't seem to find any on the Onsen Guide about it.

[2015-12-06 10:27] kountouretis commented on #322
hi i have the same issue.. i am new with onsen framework and i don't know how to use the popover.hide() i found a working example on http://codepen.io/andipavllo/pen/pJzPqE but when i try it to my project is not work.. Can anybody hepl? thanks.

[2015-12-07 02:49] argelius commented on #322
@kountouretis Can you please paste the code that isn't working?

[2015-12-07 03:34] argelius commented on #348
@alenb You can use the `page` attribute of the `<ons-navigator>` component.

[code]

[2015-12-07 03:42] argelius commented on #1088
@kountouretis I made a simple example where you can click a button inside the popover to close it.

[code]

http://codepen.io/argelius/pen/OMPLrQ

[2015-12-07 03:56] argelius commented on #1038
@jgauna @luposlip

I made a super simple example.

http://codepen.io/argelius/pen/vLEBPZ

The men is toggled by selecting the `<ons-splitter-side>` element and calling the `toggle()` method:

[code]

[code]

[2015-12-07 06:17] kountouretis commented on #1088
hi i also copy and paste your code  from codepen to my project and is not wrok. here is the code:
<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Popover | Onsen UI</title>
    <link rel="stylesheet" href="styles/app.css"/>
	<link rel="stylesheet" href="styles/ionicons.css"/>
	<link rel="stylesheet" href="styles/list_thumbnails.css">
    <link rel="st

[2015-12-07 06:48] kountouretis commented on #322
![1](https://cloud.githubusercontent.com/assets/9192697/11620818/d820d65c-9cbe-11e5-87f0-c7ee2c6a69ec.jpg)
![2](https://cloud.githubusercontent.com/assets/9192697/11620820/d824296a-9cbe-11e5-9f03-f6b9cf1a700a.jpg)
![3](https://cloud.githubusercontent.com/assets/9192697/11620819/d8235e40-9cbe-11e5-8277-47dd0c05383a.jpg)

[2015-12-07 07:16] argelius commented on #1088
I read your issue again. Are you assuming that the popover will close automatically when you navigate to another page?

There is no such feature so you need to hide it automatically. Also you need to destroy it when the page that spawned it is destroyed to avoid memory leaks.

To close the popover and navigate to another page you can do:
[code]

[2015-12-07 07:22] #1082 closed

[2015-12-07 07:23] kountouretis commented on #1088
Thank you argelius for your reply.i can't test if the popover is hide or not because the popover is not working. i don't know if i must include more .js or .css files.

[2015-12-07 07:31] argelius commented on #1088
@kountouretis You only need to include `onsenui.css`, `onsenui.js` and `onsen-css-components.css` to use the popover.

http://codepen.io/argelius/pen/zrxxop

### HTML
[code]

### JavaScript
[code]

[2015-12-07 07:52] frankdiox commented on #1033
This was closed in #1073

[2015-12-07 07:52] #1033 closed

[2015-12-07 07:57] kountouretis commented on #1088
i try to run this code inluded only the   onsenui.css, onsenui.js and onsen-css-components.css but is not working

[2015-12-07 08:03] argelius commented on #1088
Can you put your failing code on Codepen?

Also, you need to tell us what errors you get, otherwise it will be hard to debug.

[2015-12-07 08:08] kountouretis commented on #1088
the code is the code you put on codepen and i copy from codepen inlcuding the js and css files

[2015-12-07 08:26] argelius commented on #1088
@kountouretis I don't really understand. Is the code I wrote not working? In that case I need to know what device you are running it on.

[2015-12-07 09:50] kountouretis commented on #1088
i run with browser chrome and xampp

[2015-12-07 09:51] argelius commented on #1088
@kountouretis In that case I don't have any idea what is happening. Do you get any JavaScript errors?

[2015-12-07 09:54] kountouretis commented on #1088
no i just click the button but nothing happen.

[2015-12-07 10:56] frankdiox commented on #1087
@kountouretis Something like this was asked few days ago: http://stackoverflow.com/a/34057158/4468962

[2015-12-07 16:11] kountouretis commented on #1088
@argelius  the popover is working perfect but when i enable Ripple Mission Control not working, the only thing i see is the loading icon... any idea about this

[2015-12-08 06:47] frankdiox opened #1097 "Add `options` object parameter to `rewritables.link` function"
It will allow to modify the options for `pushPage` or any other component method.

[2015-12-08 07:11] argelius commented on #1097
I think this is a good idea! :+1:

[2015-12-08 07:25] frankdiox opened #1098 "Interactive tutorial for Onsen UI 2.0"
@argelius @anatoo @masahirotanaka @andipavllo

We could have some kind of interactive tutorial for Onsen UI 2.0 were the users can write code and see a live preview explaining things like `ons.ready()` and basic stuff for beginners. Something simple similar to Knockout's: http://learn.knockoutjs.com/

What do you think?

[2015-12-08 07:57] argelius opened #1099 "Add `<ons-textarea>`"
We should add this element because it's impossible to autogrow a textarea with just CSS.

It should expose all the normal textarea attributes.

There should be a `grow` attribute that makes it automatically grow while the user is writing.

What do you think @anatoo?

[2015-12-08 07:57] argelius commented on #1098
I think this is a good idea! :+1:

[2015-12-08 07:58] masahirotanaka commented on #1098
Nice!
:+1:

[2015-12-08 08:02] andipavllo commented on #1098
sound good to me! :)

[2015-12-08 09:09] frankdiox opened #1100 "ons-back-button doesn't automatically hide on `resetToPage()`"
It also happens with `replacePage()` when there is only 1 page.

[2015-12-08 11:51] #1100 closed

[2015-12-08 16:00] expertsa opened #1103 "Get navigator variable in angular.run"
Hi,

I'm using onsen ui with angular and I would like to set my first navigator page in angular run:

if (....)
   navigator.pushPage('page1.html)
or
  navigator.pushPage('page2.html)

But even with ons.ready, I can't find my navigator variable.

My html:
[code]

My angular.run :
[code]

And when I launch my app I get this error:
<pre>none is not defined</pre>

[2015-12-08 17:02] #1103 closed

[2015-12-09 02:38] anatoo commented on #1098
It's good to have.

[2015-12-09 02:42] anatoo commented on #1099
I think it's OK to have. But I don't know why we should implements auto-grow feature on v2.0. Is this feature so important than other material design components?

[2015-12-09 03:03] argelius commented on #1099
Yes, maybe we can add this in a later version. I will remove it from the milestone.

[2015-12-09 08:42] d3orn opened #1104 "pushPage not working"
this commit 655cd4f7e31dab8cff2b83e8f4b78385ccb397cc broke the pushPage function on iOS. I figured out what the problem is but I have no time to fix it at the moment.
The show() and hide() functions are not called or not available on iOS and this causes the pushPage not to work.
If I replace the calls to show and hide with what they do (set the style of the backbutton) everything works perfectly.

[2015-12-09 08:52] #1040 closed

[2015-12-09 09:52] argelius commented on #1104
Thanks @d3orn !

[2015-12-09 10:04] d3orn commented on #1104
Well I added a console.log to each of those functions but it seems as if they are not called / defined. The if-else is correct.

[2015-12-09 12:10] AlberTajuelo commented on #1078
+1!

Thanks FLHerne!

[2015-12-10 03:58] #1104 closed

[2015-12-10 07:22] d3orn opened #1109 "Ons-Tabbar"
I have a ons-tabbar with animation = slide
I can click on a tab multiple times even if it is already the active tab. Doing so restarts the slide animation. This is probably a bug. I think the click handler should be disabled if a tab is active.

EDIT: Love Onsen 2.0 and I hope my bug reports help you!

[2015-12-10 07:38] argelius commented on #1109
This looks like a bug. We will take a look.

@d3orn Your bug reports are highly appreciated! Keep them coming :)

[2015-12-10 08:07] d3orn opened #1110 "Ripple"
I have been working on a ripple directive which can be added to any clickable object as an Attribute Directive (Angular only). I wanted to ask if this is something you guys would like to have for Onsen 2.0?

[2015-12-10 08:18] argelius commented on #1110
Do you mean something like `<div ons-ripple></div>` ?

I think that would be good to have as an Angular directive since it makes it easier to use the ripple element in Angular.

[2015-12-10 08:26] d3orn commented on #1110
Yeah exactly, I have been working on an Angular Attribute Directive, but it is not perfect yet. How should I proceed?
I can finish it and PR so you guys can decide what to do with it?

[2015-12-10 08:35] argelius commented on #1110
Sounds great! Please create a PR when you've finished it :+1:

[2015-12-10 10:31] d3orn opened #1112 "ons-lazy-repeat"
It would be nice to have ons-lazy-repeat for other elements. For example with ng-repeat you can repeat any div or paragraph this should be possible with ons-lazy-repeat as well because it would actually improve ng-repeat.

[2015-12-11 03:24] frankdiox commented on #1112
@d3orn Oh, but Lazy Repeat in Onsen UI 1.x already works in any div: http://onsen.io/guide/overview.html#LazyRepeatInHTML

Since in Onsen UI 2.0 we won't have Angular directives or "CustomAttributes" we need to implement Lazy Repeat as a CustomElement (as happens with ons-ripple). Probably it will look something like this:

[code]

[2015-12-11 15:23] jondavidjohn commented on #1083
Just thought I'd update that I tested with `beta.2` and it is still an issue. :+1:

[2015-12-11 15:23] jondavidjohn commented on #985
Just thought I'd update that I tested with beta.2 and it is still an issue. :+1:

[2015-12-11 18:26] JeyKeu opened #1117 "ons-popover: $digest already in progress"
I'm displaying a list using ng-repeat. It's sort of an autocomplete.
The first time enter my text in the textbox, it will populate the list but the second time i change my query, and the results are fetched I get :

`Error: [$rootScope:inprog] $digest already in progress`
![screenshot from 2015-12-11 23-21-51](https://cloud.githubusercontent.com/assets/642353/11751861/0abd6740-a05e-11e5-9ce4-85aaf

[2015-12-13 14:03] Hirbod commented on #466
Progress on this? Important one.. @argelius

[2015-12-13 14:08] Hirbod opened #1118 "ons.softwareKeyboard.on won't remove listener on $destroy"
Hi @argelius ,

I have the case, where I need to listen on

[code]

I do some nasty stuff inside of it, but it gets applied to all my inputs as it persits even on destroyed controller. If I re-init the controller, it also re-registers and triggers multiple times.

The functions of softwareKeyboard are not documented. I can't find anything about it (only ons-keyboard-active / ons-keyboard-inactive)

[2015-12-13 14:10] Hirbod commented on #1118
I'm not sure what this line does
https://github.com/OnsenUI/OnsenUI/blob/f0c87264c5bcd38100e1d600ef414e66a3cb3907/framework/directives/keyboard.js#L81

but it looks to me like you actually want to remove the listener. So it's a bug?

[2015-12-13 14:16] Hirbod commented on #1118
For now, I've managed to fix it like this:

[code]

[2015-12-13 14:22] Hirbod opened #1119 "popover backbutton error"
Hi @argelius,

(just to mention, I'm still on 1.3.14)

When I open a popover and try to use the backbutton on my S6 Edge (or Genymotion), I get:
Uncaught Error: Capturing backbutton-handler is failure.

Default behaviour on android should be to close the popover (when "cancelable" is set)

For now, is there any way to achieve what I need without hacking around much?

[2015-12-13 15:29] matikun86 opened #1120 "SlidingMenuView setMainPage method is checking an undefined currentPageUrl variable"
Onsen v1.3.14
In the module factory 'SlidingMenuView' method `setMainPage`
is doing `if (this.currentPageUrl === pageUrl) {`
where `this.currentPageUrl` is `undefined`. I think that it should be `this._currentPageUrl === pageUrl` instead.

[2015-12-13 18:49] Hirbod opened #1121 "missing methods for ons-toolbar-button"
@argelius @frankdiox while ons-button has some methods, ons-toolbar-button has none.
The most important one is setDisabled and isDisabled()

Would you mind to implement this?

[2015-12-14 00:53] frankdiox commented on #1119
@Hirbod We will check that, meanwhile you can find some information about this in SOF: https://stackoverflow.com/questions/28766130/how-to-handle-hardware-back-button-on-ons-dialog/32200011#32200011

[2015-12-14 01:02] frankdiox commented on #1120
@matikun86 This was already fixed in master branch but thanks for pointing it out again so we don't forget to include it in the next release!

[2015-12-14 03:56] argelius commented on #1118
Hi @Hirbod !

I can investigate this behavior. Looks like the listener is not correctly removed.

[2015-12-14 09:16] frankdiox commented on #1077
@PhilTheNet I have found some information about that error here: http://www.marinbezhanov.com/web-development/16/how-to-embed-webfonts-properly-and-how-to-solve-the-ambiguous-css3111-font-face-encountered-unknown-error/

It is just related to the fonts in IE. Since it is working with the real Sliding Menu template for VS2015 I think we don't need to worry about this. Closing this for now, ping if

[2015-12-14 09:16] #1077 closed

[2015-12-14 09:51] #1085 closed

[2015-12-14 22:29] mayand opened #1124 "ons-popover doesnt work for Android Devices in OnsenUI 2.0 beta"
This doesn't work in Android.. (Nexus 4) and even in OnsenUI preview web page.. for some reason it works well in iPhone..

after debuging I find this error..

Uncaught (in promise) TypeError: Failed to execute 'appendChild' on 'Node': parameter 1 is not of type 'Node'. {stack: (...), message: "Failed to execute 'appendChild' on 'Node': parameter 1 is not of type 'Node'."}

.. This is coming from o

[2015-12-15 02:51] frankdiox commented on #1121
@Hirbod I just answered this in SOF: http://stackoverflow.com/a/34280311/4468962

[2015-12-15 03:26] #73 closed

[2015-12-15 03:26] #94 closed

[2015-12-15 03:51] #104 closed

[2015-12-15 03:51] #112 closed

[2015-12-15 05:26] masahirotanaka opened #1125 "Support multi-platform design"
Modify/add components, attributes and modifiers to automatically adjust the design based on the running operating system.

* By default, `modifier` attribute is automatically set based on the running OS.
* New `ons.disableAutomaticStyling()` function to prohibit automatic platform adjustment.
* New `<ons-button>`, `<ons-range>` and `<ons-input>` components.
* Remove `<ons-material-input>` componen

[2015-12-15 07:04] #181 closed

[2015-12-15 07:04] #196 closed

[2015-12-15 07:13] #204 closed

[2015-12-15 07:16] #205 closed

[2015-12-15 07:17] argelius opened #1126 "[AngularJS] Don't assign `ons` to the root scope."
Right now the `ons` variable is attached to the root scope.

It is more natural if it is injected in the controllers/services that need it:

[code]

@anatoo What do you think about this?

[2015-12-15 07:20] argelius opened #1127 "New syntax for `ons.notification.alert`"
What about allowing the user to just put a string as argument of `ons.notification.alert` ?

[code]

would be the same as writing

[code]

@anatoo What do you think about this?

[2015-12-15 07:20] #210 closed

[2015-12-15 22:20] jondavidjohn commented on #1083
I've also now upgraded the example repository to the newly dropped Angular 2 Beta release.

[2015-12-16 01:43] frankdiox commented on #1124
@mayand It works fine in my Nexus 4 both in Chrome and webview as a Cordova app. Also I cannot see any problem in Onsen UI preview web page (you mean (this one)[http://onsen.io/2/reference/ons-popover.html#example]?). I am using Android 5.1.1. What's your version?

[2015-12-16 03:06] #1097 closed

[2015-12-16 03:36] #1008 closed

[2015-12-16 04:55] #740 closed

[2015-12-16 08:52] bozzmob opened #1129 "Components page gives a 403 forbidden error"
Hi,

The Components page gives a 403 forbidden error.

URL - http://onsen.io/guide/components.html

Screenshot-

![403forbidden](https://cloud.githubusercontent.com/assets/1252941/11836395/7a472d8a-a400-11e5-8695-c9f119e69cc5.png)

[2015-12-16 09:04] argelius commented on #1129
Thanks @bozzmob !

We're having an outage right now. Working on fixing it.

[2015-12-16 09:17] bozzmob commented on #1129
@argelius Ok :+1:

[2015-12-16 09:17] #1129 closed

[2015-12-16 09:54] argelius commented on #1129
@bozzmob It has been fixed now. You should be able to access the site in a ~10 minutes. Again, thanks a lot for reporting :)

[2015-12-16 10:19] anatoo commented on #1127
@argelius :+1:

[2015-12-16 10:20] anatoo commented on #1057
Done.

[2015-12-16 10:20] #1057 closed

[2015-12-16 10:41] argelius opened #1130 "Latest release broke browserify"
Latest beta release broke browserify:

[code]

[2015-12-17 06:43] frankdiox opened #1131 "Back button animation is broken in beta.3"
Back button's icon appears and disappears directly without animation on pushPage and popPage. The text, however, has animation. `git bisect` points out this commit: 7a226c100738ce831353dff0587bfdd07171d404

Since it's a merging commit I guessed the error was actually in another commit but I couldn't find where.
@argelius @anatoo Perhaps something went wrong with the conflicts merge and some styles

[2015-12-17 08:23] anatoo commented on #1131
@frankdiox Thanks for this report.
Probably I had broken something on the navigator's animation. I will fix this problem.

[2015-12-17 08:40] frankdiox commented on #1131
@anatoo Thanks!

[2015-12-17 10:01] frankdiox opened #1132 "Persistent tabs with animation disappear"
When changing persistent tabs in an `ons-tabbar` `style="transform: translate3d(100%, 0px, 0px); display: block; transition: all 0.15s ease-in initial;"` is not removed from `ons-page` styles after the animation ends, thus making it invisible.

[2015-12-17 10:08] anatoo opened #1133 "Make ons-list-item's border to real iOS style."
![image](https://cloud.githubusercontent.com/assets/59784/11866896/2cb6e3ac-a4f1-11e5-97a4-43f8573edf8e.png)
![image](https://cloud.githubusercontent.com/assets/59784/11866945/7abfb07e-a4f1-11e5-9849-42e22e08bd29.png)

[2015-12-17 11:17] frankdiox commented on #1133
@anatoo I think @argelius implemented something similar for material design in #1105 . It is probably the same but just changing margins and paddings.

[2015-12-17 13:04] Hirbod opened #1134 "Problems with High-Performance iDevices"
@argelius @frankdiox  Well, this sounds very stupid, but the better the devices, the more problems.

Since iPad Pro and iPad Air 2 + iPhone 6S and 6S Plus, I have some problems. They are just too fast and change pages and elements before rendering is done. This means, that it happen, that I see unrendered elements on pushPage, onTabChange. Mostly due too third party directives, (most problems with

[2015-12-17 13:13] Hirbod commented on #1134
Here the proof
https://youtu.be/BRodICol7qQ

[2015-12-17 20:30] Hirbod commented on #1134
Finally figuered out why all the problems appear. It's because of ng-hide/ng-show. Since the new devices are too fast, the rendering won't be applied at perfect time. I had some ng-hide stuff on that toolbar buttons.
[code]

 I've added following CSS

[code]

and I add the class="ng-hide ng-cloak" on that toolbar-button.

[code]

Fixed! I don't know if you find a better way for that.. @argelius @f

[2015-12-18 04:52] argelius commented on #1133
I will do this! :)

[2015-12-18 11:06] anatoo opened #1138 "Make ons-lazy-repeat faster on initialization."
Most simple example of "ons-lazy-repeat" take 80ms-140ms on initialization with my Mac mini and Google Chrome. I can try to optimize ons-lazy-repeat.

[2015-12-19 09:28] frankdiox commented on #1134
@Hirbod Thanks a lot for all of this information! We will think about it :)

[2015-12-21 03:15] argelius commented on #1138
Yes, I've long been wanting to improve the `<ons-lazy-repeat>`. Please try to optimize it.

[2015-12-21 03:28] #1132 closed

[2015-12-21 03:50] Hirbod commented on #740
Will that be also inside of the 1.3 version!

[2015-12-21 03:50] Hirbod commented on #740
?

[2015-12-21 04:18] frankdiox commented on #1109
@d3orn Thanks for the report! Right now you can use `no-reload` attribute to skip reloading page and animation. If you still want to reload the page on click without animation you can do it on `reactive` event.

We will change this to make `no-reload` the default behavior since seems more logic for mobile apps.

[2015-12-21 04:18] #1109 closed

[2015-12-21 08:38] frankdiox opened #1140 "Ripple effect is not triggered in Chrome"
`'ontouchstart' in window` is `true` in Chrome under specific circumstances. This makes Ripple component to listen for `touchstart` instead of `mousedown`, but `touchstart` event is not fired with mouse.

[2015-12-21 09:50] #1140 closed

[2015-12-22 08:18] argelius opened #1145 ""tappable" attribute is broken."
It is possible to make it stick by pressing with two fingers.

[2015-12-22 09:04] andipavllo opened #1146 "ons-carousel performance issue"
`ons-carousel` has a performace issue when it contains  a huge number of `ons-carousel-items` due to `getCarouselItemCount` method being called for every item.

[2015-12-22 18:47] aniketnt opened #1147 "tab bar like android scrolling with content loading"
Hi I have searched many times but never get a answer to this question how to make tab bar with content loading like in google play store

[2015-12-24 04:06] #1131 closed

[2015-12-24 06:08] #1145 closed

[2015-12-24 06:22] #1146 closed

[2015-12-24 10:36] frankdiox commented on #1124
@mayand I'm closing this since I cannot reproduce that error. Please open it again if you can provide some sort of example.

[2015-12-24 10:36] #1124 closed

[2015-12-24 20:04] RezaRahmati opened #1149 "ons-progress is shown twice when is used in ons-pull-hook"
Hi
I am using Onsen2.0.0.Beta.2 and I have this ons-pull-hook and instead of showing icon i want to show ons-progress, but the problem is it is shown twice (two progresses), is it a bug or I made a mistake?

[code]

[2015-12-29 07:32] vinkvin opened #1151 "Onsen 1.3.14 android backbutton exit application instead of calling navi.popPage()"
Hi

Im using Onsen 1.3.14. From what I've read, I thought android backbutton should be calling navi.popPage() by default, but instead my application always exited.

I also have tried using this

![backbutton](https://cloud.githubusercontent.com/assets/11625012/12030958/e90584fa-ae38-11e5-8a7d-5d672e988254.PNG)

but it still wont work.

Is it a bug? Is there a workaround to make android backbutton

[2015-12-30 06:04] gmanikumar opened #1152 "Bug with touchevents for markers when using google maps with angularjs"
I have a map setup with custom markers. I used a jsfiddle to make this and it works there: https://jsfiddle.net/LdLy6t90/2/

However, when I add the same to my onsen ui-based app, the touchevents for google map markers don't get fired.

I'm guessing this is happening because of the js I'm using there's probably something causing a conflict. This is what I'm using in my header:

<script src="https:

[2015-12-30 19:41] gmanikumar commented on #1152
Nevermind, this is not an onsen issue. I have it figured out here:
http://stackoverflow.com/questions/34519827/bug-with-touchevents-for-markers-when-using-google-maps-angularjs-and-onsen/34535872#34535872

[2015-12-30 19:41] #1152 closed

[2016-01-01 16:55] kptengco opened #1153 "android device monaca debugger"
quick start v2.0 not working for android v4.2.2 (htc one x), but for ios v9.2 it is working fine and without any error. (iphone6)

![screenshot_2016-01-02-00-49-22](https://cloud.githubusercontent.com/assets/5396526/12071493/11e67b54-b0eb-11e5-8891-fd423ec2b135.png)

[2016-01-01 19:57] zkorp opened #1154 "ons-navigator and OnsenUI 2.0 problem"
When I use ons-navigator and ons-toolbar I have a space above the tittle. Here is the image with ons-navigator.
![with-ons-navigator](https://cloud.githubusercontent.com/assets/16511196/12071972/43ae6426-b0c8-11e5-9ec4-01565138a2f7.jpg)

If I don't use ons-navigator the result is this:

![without-ons-navigator](https://cloud.githubusercontent.com/assets/16511196/12071973/43aeab3e-b0c8-11e5-87bf-7a

[2016-01-02 16:33] kptengco commented on #1153
looks like the error related to this https://github.com/OnsenUI/OnsenUI/issues/1085

[2016-01-05 03:10] argelius commented on #1154
Thanks @zkorp! I will investigate this.

[2016-01-05 03:51] argelius commented on #1154
@zkorp I ran your code but couldn't reproduce the bug.

How are you running the app? Are you running it in a browser or as a hybrid app? What Android/iOS version are you running?

[2016-01-05 06:43] zkorp commented on #1154
I am using Google Chrome v. 47.0.2526.106m under Windows 8. It only happens in Dev mode (F12) simulating a iPhone 5 and does not happen in normal mode.

The first time I load the web the problem will not appear but if I reload or navigate to other web inside the application the problem appears.

In Android 5.1 this problem does not appear.

Attach the full image with the Chrome un dev mode.

In th

[2016-01-05 10:27] wildtang opened #1155 "OnsenUI seems not compatible with Vue.js"
Vue.js(http://vuejs.org/) is a MVVM framework, I tested it with Onsen UI 2 beta today,
The Vue binding below not works, but if I modify ons-navigator to div, Vue binding works.
Can anyone tell me how to let Vue.js compatible with Onsen UI? thanks.

[code]

[2016-01-06 02:34] argelius commented on #1155
@wildtang You probably need to write some bindings so that Vue.js reacts correctly when the page is pushed. You can take a look at the bindings for Angular for some inspiration.

You probably need to rewrite the navigator's `link` function in order to get `pushPage` to work correctly.

[code]

[2016-01-06 02:46] argelius commented on #1154
@zkorp That's super strange. I'd really like to debug this but I need your help.

Can you write the following in the console when the bug has happened?

[code]

What is the output?

Can you also check if the `window.cordova` variable is defined?

[2016-01-06 08:10] anatoo commented on #1138
As a result of investigating the example of ons-lazy-repeat(examples/lazy_repeat_element/index.html), the bottleneck seems to be to ons-list-item.

A case of using 'ons-list-item':
![image](https://cloud.githubusercontent.com/assets/59784/12137877/a850322e-b497-11e5-91dc-77548a736db5.png)

A case of using 'div':
![image](https://cloud.githubusercontent.com/assets/59784/12137884/b7fd823a-b497-11e5-

[2016-01-06 08:13] anatoo commented on #1138
Closing. Feel free to reopen this issue.

[2016-01-06 08:13] #1138 closed

[2016-01-06 08:32] zkorp commented on #1154
@argelius thank for your help. I will help all I can.

About the code in the console:

![console_output_with_bug](https://cloud.githubusercontent.com/assets/16511196/12137627/94524c3e-b452-11e5-824b-f3138db8743e.jpg)

The output is the same with and without the error.

About window.cordova

![window cordova](https://cloud.githubusercontent.com/assets/16511196/12137998/9b7bfd5e-b455-11e5-9fd6-c84c8

[2016-01-06 10:41] argelius commented on #1154
Thanks @zkorp !

I think this is only an issue when you emulate iPhone in Chrome. I will close it but feel free to open it again if you feel it needs to be fixed.

[2016-01-06 10:41] #1154 closed

[2016-01-07 03:10] argelius opened #1156 "ons-list-item initialization is slow"
ons-list-item elements often appear in large numbers, if the initialization code is slow this will slow down the initialization of the whole app/page.

Investigate how it can be made faster and implement changes.

[2016-01-07 03:29] frankdiox commented on #1151
@vinkvin popPage is supposed to be the default behavior when the navigator stack is not empty so you should not need to add custom code for that. Are you loading `cordova.js`?

[2016-01-08 03:24] vinkvin commented on #1151
Hi, thanks for the reply
@frankdiox Yes, I have loaded the cordova.js

[2016-01-08 05:53] andipavllo opened #1158 "ons-tab active attribute bugged in Onsen UI 2.0"
If `active="true"` has been set, the following error will be displayed:

`Uncaught TypeError: Cannot read property 'rewritables' of undefined`

This happens on CodePen but not on Chrome ([see CodePen example](http://codepen.io/andipavllo/pen/eJWdrE))

[2016-01-08 05:55] argelius commented on #1158
Thanks @andipavllo ! I will fix this and release a new version.

[2016-01-08 07:08] #1158 closed

[2016-01-08 08:29] wildtang commented on #1155
The information below is from Vue author, maybe can hint something.
Angular is a bit large, Vue is small and enough to me.

--

It seems OnsenUI compiles the page asynchronously. When new Vue() is called the page hasn't finished upgrading the custom elements yet. If the new Vue() is called after say 100ms it works properly. This can probably work if OnsenUI provides a hook so that we know it has f

[2016-01-08 08:53] argelius commented on #1155
@wildtang I agree that this is not something that can be solved by the Vue.js. Some bindings must be implemented to make it work.

That's why I suggested looking at the AngularJS bindings to get inspiration. Also @frankdiox wrote some super simple code to link Onsen UI 2.0 with Knockout.js:

http://codepen.io/frankdiox/pen/RrrXbV

[2016-01-08 15:22] danjarvis commented on #1047
:+1: Just encountered a likely related issue with iOS and `ons-bottom-toolbar`: When using both top and bottom toolbars, the extra padding that is usually added on iOS to move the page down from the status bar is no longer applied correctly.

![simulator screen shot jan 8 2016 10 21 51 am](https://cloud.githubusercontent.com/assets/116640/12201325/b41697c8-b5f1-11e5-92f5-584c61bb3b28.png)

[2016-01-08 16:20] argelius opened #1161 "Dialog mask for Material Design"
There should be a `dialog-mask--material` class.

Right now a lot of the examples use `dialog--material-mask` but that name doesn't make sense. It should either be `dialog--material__mask` or `dialog-mask--material`. For the `dialog-container` we use `dialog-container--material` so we should be consistent.

Also see if there is a similar issue for `alert-dialog`.

[2016-01-08 16:47] argelius opened #1162 "Dialog container should have minimum height"
The `dialog-container` elemnt should have same min-height as the parent element so it covers the whole dialog.

I don't know which one of `min-height` or `height: 100%;` is best. Please chose the one you like. :)

[2016-01-08 23:03] wildtang commented on #1155
@argelius  Thanks for you reply, I will have a try :)

[2016-01-09 16:28] Amenocy commented on #633
+99

[2016-01-10 22:33] RezaRahmati opened #1164 "Issue binding values from Controller in dialog"
Hi
I am facing this strange behavior and it might be a bug.
If you have a dialog and a controller for that dialog and you bind something to scope, the binding doesn't work for the first time.

see the below link
http://codepen.io/anon/pen/gPROje

it has a $scope.volume in controller and if you open the dialog for the first time you will see {{volume}} on top of the dialog and the volume is not set

[2016-01-11 14:37] danjarvis commented on #1164
A general practice to follow when setting initial data in a controller is to wrap code in calls to `$timeout` or `$evalAsync`. These will trigger the digest cycle and your bindings will get set properly.

[code]

[2016-01-11 20:55] RezaRahmati commented on #1164
@danjarvis Thanks, it solved my problem

[2016-01-12 07:18] #1164 closed

[2016-01-13 05:40] argelius opened #1165 "Implement infinite scrolling on `<ons-page>`"
Implement a way to execute some code when scrolling the `<ons-page>` element.

[code]

[code]

Also implement a directive for `AngularJS` that uses this feature.

[2016-01-13 10:28] pvsong opened #1166 "issue pull hook when scroll up both onsen ui V1x and V2 on iphone5&6s"
Hi,
I have a problem when I use pull hook in my project to load more items. when I scroll page up, it was flicker
Here my video:
https://www.youtube.com/watch?v=6Rt_NkNpVKM
I have to tried with simple demo many times on  https://onsen.io/2/reference/ons-pull-hook.html , I just created the simple template and some items , but it still flick.
When I remove pull hook it work fine!
sorry for my Englis

[2016-01-13 22:56] leocaseiro commented on #978
This is happening on Onsen 2 as well.

[2016-01-14 03:22] argelius commented on #978
Thanks @leocaseiro ! We will take a look.

[2016-01-14 03:22] argelius commented on #978
@frankdiox Can you take a look at this?

[2016-01-14 03:38] frankdiox commented on #978
@leocaseiro @argelius This was actually fixed in 0dc6cf0, but looks like wasn't updated in the website.

[2016-01-14 05:54] leocaseiro commented on #978
Sorry @frankdiox, but it isn't working in my app either...
Perhaps hasn't been compiled...

[2016-01-14 06:03] frankdiox commented on #978
@leocaseiro Are you copying `login.css` content in your app? That file is changed in Onsen 2: https://github.com/OnsenUI/OnsenUI/blob/master/css-components/www/patterns/login.css
Check that the CSS in your app is like that.

[2016-01-14 06:36] leocaseiro commented on #978
Oh Thanks @frankdiox. I didn't notice that. I replaced with ```height:100%``` and now it's working fine.
Thanks

[2016-01-14 06:37] #978 closed

[2016-01-14 21:43] kountouretis opened #1167 "sqlite"
Is there any example how to use sqlite with onsen?

[2016-01-15 03:23] frankdiox opened #1168 "ons-carousel's initial-index does not work with ng-repeat"
1.3.14
Looks like `ons-carousel-item`s are generated with `ng-repeat` after the `initial-index` is checked.

[2016-01-15 03:49] argelius commented on #1168
Thanks @frankdiox !

When you have time, please fix this in 1.3.* and release a new version. Also please fix it in 2.0 if it's also an issue there.

[2016-01-15 04:44] frankdiox commented on #1162
@argelius `dialog-container` already has `height: inherit`. Isn't that enough?

[2016-01-15 07:00] #1162 closed

[2016-01-15 08:09] pvsong commented on #1167
https://github.com/millerjames01/Cordova-SQLitePlugin/tree/25ecd47f92d5b2bb7a673aec7cfc827f5fca9dd0

[2016-01-15 09:41] cither1 opened #1174 "How can I access angular's $templateCache from html in OnsenUI 2.0?"
I'm trying 2.0.0-beta with angular, gulp and browserify environment and I bumped into a problem.
If I bundle `.html` templates into one `.js` file caching them in the $templateCache, how can I refer to them in the view? I suppose that's the way many angularians do.
OnsenUI's `templateStore` object seems not published for now, I wonder if there is any way to handle templates?

[2016-01-15 15:09] IliaSky opened #1175 "Double clicking a menu element pushes the same page twice"
The same behaviour was observed in #868.
Reproducing the double click is not very easy, but not impossible either and having the same page in the page stack twice is surely not the expected behaviour.

In pushPage I was able to find an option cancelIfRunning which supposedly fixes this issue, but even after enabling it I was still able to reproduce the issue by a manual double click.

Since it was

[2016-01-18 06:10] #1161 closed

[2016-01-19 02:58] tuannda opened #1178 "How to automatic switch from grid to list view"
Hello!

I want build shop on mobile with OnsenUI.

I want with width of browser 480 to 960px display list and bellow 480px display list.

In Onsen UI has supported it?

[2016-01-19 08:52] juspriet commented on #1166
same problem...

[2016-01-19 09:06] argelius commented on #1166
@pvsong @juspriet We will investigate this behavior.

Can you give me information on how to reproduce this. Does it happen in a simple app using only a list with pull hook or do you need some special conditions?

Please provide all information that you think could be usesul, such as sample code and under what conditions it happens.

[2016-01-19 16:57] pvsong commented on #1166
Well, as you see in my video. Behavior is users scroll page fast in first time, when page still move users
 touch on page and scroll it up slow .. and slow.
I've  created just a basic app with pull hook. with some items on list:

ons-page
      ons-pull-hook
            ....................
     ons-pull-hook
     ons-list
           ons-list-item
                     (about 100 items)

[2016-01-20 03:25] argelius commented on #1166
Thanks @pvsong !

[2016-01-20 08:30] pulimento commented on #863
Me too, having exactly the same error

[2016-01-20 08:37] pulimento commented on #328
+1

[2016-01-20 08:40] pvsong commented on #1166
Ah, use onsen UI with monaca.

[2016-01-21 05:22] argelius commented on #1174
If you're using Angular there shouldn't be any difference in Onsen UI 2.0.

[2016-01-21 05:23] argelius commented on #1174
I will close this for now. Please feel free to open it if you think it's necessary.

[2016-01-21 05:23] #1174 closed

[2016-01-21 05:24] #1175 closed

[2016-01-21 05:24] #1167 closed

[2016-01-22 10:36] IliaSky opened #1179 "Feature request: Either add ons-scrollbar element or modify ons-scroller."
The current `ons-scroller` element doesn't seem to do much.
Even though it has `overflow: scroll` it doesn't provide a scrollbar. In some cases where a user has scrollable content not having a scrollbar could be an issue.
The two options which come to mind to solve this problem are:
1. Addition of a new `ons-scrollbar` element
2. Modification of `ons-scroller`, so that it can have a scrollbar
In e

[2016-01-23 15:58] pvsong opened #1180 "Issue disable bounce scroll content between toolbar and content page on Iphone ?"
Hi,
Is there any way to disable scroll bounce content between toolbar and content page. May be sometimes app does not need to bounce like this...
(when I try to scroll down too much between toolbar and content appear distance)
- I've to try many way to fixed content like on this article:
  http://stackoverflow.com/questions/16274074/stopping-overscroll-bounce-in-phonegap-ios
- Css:
  http://stacko

[2016-01-23 19:32] bdedardel opened #1181 "<ons-back-button> generates back-button twice"
Hi,

I notice that &lt;ons-back-button&gt;...&lt;/ons-back-button&gt; generates back-button twice
(<span class="back-button__icon"> X 2)

[code]
onsenui: 2.0.0-beta.5
android: 4.2.2

Regards,
Benjamin

[2016-01-24 06:55] frankdiox opened #1182 "Angular controller runs before DOM is ready in Onsen 2.0"
Example (change to "Map" tab): http://codepen.io/frankdiox/pen/wMyBNp

If you change the timeout to 10ms it works.
It was working well in Onsen 1.x without timeouts.

@anatoo Do you think this is fixable in AngularJS bindings?

[2016-01-24 10:08] cither1 commented on #1174
It's working fine now. Maybe I was doing something wrong. Thank you!

[2016-01-24 12:44] argelius opened #1183 "Dialog back button broken in current build."
It fails binding the back button handler:

[code]

[2016-01-24 12:45] argelius commented on #1181
Thanks @bdedardel ! :)

@frankdiox Also mentioned this and I think he will fix it soon.

[2016-01-24 13:04] argelius commented on #1174
@cither1 No problem! If you have any other issues, don't hesitate to ask! :)

[2016-01-24 13:54] tdiddi commented on #1183
Same here on WP 8.1 with Intel XDK

[2016-01-24 17:25] argelius opened #1184 "<ons-fab> not animated when leaving tab."
When using an `<ons-fab>` element inside a tab, the `<ons-fab>` element is only animated when entering a tab but when leaving the tab it just disappears.

It would look great if it was animated also when leaving the tab so if there are two different `<ons-fab>` elements in the two tabs the button will shrink and then grow.

[2016-01-25 02:52] frankdiox commented on #1184
@argelius With the current implementation there would be a small side effect. Page's `hide` event would be fired right before the tabbar animation starts rather than at the end. We can always look for `ons-fab` descendants and hide only those elements instead of hiding the whole page before the animation. What do you think it's better?

[2016-01-25 03:02] frankdiox commented on #1184
Also, currently `ons-fab` is animated when entering only persistent pages that already exist. If it's a new page it will be shown by default without animation. We can also change it to be always hidden by default. Its `show` method is actually triggered when the parent page is initialized (due to the propagation API) so it would work without further modifications.

[2016-01-25 04:55] mayand commented on #1124
My Android version is 5.1.1

[2016-01-25 09:59] frankdiox commented on #1181
@argelius Yes I checked this the other day, but I'm actually a bit confused. There is a double back-button only using Chrome in Codepen: http://codepen.io/frankdiox/pen/mVXLZR

I'm not able to reproduce the error in a local environment though...

[2016-01-25 10:01] argelius commented on #1181
@frankdiox Codepen loads JS at the end of the body. Can you reproduce it if you move the imports?

[2016-01-25 10:05] frankdiox commented on #1181
@argelius Exactly, that's why. If I load it at the end then I also get two back-buttons in my local environment!

[2016-01-25 10:30] frankdiox commented on #1181
@argelius It works if we replace `ons-template` with `script type="text/ons-template"`. Looks like this is not a trivial problem :sweat_smile:

[2016-01-25 10:38] argelius commented on #1181
I believe it is because the Angular code is executed before the Web Components.

[2016-01-25 11:13] frankdiox commented on #1181
But there is no Angular code, it´s just Web Components in that example.

[2016-01-25 11:27] argelius commented on #1181
Oh! I guess the `document.registerElement('ons-template', ...)` must happen before everything else.

[2016-01-25 12:41] argelius commented on #1184
@frankdiox Actually, I tried master branch after the merge but I'm still having the same issue.

[2016-01-25 12:46] argelius opened #1187 "Elements compiled twice if they are duplicated by copying HTML string."
If an element is attached to the DOM, it will be compiled and maybe gain some children.

E.g., when the `<ons-dialog>` element is attached it gains two children: `.dialog` and `.dialog-mask`. If the element is copied somewhere else by duplicating the `innerHTML` (not by using something like `appendChild`) a new element will be created and the `_compile()` method is executed again, adding two new c

[2016-01-25 14:06] argelius commented on #1187
I think we also need to write tests for all components to verify that they will "survive" an operation like this. This means that we can not add anything in the `createdCallback` which is not encoded in the HTML.

We can't add properties or event listeners to the elements but we can change style and add elements since that will be properly encoded in the string.

[2016-01-25 16:25] cither1 commented on #1174
Again the problem reproduced. Please take a look at this fiddle and the console log. https://jsfiddle.net/0bs5anv2/1/ OnsenUI2.0 appearently loads `home.html` over XHR although it is defined in the `$templateCache`. I believe it was working in 1.3.x.  Is this a bug or am I doing something wrong again?

[2016-01-26 03:22] frankdiox commented on #1184
@argelius It works when you use any animation in the tabbar but not with 'none'. The reason is that `animit` is async but when the animation is 'none' it just runs the callback synchronously without calling `animit`. A simple timeout in `TabbarNoneAnimator` fixes it.
With 'none' animation in the tabbar the `ons-fab` of course won't display its hiding animation since the tab is hidden instantly.

[2016-01-26 04:12] frankdiox commented on #1181
Yes, I think since `ons-template` is a component a bit special it's better to import it before the others.

[2016-01-26 04:43] #1181 closed

[2016-01-26 08:24] frankdiox commented on #1187
@argelius There is another problem. What if the copied element is, let's say, an `ons-navigator` that already contains some pages. The new element would have 4 pages in the DOM but its `this._pages` property would be empty. Should we recreate all the internal properties?

[2016-01-27 07:36] frankdiox commented on #1183
@argelius Please reassign it to me when you finish the example.

[2016-01-27 20:49] Hirbod commented on #328
You can ignore this "bug". It's just an message inside of XCode, it does not break anything nor crash the app

[2016-01-27 20:49] Hirbod commented on #863
As said, you can just ignore this. It's not OnsenUI causing this. It happens also to other Frameworks.

[2016-01-27 22:32] leocaseiro opened #1191 "onsenui2-quickstart remove package gulp-livereload"
I've noticed that the **gulpfile.js** from the [Onsen UI 2 Quick Start](https://github.com/OnsenUI/onsenui2-quickstart) project is using browserSync which is an alternative for Live Reload. With that said, I believe we should remove the package **gulp-livereload**.

[2016-01-28 02:52] frankdiox commented on #1179
@IliaSky I like it, but since the scrollbar should also be available for `ons-page` (and maybe any other div) perhaps it's better to have it as a new component (option 1). Since it's already listening for `scroll` perhaps it could also throw a custom event when it's near the bottom or some position configurable by the user.

[2016-01-28 20:54] argelius commented on #1191
Thanks @leocaseiro!

I merged your PR so I will close this.

[2016-01-28 20:54] #1191 closed

[2016-01-29 02:11] frankdiox commented on #1187
@argelius The DOM shouldn't be modified anymore after the last PR, but as we mentioned before, there are still problems regarding internal variables that will be gone when copied. Most of the issues have an easy fix. For example, `ons-page` saves a boolean variable `_isShown` that could be stored as an HTML attribute instead without troubles. There are some bigger problems, though, with navigator'

[2016-01-29 02:52] frankdiox opened #1192 "ons-fab disappear in animations when position is fixed."
`ons-fab` moves out of the screen when the page is changing. This only happens when `position` attribute is set.

[2016-01-29 03:07] frankdiox opened #1193 "Improve Ripple effect to make it more similar to the real thing."
:dog2:

[2016-01-29 07:56] githubkyo commented on #1168
you can fix it like this
<ons-carousel-item ng-repeat="item in items">
</ons-carousel-item>

[2016-01-29 22:07] argelius commented on #1193
:fish:

[2016-01-29 22:09] argelius commented on #1187
Let's discuss `<ons-navigator>` next meeting. I think in this case we might be able to handle it when wrapping it in the framework in question.

I think if we will find other issues while writing Angular 2 and React.js bindings but I think this particular issue solves some of these problems.

[2016-01-29 22:10] #1192 closed

[2016-01-29 22:51] #1054 closed

[2016-01-31 20:14] aliv opened #1197 "broken interface with android browser - onsen ui 2 beta 6"
hi,
related to closed issue #1085:
i tested my app again and there is new result with beta 6
interface for application/www on chrome is ok (android 5 and 4.2.2).
interface for builded apk is ok (android 5).
interface for application/www on android 5 browser is **broken**.
interface for builded apk on android 4.2.2 and application/www on android 4.2.2 browser is not broken anymore but there is some

[2016-02-01 06:10] IliaSky commented on #1184
@argelius are you still able reproduce the issue?

[2016-02-02 09:33] anatoo commented on #1165
:+1:

[2016-02-02 10:21] frankdiox commented on #1125
@masahirotanaka @argelius What about `<ons-if>` element instead of `ons-if-platform`? We can add attributes `platform`, `orientation` or anything else we need. Or is `platform` totally enough?

[2016-02-02 13:42] masahirotanaka commented on #1125
That's a super nice idea. fran++;

[2016-02-03 02:15] jallen0927 commented on #1168
+ 1

[2016-02-03 07:06] DILEEP-YADAV opened #1201 "Onsen UI 2.0 material design is not working with android 4.2"
HI! @anatoo,
Greeting for the day!
Onsen UI 2.0  material design is not working with android 4.2 when I tested it. another, this not faster than previous version onsen UI 1.x.
What is the benefit of 2.0 version?

[2016-02-04 03:01] anatoo commented on #1201
Hello @DILEEP-YADAV,
Thank for your reporting, we will investigate this problem.

We are aiming to be the Onsen UI to framework agnostic on 2.0.
In 2.0, developers will be able to use favorite framework such like React, Angular2 or jQuery.

[2016-02-04 18:57] EddyVerbruggen opened #1206 "OnsenUI 2, without angular/react/jquery"
Hey guys,

This may be something I'm overlooking. I very much like the idea that v2 is framework agnostic, but do you have a sample of a v2 app/gist/codepen that uses vanilla JS/ES6 and nothing else?

Cheers,
Eddy

[2016-02-05 04:07] frankdiox commented on #1206
@EddyVerbruggen Hi! I recently made a simple app with two implementations, AngularJS and vanilla JS. Check it out here: https://github.com/frankdiox/OnsenUI-Material-Tabbar/tree/js-implementation
The link to the demo is actually using the AngularJS version, but you can checkout the JS branch and try it yourself :)

[2016-02-05 07:46] cither1 commented on #1174
@argelius I created the [1.3.15 version](https://jsfiddle.net/b3eajzwo/). We can't use the `$templateCache` in this way any more? If so, is there any alternative means to use the `$templateCache`?

[2016-02-05 08:21] EddyVerbruggen commented on #1206
Awesome, exactly what I need :+1:  :+1:

[2016-02-05 08:21] #1206 closed

[2016-02-05 09:06] frankdiox commented on #645
#1179

[2016-02-05 09:06] #645 closed

[2016-02-05 09:40] frankdiox opened #1208 "pageHTML option for Navigator methods."
@argelius @anatoo Currently, as #1207 shows, there is an undocumented parameter `options.pageHTML` available for `pushPage` but not for the rest of navigator's method. Actually, if that option is included, `page` parameter will be ignored but it's still necessary to pass it.

Since `pageHTML` could be a useful option in some cases, like inserting data before creating the actual page, I suggest to

[2016-02-06 03:12] cither1 opened #1209 "Manually added $templateCache doesn't work with onsNavigator nor with onsTabbar in 2.0"
related issue: #1174

Templates manually added to `$templateCache` don't work with `onsNavigator` nor with `onsTabbar`, although they work fine with `onsSlidingMenu`.

`onsNavigator` : https://jsfiddle.net/0bs5anv2/5/
It doesn't work. The navigator tries to load `home.html` over xhr and results in an error.

`onsSlidingMenu` : https://jsfiddle.net/tzo81exd/1/
It works.

If I use `ng-template` or `

[2016-02-06 08:58] kountouretis opened #1210 "When the popover is active and press the back button of device is not work , must touch to the screen to hide the popover and the device back button work.Any suggestions to control this? Thanks in advance"
app.js
 `app.controller('DropdownController', function($scope, myService) {
  ons.createPopover('popover.html').then(function(popover) {
    $scope.popover = popover;
    myService.setPopover($scope.popover);
  });
});

app.controller('MyController', function($scope, myService) {
  $scope.hidePopover = function() {
        $scope.popover = myService.getPopover();
        $scope.popover.hide();
  }

[2016-02-06 09:52] c58 commented on #985
We are discussing React/Preact compatibility with OnsenUI. There is an example of broken mutation of a DOM with onsen and react: https://github.com/developit/preact-webcomp-test

[2016-02-06 14:34] pvsong opened #1211 "Event swipe use ons-gesture-detector delay 300ms Android & Iphone"
Hi, I use ons-gesture-detector to swipe left and right page but I it seem like delay 300ms or somthing else I'm not sure. But when swipe, page change for a while.
ons-gesture-detector
         id="appNavi1"
/ons-gesture-detector

ons-navigator var="app.navi"
        ..........
/ons-navigator

$(document).on('swiperight',  '#appNavi1',  function() {
        app.navi.resetToPage("detail.html", {anim

[2016-02-06 15:52] AlexF12004Roma opened #1212 "ons-splitter-side page attribute error"
Hello,

I'm developing a new Mobile app with onsenUI 2.

I got an error on ons-splitter.
If i put the attribute page in ons-splitter-side i got an error in javascript (both template id and page url) :
ons.getPageHTMLAsync property not supported.
I have to put html code inside side tag side and all is ok.

The page attribute in ons-splitter-content instead works well.

I'm using onsenui2+angular.

[2016-02-09 01:16] philolo1 opened #1215 "Behavior of ons-navigator replacePage pop animation"
I am a little bit confused about ons-navigator replacePage animation function. Currently it works like this.

We have page1, page2, page3 on the stack. lets say they were pushed by slide animation. Now we replace page3 by newPage with no animation. When i go back on the stack the transition from newPage to page2 is 'none'. I think it would make more sense to have it behave like the previous page (

[2016-02-09 03:45] frankdiox commented on #1215
@philolo1 Push and pop animations are created when the page is pushed. If you push a page without animation then it will pop without animation unless you specify something else. By default `replacePage` has 'slide' animation if I'm not wrong, so you will get a 'slide' pop animation as well by default. I think that's the desired behavior.

[2016-02-09 03:57] IliaSky commented on #1211
Hi pvsong,
I seem to be unable to reproduce the issue. By default there should be no delay.

Since you say that the page changes for a while, then maybe it's just that the animation takes too long - by default it's 400ms. That duration is configurable - you can set it to 150ms or 200ms so that it fits your expectations. You can try something like this:
[code]

If the problem still persists after t

[2016-02-09 04:27] argelius opened #1217 "Sourcemap is broken"
The sourcemap for `onsenui.js` is broken which makes it hard to debug.

[2016-02-09 05:06] #1193 closed

[2016-02-09 07:48] argelius commented on #1179
I like option 1! :)

[2016-02-10 00:54] #1215 closed

[2016-02-10 03:29] rockneverdies55 commented on #1147
I'm having the same issue. `tab-bar` is scrolling with the page content. Is that expected?

I used the exact same markup [in here](https://onsen.io/2/reference/css.html)
[code]

[2016-02-10 03:49] #894 closed

[2016-02-10 07:11] pvsong commented on #1211
Thanks for reply, but on swipe event. How can I control “speed” and/or “distance” or something like “swipe-left-end”. Because, when I swipe must to be on the entire width of device, and with speed  fast…
Thanks.

[2016-02-10 07:37] argelius commented on #1212
Hi @AlexF12004Roma !

Can you please paste the code that triggers this error?

[2016-02-10 07:53] #1217 closed

[2016-02-10 07:54] IliaSky commented on #1211
Since this is already a question and not an issue I am closing this.
We can continue the discussion in [the community](https://community.onsen.io/topic/100/ons-gesture-detector/5).

[2016-02-10 07:54] #1211 closed

[2016-02-10 08:11] argelius commented on #1183
Should be working fine now. It was using the global `ons._deviceBackButtonDispatcher` variable instead of importing it using es6 imports.

[2016-02-10 08:18] #1183 closed

[2016-02-10 08:41] #1130 closed

[2016-02-10 09:09] tdiddi commented on #1183
It's working now for me!

[2016-02-10 11:48] billouboq opened #1221 "Missing changelog of 1.3.15"
I was wondering, what are the changes made between 1.3.14 and 1.3.15 ?

[2016-02-10 15:27] rockneverdies55 commented on #1147
Figured out the problem. The whole page content was a `ons-list` element so `tab-bar` was scrolling with the list..
Wrapping up the content in a `ons-scroller` solved the problem.

[2016-02-10 15:37] rockneverdies55 opened #1222 "ons-split-view slides back after scrolling within the content of it"
I have an `ons-split-view` with a long list of chevron (tappable) items wrapped in a `ons-splitter-side`. If I scroll the list within the split to select an item, the split view slides back without letting me click on a list item.
Is there a way to stop this?

[2016-02-10 15:55] rockneverdies55 opened #1223 "adding few text/label style classes"
Is there a possibility to have few well known (or used) text/label classes built-in? Just like in bootstrap `success`, `danger`, `info`, etc...

That would be very helpful when creating themes with [theme-roller](http://components2.onsen.io/). One then can simply style the labels as well within a theme.

[2016-02-10 18:53] rockneverdies55 commented on #998
C'mooon, really... no `select` widget in onsen ui?

[2016-02-10 19:20] rockneverdies55 opened #1224 "is there any plan to support html select element"
Is there any plan to support native `select` element as [in ionic framework](http://ionicframework.com/docs/components/#select)?

[2016-02-11 03:12] dcpedit opened #1225 "ons-switch inside ng-repeat loop gets duplicate child elements"
Here's an example:

[code]

Renders the following HTML for the switch (note double `<div>` and `<input>` elements):
[code]

[2016-02-11 15:55] TheMojoMan commented on #1038
You can change the content of the splitter view like this:
[code]
This code loads 'entry.html' at startup. Clicking on the list item in the 'ons-splitter-side' menu changes the content to 'page1.html'.

[2016-02-12 03:20] IliaSky commented on #1225
Thank you for the issue. This has already been fixed in the newer beta versions.
Feel free to use [beta 6](https://cdn.rawgit.com/OnsenUI/OnsenUI-dist/2.0.0-beta.6/js/onsenui.js).

[2016-02-12 03:20] #1225 closed

[2016-02-12 05:42] IliaSky commented on #1222
Thank you for the report. This should be fixed when we release beta 7.
In the meantime you can use this ugly hack:
[code]
`onsSplitter` and `onsSplitterSide` being the `ons-splitter` and `ons-splitter-side` elements.

[2016-02-12 19:18] elbidone opened #1227 "Material design is badly displayed on Android 4.1.2"
I've tested material design on Android 4.1.2, it raised very bad results. When I scroll I see following screens on onsenui2-quickstart pages:

Tested on Android 4.1.2
![screenshot_2016-02-12-12-37-59](https://cloud.githubusercontent.com/assets/9011612/13017625/41fb283a-d1ac-11e5-8d86-521136ff38b9.png)
![screenshot_2016-02-12-12-38-42](https://cloud.githubusercontent.com/assets/9011612/13017626/41f

[2016-02-13 03:31] argelius opened #1228 "CSS Switch is broken"
The switch element doesn't work anymore. It only works when using the `<ons-switch>` element but the CSS should work independent of the JavaScript.

Also, `checked` and `disabled` attributes stopped working.

@IliaSky Can you fix this on Monday?

[2016-02-13 03:44] IliaSky commented on #1228
ok

[2016-02-14 13:49] rockneverdies55 commented on #1222
Thanks for taking care of this and offering a working temp solution.

[2016-02-15 05:13] argelius commented on #1227
@IliaSky Can you take a look at this when you have time?

[2016-02-15 05:14] argelius commented on #1221
Hi @billouboq !

I think there was just some documentation changes. The docs are written as comments to the source, so we need to tag a new version in order to redeploy the docs.

[2016-02-15 05:14] #1221 closed

[2016-02-15 05:52] IliaSky commented on #1227
ok

[2016-02-15 06:03] IliaSky commented on #1228
Actually it wasn't working simply because the css had changed so that it cared about the properties of the ons-switch element itself rather than the inside input. With the ons-switch element the checked and disabled properties were synced between the two elements. Semantically this made more sense. I didn't think of the option of using only the css classes without the ons-switch element. It feels

[2016-02-15 06:07] argelius commented on #1228
Thanks @IliaSky !

Actually the reason why we want the CSS to be usable without the JS library is that it can be used independently. There are users that only use the CSS and write all the JS themselves and we want them to be able to do that.

This makes sense because the JS is dependent on the CSS, but if the CSS is dependent on the JS we would get a mutual dependency.

[2016-02-15 08:28] #1184 closed

[2016-02-15 08:28] #1228 closed

[2016-02-15 08:30] IliaSky commented on #1227
The source seems to be the `transform: translate3d` - I guess scrolling hardware accelerated elements does not yield good results in earlier versions of Android. This behaviour would still persist even in the newest beta version. Since we don't seem to be taking advantage of it here maybe we can remove it for `ons-list-item`?
What do you think @argelius ?

[2016-02-15 08:46] IliaSky commented on #1222
You're welcome. The fix is already in place, so feel free to use the newer version when it becomes available. I am closing this issue.

[2016-02-15 08:46] #1222 closed

[2016-02-15 10:46] expertsa commented on #1221
thx

[2016-02-17 02:47] philolo1 opened #1233 "Add e2e test for navigator.insertPage"
Looking through the e2e tests I realized the navigator test is testing replacePage and resetPage, push and pop page, but not insertPage. @argelius does it make sense to add one, i can do it.

[2016-02-17 02:48] argelius commented on #1233
I think it makes sense to add one.

[2016-02-17 02:50] philolo1 commented on #1233
@argelius ok, will do it then, i assigned it to myself, since i am working on the tests right now anyway.

[2016-02-17 03:14] argelius commented on #1233
Thanks!

[2016-02-17 04:29] #1208 closed

[2016-02-17 06:37] #1179 closed

[2016-02-17 07:20] philolo1 commented on #1233
@argelius added the test in a pull request.

[2016-02-18 04:06] argelius opened #1235 "Create ISSUE_TEMPLATE.md"

[2016-02-18 06:05] Hacktivista opened #1236 "ons-list-item + ons-lazy-repeat positioned above previous elements"
```ons-list-item``` is displaying above previous elements when using with ```ons-lazy-repeat```.

The following image shows the problem
![ons-list-item](https://cloud.githubusercontent.com/assets/5282749/13135114/7a35cb76-d5ec-11e5-8e27-09a43802be8a.jpg)

Also happens with ons-list-header for example
![ons-list-item2](https://cloud.githubusercontent.com/assets/5282749/13136418/1e259378-d5f8-11e5-8

[2016-02-18 17:47] tfutada commented on #866
I am not sure this is the right place to ask this, but i am hitting the same issue, as @frankdiox mentioned, a LazyRepeatView won't be refreshed unless the number of the items has changed.
say, in the code at http://codepen.io/frankdiox/pen/epOyPR,
if i tweak the size of the first array from 50 to 26, it does not seem to work.
Is it supposed to be so or will be fixed in the future?

`  $scope.myAr

[2016-02-18 21:31] c58 opened #1238 "React binding for OnsenUI is impossible"
Hi!
In my recent researches i've tried to run OnsenUI with React. And my conclusion – it is impossible to use OnsenUI with React (with all benefits) because of OnsenUI DOM mutations in web components. React just brakes onsen web components on re-render if it uses custom inner template to show the content (ons-page, for example). I have discussed the issue in Preact repo [there](https://github.com/

[2016-02-19 00:04] philolo1 commented on #1238
@c58 Thanks for your input and your work / thoughts.  I am actually the one in our team who currently works on the react bindings. You are right, that every time that the dom changes, react needs to be informed. We want our framework to be as agnostic as possible, so if we would implement everything in pure react component, people would not be able to just use pure javascript. You don't need to re

[2016-02-19 02:17] #1187 closed

[2016-02-19 05:23] #1125 closed

[2016-02-19 08:50] c58 commented on #1238
@philolo1 interesting. I agree, that simple components without any logic (ons-button, etc) does not need to be reimplemented. React works well with `class` and `style` attributes mutated directly. But time needed to reimplement this component is very small. Much more time needed to implement harder components, like "ons-splitter" or "ons-carousel". I have looked at your work and it is not seems to

[2016-02-19 09:23] philolo1 commented on #1238
Thanks for your feedback. @argelius might also comment here, if he feels like it :). The component does not work the react way, but it does not really matter for the user, since he can use all the components he writes himself the react way! Concerning performance, react is basically calling render when the webcomponent is changing the dom, so we basically do the DOM manipulations twice, that is a

[2016-02-19 11:38] IliaSky commented on #1112
It's already implemented in 2.0 exactly as @frankdiox described it.

[2016-02-19 11:38] #1112 closed

[2016-02-20 14:49] stats opened #1243 "Phonegap IOS9 ons.ready not firing"
When running the following code through PhoneGap on IOS9 the ons.ready function is not being fired. The event fires correctly when testing through a chrome browser window.

The expected behavior is for the LoginController to redirect to the event.html page when ons.ready is called.

[code]

[2016-02-20 17:18] c58 opened #1244 "Where is checkbox--list-item modifier?"
I'm playing with latest Onsen 2 beta and i found that there is no "list-item" checkbox modifier anymore. How should i use checkboxes and radio buttons with "list-item" now?

[2016-02-20 17:25] c58 commented on #1244
I found answer in a doc, sorry
[code]

[2016-02-20 17:25] #1244 closed

[2016-02-21 02:14] philolo1 commented on #1244
@c58 we also released a community, feel free to ask there : https://community.onsen.io/.

[2016-02-21 09:52] frankdiox commented on #1244
@c58 In beta.7 you will be able to do `<ons-input type="checkbox"></ons-input>` :)

[2016-02-21 14:32] DILEEP-YADAV commented on #1227
same issue , I was post to forum.......

[2016-02-21 23:47] IliaSky commented on #1227
It has been fixed on another branch. The fix will probably be merged and available in either beta 7 or beta 8.

[2016-02-22 00:43] leocaseiro opened #1245 "ons-navigation page on OnsenUI2 not loading from $templateCache"
I updated my app from OnsenUI1 to OnsenUI2 and I realized that doesn't work if I want to cache with
[$templateCache](https://docs.angularjs.org/api/ng/service/$templateCache).

I have some plunker to show what I meant.
Please ignore CSS, I didn't add to plunkr.

* Working **ons-navigation** without $templateCache
http://plnkr.co/edit/wnJn2WqIbbSGGNzob4YC?p=preview

* Working with **$templateCache*

[2016-02-22 01:42] #1236 closed

[2016-02-22 02:15] #1029 closed

[2016-02-22 02:15] #470 closed

[2016-02-22 02:17] IliaSky commented on #1035
The issue has been fixed, even though we are planning on removing `ons-scroller` soon.

[2016-02-22 02:17] #1035 closed

[2016-02-22 02:17] #1233 closed

[2016-02-22 04:12] IliaSky commented on #533
It seems that this issue has been fixed in 1.3.1, so I'm closing it.

[2016-02-22 04:12] #533 closed

[2016-02-22 09:07] #1127 closed

[2016-02-22 14:16] argelius opened #1249 "ngModel binding not working for <ons-input type="radio">"
It's also not working for `<ons-input type="checkbox">`.

It should work the same way as it does for normal radio buttons and checkboxes.

[2016-02-22 14:35] argelius opened #1251 "<ons-lazy-repeat> broken"
This element is currently broken.

To reproduce the bug run the demo in the `examples` directory. It looks like it breaks the compilation of the list items, which probably means that it breaks compilation of most items.

[2016-02-23 09:46] #1249 closed

[2016-02-23 13:21] letmejustfixthatohitsbroken commented on #1083
any updates here? When are the angular2 bindings going to be released? I'd love to use both, angular2 and onsen2

[2016-02-24 02:31] philolo1 opened #1256 "Missing documentation ons-splitter-side function toggle"
The function toggle in OnsenUI/core/src/elements/ons-splitter-side.js is not documented and thus does not appear on https://onsen.io/2/reference/ons-splitter-side.html

@anatoo  can you take a look at it?

[2016-02-24 05:08] IliaSky commented on #1251
It was actually the example that had the problem - this part of the implementation has not been changed since before 10cf22968a7e0864daa672857748472b20d698a7. The thing is since the styles before were for the `ons-list-item` itself (it had the `list__item` class) the fact that it was this way wasn't noticeable.

The list item was being compiled and taken as a template, but afterwards we were chang

[2016-02-24 05:08] #1251 closed

[2016-02-24 08:15] philolo1 opened #1259 "Documentation: Usage missing for ons-pull-hook"
https://onsen.io/2/reference/ons-pull-hook.html

[2016-02-24 08:19] philolo1 commented on #1259
also looking at the rest of the documentation, does it require angular?

[2016-02-25 08:58] anatoo commented on #1256
@philolo1 OK, I will write the doc comment for "toggle" method.

[2016-02-25 09:12] anatoo opened #1261 "Angular2 break ons-navigator's initialization."
Angular2's DOMRenderer have a sequence on creating elements for component's template.
1. Create DOM element with `document.createElement('ons-navigator')`
2. Attach to DOM tree with `parentElement.appendChild(onsNavigatorElement)`
3. Set all attributes.
4. Append child with `onsNavigatorElement.appendChild(childElement);`

It break ons-navigator's page' attributes and initial content. Because when

[2016-02-25 10:05] anatoo opened #1262 "We should remove all DOM structure mutation on `createdCallback()` and `attachedCallback()`."
Currently several core elements (e.g ons-page, ons-navigator, ons-switch) mutate DOM structure on the initialization.

`ons-page` Example:

HTML:

[code]

DOM after initialization:

[code]

This behavior  break Angular2 DOMRenderer and Virtual DOM based frameworks like React.

We should remove all DOM structure mutation(not style and attribute) on `createdCallback()` and `attachedCallback()`. For

[2016-02-25 11:07] argelius commented on #1262
Thanks @anatoo !

Also @philolo1 is having some major issues making bindings for React.

I think we should let the frameworks do all the DOM manipulation. I will try to write some React code today and tomorrow and see if I can figure how we can wrap the `<ons-navigator>` in a better way and what changes needs to be made.

Basically for things like managing the page stack och the navigator the fram

[2016-02-25 11:42] philolo1 commented on #1262
@argelius I had issues with the navigator but the way it works now pretty well, the only thing is that its rendering twice, but with the benefit of using the actual functions. Please have a look at OnsNavigator in my code before you try to rewrite it yourself :) and take a look at the examples. Its definetly not an easy task :)

[2016-02-25 11:43] anatoo commented on #1262
@argelius I think we should remove DOM tree mutation on *only* initialization. It's OK that have ons-navigator's pushPage or other methods that mutate DOM.

[2016-02-25 11:52] philolo1 commented on #1262
@anatoo i don't know how it looks in angular, but in react i set the  _compile='true' property and just create the dom as it would be done in the compile function. For example in onspage i do something like this

[code]

[2016-02-25 12:03] argelius commented on #1262
@anatoo: Oh, I thought there was also a problem when the components make manipulations after init.

As @philolo1 is saying, this is already possible by adding `_compiled` attributed.

[2016-02-25 12:54] anatoo commented on #1262
@philolo1 @argelius Oh it's good! But the all attributes is not available when an element is created by document.createElement() and Angular2 use document.createElement().

[2016-02-25 13:03] anatoo commented on #1262
あと名前がちょっと良くない気がします。
'_compiled' is not good name in this use case.

[2016-02-25 13:18] frankdiox commented on #1262
@anatoo Perhaps every element could "export" its final DOM scheme or "templateSource" without actually compiling. I mean, something like what `ons-dialog` has:
[code]

Bindings can get that and compile it in their own way. This way we don't need to maintain schemes in all the bindings, only in the core.
In case there is no bindings then it will be compiled normally by the core. As @argelius was sa

[2016-02-25 13:36] anatoo commented on #1262
@frankdiox '_compiled' attribute is not available on using createElement(). And what was worse, Angular2 set all attributes after an element is attached.
Related: https://github.com/OnsenUI/OnsenUI/issues/1261

[2016-02-25 16:14] Mi5i commented on #751
This issue is still in version 1.3x. I almost pulled all my hair when I realised that.
I could fix it with your solution here. Please put it in 1.3x. Thank you.

[2016-02-26 00:59] frankdiox commented on #751
@Mi5i Oh! Looks like we forgot to added to Onsen 1. Thanks for reporting!

@andipavllo  Can you fix this?

[2016-02-26 03:24] andipavllo commented on #751
yes, I will check this

[2016-02-26 16:47] rockneverdies55 opened #1268 "attach click event handler to elements within ons-popover"
Since you guys don't support html `select` element, I'm trying to use `ons-popover` instead. But having some difficulties doing so.

I have a button that launches a popover when clicked. The popover contains a list of elements to choose from. When user clicks on list item within the popover, I would like to catch that click and mark the list item as the selected element. However I can't do that. I

[2016-02-26 18:04] Viras- commented on #282
I can confirm this issue. I'm using a navigator and inside that navigator a sliding-menu. Between the page-div and the sliding-menu element is another div created (by I guess onsen). This div has some webkit transformations which do not seem to work. When manually assigning that div a size I can see the content.

Here is the CSS I use (page-menu is the ID of the page containing the sliding-menu) a

[2016-02-29 02:07] cither1 commented on #1245
Same problem: https://github.com/OnsenUI/OnsenUI/issues/1209

[2016-02-29 03:56] leocaseiro commented on #1245
My bad, didn't see it.

[2016-02-29 03:56] #1245 closed

[2016-02-29 03:56] leocaseiro commented on #1209
Same issue for me!

I have some plunker to show what I meant.

Working ons-navigation without $templateCache
http://plnkr.co/edit/wnJn2WqIbbSGGNzob4YC?p=preview

Working with $templateCache and ng-include
http://plnkr.co/edit/8GpkSVl5Ywg6YoXfarh3?p=preview

Not working with $templateCache and ons-navigation
http://plnkr.co/edit/1b4awWKUr8ovmFzGv2j3?p=preview

PS: On OnsenUI1 it used to work normal

[2016-02-29 05:09] munsterlander commented on #1268
I accomplished this using the following code:

[code]

[code]

[code]

[2016-02-29 13:39] Haice commented on #1094
Hi,

Were you able to resolve this issue? I'm having the same problem.

[2016-02-29 14:53] rockneverdies55 commented on #1268
Thank you @munsterlander. I have done something similar to overcome the problem. I attached event bubbling event listener on `document` object.

[2016-02-29 14:53] #1268 closed

[2016-02-29 19:27] bheijns opened #1274 "Back (button) support within ons-splitter"
Hi!

Great work on Onsen UI 2!

Is there any support on the back actions within the usage of ons-splitter? Or how do I combine this with the ons-navigator?

Thank you in advance,
Bas

[2016-03-01 02:45] jpdelmundo opened #1275 "OnsenUI 2 quickstart "npm install" errors"
**OS: Windows 7
Additional: Python wasn't mentioned as a requirement so I got the error first and installed Python. Then after running "npm install" again, here's the result...**

npm WARN deprecated graceful-fs@3.0.8: graceful-fs version 3 and before will fail on newer node releases. Please update to graceful-fs@^4.0.0 as soon as possible.
npm WARN optional dep failed, continuing fsevents@1.0.8
n

[2016-03-02 06:14] SharkChips opened #1280 "Material Tappable ons-list-item in a ons-list fails to change state when tapped"
Version: 2.0.0-beta5
Affected Platforms: all

When putting a ons-list-item with the modifiers "material" and "tappable", only the *last* item shows the color change when tapping. The others do not change state.

Note that tappable does work when not used with the material modifier

[2016-03-02 09:34] SayOmgPlz opened #1282 "address bar not disappearing when scrolling"
Address bar and navigation are not disappearing when we scroll the view.

[2016-03-04 05:21] aks0020 commented on #255
:+1:

[2016-03-07 06:03] #1227 closed

[2016-03-07 10:54] #1165 closed

[2016-03-07 12:35] aks0020 opened #1289 "onsen 1.3.14 - no option to disable auto close on tap for sliding menu."
How can I disable auto close if user clicks outside menu area ?

[2016-03-08 08:12] d3orn opened #1290 "Onsen2 and Onsen: Ons-list + fab / position fixed"
Hey guys. I was working on a list of people and I added my own FAB on the bottom right of the screen (still working on Onsen1 for this project). Now whenever the user scrolls the list the button scrolls along and is replace at the bottom of the list after the user stopped. First I thought this had to do with my CSS so I tried out Onsen 2 and just added a simple ons-list (with ng-repeat) and at the

[2016-03-08 09:00] d3orn commented on #1290
Removing -webkit-overflow-scrolling: touch; form page__content resolves this but makes scrolling terrible on iOS (as expected xD)

[2016-03-08 10:43] d3orn commented on #1290
I have found a fix for this issue what do you guys think? I can try to implement it into Onsen
https://github.com/attitude/scrollPolyfill.js

[2016-03-08 11:03] IliaSky commented on #1290
Thank you for the bug report @d3orn
Since `ons-fab` is part from material design we weren't really expecting people to try and use it in IOS. Therefore we felt safe using `position: fixed` in it's development even though we are aware of the bad IOS implementation. In each other component we actually use `position: absolute` with some tricks.

I was going to suggest that you do the exact same hack

[2016-03-08 11:07] d3orn commented on #1290
Thanks for the feedback. But what do you do with fabs on iOS? Do you plan to have a special representation for those or just consider them not being used at all? (Which wouldn't make much sense, because a App should run on both platforms) I believe fabs are a very nice design principle and they start to show up on iOS as well (Gmail for example).
Well to be honest I hope all the MD principles show

[2016-03-08 11:16] IliaSky commented on #1290
We would like that too :)

I guess we will fix this, but it's not completely certain when. It may require some changes to the DOM structure of the page in order to make it work.

Since there is no similar component in IOS flat design I guess we cannot do anything other than just fix them.

If the user wants he can wrap the `ons-fab` inside an `ons-if[platform="android"]` so that they are shown onl

[2016-03-08 11:32] d3orn commented on #1290
Nice, I will go with your fix for the time being.

[2016-03-15 08:45] frankdiox commented on #1274
@bheijns Hello! Sorry for the late reply. The splitter navigation pattern is not directly compatible with back-button since it's not pushing/popping pages. If you want this kind of flow in your app it should be done with a `ons-navigator`. In your case you should the splitter as the parent component and then the navigator as a second component directly inside `ons-splitter-content`. From `ons-spli

[2016-03-15 08:45] #1274 closed

[2016-03-16 15:54] kountouretis opened #1299 "ng-device-backbutton not work with popover"
i try to hide the popover when the android device back button press but is not work however on other pages the ng-device-backbutton work and control the page as i want. Any suggestions? . Thanks in advance

[2016-03-17 14:42] prophetzoli opened #1300 "can't exit from app if page has ons-splitter element"
Maybe bug:
file: elements/ons-splitter/index.js
line: 304 ( _onDeviceBackButton )
const left = this._getSideElement('left');
const right = this._getSideElement('right');

If <ons-splitter-side> element is set as "left", than test if "right.isOpen()" return error, because "const right" is null.

I removed these lines, and now I'm able to exit from app.

[2016-03-18 03:12] frankdiox commented on #1300
@prophetzoli Thanks for reporting!

[2016-03-18 18:52] themikem commented on #1133
Is it possible to get an optional style which will keep the non-indented look (a la Onsen1) as well?  For some app designs, leaving off the indent looks better, especially when using an inset list.  I can post screenshots if needed, but I'd like to have the option here without having to write a custom class or override the built-in style every time.

[2016-03-19 05:31] frankdiox commented on #1133
@themikem  I think you are looking for `modifier="longdivider"`.

[2016-03-19 13:51] themikem commented on #1133
@frankdiox Indeed.  Thank you! That does solve it.

I will say that it would be nice to set up a simple list with just UL and LI tags.  As it stands, even with this style, I have to include a DIV on each element to get the left indent on the items.  For simple cases (say a tappable list of 3-5 text items with chevrons, for example), this seems like a bit of overkill.  It'd be nice to have the base

[2016-03-19 15:24] frankdiox commented on #1133
@themikem I'm not sure what you mean, I can see "indentation" without specifying any extra div: http://codepen.io/frankdiox/pen/Mypapv

What's the behavior you'd expect?

[2016-03-19 16:49] themikem commented on #1133
The code in your pen is generating the div's.  If you view the compiled code:
[code]

However, if I just make a simple list using ul/li tags, I find that the text in the list items is flush against the left side of the list:
http://codepen.io/themikem/pen/XdMmxP/

The behavior I expect is this:
http://codepen.io/themikem/pen/oxZjar/
(notice that the HTML code is a direct cut & paste from the prior

[2016-03-19 17:44] themikem commented on #1133
Just to complete the thought, my suggestions for a potential fix: http://codepen.io/themikem/pen/xVqwoe

- indentation is backwards compatible
- header vertical spacing also backwards compatible
- extended left/center concept to the header (for example, if you wanted to put icons in header rows for a settings page with category headers)

[2016-03-20 04:48] frankdiox commented on #1133
@themikem Oh! Now I see what you mean, you were speaking about the CSS only version without using the web components. Of course the components will create divs internally to fit the CSS.
We will probably add this and try to fix the header border problem, thanks! :)

[2016-03-20 17:33] themikem commented on #1133
Okay, sounds good.  Thanks for looking at this.  Let me know if you'd like a patch or pull request for the fixes. (happy to do it if it would help)

[2016-03-21 14:21] rafaelptr commented on #1212
I'm getting the same error
When do this
code (not working):
`<ons-splitter>`
`<ons-splitter-side page="pages/menu.html" var="menu" side="left" width="300px" collapse swipeable>`
`</ons-splitter-side>`
 `<ons-splitter-content page="pages/hello.html"></ons-splitter-content>`
`</ons-splitter>`
Instead of this (Works fine):
`<ons-splitter>`
`<ons-splitter-side page="pages/menu.html" var="menu" side="l

[2016-03-22 01:43] #1300 closed

[2016-03-22 07:11] argelius commented on #1133
@themikem @frankdiox

I agree that we should add padding on the left for lists without the inner divs. There is no way we can add the short borders in this case but you can get long borders using `longdivider` modifier.

We will fix this before releasing the next beta.

Expanding the left, right, center concept to the headers also sounds good but will probably not happen in this version.

The top

[2016-03-22 07:35] #1133 closed

[2016-03-22 07:36] argelius commented on #1133
@themikem

To use the inset list you need to also tell the items that the list is inset:

[code]

If you define it like this there will be no double border.

[2016-03-22 13:48] themikem commented on #1133
@argelius

On the header: you're point is well taken.  That's what I'm trying to achieve.  There are two "headers" in iOS natively: the header at the top of the list, and a category divider between list items.

For example, look at the image below from the Settings app (region settings):
![2016-03-22 08 23 04](https://cloud.githubusercontent.com/assets/5784219/13953073/f7a39edc-f007-11e5-8008-4c3d

[2016-03-22 19:05] marianoarga commented on #782
I enter any codepen.io examples you wrote but none seems to work, could any give and update on how to achieve the lazy-repeat filter?

Thanks you.

[2016-03-23 02:22] argelius commented on #782
@marianoarga

The branch does not exist anymore so the example stopped working. I have updated to the latest version now:
http://codepen.io/argelius/pen/OVBdmM

In this example lazy repeat is used with variable height and dynamic updates.